---
title: Partner Organizations
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#partner-organizations" ).classList.toggle("sidebar-active");
		</script>
		<div id="partner-organizations-content">
			<h1 id="page-title" class="editable">Partner Organizations</h1>
			<div id="partner-organizations">
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Association m&eacute;dical canadienne</p></div>
						<div class="url"><a href="https://cma.ca">https://cma.ca</a></div>
					</div>
					<div class="r-column">
						<a href="https://cma.ca/"><img class="partner-pic" src="/images/partner-organizations/cma.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>M&eacute;dicins r&eacute;sidents du Canada</p></div>
						<div class="url"><a href="http://residentdoctors.ca">http://residentdoctors.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://residentdoctors.ca"><img class="partner-pic" src="/images/partner-organizations/rdoc.png" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>L'Association des facult&eacute;s de m&eacute;decine du Canada</p></div>
						<div class="url"><a href="https://www.afmc.ca/">https://www.afmc.ca/</a></div>
					</div>
					<div class="r-column">
						<a href="https://www.afmc.ca/"><img class="partner-pic" src="/images/partner-organizations/afmc.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Fédération médicale étudiante du Québec</div>
						<div class="url"><a href="http://www.fmeq.ca/en">http://www.fmeq.ca/en</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.fmeq.ca/en"><img class="partner-pic" src="/images/partner-organizations/fmeq.gif" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Ontario Medical Students Association</div>
						<div class="url"><a href="http://www.omsa.ca">http://www.omsa.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.omsa.ca"><img class="partner-pic" src="/images/partner-organizations/omsa.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Gestion financi&egrave;re MD</p></div>
						<div class="url"><a href="https://mdm.ca/">https://mdm.ca/</a></div>
					</div>
					<div class="r-column">
						<a href="https://mdm.ca/"><img class="partner-pic" src="/images/partner-organizations/mdm.png" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Fédération des médecins résidents du Québec</div>
						<div class="url"><a href="http://www.fmrq.qc.ca/en">http://www.fmrq.qc.ca/en</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.fmrq.qc.ca/en"><img class="partner-pic" src="/images/partner-organizations/fmrq.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Coll&egrave;ge royal des m&eacute;decins et chirurgiens du Canada</p></div>
						<div class="url"><a href="http://www.royalcollege.ca">http://www.royalcollege.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.royalcollege.ca"><img class="partner-pic" src="/images/partner-organizations/rcpsc.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Le Coll&egrave;ge des m&eacute;decins de famille du Canada</p></div>
						<div class="url"><a href="http://www.cfpc.ca">http://www.cfpc.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.cfpc.ca"><img class="partner-pic" src="/images/partner-organizations/cfpc.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Soci&eacute;t&eacute; de la M&eacute;decine Rurale du Canada</p></div>
						<div class="url"><a href="https://www.srpc.ca">https://www.srpc.ca</a></div>
					</div>
					<div class="r-column">
						<a href="https://www.srpc.ca"><img class="partner-pic" src="/images/partner-organizations/srpc.png" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>F&eacute;d&eacute;ration des ordres des m&eacute;decins du Canada</p></div>
						<div class="url"><a href="http://www.fmrac.ca">http://www.fmrac.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.fmrac.ca"><img class="partner-pic" src="/images/partner-organizations/fmrac.jpg" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Collège des médecins du Québec</div>
						<div class="url"><a href="http://www.cmq.org">http://www.cmq.org</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.cmq.org"><img class="partner-pic" src="/images/partner-organizations/cmq.gif" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>L'Association canadienne de protection m&eacute;dicale</p></div>
						<div class="url"><a href="https://www.cmpa-acpm.ca/home">https://www.cmpa-acpm.ca/home</a></div>
					</div>
					<div class="r-column">
						<a href="https://www.cmpa-acpm.ca/home"><img class="partner-pic" src="/images/partner-organizations/cmpa.jpg" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Le Conseil m&eacute;dical du Canada</p></div>
						<div class="url"><a href="http://www.mcc.ca">http://www.mcc.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.mcc.ca"><img class="partner-pic" src="/images/partner-organizations/mcc.png" /></a>
					</div>
				</div>
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">International Federation of Medical Students' Associations</div>
						<div class="url"><a href="http://www.ifmsa.org">http://www.ifmsa.org</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.ifmsa.org"><img class="partner-pic" src="/images/partner-organizations/ifmsa.png" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>L'Association m&eacute;dicale mondiale</p></div>
						<div class="url"><a href="http://www.wma.net">http://www.wma.net</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.wma.net"><img class="partner-pic" src="/images/partner-organizations/wma.jpg" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Partners In Health Canada</div>
						<div class="url"><a href="http://www.pihcanada.org">http://www.pihcanada.org</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.pihcanada.org"><img class="partner-pic" src="/images/partner-organizations/pihcanada.svg" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">American Medical Student Association</div>
						<div class="url"><a href="http://www.amsa.org">http://www.amsa.org</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.amsa.org"><img class="partner-pic" src="/images/partner-organizations/amsa-us.jpg" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable">Australian Medical Student Association</div>
						<div class="url"><a href="http://www.amsa.org.au">http://www.amsa.org.au</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.amsa.org.au"><img class="partner-pic" src="/images/partner-organizations/amsa-au.jpg" /></a>
					</div>
				</div>				
				<div class="partner-organization">
					<div class="l-column">
						<div class="partner-name editable"><p>Le Service canadien de jumelage des r&eacute;sidents</p></div>
						<div class="url"><a href="http://www.carms.ca">http://www.carms.ca</a></div>
					</div>
					<div class="r-column">
						<a href="http://www.carms.ca"><img class="partner-pic" src="/images/partner-organizations/carms.gif" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
