<div class="flex-wrapper">
	<div id="match-app-left">
		<div class="container">
			<!-- Static navbar -->
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li [class.active]="page == 'items'"><a href="javascript://"
						(click)="SetPage('items')">Items</a></li>
					<li [class.active]="page == 'rank'"><a href="javascript://"
						(click)="SetPage('rank')">Auto Rank</a></li>
					<li [class.active]="page == 'manual'"><a href="javascript://"
						(click)="SetPage('manual')">Manual Rank</a></li>
				</ul>
			</div>
			<!-- Main component for a primary marketing message or call to action -->

			<div [hidden]="page!='items'">

				<div class="jumbotron">
					<div class="container">
						<br> <b>DISCLAIMER:</b> The CaRMS Couple Match App is a tool to
						assist learners participating in the Couples Matching process to
						develop their rank order lists. This tool utilized data available as
						of September 2016. While the Canadian Federation of Medical Students
						(CFMS) worked to optimize this tool, the Canadian Federation of
						Medical Students is not responsible for the output rank order lists
						or the results of the Canadian Resident Matching Service (CaRMS) R1
						match which result from using this tool. All users must use their
						own discretion when using the outputs generated to help determine
						their order-rank lists. <br /> <br /> <b>INSTRUCTIONS:</b> You can
						edit your names, select schools and disciplines and type in
						additional details of entry programs (specific sites, PhD programs,
						etc). It is possible for the same selection to appear twice, so
						check for duplicates before generating your "Auto Rank" list. <br /><br/>
						<b>Click "Auto Rank" to generate a list prioritizing proximity
							of schools (not specific sites). </b> <br /> <br />

						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Location <span class="caret"></span>
										</button>


										<ul class="dropdown-menu">

											<li *ngFor="let location of locations"><a
												href="javascript://" (click)=SetLocation($event)>{{location.name}}</a>
											</li>

										</ul>



									</div>
									<!-- /btn-group -->
									<input id="location" type="text" class="form-control"
										aria-label="..." [(ngModel)]="importItem.location"
										placeholder="Select location by typing or using drop down menu">
								</div>
								<!-- /input-group -->
							</div>
							<!-- /.col-lg-6 -->

							<div class="col-md-6">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Discipline <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li *ngFor="let category of categories"><a
												href="javascript://" (click)=SetCategory($event)>{{category}}</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
									<input id="discipline" type="text" class="form-control"
										aria-label="..." [(ngModel)]="importItem.category"
										placeholder="Select discipline by typing or using drop down menu">
								</div>
								<!-- /input-group -->
							</div>
							<!-- /.col-lg-6 -->


						</div>
						<br />
						<div class="row">
							<div class="col-md-12">
								<input type="text" class="form-control" aria-label="..."
									placeholder="Optional: Modify selections (e.g specific location or research stream)"
									[(ngModel)]="importItem.note">
							</div>
						</div>

						<br />
						<div class="btn-group btn-group-justified" role="group"
							aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default"
									(click)="AddItem('A')">Add for {{nameA}}</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default"
									(click)="AddItem('B')">Add for {{nameB}}</button>
							</div>
						</div>
						<br />


						<div>
							Enter or edit the names of the applicants by pressing the icon <span
								class="glyphicon glyphicon-edit"></span> below

						</div>

					</div>
				</div>

				<div class="jumbotron" id="itemPage">
					<div class="container">
						<div class="row">
							<div class="col-md-6" id="leftPanel">
								<h4 [hidden]="editA">
									{{nameA}} &nbsp;<a href="javascript://" alt="Edit"
										(click)="editA=!editA"><span
										class="glyphicon glyphicon-edit"></span></a>
								</h4>
								<h4 [hidden]="editA==false">
									<input id="nameA" [(ngModel)]="nameA" /> &nbsp;<a
										href="javascript://" alt="Edit" (click)="DoneEditApplicant('A')"><span
										class="glyphicon glyphicon-ok-circle"></span></a>
								</h4>

								<div class="panel panel-success" [hidden]="itemsA.length==0">
									<div class="panel-heading">
										Items for {{nameA}} ({{itemsA.length==1?'1 item':itemsA.length +
										' items'}}):
										<!-- span class="glyphicon glyphicon-trash" style="font-size:20px;float:right; padding-right:5px"
		                        dnd-droppable (onDropSuccess)="onDelete($event)" [dropZones]="['itemsA-Bin']"></span-->
									</div>
									<div class="panel-body">
										<div *ngFor="let item of itemsA ; let i = index"
											class="panel panel-default"
											dnd-sortable-container [sortableData]="itemsA">
											<a href="javascript://" (click)="onDelete(item,'A')"> <span
												class="glyphicon glyphicon-trash"
												style="font-size: 12px; float: right; padding-top: 8px; padding-right: 5px"></span></a>
											<div class="panel-body" dnd-sortable [sortableIndex]="i">
												<div>
													<span style="color: red">{{i+1}} </span> : <span>
														{{item.location}} - {{item.category}}</span>
												</div>
												<div [hidden]="item.note.length==0">[note:{{item.note}}]</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<div class="col-md-6" id="rightPanel">
								<h4 [hidden]="editB">
									{{nameB}} &nbsp;<a href="javascript://" alt="Edit"
										(click)="editB=!editB"><span
										class="glyphicon glyphicon-edit"></span></a>
								</h4>
								<h4 [hidden]="editB==false">
									<input [(ngModel)]="nameB" /> &nbsp;<a href="javascript://"
										alt="Edit" (click)="DoneEditApplicant('B')"><span
										class="glyphicon glyphicon-ok-circle"></span></a>
								</h4>

								<div class="panel panel-success" [hidden]="itemsB.length==0">
									<div class="panel-heading">Items for {{nameB}}
										({{itemsB.length==1?'1 item':itemsB.length + ' items'}}):</div>
									<div class="panel-body">
										<div *ngFor="let item of itemsB ; let i = index"
											class="panel panel-default"
											dnd-sortable-container  [sortableData]="itemsB">
											<a href="javascript://" (click)="onDelete(item,'B')"> <span
												class="glyphicon glyphicon-trash"
												style="font-size: 12px; float: right; padding-top: 8px; padding-right: 5px"></span></a>
											<div class="panel-body" dnd-sortable [sortableIndex]="i">
												<div>
													<span style="color: red">{{i+1}} </span> : <span>
														{{item.location}} - {{item.category}}</span>
												</div>
												<div [hidden]="item.note.length==0">[note:{{item.note}}]</div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- end of items page -->

			<div [hidden]="page!='rank'">

				<div class="jumbotron">
					<div class="container">
						<br> The current algorithm minimizes the distance between
						school locations (not SITE locations) and then minimizes the sum of
						both individuals' personal lists. When the sum is equal, one
						applicant's personal list must be prioritized.<br /> 
						<label class="radio-inline"> 
						<input [ngModel]="optionWhoLeading" name="optionWhoLeading" type="radio"
							value="A" (click)="AutoReMatch('A')"> Prioritize
							{{nameA}}'s rankings.
						</label> <label class="radio-inline"> <input
							[ngModel]="optionWhoLeading" name="optionWhoLeading" type="radio"
							value="B" (click)="AutoReMatch('B')"> Prioritize
							{{nameB}}'s rankings.
						</label>
					</div>
				</div>


				<div class="container" [hidden]="autoItems.length==0">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">

							<div class="panel panel-success">
								<div class="panel-heading">Auto Generated Items Ranking
									({{autoItems.length==1?'1 item':autoItems.length + ' items'}})
									Current Priority:{{optionWhoLeading=='A'?nameA:nameB}}.</div>
								<div class="panel-body">
									<div *ngFor="let item of autoItems ; let index = index"
										class="panel panel-default">
										<div class="panel-body">
											<span class="badge">{{index + 1}}</span> <span>
												<div [hidden]="optionWhoLeading=='B'"
													style="padding-left: 50px; margin-top: -17px">
													<span class="nameInitial">{{nameA1}}:</span>{{displayAutoRankItem(item,'A')}}
												</div>
												<div [hidden]="optionWhoLeading=='B'"
													style="padding-left: 50px; padding-top: 3px">
													<span class="nameInitial">{{nameB1}}:</span>{{displayAutoRankItem(item,'B')}}
												</div>
												<div [hidden]="optionWhoLeading=='A'"
													style="padding-left: 50px; margin-top: -17px">
													<span class="nameInitial">{{nameB1}}:</span>{{displayAutoRankItem(item,'B')}}
												</div>
												<div [hidden]="optionWhoLeading=='A'"
													style="padding-left: 50px; padding-top: 3px">
													<span class="nameInitial">{{nameA1}}:</span>{{displayAutoRankItem(item,'A')}}
												</div>
											</span>



										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<pre [hidden]="debug==false">
				 optionWhoLeading:{{optionWhoLeading}}
				 autoItems:
				 {{autoItems | json}}
				 </pre>
					</div>
				</div>

			</div>
			<!--  end of auto rank -->

			<div [hidden]="page!='manual'">

				<div class="jumbotron">
					<div class="container">
						<br> The Manual Rank allows you to move selections up and down
						for digital organization. Please note that there is currently no
						function to save your changes, so you may need to "Export as PDF" or
						consider not closing this page to continue making modifications. <br />
						<br />

						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" style="width: 150px" type="button"
									(click)="OnGenerate()">Auto Rank List</button>
								<button class="btn btn-default" style="width: 150px" type="button"
									(click)="OnExportAsPDF()">Export as PDF</button> <!--button class="btn btn-default" style="width: 130px" type="button" (click)="OnClearSelection()">Clear Selection</button-->
							</span>
						</div>
					</div>
				</div>

				<div class="container" [hidden]="manualItems.length==0">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">

							<div class="panel panel-success">
								<div class="panel-heading">Manual Ranking Items
									({{manualItems.length==1?'1 item':manualItems.length + '
									items'}}). You can drag and drop the box to re-order them</div>
								<div class="panel-body">
									<div *ngFor="let item of manualItems; let index=index"
										class="panel panel-default"
										dnd-sortable-container  [sortableData]="manualItems">
										<a href="javascript://" (click)="onDeleteManualItem(item)">
											<span class="glyphicon glyphicon-trash"
											style="font-size: 12px; float: right; padding-top: 8px; padding-right: 5px"></span>
										</a>
										<div class="panel-body" dnd-sortable [sortableIndex]="index">
											<span class="badge">{{index + 1}}</span> <span>
												<div [hidden]="optionWhoLeading=='B'"
													style="padding-left: 50px; margin-top: -17px">
													<span class="nameInitial">{{nameA1}}:</span>{{displayAutoRankItem(item,'A')}}
												</div>
												<div [hidden]="optionWhoLeading=='B'"
													style="padding-left: 50px; padding-top: 3px">
													<span class="nameInitial">{{nameB1}}:</span>{{displayAutoRankItem(item,'B')}}
												</div>
												<div [hidden]="optionWhoLeading=='A'"
													style="padding-left: 50px; margin-top: -17px">
													<span class="nameInitial">{{nameB1}}:</span>{{displayAutoRankItem(item,'B')}}
												</div>
												<div [hidden]="optionWhoLeading=='A'"
													style="padding-left: 50px; padding-top: 3px">
													<span class="nameInitial">{{nameA1}}:</span>{{displayAutoRankItem(item,'A')}}
												</div>
											</span>

										</div>
									</div>
								</div>
							</div>


						</div>
						<div class="col-md-2"></div>
					</div>
				</div>

				<!-- div class="container">
					<div class="row">
						<div id="printDiv" class="col-md-12">
							<br />
							<ul class="manualRank">
								<li *ngFor="let item of manualItems; let index=index"
									[class.selected]="item === selectedItem" (click)="onSelect(item)">
									<span class="badge">{{index + 1}}</span> <span
									class="remove glyphicon glyphicon-remove"
									(click)="onDeleteManualItem(item)"></span> <span
									class="remove glyphicon glyphicon-arrow-down"
									(click)="onItemDown(item, manualItems)"></span> <span
									class="remove glyphicon glyphicon-arrow-up"
									(click)="onItemUp(item, manualItems)"></span> <span>
										<div [hidden]="optionWhoLeading=='B'"
											style="padding-left: 50px; margin-top: -17px">
											<span class="nameInitial">{{nameA1}}:</span>{{item.A.location}}:{{item.A.category}}. [note: {{item.A.note}}]
										</div>
										<div [hidden]="optionWhoLeading=='B'"
											style="padding-left: 50px; padding-top: 3px">
											<span class="nameInitial">{{nameB1}}:</span>{{item.B.location}}:{{item.B.category}}. [note: {{item.B.note}}]
										</div>
										<div [hidden]="optionWhoLeading=='A'"
											style="padding-left: 50px; margin-top: -17px">
											<span class="nameInitial">{{nameB1}}:</span>{{item.B.location}}:{{item.B.category}}. [note: {{item.B.note}}]
										</div>
										<div [hidden]="optionWhoLeading=='A'"
											style="padding-left: 50px; padding-top: 3px">
											<span class="nameInitial">{{nameA1}}:</span>{{item.A.location}}:{{item.A.category}}. [note: {{item.A.note}}]
										</div>
								</span>
								</li>
							</ul>

						</div>
					</div>
				</div-->
			</div>
			<!-- end of manual page -->
			<pre [hidden]="debug==false">
		page:{{page}}
		itemsABin:{{itemsABin | json}}
		importItem: {{importItem | json}}
		itemsA: {{itemsA | json}}
		itemsB: {{itemsB | json}}
		locations:
		{{locations | json}}
		categories:
		{{categories | json}}
		</pre>
		</div>
		<!-- /container -->
    </div>
    <div id="match-app-right">
	    <blockquote>
	    	<h3><strong>What is the Couples Match App?</strong></h3>
	    	<p>The Couples Match App allows students to organize their rank-order list online! The program allows you to ensure that all possible combinations are considered. Proximity of school location is prioritized as well as each partner’s own personal rank order. You can drag options up and down to organize your work online! Keep in mind that work is not saved, but you can download your final list as a pdf to help you enter your final rank order list into CaRMS.</p>
	    	<p>If you have any questions about the functions of this app, please email Han Yan at <a href="mailto:vpstudentaffairs@cfms.org">vpstudentaffairs@cfms.org</a>.</p>
	    </blockquote>
    </div>
</div>
