---
title: Presidential Elections
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector("#logo-invert").classList.toggle("hidden");
    document.querySelector("#who-we-are").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector("#about-us").classList.toggle("sidebar-active");
    </script>

		<div id="president-election-content">
			<h1 id="page-title" class="editable">CFMS 2018 Presidential Elections</h1>
			<div class="editable">
				<h2><strong>Election Process</strong></h2>
				<hr>
				<p>The election will take place at the CFMS Spring General Meeting (SGM) on Saturday April 28, 2018 in Halifax, NS. Votes will be cast by medical student society representatives and members of the Federation’s executive, as detailed in the <a href="https://www.cfms.org/files/internal-policy-bylaws/cfms-bylaws.pdf">organization’s bylaws</a>.</p>
				<p>Immediately upon the close of nominations, the General Assembly will have access to the nominees’ letter of intent (and CV if it was so provided).</p>
				<p>Candidates will be expected to deliver a short speech of no more than 5 minutes to the voters, either in person or by proxy. Please note that video or webcast speeches are not permitted. A 10-minute question period will follow, if a candidate is not present at the meeting, they will be voice-called into the meeting to field questions. Designated time constraints must be respected.</p>
				<p><strong>If you should have any questions, please do not hesitate to contact Dr. Franco Rizzuti, Past-President & Board Chair, at pastpresident@cfms.org and please refer to cfms.org for further position details.</strong></p>
				<p>Sincerely,</p>
				<p>Franco Rizzuti, BSc MD<br>Past-President & Board Chair, Canadian Federation of Medical Students</p>
				<h2><strong>President Description</strong></h2>
				<hr>
				<p>The President is responsible for setting the strategic direction of the CFMS. Most Presidents have had experience on the CFMS executive and should have detailed knowledge of all policy and activities of the organization. In addition to setting the priorities of the organization, the President acts as the primary contact on important issues for students and external organizations. The President attends many external meetings as the representative of Canadian medical students and will often travel an average of two weekends a month for the duration of the one-year term. Major commitments include Board Director of the Canadian Medical Association (CMA), Board Director of the Canadian Medical Forum, and a multitude of taskforces and subcommittees. The President will often be asked to present at different meetings and speak with media about issues affecting medical students.</p>
				<p>The President is also heavily involved in all activities of the executive and works with other executive members to ensure that the priorities of the organization are met. Time on email (internal and external) can exceed 2 hours per day during busy periods. Agendas and planning for executive meetings and teleconferences as well as the three meetings of the CFMS board also fall under this position. Presidential responsibilities also include liaising with the office staff person on a daily basis and ensuring that the infrastructure of the organization is in good order.</p>
				<p>The position of President is a one-year post, elected by the board at the Spring General Meeting. Following the end of their term, the president assumes the official role of past- president.</p>
				<p>The 2017-2018 President is Mr. Henry Annan, Dalhousie University, who may be reached at <a href="mailto:president@cfms.org">president@cfms.org</a>.</p>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>