{% for nav in site.data.translations.nav %}
	{% if nav.lang == page.lang %}
		<div id="top-padding"></div>
		<div id="top-bar" class="invert {{page.lang}}">
			<div id="top-icon" class="animate">
				<div id="logo-group" class="{{ page.lang }}">
					<img id="logo-invert" src="/images/cfms-logo-invert.svg">
					<img id="logo" src="/images/cfms-logo.svg">
					<a href="{{ nav.lang_path }}/">{{ nav.acronym }}</a>
				</div>
				<span id="logo-desc"><a class="{{ page.lang }}" href="{{ nav.lang_path }}/">{{ nav.title }}</a></span>
			</div>
			<div id="top-hamburger" class="animate">
				<a onclick="return false;" id="hamburger-toggle" href=""><span></span></a>
			</div>
			<div id="top-nav" class="animate">
				<ul class="{{ page.lang }}">
					<li id="who-we-are"><a class="top-level" href="{{ nav.lang_path }}/who-we-are/">{{ nav.who_we_are }}</a></li>
					<li id="what-we-do"><a class="top-level" href="{{ nav.lang_path }}/what-we-do/">{{ nav.what_we_do }}</a>
						<div id="sub-menu">
						    <ul>
						    	<li><a href="{{ nav.lang_path }}/what-we-do/advocacy/">{{ nav.advocacy }}</a></li>
						    	<li><a href="{{ nav.lang_path }}/what-we-do/education/">{{ nav.education }}</a></li>
						    	<li><a href="{{ nav.lang_path }}/what-we-do/global-health/">{{ nav.global_health }}</a></li>
						    	<li><a href="{{ nav.lang_path }}/what-we-do/student-affairs/">{{ nav.student_affairs }}</a></li>
								<li><a href="{{ nav.lang_path }}/what-we-do/communications/">{{ nav.communications }}</a></li>
						    </ul>
						</div>
					</li>
					<li id="resources"><a class="top-level" href="{{ nav.lang_path }}/resources/">{{ nav.resources }}</a></li>
					<li id="meetings"><a class="top-level" href="{{ nav.lang_path }}/meetings/">{{ nav.meetings }}</a>
						<div id="sub-menu">
						    <ul>
						    	<li><a href="{{ nav.lang_path }}/meetings/sgm-2019-niagara-falls.html">SGM 2019 &ndash; Niagara Falls, ON</a></li>
						    	<li><a href="{{ nav.lang_path }}/meetings/agm-2018-montreal.html">AGM 2018 &ndash; Montreal, Qc</a></li>
 						    	<li><a href="{{ nav.lang_path }}/meetings/sgm-2018-halifax.html">SGM 2018 &ndash; Halifax, NS</a></li>
						        <li><a href="{{ nav.lang_path }}/meetings/agm-2017-ottawa.html">AGM 2017 &ndash; Ottawa, ON</a></li>
						        <!--<li><a href="{{ nav.lang_path }}/meetings/sgm-2017-winnipeg.html">SGM 2017 &ndash; Winnipeg, MB</a></li>-->
						        <!--li><a href="{{ nav.lang_path }}/meetings/agm-2016-edmonton.html">AGM 2016 &ndash; Edmonton, AB</a></li>-->
						    </ul>
						</div>
					</li>
					<li id="members"><a class="top-level" href="{{ nav.lang_path }}/members/">{{ nav.members }}</a></li>
					<li id="news"><a class="top-level" href="{{ nav.lang_path }}/news/">{{ nav.news }}</a></li>
					<li id="human-of-medicine"><a class="top-level" href="{{ nav.lang_path }}/humans-of-medicine/">{{ nav.human-of-medicine }}</a></li>
					{% if site.enable_login == true %}
						<li id="login-button-wrapper"><a href='' onclick='return false' id="login-button" class="login-modal">{{ nav.login }}</a></li>
					{% else %}
						<li id="login-button-wrapper"><a href='' onclick='return false;' id="login-button" class="redirect-modal">{{ nav.login }}</a></li>
					{% endif %}
					{% unless include.hideLangToggle %}
						{% if nav.lang == "en" %}
							<li id="lang-toggle"><a id="en" class="current-lang" href="#">EN</a> / <a id="fr" href="/fr{{ page.url }}">FR</a></li>
						{% else %}
							<li id="lang-toggle"><a id="en" href='{{ page.url | replace: "/fr/", "/" }}'>EN</a> / <a id="fr" class="current-lang" href="#">FR</a></li>
						{% endif %}
					{% endunless %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endfor %}