<div id="sidebar">
	<div id="scroll">
		{% for sideObject in site.data.translations.sidebar-discounts %}
		{% if sideObject.lang == page.lang %}
		<span id="sidebar-title">{{sideObject.sidebar-title_1}}</span>
		<ul>
			<li><a id="{{ site.data.discounts.travel-id }}" href="discounts-travel.html">{{ sideObject.travel-and-accommodations }}</a></li>
			<!--<li><a id="{{ site.data.discounts.disability-id }}" href="discounts-disability.html">{{ sideObject.disability-insurance }}</a></li>-->
			<li><a id="{{ site.data.discounts.textbook-id }}" href="discounts-textbooks.html">{{ sideObject.textbooks }}</a></li>
			<li><a id="{{ site.data.discounts.online-id }}" href="discounts-online.html">{{ sideObject.online-resources }}</a></li>
			<li><a id="{{ site.data.discounts.wellness-id }}" href="discounts-wellness.html">{{ sideObject.wellness-discounts }}</a></li>
			<li><a id="{{ site.data.discounts.lasik-id }}" href="discounts-lasik.html">{{ sideObject.lasik }}</a></li>
			<li><a id="{{ site.data.discounts.discounts-tax }}" href="discounts-tax.html">{{ sideObject.discounts-tax }}</a></li>
			<li><a id="{{ site.data.discounts.medskl }}" href="discounts-medskl.html">{{ sideObject.medskl }}</a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>