{% for sidebar in site.data.translations.financial_resources %}
	{% if sidebar.lang == page.lang %}
		<div id="sidebar">
			<div id="scroll">
				<span id="sidebar-title">Resources</span>
				<ul>
					<li><a href="/what-we-do/education/cfms-matchbook.html">Residency Matchbook</a></li>
					<li><a href="../resources/discounts.html">Member Discounts</a></li>
					<li><a href="/resources/md-leadership-awards.html">MD Leadership Awards</a></li>
					<div>
						<li><a id="travel-awards-instructions" style="padding-left:15px;" href="{{ sidebar.md_leadership_awards_instructions_url }}">{{ sidebar.md_leadership_awards_instructions }}</a></li>
						<li><a id="leadership-awards-apply-now" style="padding-left:15px;" href="{{ sidebar.md_leadership_awards_apply_url }}">{{ sidebar.md_leadership_awards_apply }}</a></li>
					</div>
					<li><a href="/resources/md-travel-awards.html">MD Travel Awards</a></li>
					<li><a id="meeting-minutes" href="/members/meeting-minutes.html">{{sidebar.meeting-minutes}}</a></li>
					
				</ul>
			</div>
		</div>
	{% endif %}
{% endfor %}