<div id="sidebar">
	<div id="scroll">

		<span id="sidebar-title"></span>
		<ul>
			<li><a id="executives-officers" href=".">exec officer</a></li>
			<li><a id="member-schools" href="member-schools.html">member schools</a></li>
			<li><a id="cfms-representatives" href="cfms-representatives.html">cfms reps</a></li>
			<li><a id="cfms-at-your-school" href="cfms-at-your-school.html">cfms at your school</a></li>
			<li><a id="partner-organizations" href="partner-organizations.html">partners</a></li>
		</ul>
		<span id="sidebar-title"></span>
		<ul>
			<li><a id="governance-structure" href="governance-structure.html">structure</a></li>
			<li><a id="internal-policy-bylaws" href="bylaws-internal-policy.html">bylaws</a></li>
		</ul>

	</div>
</div>