<div id="sidebar">
	<div id="scroll">
	    {% for gh in site.data.translations.sidebar-global-health %}
		{% if gh.lang == page.lang %}
		<span id="sidebar-title">{{gh.sidebar-title_1}}</span>
		<ul>

			<li><a id="overview" href=".">{{gh.overview}}</a></li>
			<li><a id="our-team" href="our-team.html">{{gh.our-team}}</a></li>
			<li><a id="reports-and-documents" href="reports-and-documents.html">{{gh.reports-and-documents}}</a></li>

		</ul>
		
		<span id="sidebar-title">{{gh.sidebar-title_2}}</span>
		<ul>
			<li><a id="snapvocacy" href="snapvocacy.html">{{gh.snapvocacy}}</a></li>
			<li><a id="heart" href="heart.html">{{gh.heart}}</a></li>
			<div>
				<li><a id="heart-competencies" style="padding-left:15px;" href="heart-competencies.html">{{gh.heart-competencies}}</a></li>

			<li><a id="international-exchanges" href="international-exchanges.html">{{gh.international-exchanges}}</a></li>
			<li><a id="global-health-education" href="global-health-education.html">{{gh.global-health-education}}</a></li>
			<li><a id="partnerships" href="links-and-partnerships.html">{{gh.links-and-partnerships}}</a></li>
			<li><a id="reproductive-sexual-health" href="reproductive-sexual-health.html">{{gh.reproductive-sexual-health}}</a></li>
			<li><a id="human-rights-peace" href="human-rights-peace.html">{{gh.human-rights-peace}}</a></li>
			<div>
				<li><a id="human-rights-peace-pocket-cards" style="padding-left:15px;" href="human-rights-peace-pocket-cards.html">{{gh.human-rights-peace-pocket-cards}}</a></li>
				<li><a id="climate-change-and-health" style="padding-left:15px;" href="climate-change-and-health.html">{{gh.climate-change-and-health}}</a></li>
				<li><a id="advocacy-toolkit" style="padding-left:15px;" href="advocacy-toolkit.html">{{gh.advocacy-toolkit}}</a></li>
			</div>
			<li><a id="indigenous-health" href="indigenous-health.html">{{gh.indigenous-health}}</a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>