<div id="sidebar">
	<div id="scroll">
		{% for sidebar in site.data.translations.sidebar-education %}
		{% if sidebar.lang == page.lang %}
		<span id="sidebar-title">{{ sidebar.sidebar-title_1 }}</span>
		<ul>
			<li><a id="overview" href=".">{{ sidebar.overview }}</a></li>
			<li><a id="our-team" href="our-team.html">{{ sidebar.our-team }}</a></li>
		</ul>
		<span id="sidebar-title">{{ sidebar.sidebar-title_2 }}</span>
		<ul>
			<li><a id="wellness" href="wellness.html">{{ sidebar.wellness }}</a></li>
			<li><a id="discounts" href="../../resources/discounts.html">{{ sidebar.discounts }}</a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>