<div id="sidebar">
	<div id="scroll">
	    {% for gh in site.data.translations.sidebar-global-health %}
		{% if gh.lang == page.lang %}
		<span id="sidebar-title"><a href="">{{gh.sidebar-title_1}}</a></span>
		<ul>

			<li><a id="overview" href=".">{{gh.overview}}</a></li>
			<li><a id="our-team" href="our-team.html">{{gh.our-team}}</a></li>

		</ul>
		
		<span id="sidebar-title">{{gh.sidebar-title_2}}</span>
		<ul>
			<li><a id="international-exchanges" href="international-exchanges.html">{{gh.international-exchanges}}</a></li>
			<li><a id="ifmsa" href="ifmsa.html">{{gh.ifmsa}}</a></li>
			<li><a id="global-health-education" href="global-health-education.html">{{gh.global-health-education}}</a></li>
			<li><a id="partnerships" href="partnerships.html">{{gh.partnerships}}</a></li>
			<li><a id="reproductive-sexual-health" href="reproductive-sexual-health.html">{{gh.reproductive-sexual-health}}</a></li>
			<li><a id="human-rights-peace" href="human-rights-peace.html">{{gh.human-rights-peace}}</a></li>
			<div>
				<li><a id="human-rights-peace-pocket-cards" style="padding-left:15px;" href="human-rights-peace-pocket-cards.html">{{gh.human-rights-peace-pocket-cards}}</a></li>
			</div>
			<li><a id="aboriginal-health" href="aboriginal-health.html">{{gh.aboriginal-health}}</a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>