<div id="sidebar">
	<div id="scroll">
		{% for sidebar in site.data.translations.sidebar-student-affairs %}
		{% if sidebar.lang == page.lang %}
		<span id="sidebar-title">{{ sidebar.sidebar-title_1 }}</span>
		<ul>
			<li><a id="overview" href=".">{{ sidebar.overview }}</a></li>
			<li><a id="our-team" href="our-team.html">{{ sidebar.our-team }}</a></li>
			<li><a id="student-initiative-grants" href="student-initiative-grants.html">{{ sidebar.student-initiative-grants }}</a></li>
			<li><a id="medical-students-with-disabilities" href="medical-students-with-disabilities.html">{{ sidebar.medical-students-with-disabilities }}</a></li>
			<li><a id="national-wellness-initiative" href="../../news/2018/04/27/cfms-launches-the-national-wellness-initiative.html">{{ sidebar.national-wellness-initiative }}</a></li>
			<li><a id="longitudinal-wellness-initiative" href="longitudinal-wellness-initiative.html">{{ sidebar.longitudinal-wellness-initiative }}</a></li>
			<div>
				<li><a id="nutrition-wellness" style="padding-left:15px;" href="nutrition-wellness.html">{{sidebar.nutrition-wellness}}</a></li>
			</div>
			<div>
				<li><a id="mental-wellness" style="padding-left:15px;" href="mental-wellness.html">{{sidebar.mental-wellness}}</a></li>
			</div>
			<div>
				<li><a id="quick-tips" style="padding-left:15px;" href="quick-tips.html">{{sidebar.quick-tips}}</a></li>
			</div>
			<div>
				<li><a id="national-contests" style="padding-left:15px;" href="national-contests.html">{{sidebar.national-contests}}</a></li>
			</div>
			<li><a id="wellness-spotlight-profiles" href="wellness-spotlight-profiles.html">{{ sidebar.wellness-spotlight-profiles }}</a></li>
			<div>
				<li><a id="nutrition-wellness-spotlight" style="padding-left:15px;" href="nutrition-wellness-spotlight.html">{{sidebar.nutrition-wellness-spotlight}}</a></li>
				<li><a id="mental-wellness-spotlight" style="padding-left:15px;" href="mental-wellness-spotlight.html">{{sidebar.mental-wellness-spotlight}}</a></li>
			</div>
			<li><a id="blood-drive" href="blood-drive.html">{{ sidebar.blood-drive }}</a></li>
			<li><a id="safe-space" href="safe-space.html">{{ sidebar.safe-space }}</a></li>


		</ul>
		<span id="sidebar-title">{{ sidebar.sidebar-title_2 }}</span>
		<ul>
			<li><a id="wellness" href="wellness.html">{{ sidebar.wellness }}</a></li>
			<li><a id="discounts" href="../../resources/discounts.html">{{ sidebar.discounts }}</a></li>

		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>

