<div id="sidebar">
	<div id="scroll">
	    {% for sideObject in site.data.translations.sidebar-who-we-are %}
		{% if sideObject.lang == page.lang %}

		<span id="sidebar-title">Elections</span>
		<ul>
			<li><a id="elections" href="elections.html">Candidates' Platforms</a></li>
		</ul>

			<span id="sidebar-title">{{sideObject.sidebar-title_1}}</span>
		<ul>
			<li><a id="executives-officers" href=".">{{sideObject.executives-officers}}</a></li>
			<li><a id="member-schools" href="member-schools.html">{{sideObject.member-schools}}</a></li>
			<li><a id="cfms-representatives" href="cfms-representatives.html">{{sideObject.cfms-representatives}}</a></li>
			<li><a id="cfms-at-your-school" href="cfms-at-your-school.html">{{sideObject.cfms-at-your-school}}</a></li>
			<li><a id="partner-organizations" href="partner-organizations.html">{{sideObject.partner-organizations}}</a></li>
			<li><a id="alumni" href="alumni.html">{{sideObject.alumni}}</a></li>
			<li><a id="about-us" href="about-us.html">{{sideObject.about-us}}</a></li>
		</ul>
		<span id="sidebar-title">{{sideObject.sidebar-title_2}}</span>
		<ul>
			<li><a id="governance-structure" href="governance-structure.html">{{sideObject.governance-structure}}</a></li>
			<li><a id="internal-policy-bylaws" href="bylaws-internal-policy.html">{{sideObject.internal-policy-bylaws}}</a></li>
		</ul>
		<span id="sidebar-title">{{sideObject.sidebar-title_3}}</span>
		<ul>
			<li><a id="student-spotlight" href="{% if page.lang == 'fr' %}/fr/news/student-spotlight/{% else %}/news/student-spotlight/{% endif %}">{{sideObject.student-spotlight}}</a></li>
			<li><a id="history" href="history.html">{{sideObject.history}}</a></li>
			<li><a id="organizational-timeline" href="organizational-timeline.html">{{sideObject.organizational-timeline}}</a></li>
			<li><a id="external-committees" href="external-committees.html">{{sideObject.external-committees}}</a></li>
			<li><a id="photo-gallery" href="photo-gallery.html">{{sideObject.photo-gallery}}</a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>