<div id="sidebar">
	<div id="scroll">
		{% for sidebar in site.data.translations.sidebar-education %}
		{% if sidebar.lang == page.lang %}
		<span id="sidebar-title">{{ sidebar.sidebar-title_1 }}</span>
		<ul>
			<li><a id="overview" href=".">{{ sidebar.overview }}</a></li>
			<li><a id="our-team" href="our-team.html">{{ sidebar.our-team }}</a></li>
			<li><a id="educational-advocacy" href="educational-advocacy.html">{{ sidebar.educational-advocacy }}</a></li>
			<li><a id="national-research-chair" href="national_research_chair.html">{{ sidebar.national-research-chair }}</a></li>
						
		</ul>
		<span id="sidebar-title">{{ sidebar.sidebar-title_2 }}</span>
		<ul>
			<li><a id="research-highlights" href="research-highlights.html">{{ sidebar.research-highlights }}</a></li>
			<li><a id="research-ethics" href="research-ethics.html">{{ sidebar.research-ethics }}</a></li>
			<li><a id="motp" href="motp.html">{{ sidebar.motp }}</a></li>
			<li><a id="residency-match" href="residency-match.html">{{ sidebar.residency-match }}</a></li>
			<li><a id="matchbook" href="cfms-matchbook.html">{{ sidebar.residency-matchbook }}</a></li>
			<li><a id="accreditation-toolkit" href="accreditation.html">{{ sidebar.accreditation-toolkit }}</a></li>
			<li><a id="reports" href="reports.html">{{ sidebar.reports }}</a></li>
			<!--<li><a id="elective-status-board" href="elective-status-board.html">Elective Status Board</a></li>-->
			<li><a id="student-run-clinics" href="src-toolkit.html">{{ sidebar.student-run-clinics-toolkit }}</a></li>
			<li><a id="lmcc-preparation" href="http://mcc.ca/examinations/mccqe-part-i/exam-preparation-resources/">{{ sidebar.lmcc-preparation-link }}<i class="fa fa-external-link"></i></a></li>
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>