<div id="sidebar">
    <div id="scroll">
        {% for sidebar in site.data.translations.sidebar-communications %}
        {% if sidebar.lang == page.lang %}
        <span id="sidebar-title">{{ sidebar.sidebar-title_1 }}</span>
        <ul>
            <li><a id="overview" href=".">{{ sidebar.overview }}</a></li>
            <li><a id="our-team" href="our-team.html">{{ sidebar.our-team }}</a></li>
            <li><a id="bilingualism-committee" href="bilingualism-committee.html">{{ sidebar.bilingualism-committee }}</a></li>

        </ul>
        <span id="sidebar-title">{{ sidebar.sidebar-title_2 }}</span>
        <ul>
            <li><a id="press-releases" href="press-releases.html">{{ sidebar.press-releases }}</a></li>
            <li><a id="cfms-in-the-news" href="{% if page.lang=='fr' %}/fr{% endif %}/news/cfms-in-the-news.html">{{ sidebar.cfms-in-the-news }}</a></li>
            <!--<li><a id="communiques" href="communiques.html">{{ sidebar.communiques }}</a></li>-->
            <!--<li><a id="graphics" href="graphics.html">{{ sidebar.graphics }}</a></li>-->
            <li><a id="quarter-reports" href="quarter-reports.html">{{ sidebar.quarter-reports }}</a></li>
            <li><a id="external-documents" href="external-documents.html">{{ sidebar.external-documents }}</a></li>



        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>