<div id="sidebar">
	<div id="scroll">
		{% for sidebar in site.data.translations.sidebar-advocacy %}
		{% if sidebar.lang == page.lang %}
		<span id="sidebar-title">{{ sidebar.sidebar-title_1 }}</span>
		<ul>
			<li><a id="overview" href=".">{{ sidebar.overview }}</a></li>
			<li><a id="our-team" href="our-team.html">{{ sidebar.our-team }}</a></li>
			<li><a id="ga-press-releases" href="ga-press-releases.html">{{ sidebar.ga-press-releases }}</a></li>
		</ul>
		<span id="sidebar-title">{{ sidebar.sidebar-title_2 }}</span>
		<ul>
			<li><a id="lobby-day" href="day-of-action.html">{{ sidebar.day-of-action }}</a></li>
			<li><a id="research-committee" href="research-committee.html">{{ sidebar.research-committee }}</a></li>
			<li><a id="position-papers" href="position-papers.html">{{ sidebar.position-papers }}</a></li>
			<li><a id="advocacy-tracker" href="advocacy-tracker.html">{{ sidebar.advocacy-tracker }}</a></li>
			<li><a id="task-forces" href="task-forces.html">{{ sidebar.task-forces }}</a></li>

			{% if page.lang =='fr' %}
				<li><a id="advocacy-toolkit" href="fr/what-we-do/advocacy/advocacy-toolkit/">{{ sidebar.toolkit }}</a></li>
			{% else %}
				<li><a id="advocacy-toolkit" href="/what-we-do/advocacy/advocacy-toolkit/">{{ sidebar.toolkit }}</a></li>
			{% endif %}
		</ul>
		{% endif %}
		{% endfor %}
	</div>
</div>

