---
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Student Affairs</h1>
			<div class="pic-wrapper"><img class="pic-right" style="width:25%; padding-left:30px;" src="/images/page-images/student-affairs.jpg"></div>
			<p>Welcome to the Student Affairs Portfolio of the CFMS! We are involved in member services, including our discounts, leadership awards, and web-based services. We also play an integral part in promoting student wellness, and connecting medical students across the country.
			</p>
			<blockquote>
				<h4><strong>Visit our NEW Wellness Site!</strong></h4>
				<ul>
					<li>Visit our newly developed <a href="http://cfmswellness.squarespace.com/">CFMS Wellness Site</a> for nation-wide wellness tips for each medical school!
				</ul>
			</blockquote>
			<h2><strong>What do we do?</strong></h2>
			<ol>
				<li><strong><a href="wellness.html">Wellness</a></strong>: Resources on how you can access student wellness resources at your school, and in your surrounding community.</li>
				<li><strong><a href="leadership-award.html">Leadership Awards</a></strong>: The CFMS, in collaboration with MD Financial Management, have created an award designed to recognize some of the passionate, dedicated and caring medical student leaders across Canada.</li>
				<li><strong><a href="discounts">Student Discounts</a></strong>: The CFMS offers discounts for many services, including UpToDate, textbooks, and even LASIK MD Laser eye surgery!</li>
			</ol>				
		</div>
	</div>
	{% include footer.html %}
</body>
</html>