---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#our-team" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Our Team</h1>

			<h1 class="editable"><strong>VP Student Affairs</strong></h1>
			<hr>
			<div id="vp-student-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/execs/2015-2016/marie-pier-bastrash.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Marie-Pier Bastrash</span>
					</li>
					<li class="exec-school">
						<span class="editable">McGill University</span>
					</li>
					<li class="exec-desc">
						<span class="editable">Marie-Pier is responsible for co-ordinating CFMS member affairs. Some of her major undertakings include maintaining the interview and electives databases, and the promotion of student resources. The VP-Student Affairs is mandated to develop and acquire new services based on membership feedback and plays an integral role in the development of web-based services.</span>
					</li>
					<li class="url"><a href="mailto:vpstudentaffairs@cfms.org">vpstudentaffairs@cfms.org</a></li>
				</div>
			</div>

			<h1><strong>Wellness Committee</strong></h1>
			<hr>
			<div class="members">
				<div class="column">
					<div class="member-info">
						<li class="member-school">National Wellness Officer</li>
						<li class="member-name editable"><a href="mailto:wellness@cfms.org">Alyssa Lip</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of British Columbia</li>
						<li class="member-name editable"><a href="mailto:ahmad.sidiqi@alumni.ubc.ca">Ahmad Sidiqi</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Calgary</li>
						<li class="member-name editable"><a href="mailto:dntougas@ucalgary.ca">Danielle Tougas</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Alberta</li>
						<li class="member-name editable"><a href="mailto:blieu1@ualberta.ca">Brandon Lieu</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Saskatchewan</li>
						<li class="member-name editable"><a href="mailto:smss.studentservicesrep@gmail.com">Jordan Anderson</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Manitoba</li>
						<li class="member-name editable"><a href="mailto:umpoon3@cc.umanitoba.ca">Alana Marie Ga-Yin Poon</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">Northern Ontario School of Medicine</li>
						<li class="member-name editable"><a href="mailto:liajohnson@nosm.ca">Lia Johnson</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">Western University</li>
						<li class="member-name editable"><a href="mailto:rpintwala2018@meds.uwo.ca">Robert Pintwala</a></li>
					</div>
				</div>
				<div class="column">
					<div class="member-info">
						<li class="member-school">Queen's University</li>
						<li class="member-name editable"><a href="mailto:mbhatia@qmed.ca">Meghan Bhatia</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Ottawa</li>
						<li class="member-name editable"><a href="mailto:vmyer078@uottawa.ca">Victoria Myers</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">University of Toronto</li>
						<li class="member-name editable"><a href="mailto:jovana.milenkovic@mail.utoronto.ca">Jovana Milenkovic</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">McMaster University</li>
						<li class="member-name editable"><a href="mailto:michael.nguyen@medportal.ca">Michael Nguyen</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">McGill University</li>
						<li class="member-name editable"><a href="mailto:audrey.marcotte@mail.mcgill.ca">Audrey Marcotte</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">Memorial University</li>
						<li class="member-name editable"><a href="mailto:mge061@mun.ca">Mark Earle</a></li>
					</div>
					<div class="member-info">
						<li class="member-school">Dalhousie University</li>
						<li class="member-name editable"><a href="mailto:c.boyd@Dal.Ca">Colin Boyd</a></li>
					</div>
				</div>
			</div>

		</div>
	</div>
	{% include footer.html %}
</body>
</html>