#title{
  text-align:center;
  margin: auto;
}
#title > h1{
  font-size: 4rem;
}
#title > h2 {
  font-size: 2rem;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  @media screen and (max-width: 1385px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
  
  @media screen and (max-width: 915px) {
    grid-template-columns: 1fr;
    grid-gap:15px;
  }
}

.right{
  display:block !important;
  float: none !important;
  left: 0px;
  margin: auto !important;
  //width: 100% !important;
  width: auto !important;
  height: auto;
  padding-bottom: 30px !important;
  max-height: 293px;
  @media screen and (max-width: 450px) {
    max-height: 180px;
  }
}
#pagination{
  text-align:center;
}

.noHighLight, .noHighLight:hover,.noHighLight:visited, .noHighLight:link, .noHighLight:active{
  text-decoration:none;
  color: #777A89;
}

.postContent{
  width: 90%;
  padding-right: 35px;
  line-height: 28px;
}

.postContent > .right{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
