@import 'variables';

#top-meeting {
	background-color:$dark;
	font-family:$sans-serif-font-stack;
	height:340px;
	display:flex;
	align-items:flex-end;
	#top-group {
		@extend .content;
		width:100%;
		padding:0;
		bottom:0px;
		padding-bottom:30px;
		padding-top:30px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.6) 60%);
	}
	#top-desc {
		text-transform:uppercase;
		font-size:18px;
		color:#DDD;
		font-weight:bold;
		padding-bottom:2px;
	}
	#top-meeting-name {
		font-family:$header-font-stack;
		color:white;
		a, a:hover {color:white; border-bottom:none;}
		font-size:34px;
		line-height:1.2em;
		padding-bottom:3px;
		font-weight:bold;
		line-height:1.1em;
	}
	#top-meeting-info {
		color:white;
		font-weight:bold;
		text-transform:uppercase;
		font-size:18px;
	}
}

#meeting-icon {
	padding-left:15px;
	color:$bright;
}
#meetings-columns {
	@extend .content;
	padding-top:40px;
	padding-bottom:45px;
	display:flex;
	ul {
		color:$primary-color;
		margin-left:20px;
	}
	a {
		font-family:$sans-serif-font-stack;
		border-bottom:none;
	}
	.column {
		width:$column-width;
		max-width:$column-width;
		h1 {
			font-weight:bold;
			font-size:24px;
			padding-bottom:7px;
			border-bottom:2px solid $brighter;
			margin-bottom:15px;
		}
		p, ul, h1 {padding-right:40px;}
		p {
			color:$dark;
			font-family:$sans-serif-font-stack;
			line-height:1.5em;
		}
	}
}

a.meeting-photo-link {
	font-weight:bold;
	color:white !important;
}
.meeting-photo {
	height:80px;
	width:90%;
	max-width:350px;
	opacity:0.8;
	position:relative;
	transition: all .2s linear;	
	margin-bottom:10px;
	.meeting-photo-text{
		position:absolute;
		bottom:0;
		width:100%;
		height:auto;
		padding-bottom:3px;
		font-family:$sans-serif-font-stack;
		background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 60%);
		span {padding-left:10px;}
	}
}
.meeting-photo:hover {
	opacity:1;
}
#meeting-details{
	padding-top:30px;
	padding-bottom:40px;
	display:flex;
	flex-direction:row-reverse;
	justify-content:flex-end;
	h2 {
		border-bottom:2px solid $brighter;
		margin-bottom:20px;
		padding-bottom:7px;
		padding-top:10px;
	}
}
#meeting-body {
	max-width:625px;
}
#meeting-aside {
	max-width:$column-width;
	#aside-title {
		i {
			color:$bright;
			font-size:22px;
			margin-left:10px;
		}
	}
	#shortcut-links {
		padding-top:10px;
		h2{
			border-bottom:none;
			font-weight:bold;
			padding-bottom:0px;
			margin-bottom:15px;
			font-size:24px;
		}
		li {
			list-style:disc;
			margin-left:85px;
			padding-left:10px;
			font-size:18px;
			font-weight:bold;
			line-height:1.3em;
			padding-bottom:5px;
			color:$primary-color;
			a {
				color:$bright;
				border-bottom:none;
			}
		}
		ul {
			margin-left:0px;
		}
	}
	p, li, .icon {margin-left:60px;}
	h1, h2, h3, h4, h5, h6 {padding-left:60px;}
	li {
		font-family:$sans-serif-font-stack;
		list-style:none;
		padding-left:35px;
		font-size:16px;
		color:$neutral;
	}
	.icon {
		position:absolute;
		font-size:22px;
		color:$primary-color;
		.mail, .what-to-bring {font-size:20px;}
	}
}
blockquote .button {
	font-size:18px;
	padding-left:0px;
}

/* iPad portrait browsing*/
@media only screen and (max-width: 959px) {
	#meeting-details {
		flex-wrap:wrap;
	}
	#shortcut-links {
		display:none;
	}
	#top-meeting {
		height:250px;
	}
	#meeting-aside {
		p, li, .icon {margin-left:0px;}
		h1, h2, h3, h4, h5, h6 {padding-left:0px;}
		width:100%;
		max-width:625px;
		padding-bottom:20px;
	}
	#meetings-columns {
		flex-wrap:wrap;
		.column {
			max-width:100%;
			width:600px;
		}
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#top-meeting{
		height:175px;
		#top-group {padding-bottom:20px;}
		#top-desc { 
			font-size:16px; 
		}
		#top-meeting-name { 
			font-size:$mobile-header-font-size; 
			padding-bottom:8px;
		}
		#top-meeting-info {
			font-size:14px;
			line-height:1.3em;
		}
	}
	#meeting-details {
		padding-bottom:20px;
	}
	#meeting-body, #meeting-aside {
		h2 {
			font-size:20px;
			padding-bottom:5px;
		}
	}
	#meetings-columns {
		padding-top:20px;
		.column {
			width:100%;
			padding-top:10px;
			padding-right:0px;
			p, ul, h1 {padding-right:0px;}
		}
	}
	blockquote .button {font-size:16px;}
}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
	.meeting-photo {width:100%}
}

/* Beanstream */
button[data-beanstream] {
        border-color:$primary-color;
        color:$primary-color;
		opacity: .5;
		font-size: 16px;
		border: 2px solid;
		border-radius: 4px;
		padding: 4px 10px;
		background: none;
		cursor: pointer;
		font-weight: bold;
		outline: none;
		transition: all .1s linear;
		&:hover {
			opacity:1;
		}
}
