@import 'variables';

.content {
	display:flex;
	padding-bottom:60px;
	p {max-width:$content-width;}
	#sidebar ul {
		list-style:none;
		margin-left:0px;
		padding-top:5px;
		li {
			margin-left:0px;
			margin-bottom:1px;
		}
		li a {
			font-family:$sans-serif-font-stack;
			font-weight:bold;
			font-size:18px;
			color:$bright;
		}
	}
}
@media only screen and (max-width: 959px) {
	.content {
		flex-wrap:wrap;
		padding-top:10px;
	}
}
@media only screen and (max-width: 767px) {
	.content {padding-bottom:30px;}
}

/* #Members Main Page
––––––––––––––––––––––––––––––––––––––––*/
#account-details {
	max-width:$column-width;
	width:45%;
	float:right;
}
#account-info {
	margin-top:0px;
	margin-left:40px;
	margin-right:30px;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:25px;
	h5 {
		padding-top:15px;
	}
	.button {
		padding-top:0px;
		padding-bottom:25px;
		a {
			border-color:$primary-color;
			color:$primary-color;
			opacity:0.5;
			font-size:16px;
		}
		a:hover {
			opacity:1;
		}
	}
	font-family:$sans-serif-font-stack;
	font-size:16px;
}
#latest-issue-pic {
	width:100%;
	margin-left:0;
	padding:0;
	border-bottom:none;
	img { box-shadow: 5px 5px 10px rgba(0,0,0,0.3);}
}

.form-error{
	color:darkred;
}

input:focus {
	border-color: #5e97b0;
}
input.error{
	border: 2px solid darkred;
}
input.valid {
	border: 2px solid #4cae4c;
}


td.details-control {
	background: url('../images/databases/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../images/databases/details_close.png') no-repeat center center;
}

.iconCollection{
	display: inline-block;
	overflow:hidden;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
	background-image: url('../images/icons.png');
	background-repeat: no-repeat;
}
.iconThumbUp{
	background-position: -48px -80px;
	margin: 0 0 0 5px;
}
.iconThumbDown{
	background-position: -64px -80px;
	margin: 0 0 0 5px;
}
.buttonText{
	vertical-align: middle;
}
.jrBtn{
	color: #333;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	border: 1px solid #ccc;
	font-size: 13px;
	text-shadow: 0 0 1px #fff;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #ddd;
}
.jrBtn:hover{
	background-color: #ccc;
	background-image: -moz-linear-gradient(center top , #ddd, #f5f5f5);
	background-image: -o-linear-gradient(top, #ddd, #f5f5f5);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #ddd), color-stop(1, #f5f5f5));
	background-image: -webkit-linear-gradient(#ddd, #f5f5f5);
	background-image: linear-gradient(to left top, #ddd, #f5f5f5);
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

/* iPad portrait browsing*/
@media only screen and (max-width: 959px) {
	#what-we-do-home {padding-top:30px;}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#account-details {
		max-width:300px;
		width:100%;
		float:none;
		blockquote {margin-left:0px;}
	}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {}




#editProfileContainer {
	max-width: 550px;
	margin-top: 0;
    margin-left: 40px;
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}