@import 'variables';

/* #News Home Styling
––––––––––––––––––––––––––––––––––––––––*/

#newest-article {
	@extend .content;
	background-color:$darker;
	padding-bottom:50px;
	font-size:20px;
	font-family:$sans-serif-font-stack;
}
#newest-byline {
	text-transform:uppercase;
	font-weight:bold;
	color:$neutral;
	padding-bottom:10px;
}
#newest-title, #newest-description {
	max-width:$content-width;
}
#newest-title {
	a, a:hover {color:white; border-bottom:none;}
	font-family:$header-font-stack;
	font-size:32px;
	line-height:1.2em;
	padding-bottom:20px;
}
#newest-date {
	font-family:$header-font-stack;
	float:left;
	position:relative;
	color:$primary-color-bright;
	font-weight:bold;
	text-transform:uppercase;
	font-size:15px;
	bottom: -0.05em;
}
#newest-date:after {
	content:"\2014";
	color:$bright;
	float:right;
	font-size:20px;
	font-weight:bold;
	padding-right:7px;
	padding-left:7px;
	margin-top:-2px;
}
#newest-description {
	font-family:$sans-serif-font-stack;
	color:$bright;
	font-size:19px;
	line-height:1.4em;
	padding-bottom:10px;
}
#archive-icon, #news-icon {
	padding-left:15px;
	color:$bright;
}
#news-home-columns {
	@extend .content;
	padding-top:40px;
	padding-bottom:45px;
	display:flex;
	.column {
		h1 {
			font-weight:bold;
			font-size:24px;
			padding-bottom:7px;
			border-bottom:2px solid $brighter;
			margin-bottom:15px;
		}
	}
}
#older-news .news-home-list {
	max-width:600px;
}
#cfms-in-the-news .news-home-list{
	max-width:450px;
}
.news-home-list {
	padding-right:50px;
	li {
		list-style:none;
		margin-left:80px;
		line-height:1.4em;
		padding-bottom:7px;
	}
	li a {
		font-size:18px;
		color:$dark;
		font-family:$header-font-stack;
		line-height:1.2em;
	}
	li a:hover {
		color:$primary-color;
	}
	.news-year {
		margin-top:-5px;
		padding-bottom:5px;
	}
	.news-year span{
		font-family:$header-font-stack;
		color:$bright;
		font-weight:bold;
		font-size:18px;
	}
	.button {
		padding-top:10px;
		a {
			padding-top:6px;
			color:$bright;
			border-color:$brighter;
		}
		a:hover {
			color:$neutral;
			border-color:$bright;
		}
		font-family:$sans-serif-font-stack;
		font-weight:bold;
	}
}

/* #Student Spotlight Section
––––––––––––––––––––––––––––––––––––––––*/

$link-padding: 30px;
#student-spotlight {
	@extend .content;
	background-color:$dark;
	padding-bottom:30px;
	font-family:$sans-serif-font-stack;
	a {
		margin-right:$link-padding;
		width:$column-width - $link-padding;
		border-bottom:none;
	}
	.button{
		margin-bottom:20px;
	}
	.button a {
		border:2px solid $neutral;
		font-size:19px;
	}
	.button a:hover {
		border:2px solid $bright;
	}
	.featured-school {
		color:$bright;
	}
}
#spotlight-title {
	color:$brighter;
	font-weight:bold;
	margin-bottom:10px;
	font-size:30px;
}
#spotlight-description{
	color:$bright;
	font-size:18px;
	line-height:1.4em;
	max-width:$content-width;
	padding-top:10px;
	padding-bottom:20px;
}
#spotlight-content {
	p, h2, h3, h4, h5, h6, li, ol, ul {max-width:$content-width}
	h4 {padding-top:10px;}
	.right {max-width:300px;}
	padding-bottom:30px;
}
#spotlight-columns {
	display:flex;
	padding-bottom:30px;
	#spotlight-left {
		width:60%;
		margin-right:60px;
	}
	#spotlight-right {
		width:40%;
		blockquote {
			max-width:$content-width;
			margin-top:0px;
			p, ul, ol, li {font-size:16px; line-height:1.5em;};
			margin-bottom:10px;
		}
	}
}
.flex-wrapper {
	flex-wrap:wrap;
}
.featured-link {
	max-width:100%;
	height:180px;
	transition:all 0.2s linear;
	margin-top:10px;
}
.featured-link-text {
	max-width:100%;
	margin-top:15px;
	margin-bottom:10px;
	line-height:1.5em;
	font-family:$sans-serif-font-stack;
	font-weight:bold;
	color:$brighter;
}
.spotlight {
	display:flex;
	padding: 30px 40px 30px 40px;
	margin-bottom:20px;
	border-radius:5px;
	min-height:130px;
	background-color:$brighter;
	max-width:$content-width;
	.spotlight-type {
		color:$dark;
		font-family:$header-font-stack;
		font-weight:bold;
		padding-top:5px;
	}
	.spotlight-name {
		color:$neutral;
		padding-right:25px;
		font-family:$header-font-stack;
		font-weight:bold;
		font-size:22px;
		line-height:1.2em;
		padding-bottom:5px;
	}
	.spotlight-desc {
		padding-top:10px;
		padding-right:25px;
		color:$neutral;
		font-family:$sans-serif-font-stack;
		line-height:1.4em;
		font-size:16px;
	}
	.spotlight-pic {
		width:140px;
		min-width:140px;
		img {width:100%;}
	}
}
.spotlight {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0);
}
.spotlight:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
}
.spotlight, .spotlight:hover {
	transition: all 0.3s linear;
	border:none;
}

/* Mobile Landscape */
@media only screen and (max-width: 767px) {
	.spotlight .spotlight-pic {display:none;}
	.spotlight {
		padding: 20px 30px 20px 30px;
		.spotlight-name {
			font-size:20px;
			padding-bottom:2px;
		}
		.spotlight-desc {
			font-size:14px;
		}
	}
}


/* #Government Affairs Press Releases Section
––––––––––––––––––––––––––––––––––––––––*/

#news-ga-columns {
	@extend .content;
	padding-top:5px;
	padding-bottom:10px;
	display:flex;
	padding-left:0px;
	.column {
		h1 {
			font-weight:bold;
			font-size:24px;
			padding-bottom:7px;
			border-bottom:2px solid $brighter;
			margin-bottom:15px;
		}
	}
}






/* #News Archive Styling
––––––––––––––––––––––––––––––––––––––––*/

#archives{
	max-width:$content-width;
	padding-bottom:40px;
	#archives-title {
		font-family:$header-font-stack;
		font-size:34px;
		color:$dark;
		font-weight:bold;
		padding-top:10px;
		padding-bottom:15px;
		border-bottom:3px solid $brighter;
		margin-bottom:-1px;
	}
	ul {
		color:$primary-color;
		font-size:24px;
		font-weight:bold;
		margin-left:10px;
		li {
			border-top:1px solid #EEE;
			padding-top:10px;
			margin-bottom:8px;
			line-height:1.2em;
		}
		h1 {
			font-size:20px;
			padding-bottom:0px;
			font-weight:bold;
			a {color:$dark; border-bottom:none;}
			a:hover {color:$primary-color;}
		}
		.date {
			color:$bright;
			font-family:$sans-serif-font-stack;
			font-size:16px;
		}
	}

	// CFMS in the News Formatting
	.news-home-list {
		max-width:$content-width;
		padding-top:20px;
	}
	.news-year {
		border-bottom:2px solid $brighter;
		margin-bottom:15px;
	}
	.news-year span {
		font-size:22px;
		color:$primary-color;
	}
	.news-link a{font-size:20px;}
	.news-date { color:$bright; }
}

#pagination {
	#page-listing {
		display:inline-block;
		padding-right:10px; 
		padding-left:10px;
	}
	.page-link {
		font-size:20px;
		font-family:$sans-serif-font-stack;
		font-weight:bold;
		padding-right:5px;
		padding-left:5px;
		border-bottom:none;
	}
	.page-link:hover {
		color:$dark;
	}
	#current-page {
		color:$primary-color;
		font-style:normal;
	}
	#prev-button, #next-button {
		display:inline-block;
		font-family:$sans-serif-font-stack;
		a {
			padding-top:6px;
			font-weight:bold;
			color:$neutral;
			border-color:$bright;
		}
		a:hover {
			border-color:$neutral;
		}
	}
	#prev-button.inactive, #next-button.inactive {
		a, a:hover {
			color:#DDD; 
			border-color:#DDD;
			cursor:default;
		}
	}

	// Swap the direction of the arrow
	#prev-button a:after {
		content:"";
		padding-left:0;
	}
	#prev-button a:before{
		content:"←";
		padding-right:8px;
		vertical-align:bottom;
		font-size:28px;
	}
}

/* #News Page Styling
––––––––––––––––––––––––––––––––––––––––*/

#aside {
	h6{
		text-transform:uppercase;
		font-weight:bold;
		padding-top:5px;
		padding-bottom:5px;
		color:$bright;
	}
	color:$bright;
	position:absolute; top:auto; left:890px; padding:0;
	margin-top:0px;
	font-family:$header-font-stack;
	font-size:14px;
	line-height:1.5em;
	width:220px;
}
#title {
	font-family:$header-font-stack;
	font-size:32px;
	color:$dark;
	font-weight:bold;
	padding-bottom:15px;
	line-height:1.2em;
}
#date {
	color:$primary-color;
	font-family:$header-font-stack;
	font-weight:bold;
	text-transform:uppercase;
	font-size:15px;
	padding-bottom:10px;
}
#body {font-size:18px;}
#title, #body { max-width:$content-width; }
#body { padding-bottom:10px; }

#other-news{
	@extend .content;
	background-color:$brighter;
	margin-top:30px;
	padding-top:35px;
	padding-bottom:20px;
	li {
		list-style:none;
		margin-left:80px;
		margin-bottom:15px;
		line-height:1.5em;
	}
	h1{
		max-width:$content-width;
		margin-bottom:15px;
		text-transform:uppercase;
		font-weight:bold;
		font-size:24px;
		color:$neutral;
		padding-bottom:12px;
		border-bottom:2px solid rgba(0,0,0,0.1);
		margin-bottom:25px;
	}
}
#other-news-list{
	max-width:$content-width;
}
.news-date {
	float:left;
	font-size:16px;
	font-weight:bold;
	font-family:$header-font-stack;
	color:$primary-color;
	display:inline-block;
	margin-top:-1px;
}
.news-link {
	display:inline-block;
	margin-bottom:3px;
	font-family:$sans-serif-font-stack;
	font-weight:bold;
	color:$bright;
	a {
		font-family:$header-font-stack;
		font-weight:bold;
		font-size:19px;
		color:$dark;
		border-bottom:none;
	}
	a:visited{color:$dark;}
	a:hover{
		border-bottom:none;
		color:$primary-color;
	}
}
.news-link:before{
	content:'\2014';
	color:$bright;
	font-size:18px;
	padding-left:6px;
	font-weight:bold;
	margin-left:-28px;
	padding-right:7px;
}
.news-desc {
	font-size:16px;
	color:$neutral;
	padding-bottom:8px;
}

@media only screen and (max-width: 1199px){
	#aside {display:none;}
	#spotlight-columns {
		flex-wrap:wrap;
		#spotlight-left, #spotlight-right {
			width:100%
		}
		#spotlight-left {
			margin-right:0px;
		}
	}
}

@media only screen and (max-width: 959px) {
	#spotlight-title, #spotlight-content {
		padding-top:30px;
	}
	#newest-byline {padding-top:40px;}
	#title {padding-top:30px;}
	#older-news .news-home-list {max-width:600px;}
	#cfms-in-the-news .news-home-list{max-width:600px;}
	#news-home-columns{
		flex-wrap:wrap;
		padding-bottom:0px;
		.column {
			padding-bottom:40px;
		}
	}
	.news-home-list{padding-right:0px;}
	#archives #archives-title {padding-top:30px;}
	#archives {padding-bottom:30px;}
	#archives ul {padding-bottom:0px;}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#student-spotlight{
		.button a {font-size:16px;}
	}
	#spotlight-title {
		font-size:22px;
	}
	#spotlight-description {
		font-size:16px;
	}
	#newest-article {
		padding-top:0px;
		font-size:16px; 
		padding-bottom:45px;
	}
	#spotlight-columns #spotlight-right {
		blockquote {
			p, ul, li, ol {font-size:15px;}
		}
	}
	#newest-byline { 
		font-size:16px; 
		padding-bottom:5px;
	}
	#newest-title { 
		font-size:$mobile-header-font-size; 
		padding-bottom:15px;
	}
	#newest-description {
		font-size:16px;
		padding-bottom:5px;
	}
	#news-home-columns{
		flex-wrap:wrap;
		padding-bottom:0px;
		.column {
			padding-bottom:40px;
		}
		.news-home-list{
			padding-right:0px;
		}
		.news-home-list li a {
			font-size:17px;
		}
	}

	#archives {
		#archives-title {
			font-size:$mobile-header-font-size;
		}
		ul{
			font-size:18px;
			li a { 
				font-size:17px; 
				line-height:1.2em;
			}
			li h1 {padding-bottom:5px;}
		}
		#pagination {
			#page-listing { display:none; }
			#prev-button { padding-right: 10px; }
		}
		.news-year span {font-size:18px;}
		.news-link a{font-size:17px;}
	}


	.news-link a {font-size:17px;}
	.news-date {font-size:14px;}
	.news-desc {display:none;}
	#other-news li {margin-left:75px; margin-bottom:15px;}
	#other-news { margin-top:30px;}
	#other-news h1 {font-size:20px;}
	#body {font-size:16px;}
	#title {padding-bottom:10px; font-size:24px;}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
	#spotlight-content {
		.right {display:none;}
	}
}