---
title: The CFMS at your School
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#cfms-at-your-school" ).classList.toggle("sidebar-active");
		</script>

		<div id="cfms-reps-content">
			<h1 id="page-title" class="editable">La FEMC &agrave; votre &eacute;cole</h1>
			<div id="cfms-reps-desc" class="editable"><p>Savez-vous qui &agrave; votre &eacute;cole s'implique avec la FEMC? Voir les liens ci-dessous pour acc&eacute;der &agrave; une liste des membres du Conseil ex&eacute;cutif, des Officiers nationaux, des membres de comit&eacute;s et d'autres repr&eacute;sentants de la FEMC qui viennent de votre facult&eacute; de m&eacute;decine.</p></div>
			<div id="schools">
				<div id="ubc" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ubc.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université de la Colombie-Britannique</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/UBC.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="ualberta" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ualberta.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université de l'Alberta
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Alberta.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="ucalgary" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ucalgary.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université de Calgary
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Calgary.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="usaskatchewan" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/usaskatchewan.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université du Saskatchewan
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Sask.jpg">Voir la liste des membres<strong></strong>​<strong></strong></a></p></div>
						</li>
					</div>
				</div>
				<div id="umanitoba" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/umanitoba.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université du Manitoba
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Manitoba.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="nosm" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/nosm.png" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							L'École de médecine du Nord de l'Ontario</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/NOSM.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="western" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/western.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université Western</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Western.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="mcmaster" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/mcmaster.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université McMaster</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/McMaster.jpg">Voir la liste des membres</a>​​</p></div>
						</li>
					</div>
				</div>
				<div id="utoronto" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/utoronto.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université de Toronto
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Toronto.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="queens" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/queens.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université Queen's</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Queens.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="uottawa" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/uottawa.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université d'Ottawa
						</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Ottawa.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="mcgill" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/mcgill.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université McGill</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/McGill.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="dalhousie" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/dalhousie.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université Dalhousie</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/Dalhousie.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
				<div id="memorial" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/memorial.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">L'Université Memorial de Terre-Neuve</li>
						<li class="school-url">
							<div class="url preview editable"><p><a href="http://cfms-website.github.io/images/local-org-charts/2015-2016/MUN.jpg">Voir la liste des membres</a></p></div>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Loads a preview for each picture -->
	<script src="/js/grid.js"></script>
	<link rel="stylesheet" href="/stylesheets/grid.css" />
	<script type="text/javascript">
		grid.run('.preview', {buttons:false, animation:false});
	</script>
	{% include footer.html %}
</body>
