---
title: "Canadian Federation of Medical Students"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}
	{% for meta in site.data.home.intro %}
		{% if meta.lang == page.lang %}
			<meta name="description" content="{{ meta.description }}">
		{% endif %}
	{% endfor %}

	<!-- Redirect based on chosen language -->
	<script>
		$(function() {
			switch (Cookies.get('lang')){
				case 'en':
					break;
				case 'fr':
					if (window.location.href != '/fr/')
						window.location.href = '/fr/';
					break;
			}
		});
	</script>

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	<div id="home-header">
		{% include nav.html %}

		<!--Hide the non-inverted logo and invert the top bar colours-->
		<script type="text/javascript">
			document.querySelector( "#top-bar" ).classList.toggle("invert");
			document.querySelector( "#logo" ).classList.toggle("hidden");
		</script>

		{% for intro in site.data.home.intro %}
			{% if intro.lang == page.lang %}
				<div id="home-title">{{ intro.title }}</div>
				<div id="home-subtitle">
					{{ intro.description }}
					<div class="button">
						<a href="about-us.html">
							{% if page.lang == "en" %}
								{{ site.data.translations.learn_more_en }}
							{% else %}
								{{ site.data.translations.learn_more_fr }}
							{% endif %}
						</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!-- Option News Strip -->
	{% if site.data.home.news_strip == true %}
		<div id="news-strip">
			{% if site.data.home.news_text_url != "" %}
				<a href="{{ site.data.home.news_text_url }}">
			{% else %}
				<a>
			{% endif %}
					<i class="fa fa-exclamation-circle" style="padding-right:5px;"></i>
					{% if page.lang == "en" %}
						{{ site.data.home.news_text_en }}
					{% else %}
						{{ site.data.home.news_text_fr }}
					{% endif %}
				</a>
		</div>
	{% endif %}

	<div id="featured-links">
		<h1>
			{% if page.lang == "en" %}
				{{ site.data.translations.whats_new_en }}
			{% else %}
				{{ site.data.translations.whats_new_fr }}
			{% endif %}
		</h1>
		<div class="flex-wrapper">
			{% for link in site.data.home.featured_links %}
				<a href="{{ link.url }}">
					{% if page.lang == "en" %}
						<div class="featured-link" style="background: url(/{{ link.image_url_en }}) no-repeat center center; background-size:cover">
						</div>
						<div class="featured-link-text">{{ link.text_en }}</div>
					{% else %}
						<div class="featured-link" style="background: url(/{{ link.image_url_fr }}) no-repeat center center; background-size:cover">
						</div>
						<div class="featured-link-text">{{ link.text_fr }}</div>
					{% endif %}
				</a>
			{% endfor %}
		</div>
	</div>

	<!-- Displays the homepage banner -->
	{% for text in site.data.home.banner_text %}
		{% if text.lang == page.lang %}
			<div id="hero-image" style="background: url(/{{ site.data.home.banner_image_url }}) no-repeat center 30%; background-size:cover">
				<a href="{{ site.data.home.banner_url }}">
					<div id="hero-text">
						<div id="hero-byline">{{ text.byline }}</div>
						<div id="hero-title">{{ text.title }}</div>
						<div id="hero-desc">{{ text.description }}</div>
					</div>	
				</a>
			</div>
		{% endif %}
	{% endfor %}
	<div id="home-columns">
		<div id="recent-news">
			<h1>
				{% if page.lang == "en" %}
					{{ site.data.translations.recent_news_en }}
				{% else %}
					{{ site.data.translations.recent_news_fr }}
				{% endif %}
				<span id="more-news-button" class="button"><a href="news/archives/">See All Articles</a></span>
			</h1>
			<div id="recent-news-list">
				{% for post in site.posts limit:5 %}
					<div class="news-date">{{ post.date | date: '%b %d' }}</div>
					<li>
						<div class="news-link"><a href="{{ post.url }}">{{ post.title }}</a></div>
						<div class="news-desc">{{ post.description }}</div>
					</li>
				{% endfor %}
			</div>
		</div>
		<div id="sponsors">
			<h1>				
				{% if page.lang == "en" %}
					{{ site.data.translations.sponsored_by_en }}
				{% else %}
					{{ site.data.translations.sponsored_by_fr }}
				{% endif %}
				<span style="opacity:0.5">:</span>
			</h1>
			<div id="sponsor-logo">
				<a href="https://mdm.ca/career-stages/student/index.asp"><img src="/images/MDFM.svg"></img></a>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>

