---
title: Canadian Federation of Medical Students
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/home.css">
</head>
<body>
	<div id="home-header">
		{% include nav.html %}

		<!--Hide the non-inverted logo and invert the top bar colours-->
		<script type="text/javascript">
			document.querySelector( "#top-bar" ).classList.toggle("invert");
			document.querySelector( "#logo" ).classList.toggle("hidden");
		</script>
		
		<div id="home-title">Canadian Federation of Medical&nbsp;Students</div>
		<div id="home-subtitle">
			We are an organization representing over 8,000 medical students from 14 Canadian medical student societies from coast to coast. We represent medical students to the public, to the federal government, and to national and international medical organizations.
			<div class="button"><a href="about-us.html">Learn more</a></div>
		</div>
	</div>
	<div id="hero-image" style="background: url({{ site.root }}/images/hero-images/windsor.jpg) no-repeat center center; background-size:cover">
		<a href="">
			<div id="hero-text">
				<div id="hero-byline">Announcement</div>
				<div id="hero-title">CFMS AGM 2015 Registration is now open!</div>
				<div id="hero-desc">Join us in Windsor ON for the CFMS Annual General Meeting, on <b>September 18-20<sup>th</sup>, 2015</b>.</div>
			</div>	
		</a>
	</div>
	<div id="recent-news">
		<h1>Recent News</h1>
		<div id="recent-news-list">
			{% for post in site.posts limit:5 %}
				<div class="news-date">{{ post.date | date: '%b %d' }}</div>
				<li>
					<div class="news-link"><a href="{{ site.root }}{{ post.url }}">{{ post.title }}</a></div>
					<div class="news-desc">{{ post.description }}</div>
				</li>
			{% endfor %}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>

