---
title: "Online Payments"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}

	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="content set-content-width" style="display:block">	
		<blockquote id="latest-issue">
			<h4><strong>Proceed to Beanstream to pay for your item</strong></h4>
			<div class="button">
				<a href="http://www.beanstream.com">
					<strong>Payments Page..</strong>
				</a>
			</div>
		</blockquote>
		
	</div>
	{% include footer.html %}
</body>



