---
title: "Site Map"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/sitemap.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content">
		<div id="sitemap">
			<h1>{{ page.title }}<i class="fa fa-sitemap"></i></h1>
			<h2>cfms.org</h2>
			<ul>
				<li><span class="president">Learn more</span></li>
				<li>
					<span class="vp-communications">Who we are</span>
					<ul>
						<li class="vp-communications">Executives &amp; Officers</li>
						<li class="vp-communications">Member Schools</li>
						<li class="vp-communications">CFMS Representatives</li>
					</ul>
				</li>
				<li>
					<span class="vp-communications">What we do</span>
					<ul>
						<li class="incomplete">
							<span class="vp-gov-affairs">Advocacy</span>
							<ul>
								<li class="vp-gov-affairs incomplete">Overview</li>
								<li class="vp-gov-affairs incomplete">Position Papers</li>
								<li class="vp-gov-affairs incomplete">Lobby Day</li>
							</ul>
						</li>
						<li class="incomplete">
							<span class="vp-education">Education</span>
							<ul>
								<li class="vp-education incomplete">Overview</li>
								<li class="vp-education incomplete">Representation</li>
								<li class="vp-education incomplete">Projects</li>
								<li class="vp-education incomplete">Medical Student Admissions</li>
								<li class="vp-education incomplete">Transition to Residency</li>
							</ul>
						</li>
						<li class="incomplete">
							<span class="vp-global-health">Global Health</span>
							<ul>
								<li class="vp-global-health incomplete">Overview</li>
								<li class="vp-global-health incomplete">International Exchanges</li>
								<li class="vp-global-health incomplete">Global Health Education</li>
								<li class="vp-global-health incomplete">Global Health Blog</li>
								<li class="vp-global-health incomplete">Partnerships</li>
								<li class="vp-global-health incomplete">Reproductive &amp; Sexual Health</li>
								<li class="vp-global-health incomplete">Human Rights &amp; Peace</li>
								<li class="vp-global-health incomplete">Aboriginal Health</li>
							</ul>
						</li>
						<li class="incomplete">
							<span class="vp-student-affairs">Student Affairs</span>
							<ul>
								<li class="vp-student-affairs incomplete">Overview</li>
								<li class="vp-student-affairs incomplete">Wellness</li>
							</ul>
						</li>	
					</ul>
				</li>
				<li class="incomplete">
					<span class="vp-student-affairs">Resources</span>
				</li>
				<li class="incomplete">
					<span class="vp-communications">Events</span>
					<ul>
						<li class="vp-communications incomplete">CFMS General Meetings</li>
						<li class="vp-communications incomplete">Executive Meeting Minutes</li>
					</ul>
				</li>
				<li>
					<span class="vp-communications">News</span>
					<ul>
						<li class="vp-communications">Archives</li>
						<li class="vp-communications">CFMS in the News</li>
					</ul>
				</li>
				<li class="incomplete">
					<span class="it-officer">Login</span>
					<ul>
						<li class="it-officer incomplete">Why Become a Member?</li>
						<li class="it-officer incomplete">Create an Account</li>
					</ul>
				</li>
				<li class="it-officer">Sitemap</li>
			</ul>
		</div>
		<div id="legend">
			<h1>Responsibilities<i class="fa fa-list-ul"></i></h1>
			<p>The coloured dots on the site map correspond to the most responsible person for each page, as follows:</p>
			<ul>
				<li id="president-legend">President</li>
				<li id="vp-education-legend">VP Education</li>
				<li id="vp-communications-legend">VP Communications</li>
				<li id="vp-finance-legend">VP Finance</li>
				<li id="vp-gov-affairs-legend">VP Government Affairs</li>
				<li id="vp-student-affairs-legend">VP Student Affairs</li>
				<li id="vp-global-health-legend">VP Global Health</li>
				<li id="it-officer-legend">National IT Officer</li>
			</ul>
			<p>Note that any pages that are coloured like <span id="incomplete-legend">this</span> are incomplete.</p>
		</div>
	</div>

	{% include footer.html %}
</body>
</html>