---
title: Longitudinal Wellness Initiative
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-communications.html %}
		<script type="text/javascript">
			document.querySelector( "#bilingualism-committee" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<h1 id="page-title">Bilingualism Committee - Meet the Team</h1>

			<h1><strong>Quebec Regional Representative</strong></h1>
			<hr>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Sarah_Zahabi.jpeg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Sarah Zahabi</span></li>
						<li class="exec-school"><span>McGill University</span></li>
						<li class="url">
							<a href="mailto:quebec@cfms.org">quebec@cfms.org</a>
						</li>
					</ul>
				</div>
			</div>


			<h1><strong>Bilingualism Committee Team</strong></h1>
			<hr>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Aimee_Bouka_CFMNB.jpeg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Aimée Bouka</span></li>
						<li class="exec-school"><span>Centre de Formation Médicale du Nouveau-Brunswick</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Alyssa_Daianska_McGill.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Alyssa Daianska</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Andree_Vincent_Alberta.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Andrée Vincent</span></li>
						<li class="exec-school"><span>University of Alberta</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Ashley_Robinson_Dalhousie.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Ashley Robinson</span></li>
						<li class="exec-school"><span>Dalhousie University</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Behnam_Behnam_McMaster.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Behnam Behnam</span></li>
						<li class="exec-school"><span>McMaster University</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Catalina_Costei_McGill.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Catalina Costei</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Celia_Kwan_UBC.JPG" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Celia Kwan</span></li>
						<li class="exec-school"><span>University of British Columbia</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Clara_Kalulumia_CFMNB.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Clara Kalulumia</span></li>
						<li class="exec-school"><span>Centre de Formation Médicale du Nouveau-Brunswick</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Emilie_Chartier_Manitoba.JPG" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Émilie Chartier</span></li>
						<li class="exec-school"><span>University of Manitoba</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Emma_Crowley_Dalhousie.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Emma Crowley</span></li>
						<li class="exec-school"><span>Dalhousie University</span></li>
					</ul>
				</div>
			</div>





			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Etienne_Leveille_McGill.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Étienne Leveille</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>






			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Iline_Guan_McGill.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Iline Guan</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>





			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Kalyani_Sabanayagam_McMaster.JPG" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kalyani Sabanayagam</span></li>
						<li class="exec-school"><span>McMaster University</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Katina_Zheng_Ottawa.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Katina Zheng</span></li>
						<li class="exec-school"><span>University of Ottawa</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Kelly_Hennegan_McGill.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kelly Hennegan</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Kyla_Freeman_UBC.JPG" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kyla Freeman</span></li>
						<li class="exec-school"><span>University of British Columbia</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Liane_Bailey_Queen.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Liane Bailey</span></li>
						<li class="exec-school"><span>Queen's University</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Philippe Cadieux.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Philippe Cadieux</span></li>
						<li class="exec-school"><span>Université Laval</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Pier-Maude_Lanteigne_CFMNB.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Pier-Maude Lanteigne</span></li>
						<li class="exec-school"><span>Centre de Formation Médicale du Nouveau-Brunswick</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Robin_Sawaya_Western.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Robin Sawaya</span></li>
						<li class="exec-school"><span>University of Western Ontario</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Shannon Lilly_Dalhousie.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Shannon Lilly</span></li>
						<li class="exec-school"><span>Dalhousie University</span></li>
					</ul>
				</div>
			</div>




			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Simon_Palardy_McGill.JPG" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Simon Palardy</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>




			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Teresa_Li_Alberta.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Teresa Li</span></li>
						<li class="exec-school"><span>University of Alberta</span></li>
					</ul>
				</div>
			</div>




			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Thuy-An_Mai-Vo_Montreal.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Thuy-An Mai-Vo</span></li>
						<li class="exec-school"><span>Université de Montréal</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Xiaoya_Gao_McGill.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Xiaoya Gao</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>



			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Yi Tong.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Yi Tong</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/bilingualism-committee/Zahia_Attari_McGill.jpeg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Zahia Attari</span></li>
						<li class="exec-school"><span>McGill University</span></li>
					</ul>
				</div>
			</div>



		</div>
	</div>
	{% include footer.html %}
</body>
