---
title: Communications
sitemap:
  priority: 0.8
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-communications.html %}
    <script type="text/javascript">
			document.querySelector("#overview").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Communications</h1>
        <p class="present-before-paste">The Communications Team coordinates the internal and external communications of the CFMS, including this <a href="https://www.cfms.org/">website</a>; <a href="https://www.facebook.com/cfmsfemc">Facebook</a>, <a href="https://twitter.com/CFMSFEMC">Twitter</a> and <a href="https://www.instagram.com/cfmsfemc/">Instagram</a> @CFMSFEMC profiles; and the CFMS Communiqu&eacute; email newsletter. These mediums are used to promote the activities of the CFMS, as well as the successes and advocacy efforts of medical students across Canada. Connecting students at medical schools from across Canada, sharing ideas that are successful at one school that could be helpful to students at another, and encouraging grassroots engagement of CFMS members are core goals of the Communications Team.&nbsp; Further to that goal, the Communications Team coordinates the CFMS Representatives/VP Externals Round Table from each member medical school.</p>
        <p class="present-before-paste">For media requests, please contact Christina Schweitzer, CFMS VP Communications, at <a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,99,111,109,109,117,110,105,99,97,116,105,111,110,115,64,99,102,109,115,46,111,114,103))">vpcommunications@cfms.org</a>.<br />&nbsp;</p>
    </div>
</div>
{% include footer.html %}
</body>
