---
title: Our Team
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-communications.html %}
    <script type="text/javascript">
			document.querySelector("#our-team").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Our Team</h1>

      <h1><strong>VP Communications</strong></h1>
      <hr>
        <div id="vp-communications" class="executive">
          <div class="exec-pic">
            <img class="editable" width="428" height="572" src="/images/execs/2017-2018/Christina Schweitzer.jpg" />
          </div>
          <div class="exec-info">
            <li class="exec-role">
              <span class="editable">Vice-President Communications</span>
            </li>
            <li class="exec-name">
              <span class="editable">Christina Schweitzer</span>
            </li>
            <li class="exec-school">
              <span class="editable">University of Calgary</span>
            </li>
            <li class="exec-desc">
              <span class="editable">Christina guides the internal and external communication of the CFMS. She manages the public profile of the CFMS, including website, Facebook, Twitter, Instagram and LinkedIn profiles, and engaging with news media. Christina promotes the activities of the CFMS, as well as the successes and advocacy efforts of medical students across Canada. She is responsible for maintaining regular contact with medical school representatives, engaging individual members of the CFMS, and communication with external organizations when this responsibility falls outside of the duties of the President. Christina is the contact person for any news media requests.&nbsp;</span>
            </li>
            <li class="url"><a href="mailto:vpcommunications@cfms.org">vpcommunications@cfms.org</a></li>
          </div>
        </div>

        <h1><strong>Ontario Regional Representative</strong></h1>
        <hr>
        <div class="executive">
          <div class="exec-pic"><img height="400" src="/uploads/versions/coryl---x0-33-1090-1454-338-451x---.jpg" width="300"></div>
          <div class="exec-info">
            <ul>
              <li class="exec-name"><span>Cory Lefebvre</span></li>
              <li class="exec-school"><span>University of Western Ontario</span></li>
            </ul>
          </div>
        </div>


        <h1><strong>National Officer for Information Technology Sr.</strong></h1>
        <hr>
        <div class="executive">
          <div class="exec-pic"><img height="400" src="/uploads/pavel_profile.png" width="300"></div>
          <div class="exec-info">
            <ul>
              <li class="exec-name"><span>Pavel Yarmak</span></li>
              <li class="exec-school"><span>University of Manitoba</span></li>
            </ul>
          </div>
        </div>

        <h1><strong>National Officer for Information Technology Jr.</strong></h1>
        <hr>
        <div class="executive">
          <div class="exec-pic"><img height="400" src="/uploads/adel_arezki.jpeg" width="300"></div>
          <div class="exec-info">
            <ul>
              <li class="exec-name"><span>Adel Arezki</span></li>
              <li class="exec-school"><span>McGill University</span></li>
            </ul>
          </div>
        </div>

      <h1><strong>Media Engagment Committee</strong></h1>
      <hr>
        <div class="members">
            <div class="column">
                <div class="member-info">
                    <ul>
                        <li class="member-school">Committee Members</li>
                        <li class="member-name">
                            <pre><a href="mailto:psa385@mun.ca">Preyanka Abhyankar</a></pre>
                        </li>
                        <li class="member-name">
                            <pre><a href="mailto:wangy131@myumanitoba.ca">Wendy Yushi Wang</a></pre>
                        </li>
                        <li class="member-name">
                            <pre><a href="mailto:hong@uwo.ca">Howard Ong</a></pre>
                        </li>
                        <li class="member-name">
                            <pre><a href="mailto:nikhita.singhal@medportal.ca">Nikhita Singhal</a></pre>
                        </li>
                        <li class="member-name">
                            <pre><a href="mailto:jane.brodie@mun.ca">Jane Brodie</a></pre>
                        </li>
                        <li class="member-name">
                            <pre><a href="mailto:jethomas@nosm.ca">Jenny Thomas</a></pre>
                        </li>
                    </ul>
                    <pre>&nbsp;</pre>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
{% include footer.html %}
</body>
