---
title: Graphics
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css"/>
    <link rel="stylesheet" href="/stylesheets/cards.css" />

</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-communications.html %}
    <script type="text/javascript">
			document.querySelector("#quarter-reports").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Quarterly Board Reports</h1>
        <!--<p></p>-->
        <h2><strong>2017-2018</strong></h2>
        <hr />

      <ul class="cards">
        <li class="cards__item">
          <div class="card"><a href="../../files/quarter-reports/1st-qtr-2018.pdf"><img class="card__image" src="../../images/page-images/pocket-cards/1st-quarter-2017-2018-alternative.png" /> </a></div>
        </li>
      </ul>



    </div>
</div>
{% include footer.html %}
</body>
