---
title: "Medical Student Discounts"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		{% include sidebar-discounts.html %}
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Medical Student Discounts</h1>
			<p>At CFMS, we have an exclusive partnership with <a href="https://mdm.ca/">MD Financial Management</a> to provide medical students with comprehensive financial planning, financial education and a wide range of support for events and services, including the leadership and travel awards.</p>
			<p>Owned by the Canadian Medical Association, MD has a single mandate: to help physicians achieve financial well-being.</p>
			<p>MD has a team of MD Advisors and Early Career Specialists called <a href="https://mdm.ca/contact-us/meded.asp">MD MedEd Counsel<sup>TM</sup></a> dedicated to supporting medical students and residents, whether it’s budgeting, cash flow management, finding the right credit solution or other strategies.</p>
			<blockquote><p>To find out how MD can help, <a href="https://mdm.ca/contact-us/md-meded-counsel"><strong>contact an MD Advisor or Early Career Specialist</strong></a> at your school.</p></blockquote>
			<h2>Financial Checklist for Medical Students</h2>
			<p>With the high cost of tuition and living expenses, medical school can be challenging from a financial perspective. In fact, nine of every 10 medical students will incur debt by the end of their medical education.</p>
			<p>Here are <strong>six steps</strong> you can take to ensure you come out ahead:</p>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>