---
title: MD Travel Awards
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#review-applicants" ).classList.toggle("sidebar-active");
		</script>

		<div class="student-finances-content">
			<h1 id="page-title">View Submitted Applications ({{ site.leadership_award_years }})</h1>
		   
            <blockquote>
	            <div class="flex-wrapper award-application">
		            <div class="left-col">
			            <h4 class="review-header"><strong>Applicant</strong></h4>
						<label>Name</label>
						<div class="review-text-field">Kevan Lu</div>
						<label>Medical School</label>
						<div class="review-text-field">Western University</div>
						<label>Graduating Year</label>
						<div class="review-text-field">2017</div>
						<label>Email Address</label>
						<div class="review-text-field">klu2017@meds.uwo.ca</div>
		            </div>
		            <div class="right-col">
		            	<h4 class="review-header"><strong>Attached Files</strong></h4>
		            	<ul>
							<li><a href="hi.html">Personal Statement</a></li>
							<li><a href="hi.html">Resume/Curriculum Vitae</a></li>
							<li><a href="hi.html">Proof of Good Standing</a></li>
							<li><a href="hi.html">Reference Letter #1</a></li>
							<li><a href="hi.html">Reference Letter #2</a></li>
						</ul>
		            </div>
	            </div>
            </blockquote>
            <blockquote>
	            <div class="flex-wrapper award-application">
		            <div class="left-col">
			            <h4 class="review-header"><strong>Applicant</strong></h4>
						<label>Name</label>
						<div class="review-text-field"><span id="account-name">Kevan Lu</span></div>
						<label>Medical School</label>
						<div class="review-text-field"><span id="account-school">Western University</span></div>
						<label>Graduating Year</label>
						<div class="review-text-field"><span id="account-grad-year">2017</span></div>
						<label>Email Address</label>
						<div class="review-text-field"><span id="account-email">klu2017@meds.uwo.ca</span></div>
		            </div>
		            <div class="right-col">
		            	<h4 class="review-header"><strong>Attached Files</strong></h4>
						<div class="review-text-field"><span id="account-name">Kevan Lu</span></div>
						<label>Medical School</label>
						<div class="review-text-field"><span id="account-school">Western University</span></div>
						<label>Graduating Year</label>
						<div class="review-text-field"><span id="account-grad-year">2017</span></div>
						<label>Email Address</label>
						<div class="review-text-field"><span id="account-email">klu2017@meds.uwo.ca</span></div>
		            </div>
	            </div>
            </blockquote>

		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>