---
title: MD Leadership Awards Instructions
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#travel-awards-instructions" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-finances-content">
			<h1 id="page-title">How to Apply</h1>
			{% if site.enable_leadership_awards %}
				<div class="members-only editable">
		            <a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>

					<p>La Fédération des étudiants et des étudiantes en médecine du Canada (FEMC) et Gestion financière MD (MD) souhaitent honorer des étudiants en médecine passionnés, dévoués et attentionnés de partout au Canada qui, par leur leadership, ont apporté une contribution novatrice à leur université et à leur collectivité.</p>
					<p>Un étudiant de chacune des 15 facultés de médecine membres de la FEMC se verra remettre, en reconnaissance de ses réalisations, le Prix du leadership FEMC-MD pour étudiants en médecine, qui comprend :</p>
					<ol>
						<li>un certificat de reconnaissance;</li>
						<li>une récompense en argent de 2 000 $;</li>
						<li>un voyage subventionné pour assister à la cérémonie de remise des prix durant l’Assemblée générale du printemps de la FEMC, qui aura lieu à Halifax du 27 au 29 avril 2018.</li>
					</ol>

					<blockquote>
						<h3><strong>Directives</strong></h3>
						<ul>
							<li><strong>Date limite</strong>: <span id="application-deadline">Le 22 janvier 2018, à 23 h 59 (HNE).</span></li>
							<li><strong>Il n’y aura aucune exception.</strong> Les candidatures reçues après la date limite seront <em>REJETÉES</em>, quelle que soit la raison du retard.</li>
							<li><strong>Une seule demande </strong>par candidat peut être présentée.</li>
							<li>Toute candidature incomplète à la date limite sera automatiquement rejetée.</li>
							<li>Les limites imposées quant au nombre de mots ou de pages sont fermes; toute candidature y dérogeant, quelle que soit la catégorie, sera automatiquement rejetée.</li>
							<li>Les lauréats seront joints par courriel au plus tard le 8 mars 2018. Ils recevront leur prix durant l’Assemblée générale du printemps de la FEMC, qui se tiendra du 27 au 29 avril 2018.</li>
						</ul>
					</blockquote>
					
					<h1><strong>Exigences (4 éléments)</strong></h1>
					<hr>
					<div id="reasons-financial-advisor">
						<ul>
							<li>Déclaration personnelle
								<p><strong>500 mots maximum</strong> &ndash; Veuillez inscrire le nombre total de mots à la suite de votre déclaration. Celle-ci devrait porter sur vos réalisations en matière de leadership et devrait :</p>
								<ol>
									<li>décrire votre contribution à la vie étudiante ou à la collectivité en général;</li>
									<li>expliquer la manière dont vous encouragez les autres à s’investir auprès de leur collectivité et à atteindre leurs buts (personnels, professionnels, de bien-être, etc.);</li>
									<li>nommer deux qualités que vous jugez essentielles au leadership chez les étudiants en médecine, et expliquer comment vos activités stimulent le développement de ces qualités, tant chez vous que chez les autres.</li>
								</ol>
								<p>Vous êtes encouragés à mettre en évidence l’aspect novateur de vos réalisations ainsi que votre contribution unique à la vie étudiante et communautaire.</p>
							</li>
							<li>Curriculum Vitae
								<p><strong>Une à deux pages maximum</strong> &ndash; Présentez les activités réalisées depuis l’année précédant le début de vos études en médecine. Choisissez celles qui vous semblent pertinentes pour le comité de sélection.</p>
							</li>
							<li>Lettre d’attestation de la faculté de médecine
								<p>Demandez au bureau du registraire ou aux responsables de la formation médicale de premier cycle de produire une lettre d’attestation officielle prouvant que vous êtes en règle, puis numérisez-la et ajoutez-la à votre demande. <strong>Cette lettre doit avoir été produite dans les quatre mois précédant la date limite de dépôt des candidatures.</strong></p>
								<p><strong>N.B.</strong>: Seule une lettre officielle venant de la faculté sera acceptée. Veuillez noter qu’il ne s’agit pas d’une confirmation d’inscription; une lettre d’attestation confirme que vous êtes un étudiant actif en médecine. Toute lettre autre qu’une lettre d’attestation officielle sera rejetée, et votre demande sera considérée comme incomplète.</p>
							</li>
							<li>Deux lettres de recommandation
								<p>Veuillez fournir deux lettres de recommandation (<strong>maximum de 400 à 600 mots chacune</strong>; veuillez aviser les répondants de cette limite) venant de personnes au courant de vos réalisations en matière de leadership.</p>
								<p>Une de ces lettres doit provenir d’un étudiant en médecine de votre faculté; l’autre peut venir d’une personne de votre choix (résident, membre du corps professoral, leader de la collectivité, médecin mentor, employeur, etc.). Veuillez inscrire les coordonnées de vos deux répondants, y compris leur numéro de téléphone et leur adresse courriel. Il est possible que la FEMC communique avec eux pour discuter de vos activités et de vos contributions en matière de leadership.</p>
								<p>Veuillez noter que les lettres de recommandation devront être ajoutées manuellement à votre demande en ligne. Vous pourrez aider vos répondants à accéder à l’application pour qu’ils le fassent, ou le faire vous-même, <strong>auquel cas vous devrez faire preuve de professionnalisme en assurant la confidentialité des lettres et en évitant de les modifier.</strong></p>
							</li>
						</ul>
						<blockquote>
							<p>Veuillez soumettre votre déclaration personnelle, votre curriculum vitæ, votre lettre d’attestation et vos deux lettres de recommandation en un seul document, qui devra être téléversé en format <strong>PDF</strong>, <strong>DOC</strong> ou <strong>DOCX</strong>.</p>
							<p>Les documents à l’appui de votre demande doivent être identifiés et présentés selon l’ordre suivant :</p>
							<ol>
								<li>Déclaration personnelle</li>
								<li>Curriculum vitæ</li>
								<li>Lettre d’attestation</li>
								<li>Lettres de recommandation</li>
							</ol>
						</blockquote>
					</div>
					<h1><strong>Admissibilité</strong></h1>
					<hr>
					<p>Tout étudiant en médecine fréquentant une faculté membre de la FEMC est admissible, <strong>à l’exception des étudiants siégeant ou ayant déjà siégé au conseil exécutif de la FEMC et de ceux ayant été officiers de la FEMC pendant leurs études.</strong></p>
					<blockquote>
						<h3><strong>Questions relatives à l’admissibilité</strong></h3>
						<p>Votre adhésion à la FEMC repose sur votre adhésion à votre société d’étudiants en médecine. Pour toute question relative à votre statut de membre de la FEMC ou à votre admissibilité au concours (étudiants en congé, étudiants d’un programme de M.D./Ph. D., etc.), veuillez consulter les règlements de votre société étudiante, ou communiquer avec celle-ci.</p>
					</blockquote>
					<h1><strong>Sélection des lauréats</strong></h1>
					<hr>
					<p>Le comité de sélection est formé d’anciens membres de la FEMC qui étaient des leaders actifs pendant leurs études et qui sont maintenant résidents ou médecins membres du personnel. Un processus de notation à plusieurs évaluateurs est utilisé afin d’assurer une évaluation juste et raisonnable des candidatures.</p>
					<p><strong>La FEMC considère que le professionnalisme des étudiants en médecine est extrêmement important. Ainsi, tout étudiant réputé avoir falsifié des renseignements verra sa candidature examinée et possiblement rejetée du concours.</strong></p>
					<h1><strong>Remise des prix</strong></h1>
					<hr>
					<p>Les lauréats seront invités à assister à la cérémonie de remise des prix durant l’Assemblée générale du printemps de la FEMC, qui se tiendra à Halifax du 27 au 29 avril 2018. Si un lauréat ne peut être présent à la cérémonie, son prix sera remis au représentant de sa faculté, qui l’acceptera en son nom. Les récompenses en argent seront remises en personne au cours de l’Assemblée, ou envoyées plus tard par la poste.</p>
					<p>De courtes biographies présentant les réalisations des lauréats seront affichées au <a href="http://www.cfms.org">www.cfms.org</a>; Gestion financière MD pourrait s’en servir à des fins promotionnelles.</p>
					<blockquote>
						<h3><strong>Posez votre candidature dès maintenant</strong></h3>
						<ul>
							<li>Cliquez <a href="md-leadership-awards-application.html">ici</a> pour poser votre candidature.</li>
							<li>Toute question relative au processus de candidature peut être adressée à Stephanie Smith, vice-présidente aux affaires étudiantes de la FEMC, à l’adresse <a href="mailto:vpstudentaffairs@cfms.org">vpstudentaffairs@cfms.org</a>, ou à Victor Do, représentant régional de l’Ouest de la FEMC, à l’adresse <a href="mailto:vdo@ualberta.ca">vdo@ualberta.ca</a>.</li>
						</ul>
					</blockquote>
					<div class="addendum">
						<p>Gestion financière MD offre des produits et services financiers, la famille de fonds MD et des services-conseils en placement par l’entremise du groupe de sociétés MD. Pour obtenir une liste détaillée de ces sociétés, veuillez consulter notre site à l’adresse <a href ="http://md.cma.ca/">md.cma.ca</a></p>
					</div>
				</div>
				<div class="non-members">
					<blockquote>
						<h3><strong>Merci de vous connecter pour voir cette page</strong></h3>
						<ul>
							<li><a class="login-modal" href="" onclick="return false;">Connectez-vous</a> sur le site Web de la FEMC afin de voir le contenu de cette page.</li>
						</ul>
					</blockquote>
				</div>
			{% else %}
				<a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>
				<blockquote>
					<h4><strong>{{ site.md_awards_closed_header }}</strong></h4>
					<ul>
						<li>{{ site.md_awards_closed_caption }}</li>
					</ul>
				</blockquote>
				<div class="addendum">
					<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
				</div>
			{% endif %}
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>