---
title: MD Travel Awards
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/resources.css" />
</head>
<body>
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#resources").classList.toggle("active");
</script>

<div class="finances-banner-outer">
    <div class="content finances-banner-inner" style="background-color:#69A99F;">
        <img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg" />
    </div>
</div>
<div class="finances content editable">
    <!--base32-c9gq6t9k68pk8c9j6tn7exk7chm6ewbaexu30tb8dmv62e1kddj3auhpc5t6pcb571kkcckpdcu38cbae1uqectrccuq8w3af5nkatb3cwvkgx9k6mu32tvg6tw36eb5ehn6mc3q6crp6y3ad8r2urk1edjk6cg-base32-->
    <div id="sidebar">
        <div id="scroll">
            <div class="admin-only"><span id="sidebar-title">Selection Committee</span>
                <ul>
                    <li><a id="review-applicants" href="md-leadership-awards-view-applications.html">View Applications</a></li>
                </ul>
            </div><span id="sidebar-title">Services aux &eacute;tudiants</span>
            <div class="members-only">
                <ul>
                    <li><a id="travel-awards-instructions" style="padding-left:15px;" href="/fr/resources/md-leadership-awards-instructions.html">Comment appliquer</a></li>
                    <li><a id="leadership-awards-apply-now" style="padding-left:15px;" href="/fr/resources/md-leadership-awards-application.html">Soumettre l'application</a></li>
                </ul>
            </div>
            <ul>
                <li><a id="finances" href="student-finances.html">Les finances des &eacute;tudiants</a></li>
                <li><a id="leadership-awards" href="/fr/resources/md-leadership-awards.html">Prix de leadership FEMC-MD</a></li>
                <!--base32-c9gq6t9k68pk8c9t6tgqcrk6cnu6mw1r70tppt1nd8v62e1kcxjkjukhcdup4tk5dtu6mc3rerwp8x3h6tgqeuvb6gr2urk1edjk6cg-base32-->
                <!--base32-c9gq6t9k68pk8c3t6tt7aebt6xm6euhgenh38dvdd0v74x3265hpgukh6hvqce346nt34xbjc9rp6dbm6rw7ex34cmrq8dk1f1m68tbrdnr7exkb6njkjx3a6gw36uv5d1vq0wkm75w38ebj6rt78ctmcguq2dk5c9h66rvedcvkgtb8d0v6wwhqcxjq8chm65pked3mc8v3evb869wq8uva6nw78dk1exv6ctbeegv3cx32dcuqgw3g71h64rv3dtkq0e3mc9n6at3d6tn7ecb4ccuqcw1jexnk8tb3e1rk0xvb6njq4w3hcnup4tb4ehn72d3qehjp8cbn6tuqcc9j6xu3gdtmehh70t1ne5rp2xvm61gkjukg6tup4tv46nn70xvr6dnketvhe0t6cu3q6nw70dkactm30bb2c5tpactj-base32-->
                <li><a id="travel-awards" class="cc-active" href="/fr/resources/md-travel-awards.html">Bourses de voyage MD</a></li>
            </ul> <span id="sidebar-title">Conseils financiers:</span>
            <ul>
                <li><a id="preclerkship" target="_blank" href="https://mdm.ca/fr/%c3%a9tapes-de-carri%c3%a8re/etudiants-en-medecine/gerer-vos-dettes">G&eacute;rer vos dettes</a></li>
                <li><a id="clerkship" target="_blank" href="https://mdm.ca/fr/%C3%A9tapes-de-carri%C3%A8re/etudiants-en-medecine/payer-vos-etudes-en-medecine">Payer vos &eacute;tudes en m&eacute;decine</a></li>
                <li><a id="electives" target="_blank" href="https://mdm.ca/fr/%c3%a9tapes-de-carri%c3%a8re/etudiants-en-medecine/vous-preparer-a-la-residence">Vous pr&eacute;parer &agrave; la r&eacute;sidence</a></li>
                <li><a id="residency" target="_blank" href="https://mdm.ca/fr/%C3%A9tapes-de-carri%C3%A8re/etudiants-en-medecine/des-ressources-pour-etudier-a-l-etranger">&Eacute;tudier &agrave; l&rsquo;&eacute;tranger</a></li>
            </ul> <span id="sidebar-title"><a class="cc-active" href="">T&eacute;moignages</a></span>
            <ul>
                <li><a id="testimonials" target="_blank" href="https://mdm.ca/fr/au-sujet-de-md/temoignages">T&eacute;moignages de vos coll&egrave;gues</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#travel-awards").classList.toggle("sidebar-active");
    </script>
    <div class="student-finances-content">
        <h1 id="page-title">Les bourses de voyage</h1><a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM.svg" /></a>
        <p>La FEMC et Gestion financi&egrave;re MD mettent des fonds de c&ocirc;t&eacute; annuellement afin de fournir une assistance financi&egrave;re pour des &eacute;tudiants en medicine membres de la FEMC qui souhaiteraient assister &agrave; nos Assembl&eacute;es g&eacute;n&eacute;rales (AG).</p>
        <p>Cette initiative aide des membres non &eacute;lus &agrave; assister &agrave; des rencontres de la FEMC dans le but d&rsquo;accro&icirc;tre leur connaissance de la structure et des multiples fonctions de notre organisation en plus d&rsquo;augmenter l&rsquo;int&eacute;r&ecirc;t de nos membres &agrave; participer &agrave; nos activit&eacute;s. Le processus d&rsquo;application est comp&eacute;titif et la FEMC re&ccedil;oit souvent beaucoup plus d&rsquo;applications que le nombre de places qu&rsquo;elle peut financer. Les candidats sont s&eacute;lectionn&eacute;s au m&eacute;rite de leur application &eacute;crite telle qu&rsquo;&eacute;valu&eacute;e par un comit&eacute; de selection.</p>
        <p><strong>Nouveaut&eacute; de cette ann&eacute;e: </strong>les financements de voyage seront distribu&eacute;s par r&eacute;gion afin de garantir une repr&eacute;sentation plus &eacute;gale des &eacute;tudiants(es) &agrave; travers le pays. 8 financements de voyage seront allou&eacute;s pour chaque assembl&eacute; g&eacute;n&eacute;rale: 2 pour la r&eacute;gion de l'Ouest, 1 pour la r&eacute;gion de l'Atlantique, 3 pour les r&eacute;gions du Qu&eacute;bec + de l'Ontario et 2 seront sans r&eacute;gions assign&eacute;es.</p>
        <p>Les bourses de voyage s'ouvriront un(1) mois avant chaque &eacute;v&eacute;nement. S'il vous pla&icirc;t, v&eacute;rifiez plus tard pour plus de d&eacute;tails.</p>
        <!--<p>Un appel à candidatures sera envoyé chaque année pendant les périodes suivantes:</p>
                <blockquote>
                    <ui>
                        <li>AG annuelle FEMC:</li>
                        <li>Journée de Lobbying FEMC:</li>
                        <li>AG du printemps FEMC:</li>
                    </ui>
                </blockquote>
                <p>Revenez consulter cette page durant ces périodes afin d'avoir plus d’information concernant les
                    applications.</p>-->
        <!--
                <p>Pour tous les details au sujet du processus d’application, veuillez vous référer au <a href="/files/updates/SGM2017 Application form_FRA.docx">document suivant</a>. La date limite pour soumettre une application est le <b>20 février 2017</b>. Celles-ci devraient être envoyées par courriel à Lucy Luo, Représentante regional du Québec, à <a href="mailto:quebec@cfms.org">quebec@cfms.org</a>.</p>
                        -->
        <blockquote>
            <h4><strong>Appliquer pour le Financement de voyage</strong></h4>
            <ul>
                <li>Applications pour le Financement de voyage sont <strong>OUVERT</strong>. Applicacion <a href="/uploads/SGM2018 Application form_FRA.docx">ici</a>.</li>
                <!-- Uncomment to open up registration information link 
                    <li>Date d'échéance: <strong>le 20 février 2017 à 23:59.</strong>.</li>
            
                    <div class="button"><strong><a href="http://www.cfms.org/files/meetings/sgm-2017/cfms-travel-awards/SGM2017 Application form_ENG.doc">Application Form (ENG)</a></strong></div>
                    <div class="button"><strong><a href="http://www.cfms.org/files/meetings/sgm-2017/cfms-travel-awards/SGM2017 Application form_FRA.docx">Application Form (FRA)</a></strong></div>
                    -->
            </ul>
        </blockquote>
        <div class="addendum">
            <p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href="http://md.cma.ca/">md.cma.ca</a></p>
        </div>
    </div>
</div>
<div>{% include footer.html %}</div>
</body>
