---
title: "Meetings"
sitemap:
  priority: 0.8
  changefreq: never
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>

	<!-- Upcoming Meeting -->
	<div id="top-meeting" style="background: url(/images/meeting-images/halifax_2018.jpg) no-repeat center 75%; background-size:cover">
		<div id="top-group">
			<div class="content editable">
				<div id="top-desc">ASSEMBLÉE À VENIR</div>
				<div id="top-meeting-name"><a href="sgm-2018-halifax.html">Assemblée générale du printemps 2018 de la FEMC</a></div>
				<div id="top-meeting-info">HALIFAX, NOUVELLE-ÉCOSSE / 27-28 AVRIL 2018</div>
			</div>
		</div>
	</div>
	<div id="meetings-columns">
		<div id="cfms-meetings" class="column">
			<h1>ASSEMBLÉES DE LA FEMC</h1>
			<p>Chaque année, la FEMC tient deux assemblées de membres, soit l’Assemblée générale annuelle (AGA) et l’Assemblée générale du printemps (AGP).</p>
			<p>Ces réunions sont des occasions pour les étudiants en médecine de l’ensemble du Canada de se rencontrer, afin de discuter d’enjeux importants tels que la formation médicale, la mobilisation, le bien-être, et plus encore.</p>
		</div>
		<div id="previous-meetings" class="column">
			<h1>ASSEMBLÉES ANTÉRIEURES<i id="meeting-icon" class="fa fa-plane"></i></h1>
			<ul>
				<li><a href="agm-2017-ottawa.html">AGA 2017 &ndash; Ottawa, ON</a></li>
				<li><a href="sgm-2017-winnipeg.html">AGP 2017 &ndash; Winnipeg, MB</a></li>
				<li><a href="agm-2016-edmonton.html">AGA 2016 &ndash; Edmonton, AB</a></li>
				<li><a href="sgm-2016-montreal.html">AGP 2016 &ndash; Montréal, QC</a></li>
				<li><a href="agm-2015-windsor.html">AGA 2015 &ndash; Windsor, ON</a></li>
				<li><a href="sgm-2015-vancouver.html">AGP 2015 &ndash; Vancouver, BC</a></li>
				<li><a href="agm-2014-kingston.html">AGA 2014 &ndash; Kingston, ON</a></li>
				<li><a href="sgm-2014-ottawa.html">AGP 2014 &ndash; Ottawa, ON</a></li>
			</ul>
		</div>
		<div class="editable" id="meeting-photos" class="column">
			<h1>Photos des Assemblées<i id="meeting-icon" class="fa fa-camera"></i></h1>			
			<a class="meeting-photo-link" href="https://goo.gl/photos/SRUHkZ4r7ZHifmgw8" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/edmonton-agm-2016.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>AGA 2016 &ndash; Edmonton, AB</span></div>
				</div>
			</a>
			<a class="meeting-photo-link" href="https://goo.gl/photos/ZwoYKMR3Af3Xogy56" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/montreal-sgm-2016.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>AGP 2016 &ndash; Montréal, QC</span></div>
				</div>
			</a>
			<a class="meeting-photo-link" href="https://goo.gl/photos/nrD5ANjXXGSe1cZb7" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/windsor-agm-2015.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>AGA 2015 &ndash; Windsor, ON</span></div>
				</div>
			</a>
			<a class="meeting-photo-link" href="https://goo.gl/photos/hbxMsju3yQwocZbWA" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/vancouver-sgm-2015.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>AGP 2015 &ndash; Vancouver, BC</span></div>
				</div>
			</a>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>