---
title: Advocacy Toolkit
sitemap:
priority: 0.6
changefreq: monthly
role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}
    <script type="text/javascript">
        document.querySelector( "#advocacy-toolkit" ).classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Advocacy Toolkit</h1>
        <h3>A practical guide for medical students interested in advocacy</h3>
        <br />

        <iframe width="560" height="315" src="https://www.youtube.com/embed/mmjx56iuClo?rel=0" frameborder="0" allowfullscreen=""></iframe>

        <h2><strong>Introduction:</strong></h2>

        <p>This document is a compilation of research and direct experiences of medical students interested in health advocacy. It outlines the actions involved in translating advocacy goals into reality. Within any advocacy project, there are a variety of techniques and methods that can be effectively used.
            This toolkit simply provides perspectives and suggestions that may be applied to your advocacy work. We hope you will find it useful!</p>

        <h2><strong>Table of Contents:</strong></h2>
        <ol>
            <li><a href="passion.html">PASSION: Generating Interest and Raising Awareness</a></li>
            <li><a href="knowledge.html">KNOWLEDGE: Evidence-Based Health Policy Resources</a></li>
            <li><a href="connections.html">CONNECTIONS: Important Points of Contact</a></li>
            <li><a href="communication.html">COMMUNICATION: Avenues for Delivering Your Message</a></li>
            <li><a href="resources-supporting-advocacy.html.html">RESOURCES: Supporting Advocacy</a></li>
            <li><a href="success.html">SUCCESS: Examples of Medical Student Advocacy</a></li>
        </ol>

        <br />
        <p>Thank-you for your interest in health advocacy! We hope this guide will be of some use as you work towards your advocacy goals. One of the most important aspects of advocacy is its need for continued energy and support. It is very rare for an advocacy objective to be achieved with the first attempt. Persistent advocates are successful advocates - many years and multiple attempts
            may be needed to translate your vision into reality. Remember the patients you are helping to serve for continued motivation and passion.</p>

        <br />

        <p>We wish you all the best for your advocacy efforts!</p>


        <h2><strong>Contributing Writers</strong></h2>
        <ul style="list-style:none">
            <li>Melanie Bechard (University of Toronto)</li>
            <li>Anthea Girdwood (University of Ottawa)</li>
            <li>Katarina Janic (Queen's University)</li>
            <li>Michael Liss (University of Toronto)</li>
            <li>Emily Milko (McMaster University)</li>
            <li>Naomi Mudachi (Western University)</li>
            <li>Swapna Mylabathula (University of Toronto)</li>
            <li>Hollis Roth (Queen's University)</li>
            <li>Antonia Sappong (University of British Columbia)</li>
            <li>Patrick Steadman (University of Toronto)</li>
            <li>Carol Wang (University of Alberta)</li>
        </ul>
    </div>
</div>
{% include footer.html %}
</body>
</html>