---
title: Knowledge
sitemap:
  priority: 0.4
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}

    <div id="side-content" class="editable">
        <h1 id="page-title">KNOWLEDGE: Evidence-Based Health Policy Resources</h1>
        <br />

        <p>The following are a list of databases intended to assist students in finding evidence to strengthen their advocacy
            projects. Each database is accompanied by a link for access, a recommendation for its best use, and tips on
            effectively using the database.</p>
        <br />
        <h2><strong>Health Systems Evidence</strong></h2>

        <p>Found at: <a href="http://www.mcmasterhealthforum.org/healthsystemsevidence-en">http://www.mcmasterhealthforum.org/healthsystemsevidence-en</a></p>
        <ul>
            <li>The world’s most comprehensive repository of evidence (primarily systematic reviews) on strengthening or reforming health systems.</li>
            <li><strong>Best for</strong> students whose advocacy issue deals with health systems arrangement or implementation strategies.</li>
        </ul>

        <p>To Use:</p>
        <ul>
            <li>Provide an email address to create an account to access the site free of charge.</li>
            <li>Search the site using the open search or advanced search.</li>
            <li>The search will bring a list of publications accompanied by the type of document, an AMSTAR quality rating and, a list of the countries
                in which the studies were conducted or that are the focus of the document. Clicking on the “Create a 1-Page Summary” will allow you to access a user-friendly summary,
                and links to the scientific abstract and full-text report when available.</li>
            <li>If you are feeling particularly ambitious, explore the useful resources which are accessible on the main search page, including:</li>
                <ul>
                    <li>Search tips</li>
                    <li>Related tools</li>
                    <li>A 3 part module on Finding and Using Research Evidence:</li>
                    <ul>
                        <li>Module 1: Clarifying a Problem</li>
                        <li>Module 2: Framing Options to Address the Problem</li>
                        <li>Module 3: Bringing About Change</li>

                    </ul>
                </ul>
        </ul>

        <h2><strong>The Cochrane Library</strong></h2>

        <p>Found at: <a href="http://www.thecochranelibrary.com/view/0/index.html">http://www.thecochranelibrary.com/view/0/index.html</a></p>

        <ul>
            <li>Seven databases make up this comprehensive database, which houses systematic reviews, abstracts of systematic reviews
                about clinical and public health issues, and health technology assessments and economic evaluations.</li>
            <li><strong>Best for</strong> students whose advocacy issue involves clinical programs, services or drugs, or economic evaluations of
                programs, services or drugs.</li>
        </ul>

        <p>To Use:</p>

        <ul>
            <li>Advanced search is highly recommended, as the Cochrane Library is a compilation of seven databases, resulting
                in an overwhelming number of hits for most simple search terms.</li>
            <li>Use the search limits to specify your search to include or exclude Cochrane reviews, other reviews, trials,
                methods studies, technology assessments, economic evaluations or Cochrane groups, and to limit the years of publication.</li>
            <li>Make use of the user guides, free online tutorials available 24/7 or sign up for one of the monthly online workshops. Access them at
            <a href="http://olabout.wiley.com/WileyCDA/Section/id-390244.html.">http://olabout.wiley.com/WileyCDA/Section/id-390244.html.</a></li>
        </ul>

        <h2><strong>PubMed</strong></h2>
        <p>Found at: <a href="http://www.ncbi.nlm.nih.gov/pubmed">http://www.ncbi.nlm.nih.gov/pubmed</a></p>

        <ul>
            <li>A database of biomedical literature (not specific to systematic reviews).</li>
            <li>Best for searching biomedical issues, such as effectiveness of treatments or drugs.</li>
            <li>Health Services Research PubMed Queries is best for students searching for qualitative evidence
                regarding healthcare quality and costs, and is accessible at <a href="http://www.nlm.nih.gov/nichsr/hedges/search.html.">http://www.nlm.nih.gov/nichsr/hedges/search.html.</a></li>
        </ul>

        <p>To Use:</p>
        <ul>
            <li>This is a free database to access and use, no account required.</li>
            <li>Make use of the “limits” option to make the search more specific in terms of type of resources, years,
                etc., and the advanced search is recommended to help narrow the number of articles retrieved.</li>
            <li>When using HSR PubMed Queries, take note of the Category and Scope limits to help maximize search engine outcome.</li>
        </ul>

        <h2><strong>Canadian Institute for Health Information (CIHI)</strong></h2>

        <p>Found at: <a href="http://www.cihi.ca/CIHI-ext-portal/internet/EN/Home/home/cihi000001">http://www.cihi.ca/CIHI-ext-portal/internet/EN/Home/home/cihi000001</a></p>
        <ul>
            <li>A multi-purpose website for the CIHI which includes a large depository of statistics surrounding Canadian health and health care.</li>
            <li>Best for accessing Canadian statistics relevant to your advocacy project.</li>
        </ul>

        <p>To Use:</p>
        <ul>
            <li>The ‘Publicly accessible data’ includes statistics on wait times, from the ‘Canadian Hospital Reporting
                Project’ and ‘Patient Cost Estimator’, published topic-specific analytical reports and ‘Quick Stats’.</li>
            <li>Accessing ‘Quick Stats’ will be most useful for finding aggregate-level reports about Canada’s health care statistics.</li>
        </ul>

        <h2><strong>National Physician Survey</strong></h2>

        <p>Found at: <a href="http://nationalphysiciansurvey.ca/">http://nationalphysiciansurvey.ca/</a></p>

        <ul>
            <li>A website that houses results from the periodic surveys of the Canadian medical profession.</li>
            <li>Best for comparing health systems information between different regions and different populations
                within Canada. Particularly useful for physician demographics.</li>
        </ul>

        <p>To Use:</p>

        <ul>
            <li>Selecting the ‘Navigation’ button in the top right corner will allow you to use a search tool bar to
                most efficiently access data on specific topics that best suit your needs.</li>
            <li>You may also want to select the ‘All Surveys’ tab to access the complete surveys from 2004, 2007, 2010 and 2012.</li>
            <li>Selecting the ‘Latest Data’ tab will help you access the most up-to-date compiled survey data.</li>
        </ul>

        <h4><strong>Additional Tips</strong></h4>

        <ul>
            <li>To ensure access to largest number of articles possible, sign in to your university’s library, which will
                provide access to all the journals and articles the library has a subscription to or purchases.</li>
            <li>The CMA offers a service whereby you can receive assistance from a CMA librarian in conducting MEDLINE
                searches, helping plan search strategies or providing assistance in using clinical resources.</li>
        </ul>

        <div>
            <a class="floatLeft" href="passion.html">Back</a>
            <a class="floatRight" href="connections.html">Forward</a>

        </div>


    </div>
</div>
{% include footer.html %}
</body>
</html>