---
title: Letter Writing Campaign
sitemap:
  priority: 0.4
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}

    <div id="side-content" class="editable">
        <h1 id="page-title">{{page.title}}</h1>
        <p>What is it?<br>Many politicians have described the importance and impact of letters. A letter-writing campaign
            works best in high volume; a response is typically elicited when many people send a letter.</p>

        <p><br>Alternatives to writing a letter include post-cards, where the key message is on one side and a place to personalize the card is on the other. These can be pre-addressed with paid postage as well.</p>

        <p><br>The disadvantages of letter-writing campaigns centre around the logistics of mobilizing people to write letters en masse. The lack of follow-up and engagement after this campaign also limits its usefulness.</p>

        <p><br>How to do it?<br>A short letter that is to the point and not overly aggressive helps ensure your message is received without becoming offensive.</p>

        <p><br>Steps to coordinating a letter-writing campaign:</p>

        <ol>
            <li>Identify to whom you should write. This includes leaders on your advocacy issue, politicians at several levels of government (depends on which government oversees your issue), and patient groups.</li>
            <li>Consider your mode of delivery<ol style="list-style-type: lower-alpha;">
                <li>Email: Many politicians receive hundreds, if not thousands, of emails each day.&nbsp;Furthermore, they may not read them but rather delegate that task to their staff. This can result in your message being overlooked. Members of Parliament tend to be more responsive to letters from constituents, who are potential voters.</li>
                <li>Mail: This produces a physical mass that conveys the issue and may make your message more likely to be read and addressed. Further, politicians often read their own mail, especially personal constituent letters. The person’s name and address on the letter allows them to know who is sending the letter. Emails do not provide this same sense of knowing a real person sent it.<ol style="list-style-type: lower-roman;">
                    <li>If possible, provide postage</li>
                    <li>Provide the correct mailing addresses for potential recipients</li>
                </ol></li>
            </ol></li>
            <li>Set up a template to ensure your letter gets sent in a high volume and for others to easily personalize and mail. Briefly, the letter should include:<ol style="list-style-type: lower-alpha;">
                <li>A description of the issue in clear language.</li>
                <li>A concise explanation of the problem; put the issue in a context that the recipient will understand easily. Include information that supports your position and how the issue affects you personally.</li>
                <li>Explain what you want the official to do about the problem, laying out the specific actions you want him or her to take on this problem. Being specific makes it clear what the recipient can do to address the issue.</li>
                <li>Tips: Offer your expertise. As a medical student, you may have experiential or trained expertise. Use simple language and limit medical terminology. Your name and address are necessary so the recipient can respond.</li>
            </ol></li>
            <li>Write in groups or individually. A group effort (e.g. letter-writing party) may increase your volume.</li>
            <li>Delivery of written letters can be done by hand or mailed en masse. This may be a cost-effective means of delivery. Alternatively the letters can be mailed individually. Both individually and in batch-form can be effective.</li>
        </ol>

        <p>Note that letters can be mailed to Members of Parliament and Senators postage-free by following the format outlined below:&nbsp;<a href="http://www.parl.gc.ca/senatorsmembers.aspx?Language=E">http://www.parl.gc.ca/senatorsmembers.aspx?Language=E</a></p>

        <p>References and Sample Letters<br><a href="http://www.ted.com/talks/omar_ahmad_political_change_with_pen_and_paper?language=en">http://www.ted.com/talks/omar_ahmad_political_change_with_pen_and_paper?language=en</a></p>

        <p><a href="http://www.dosomething.org/actnow/actionguide/how-organize-a-letter-writing-campaign">http://www.dosomething.org/actnow/actionguide/how-organize-a-letter-writing-campaign</a></p>

        <p><a href="http://www.dosomething.org/actnow/actionguide/write-a-letter-to-elected-official">http://www.dosomething.org/actnow/actionguide/write-a-letter-to-elected-official</a>(sample letters)</p>

        <p><a href="http://www.amsa.org/AMSA/Homepage/About/Committees/Grassroots/LetterWritingCampaigns.aspx">http://www.amsa.org/AMSA/Homepage/About/Committees/Grassroots/LetterWritingCampaigns.aspx</a></p>

        <div>
            <a class="floatLeft" href="letters-to-editor.html">Back</a>
            <a class="floatRight" href="direct-action.html">Forward</a>
        </div>








    </div>
</div>
{% include footer.html %}
</body>
</html>