---
title: Resources Supporting Advocacy
sitemap:
  priority: 0.4
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}

    <div id="side-content" class="editable">
        <h1 id="page-title">Resources Supporting Advocacy</h1>

        <p><span style="text-decoration: underline;"><strong>Advocacy Toolkits</strong></span></p>
        <p><strong>Canadan Medical Association: Guide to Political Action</strong></p>
        <p><a href="https://www.cma.ca/Assets/assets-library/document/en/advocacy/MD-MP-SkillsGuidebook-e.pdf">https://www.cma.ca/Assets/assets-library/document/en/advocacy/MD-MP-SkillsGuidebook-e.pdf</a></p>
        <ul>
            <li>Introductory, 20-page guide to Canadian government and physician advocacy</li>
            <li>Describes how bills become law, glossary of terms, template conversations with Members of Parliament</li>
        </ul>
        <p><strong>Canadian Medical Association: MD-MP Contact Program</strong></p>
        <p><a href="https://www.cma.ca/Assets/assets-library/document/en/advocacy/MD-MP-Handbook-e.pdf">https://www.cma.ca/Assets/assets-library/document/en/advocacy/MD-MP-Handbook-e.pdf</a></p>
        <ul>
            <li><span style="font-family: Arial, sans-serif;">Introductory, 16-page guide to effective conversations with Members of Parliament, building relationships, and letter-writing</span></li>
        </ul>
        <p><span style="text-decoration: underline;"><strong>Presentations and Seminars</strong></span></p>
        <p><strong>Canadian Medical Association: Advocacy Skills Training</strong></p>
        <p><span style="font-size: 8pt; font-family: verdana, geneva;"><span style="line-height: 115%;"><a href="https://www.cma.ca/En/Pages/advocacy-skills-training.aspx">https://www.cma.ca/En/Pages/advocacy-skills-training.aspx</a></span></span></p>
        <ul>
            <li>CMA staff and guest speakers may be able to provide an introduction to government, policy, and advocacy via webinars, videoconferences, or in-person events</li>
            <li>Contact <script type="text/javascript">
                <!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy33611 = 'gr&#97;ssr&#111;&#111;ts' + '&#64;';
                addy33611 = addy33611 + 'cm&#97;' + '&#46;' + 'c&#97;';
                var addy_text33611 = 'gr&#97;ssr&#111;&#111;ts' + '&#64;' + 'cm&#97;' + '&#46;' + 'c&#97;';
                document.write('<a ' + path + '\'' + prefix + ':' + addy33611 + '\'>');
                document.write(addy_text33611);
                document.write('<\/a>');
                //-->\n </script><a href="mailto:grassroots@cma.ca">grassroots@cma.ca</a><script type="text/javascript">
                <!--
                document.write('<span style=\'display: none;\'>');
                //-->
            </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>&nbsp;for more information or 1-800-682-6367</li>
        </ul>
        <p><span style="text-decoration: underline;"><strong>Financial Resources</strong></span></p>
        <p><strong>Canadian Federation of Medical Students: Student Initiative Grants</strong></p>
        <p style="margin-bottom: 0.0001pt;"><span style="font-family: verdana, geneva; font-size: 8pt;"><a href="/index.php/member-benefits-3/funding-opportunities/student-initiative-grant.html?id=149">http://www.cfms.org/index.php?option=com_content&amp;view=article&amp;id=149&amp;Itemid=1026&amp;lang=en</a></span></p>
        <ul>
            <li>Funding available for projects that enhance medical education, the health care system, or the local community</li>
        </ul>
        <p><strong>Alberta Medical Association: Emerging Leaders in Health Promotion Grant Program</strong></p>
        <p style="margin-bottom: 0.0001pt;"><span style="font-family: verdana, geneva; font-size: 8pt;"><a href="https://www.albertadoctors.org/about/awards/health-promo-grant">https://www.albertadoctors.org/about/awards/health-promo-grant</a></span></p>
        <ul>
            <li>Grant program for the health advocacy initiatives of medical students and residents</li>
        </ul>
        <p><strong>Ontario Medical Students Association: Innovator Grants</strong></p>
        <p style="margin-bottom: 0.0001pt;"><span style="font-family: verdana, geneva; font-size: 8pt;"><a href="http://www.omsa.ca/">http://www.omsa.ca/</a></span></p>
        <ul>
            <li>Funding available for projects that enhance Ontario medical education, the provincial health care system, or the community</li>
        </ul>
        <p><span style="text-decoration: underline;"><strong>Advocacy Awards</strong></span></p>
        <p><strong>Canadian Medical Association: Sir Charles Tupper Award for Political Action</strong></p>
        <p><span style="font-size: 8pt; line-height: 115%; font-family: verdana, geneva;"><a href="https://www.cma.ca/En/Pages/charles-tupper-award.aspx">https://www.cma.ca/En/Pages/charles-tupper-award.aspx</a></span></p>
        <ul>
            <li>The Sir Charles Tupper Award is presented at General Council to a member of the MD-MP Contact Program or other CMA member who has demonstrated leadership, commitment, and dedication in advancing the goals and policies of the CMA through grassroots advocacy</li>
        </ul>
        <p><strong>Canadian Medical Association: Awards for Young Leaders</strong></p>
        <p style="margin-bottom: 0.0001pt;"><span style="font-family: verdana, geneva; font-size: 8pt;"><a href="https://www.cma.ca/En/Pages/awards-young-leaders.aspx">https://www.cma.ca/En/Pages/awards-young-leaders.aspx</a></span></p>
        <ul>
            <li>Awarded for exemplary commitment and leadership in one of the following domains: political, clinical, education, research and community service</li>
        </ul>
        <p><strong>Doctors of British Columbia: Changemaker Award</strong></p>
        <p style="margin-bottom: 0.0001pt;"><span style="font-family: verdana, geneva; font-size: 8pt;"><a href="https://www.doctorsofbc.ca/resource-centre/awards-scholarships/changemaker-medical-resident-and-medical-student-advocate-awards">https://www.doctorsofbc.ca/resource-centre/awards-scholarships/changemaker-medical-resident-and-medical-student-advocate-awards</a></span></p>
        <ul>
            <li>The Changemaker Award recognizes medical residents and students who have demonstrated exemplary leadership and dedication to the cause of advancing the policies, views, and goals of Doctors of BC, or of a medical resident / student organization in BC, through grassroots advocacy efforts</li>
        </ul>



        <div>
            <a class="floatLeft" href=".">Back</a>
            <a class="floatRight" href="success.html">Forward</a>
        </div>

    </div>
</div>
{% include footer.html %}
</body>
</html>