---
title: "CFMS in the News"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/news.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#news" ).classList.toggle("active");
	</script>

	<div id="archives" class="content">
		<div id="archives-title">{{ page.title }}</div>
   		<div id="aside">
			<h6>About the CFMS</h6>
			{{ site.about_cfms }}
		</div>
		<div class="news-home-list">
			<!-- YEAR 2015 -->
			<div class="news-year"><span>2015</span></div>

			<!-- CFMS at Standing Committee on Health -->
			<div class="news-date">Mar 12</div>
			<li>
				<div class="news-link"><a href="http://parlvu.parl.gc.ca/parlvu/ContentEntityDetailView.aspx?contententityid=12695&amp;date=20150312&amp;lang=en">CFMS at Standing Committee on Health</a>
					<div class="news-publication">HESA</div>
				</div>
			</li>
			<!-- Senate Question Period: Universal Pharmacare -->
			<div class="news-date">Jan 29</div>
			<li>
				<div class="news-link"><a href="http://liberalsenateforum.ca/your-question-period/universal-pharmacare/">Senate Question Period: Universal Pharmacare</a>
					<div class="news-publication">Senate QP</div>
				</div>
			</li>

			<!-- YEAR 2014 -->
			<div class="news-year"><span>2014</span></div>
			<!-- It's time for a universal pharmacare system -->
			<div class="news-date">Dec 11</div>
			<li>
				<div class="news-link"><a href="http://www.thestar.com/opinion/commentary/2014/12/11/its_time_for_a_universal_pharmacare_system.html">It's time for a universal pharmacare system</a>
					<div class="news-publication">Toronto Star</div>
				</div>
			</li>
			<!-- Pharmacare TV Interview for CFMS Lobby Day -->
			<div class="news-date">Nov 24</div>
			<li>
				<div class="news-link"><a href="http://www.cpac.ca/en/digital-archives/?search=November+24%2C+2014">Pharmacare TV Interview for CFMS Lobby Day</a>
					<div class="news-publication">CPAC</div>
				</div>
			</li>
			<!-- How other communities solve health care problems -->
			<div class="news-date">Aug 26</div>
			<li>
				<div class="news-link"><a href="http://www.alaskahighwaynews.ca/news/local-news/how-other-communities-solve-health-care-problems-1.1329213">How other communities solve health care problems</a>
					<div class="news-publication">Alaska Highway News</div>
				</div>
			</li>
			<!-- Loan deferral during residency: a win-win solution -->
			<div class="news-date">Mar 3</div>
			<li>
				<div class="news-link"><a href="http://healthydebate.ca/opinions/loan-deferral-during-residency-a-win-win-solution">Loan deferral during residency: a win-win solution</a>
					<div class="news-publication">Healthy Debate</div>
				</div>
			</li>
			<!-- Med students head to Ottawa, lobby for relief of student loans and affordable housing  -->
			<div class="news-date">Feb 2</div>
			<li>
				<div class="news-link"><a href="http://cupwire.ca/2014/02/02/med-students-head-ottawa-lobby-relief-student-loans-affordable-housing/">Med students head to Ottawa, lobby for relief of student loans and affordable housing</a>
					<div class="news-publication">Canadian University Press</div>
				</div>
			</li>

			<!-- YEAR 2013 -->
			<div class="news-year"><span>2013</span></div>
			<!-- Pharma influence widespread at medical schools: study  -->
			<div class="news-date">Aug 9</div>
			<li>
				<div class="news-link"><a href="http://www.cmaj.ca/site/earlyreleases/9aug13_pharma-influence-widespread-at-medical-schools-study.xhtml">Pharma influence widespread at medical schools: study</a>
					<div class="news-publication">CMAJ</div>
				</div>
			</li>
			<!-- The changing face of McGill medical students -->
			<div class="news-date">Aug 9</div>
			<li>
				<div class="news-link"><a href="http://www.montrealgazette.com/news/changing+face+McGill+medical+students/8770876/story.html">The changing face of McGill medical students</a>
					<div class="news-publication">The Montreal Gazette</div>
				</div>
			</li>
			<!-- How much interaction should medical students have with industry? -->
			<div class="news-date">Jul 11</div>
			<li>
				<div class="news-link"><a href="http://healthydebate.ca/2013/07/topic/politics-of-health-care/medical-schools-is-there-any-role-for-industry-involvement">How much interaction should medical students have with industry?</a>
					<div class="news-publication">Healthy Debate</div>
				</div>
			</li>
			<!-- Women in Canada embrace opportunities for higher education: Statcan survey -->
			<div class="news-date">Jun 26</div>
			<li>
				<div class="news-link"><a href="http://www.theprovince.com/news/Women+Canada+embrace+opportunities+higher+education+Statcan/8580666/story.html">Women in Canada embrace opportunities for higher education: Statcan survey</a>
					<div class="news-publication">The Canadian Press / The Province / The Calgary Herald / The Montreal Gazette / The Ottawa Citizen / The Windsor Star / The Winnipeg Free Press / The Vancouver Sun / MacLean's</div>
				</div>
			</li>
			<!-- Refugee Care: We are standing up to say that this is wrong -->
			<div class="news-date">Jun 14</div>
			<li>
				<div class="news-link"><a href="http://www.huffingtonpost.ca/claudel-p/refugee-care_b_3441782.html">Refugee Care: We are standing up to say that this is wrong</a>
					<div class="news-publication">The Huffington Post Blog</div>
				</div>
			</li>
			<!-- Medical student debt and new BC rural incentive program -->
			<div class="news-date">Mar 19</div>
			<li>
				<div class="news-link"><a href="http://www.cfax1070.com/Media/CFAX-Podcasts/CFAX-Afternoons/March-19,-2013-10am">Medical student debt and new BC rural incentive program</a>
					<div class="news-publication">CFAX Radio Victoria</div>
				</div>
			</li>
			<!-- Patients without doctors, doctors without jobs -->
			<div class="news-date">Feb 13</div>
			<li>
				<div class="news-link"><a href="http://www.cbc.ca/thecurrent/popupaudio.html?clipIds=2334542486">Patients without doctors, doctors without jobs</a>
					<div class="news-publication">CBC The Current</div>
				</div>
			</li>
			<!-- Les futures medecins visitent la colline du Parlement -->
			<div class="news-date">Feb 4</div>
			<li>
				<div class="news-link"><a href="http://www.radio-canada.ca/emissions/bernier_et_cie/2012-2013/chronique.asp?idChronique=271938">Les futures medecins visitent la colline du Parlement</a>
					<div class="news-publication">Radio-Canada</div>
				</div>
			</li>
			<!-- Med students call for federal action on health human resources management -->
			<div class="news-date">Feb 4</div>
			<li>
				<div class="news-link"><a href="http://www.hilltimes.com/news/policy-briefing/2013/02/04/med-students-call-for-federal-action-on-health-human-resources/33559">Med students call for federal action on health human resources management</a>
					<div class="news-publication">The Hill Times</div>
				</div>
			</li>
			<!-- Medical students to lobby on debt, healthcare demand projections -->
			<div class="news-date">Feb 2</div>
			<li>
				<div class="news-link"><a href="http://www.lobbymonitor.ca/2013/02/01/medical-students-to-lobby-on-debt-healthcare-demand-projections/11424">Medical students to lobby on debt, healthcare demand projections</a>
					<div class="news-publication">The Lobby Monitor</div>
				</div>
			</li>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>