---
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector("#logo-invert").classList.toggle("hidden");
    document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector("#blood-drive").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Blood Drive</h1>
        <h2 class="text-red">2011 Update</h2>
        <p>Continuing the invaluable efforts of previous CFMS blood drive officers and all the medical students who have
            been contributing to the blood drive efforts, the Partners for Life (PFL) program has been a success – the 
            donation units of 2010 is approximately 80% of our goal! In addition in sustaining long-term partnership with 
            Canadian Blood Services, PFL also encourages student to donate at a consistent basis. Blood donation is a truly 
            cumulative effort of many dedicated donors and volunteers/staff.</p>
        
        <p>One of the great advantages of PFL is its flexibility – once the CFMS students have signed up as a PFL member 
            (via submitting a PFL form to the staff at the local clinic or online), your donations will count towards your
            medical school’s pledge even if you are half way across the country!</p>
        
        <p>In addition to blood donation, different schools have been taking initiatives to raise awareness and encourage 
            students to come out to donate. While some have continued their excellent efforts in volunteer programs held by 
            Canadian Blood Services, other have went around to different primary schools to present educational information 
            related to blood, or have introduced challenges within their own medical school to as a way of promoting blood donation.</p>
        
        <p>While many of us are aware of its importance, blood donation is more than a genuine effort in helping people; it can save lives in a subtle yet meaningful way.</p>
        
        <p>Shall you have any questions and would like to find out more information about how to get involved in the blood donation efforts at your school,
            please contact your local school’s Champion, or myself at <a href="mailto:ccheu009@uottawa.ca">ccheu009@uottawa.ca</a></p>
        
        <p>Roll up those white coats & Happy bleeding!</p>
        <p><span class="letter-signature">Crystal Cheung</span></p>
        <div class="letter-sign-children">
            <p>CFMS Blood Drive Officer</p>
            <p>Canadian Blood Service National PFL Champion</p>
        </div>
        
        
        <hr>
        <h2 class="text-red">2010 Update</h2>
        <a href="/files/blood-drive/blooddrive2010.pdf" target="_blank">Recent article on the blood drive</a>
        <p></p>
        <p>In previous years, the CFMS blood drive was a once a year event, but this past year we started a new program with 
            Canadian Blood Services that helps us contribute all year long! The CFMS is CBS’ longest standing partner 
            (it’s true – look it up!), and we have decided to move forward with that partnership and become part of the Partners For Life (PFL)
            program which will really help us maximize the donations we make across the country. Entering into a PFL partnership gives us 
            access to CBS’ vast resources and nationwide team of coordinators who will help organize and promote blood donation opportunities 
            to med students at every CFMS school. Through the PFL program, CBS will help us organize our efforts and help make sure that every 
            student at every school is aware of the donation events available in their community. I am very confident that through the PFL program, 
            CBS will help us reach donation numbers that we would have previously thought impossible to achieve. Our goal for this year is 1000 
            donations, and we are getting closer to that number every day!</p>
        
        <p>One of the great things about our partnership with CBS is that they not only make sure that we are reaching our donation potential, 
            but they also help us find ways to get everyone involved with the very important work of getting blood products to the patients who 
            need them. Last year, several schools across the country took advantage of this opportunity and got involved with volunteer programs 
            held by CBS to help raise awareness in their communities of the great need for blood products. There is much more to the work of supplying 
            blood products than just lying on a table to bleed; CBS is helping us go beyond a blood drive to get more involved in the many different 
            ways CBS helps the communities we all belong to.</p>
        
        <p>If you would like to get involved either by donating or volunteering your time and talents, contact your campus’ blood drive Champion, 
            or contact the national Champion at <a href="mailto:blood@cfms.org">blood@cfms.org</a> or <a href="mailto:mike.bevilacqua@med.ucalgary.ca">mike.bevilacqua@med.ucalgary.ca.</a></p>
        
        <p>Roll up your whitecoats and give!!</p>

        <p><span class="letter-signature">Mike Bevilacqua</span></p>
        <div class="letter-sign-children">
            <p>CFMS Blood Drive Officer</p>
            <p>National PFL Champion</p>
            <a href="/files/blood-drive/DrGrahamblooddrive2010letter.pdf" target="_blank">Letter from Dr. Graham Sher, CEO of Canadian Blood Services, to the CFMS</a>
        </div>
        
        <hr>
        <h2 class="text-red">2009 Update</h2>
        <p>Dear Members of the CFMS:</p>
        <p>To begin with, I would like to thank all of you who have taken your time to support the Canadian Blood Services 
            Partners for Life program. It may sound cliché but your efforts truly are life saving.</p>
        
        <p>As I write this letter, I’m a third-year med student at the University of Alberta, but not too long ago I was a 
            14 year old battling acute myelogenous leukemia. While it was an unfortunate diagnosis, I still consider myself 
            very lucky for two reasons: 1) because my sister was the perfect match for a stem cell transplant and 2) because 
            of the selfless donors who made my treatment possible. During the course of my chemo and transplant I received 30+ 
            blood product transfusions including red blood cells, platelets and stem cells. In other words, people like you 
            saved my life more than 30 times.</p>
        <p>Speaking now as a medical student, it’s no secret that most of us venture down this long path to becoming doctors 
            so we can make a difference in the lives of others. With this in mind, it’s also no surprise to see such a strong 
            contingent of my peers taking their time to give blood.</p>
        
        <p>On that note, I want to thank you again for offering your time and blood to save lives of people like me. And for 
            those of you out there considering donating, I encourage you to take that step and roll up your sleeve. You never
            know whose life you could save.</p>

        <p><span class="letter-signature">Chris Blackmore,</span></p>
        <div class="letter-sign-children">
            <p>University of Alberta Med 2010</p>
        </div>
        
        
    </div>
</div>
{% include footer.html %}
</body>
