---
title: Longitudinal Wellness Initiative
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#longitudinal-wellness-initiative" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<div>
                <p>
                    <img src="/images/lwi-images/longitudinal-wellness-initiative.png">
                </p>
            </div>
			<h1 id="page-title">Longitudinal Wellness Initiative - Meet the Team</h1>
			<p>We are very excited to announce the launch of the CFMS Longitudinal Wellness Initiative! This new exciting initiative strives to highlight supportive strategies and resources to promote different components of wellness. Additionally we will be highlighting medical students across Canada and their wellness journeys. We hope to  inspire and encourage connectedness, support, and discussion around wellness in medicine.<br><br>We will be focusing on one aspect of wellness over a two month period throughout the year, beginning with Nutrition in March and April and moving to Mental wellness in May and June of 2018. After the summer break we will start the school year with Physical wellness in September and October, then move to Social/Relationships wellness in November-December. Stay tuned for our posts on the CFMS website, our social media and CFMS Communique featuring student Spotlights and wellness resources. Stay tuned for opportunities to get involved!</p>
			<ul>
				<li><a href="nutrition-wellness.html">Nutrition Wellness (March-April)</a></li>
				<li><a href="mental-wellness.html">Mental Wellness (May-June)</li>
				<li><a href="financial-wellness.html">Financial Wellness (July-August)</a></li>
				<li>Physical Wellness (Sept-Oct)</li>
				<li>Social/relationship wellness (Nov-Dec)</li>
			</ul>

			<p>We are pleased to introduce our team members:</p>

			<h1><strong>Longitudinal Wellness Initiative Leads</strong></h1>
			<hr>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Iuliia-Povieriena.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Iuliia Povieriena</span></li>
						<li class="exec-school"><span>University of Ottawa, Class of 2018</span></li>
						<li class="url">
							<a href="mailto:ipovi049@uottawa.ca">ipovi049@uottawa.ca</a>
						</li>
						<li class="exec-desc"><span>I got involved in this role because I think it is important to learn good habits of maintaining personal wellbeing today in order to become a resilient  physician of tomorrow. That is why I am so thrilled and inspired to be a part of an initiative that will enable us to learn personal wellness pearls from each other and to build a culture of support that values care for self while caring for others. </span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Michelle-Moody.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Michelle Moody</span></li>
						<li class="exec-school"><span>Memorial University Faculty of Medicine, Class of 2019</span></li>
						<li class="url">
							<a href="mailto:mam524@mun.ca">mam524@mun.ca</a>
						</li>
						<li class="exec-desc"><span>Last year, I stumbled into an involvement in wellness programming when I took the position of VP for the MUN Med Soc. I quickly realized that the wellness portfolio of my role was by far the most rewarding, and the most effective way to positively impact medical students. This year, I wanted to step up my involvement with wellness programming to a national level, and have been lucky enough to get the opportunity to work closely with the CFMS Wellness team. I most look forward to rolling out the Longitudinal Wellness Initiative in order to create more consistent, long-term wellness support and resources available for medical students.</span></li>
					</ul>
				</div>
			</div>
			<h1><strong>Longitudinal Wellness Initiative Team</strong></h1>
			<hr>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Leanne-Thompson.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Leanne Thompson</span></li>
						<li class="exec-school"><span>University of Manitoba, Class of 2019</span></li>
						<li class="url">
							<a href="mailto:thomps60@myumanitoba.ca">thomps60@myumanitoba.ca</a>
						</li>
						<li class="exec-desc"><span>I became interested in the  Longitudinal Wellness Initiative because wellness is something that should be at the forefront of our minds during the entire year. Students constantly lose track of their own wellness while working to be able to help the wellness of others. Some people have never encountered the amount of stress and time constraints such as in medicine before and are not as equipped to work through it. An initiative which brings these things into focus throughout the year I feel is extremely important!</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Hailey-Newton.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Hailey Newton</span></li>
						<li class="exec-school"><span>University of Ottawa, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:hnewt065@uottawa.ca">hnewt065@uottawa.ca</a>
						</li>
						<li class="exec-desc"><span>Wellness has become something that I am very passionate about, not only personally, but also because it is an area that is often overlooked in medicine, yet plays such a vital role in maintaining our health. As the uOttawa VP Community Health, Wellness Co-chair and member of the CFMS wellness committee, the Longitudinal Wellness Initiative posed a very exciting opportunity to be involved in what I believe is a needed change in promoting wellness as a longitudinal lifelong goal. I am so excited to be part of launching the LWI which I truly feel will help raise awareness and emphasize the importance of maintaining all aspects of wellness all year long.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Emily-King.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Emily King</span></li>
						<li class="exec-school"><span>Memorial University, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:eek781@mun.ca">eek781@mun.ca</a>
						</li>
						<li class="exec-desc"><span>My name is Emily King and I'm a second year medical student at Memorial University. I am the current VP Wellness on our Med Soc and I also sit on the CFMS Wellness Committee. Taking good care of ourselves is the first step towards being able to take good care of others, which is the main reason that I am passionate about Longitudinal Wellness Initiative. I'm excited to be part of this and help spread good wellness vibes to medical students across the country!</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Melissa-Menard.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Melissa Menard</span></li>
						<li class="exec-school"><span>Northern Ontario School of Medicine, Class of 2021</span></li>
						<li class="url">
							<a href="mailto:mememnard@nosm.ca">mememnard@nosm.ca</a>
						</li>
						<li class="exec-desc"><span>Wellness is important to me because I have seen and experienced firsthand what can happen when health is left on the sidelines. My goal is to help students develop strategies that allow them to incorporate a healthy lifestyle into their everyday.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/Kevin-Russell.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kevin Russell</span></li>
						<li class="exec-school"><span>Dalhousie University - Saint John, NB Campus , Class of 2020</span></li>
						<li class="url">
							<a href="mailto:kevin.russell@dal.ca">kevin.russell@dal.ca</a>
						</li>
						<li class="exec-desc"><span>I became involved with the CFMS-LWI because I'm passionate about physical and mental wellness and I understand its importance for our overall well-being. I think that shifting the focus of wellness from a dedidated month to a year-long initiative will keep the conversation going and allow wellness to become second nature. </span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/christine-audi.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Christine Audi</span></li>
						<li class="exec-school"><span>McGill University, Class of 2019</span></li>
						<li class="url">
							<a href="mailto:christine.audi@mail.mcgill.ca">christine.audi@mail.mcgill.ca</a>
						</li>
						<li class="exec-desc"><span>I became involved with the CFMS-LWI because my experience in medical school has solidified the importance of wellness throughout these difficult. It can be really easy to forget to take care of ourselves as we get busier and busier, which can negatively contribute to our mental health and stress. I am really excited to get involved in a group that actively and openly promotes mental health and wellness to our colleagues. </span></li>
					</ul>
				</div>
			</div>

			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/simaran-kalkat.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Simaran Kalkat</span></li>
						<li class="exec-school"><span>University of British Columbia, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:simaran.kalkat@alumni.ubc.ca">simaran.kalkat@alumni.ubc.ca</a>
						</li>
						<li class="exec-desc"><span>I think wellness, in its entirety, is key for happiness and good health. To me, wellness is about healthy relationships with our loved ones, our communities, our food, our minds and our bodies. It can be difficult to achieve, especially with the stress that comes with medical school on top of our daily lives, and we all have moments when we aren’t taking care of ourselves to the best of our abilities. I joined the CFMS-LWI to help make personal wellness feel like a natural part of our everyday lives, rather than a chore. I’m excited to be a part of an initiative that promotes student wellbeing all year long!</span></li>
					</ul>
				</div>
			</div>


			<div class="executive">
				<div class="exec-pic"><img height="400" src="/images/lwi-images/yohanna-asghedom.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Yohanna Asghedom</span></li>
						<li class="exec-school"><span>University of Manitoba, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:umasghey@myumanitoba.ca">umasghey@myumanitoba.ca</a>
						</li>
						<li class="exec-desc"><span>I chose to involve myself in the CFMS-LWI because I found this last year of medical to be extremely difficult on my health, which has inspired me to take care of my own wellness. I’m particularly excited for the physical health months, but I’m also interested in all other components of the LWI. I look forward to working with a team that’s dedicated to bettering the health of all students alike.</span></li>
					</ul>
				</div>
			</div>


		</div>
	</div>
	{% include footer.html %}
</body>
