---
title: "Nutrition Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#nutrition-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content" id="meeting-body">
        <h1 id="page-title">{{ page.title }}</h1>
        <h2><strong>Theme 1: Longitudinal Wellness Initiative <span>&#124;</span> <strong>March-April</strong> </strong></h2>
        <div class="editable">
                <div id="shortcut-links">
                    <div id="scroll">
                        <h4>Jump to:</h4>
                        <div class="bullets-wellness">
                            <ul>
                                <li>
                                    <a href="#innovative-school-initatives">Innovative School Initiatives</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#ottawa">Ottawa</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#dalhousie">Dalhousie</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#nosm">NOSM</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#memorial">Memorial University</a>
                                </li>
                                <li>
                                    <a href="#gems">Medical Student Wellness Gems</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#ali-goodbaum">Ali Goodbaum</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#iuliia-povieriena">Iuliia Povieriena</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#emily-king">Emily King</a>
                                </li>
                                <li class="sub-menu">
                                    <a href="#jinessa-lane">Jinessa Lane</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <!--INNOVATIVE SCHOOL INITIATIVES SECTION -->
            <h2 id="innovative-school-initatives"><strong>Innovative School Initiatives</strong></h2>
            <hr />         
            <!--OTTAWA -->
            <h3 id="ottawa"><strong>Ottawa</strong></h3>
            <p>At uOttawa, we have had a few great initiatives run by our own Student Wellness Committee as well as events run through several of our student run interest groups that help to promote nutrition and healthy lifestyle within our faculty.</p>
            <p>As a Student Wellness Committee, we ran a salad potluck as part of the CFMS Wellness month nutrition week. We used one of the small student rooms during lunch time in which students who wanted to take part in the event were asked to bring one component of a salad (ex. Spinach, cut up cucumber, tomatoes, peppers, etc.). Dressing or oil and vinegar was provided. To keep it green, we asked students to bring their own tupperware and fork and students mixed their own preference of ingredients. It was a very simple and easy to run initiative that was a nice way to provide a healthy lunch as well as bring students of different years together.</p>
            <p><a download="/images/lwi-images/wellness-spotlight/ottawa-wellness.png"> <img src="/images/lwi-images/wellness-spotlight/ottawa-wellness.png" />  </a> </p>
            <p class="picture-legend">
            Photo from one of the Medical Students Promoting Nutrition interest group talks. Photo credit: Eleni Lavreault</p>

            <p>We also have a Weight Management interest group that focuses on providing students with resources and knowledge about weight management care and obesity management through lunchtime talks and events. We also have a Medical Students Promoting Nutrition interest group that runs a wide range of talks and initiatives that not only promote healthy eating and exercise amongst medical students, but also introduces the importance of nutrition and exercise to elementary school students.</p>
            <!--DALHOUSIE -->
            <h3 id="dalhousie"><strong>Dalhousie</strong></h3>
            <p>Stone salads have been a success at Dalhousie University. We have been offering them weekly throughout CFMS Wellness month and are looking at continuing them for the rest of the year! Stone salad is a great way to build comradarie and get your veggie fix at the same time.</p>
            <p>A sign-up sheet is posted where people volunteer to bring different ingredients (either a salad green, a vegetable, a protein, a sauce or a topping) to be used in salad making. Each person combines their own choice of ingredients. Recommended using a minimum of 6 people with no maximum, and they are hosted in our school lounge!</p>
            <p>Prior to exams, it's Dal tradition for the Med1 and Med2 class to host a reciprocal potluck for the class with an exam. The potlucks are a huge help to supplement our nutrition and boost vegetable intake when it gets down to crunch time.</p>
            <p><a download="/images/lwi-images/wellness-spotlight/dalhousie-potluck.png"> <img src="/images/lwi-images/wellness-spotlight/dalhousie-potluck.png" />  </a></p>
            <p>Dalhousie Wellness week in March will also offer some nutrition initiates. We have a stone salad planned as well as a grocery store tour with a dietitian and a cooking class to learn how to prepare a healthy, home-cooked meal.</p>
            <br>

            <!--NOSM -->
            <h3 id="nosm"><strong>NOSM</strong></h3>
            <p>Our school also trains dieticians and as a result they organized what they call a Culinary Medicine Lab (CML). They organize for students to cook a few dishes with recipes they have selected and bought groceries for. Then students get to eat the food and listen to a short discussion about a particular topic such as ''The Weight of Stigma - Changing Minds, Not Bodies'' and only for 10$ per student. I went to one event and it was a great way to learn new recipes and cook with your classmates.</p>

            <!--Memorial University  -->
            <h3 id="memorial"><strong>Memorial University </strong></h3>
            <p>The Exercise is Medicine interest group at <b>Memorial University</b> has started "healthy snack sales" this year to replace bake sales as a fundraising initiative. In the hallway en route to the cafeteria there is a place known to all Memorial medical students as "bake sale alley". Here, various students groups from Medicine, Nursing and Pharmacy often hold bake sales to raise money for their group or charities. While it is definitely nice to treat yourself to something sweet once in a while, our Exercise is Medicine group decided that it was time to switch it up and start offering a healthier alternative. Some of the snacks featured included carrots & hummus, beet chips & mango salsa, and many other delicious foods. This initiative has gotten a lot of positive feedback and is an easy way to promote healthy eating! Bonus: the snacks are sold "by donation" so it also is way cheaper for students to purchase snacks from the sale instead of in the cafeteria.</p>
            <img src="/images/lwi-images/wellness-spotlight/exercice-is-medicine.jpg" style="
                height: 300px;
                width: auto;
            ">
            <ol>
                <li>Remember to stay hydrated throughout the day and especially when on call. Use a hydration reminder app or create  your own routine with some water breaks.</li>
                    <div class="flex-wrapper">
                        <div>
                            <img src="/images/lwi-images/wellness-spotlight/water.png">
                        </div>
                    </div>
                <li>Keep some nuts, protein bars or multigrain crackers in your bag or pockets while on clinical rotations.</li>
                    <div class="flex-wrapper">
                        <div>
                            <img src="/images/lwi-images/wellness-spotlight/lunch.png">
                        </div>
                    </div>
                <li>To make a fun salad even healthier sprinkle some hemp hearts to add some omega 3 fatty acids to your meal!</li>
                    <div class="flex-wrapper">
                        <div>
                            <img src="/images/lwi-images/wellness-spotlight/salad.png">
                        </div>
                    </div>
            </ol>


            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!--MEDICAL STUDENT WELLNESS GEMS INITIATIVES SECTION -->
            <h2 id="gems"><strong>Medical Student Wellness Gems:</strong></h2>
            <hr />

            <!-- ALI GOODBAUM -->
            <h3 id="ali-goodbaum"><strong>Ali Goodbaum, Class of 2021</strong></h3>
            <p>Oh She Glows is an online blog and cookbook that focuses on plant-based recipes and uses real, whole food ingredients. Aside from the amazing photography that accompanies each recipe, I love that the recipes are healthy, colourful, and filling. There is so much variety on this website, that no matter what I feel like cooking, I can always find an Oh She Glows healthy recipe for it!</p>
            <div>
                <p>
                    <img src="/images/lwi-images/wellness-spotlight/oh-she-glows-1.png">
                </p>
            </div>
            <p><a href="http://ohsheglows.com/categories/recipes-2/">Click here to go on the website</a></p>
            <p>The instagram account <a href="https://www.instagram.com/bodyby.becca/?hl=en">@bodyby.becca</a> focuses on both fitness and nutrition. I love the recipes because they use a variety of natural ingredients, are high in protein, and are all super healthy. I love getting new ideas for pre and post workout snacks. Her workout tutorials are also unique, fun and easy to follow, so you can eat well and be fit!
            <div class="flex-wrapper">
                <div>
                    <img src="/images/lwi-images/wellness-spotlight/oh-she-glows-2.png">
                </div>
            </div>
            <br>

            <!-- IULIIA POVIERIENA -->
            <h3 id="iuliia-povieriena"><strong>Iuliia Povieriena, Class of 2021</strong></h3>
            <p>I was looking for resources for patients one day and came across this website. I find it very helpful credible source of information and I subscribed to the Harvard Chan School of Public Health newsletter. It often brings interesting news on nutrition and healthy recipes. For example, they sent great tips on how to avoid overeating and how to make healthy holiday dishes before Christmas, new research of common food products and advice on proper preparation. </p>
            <p><a href="https://www.hsph.harvard.edu/nutritionsource/"> <img src="/images/lwi-images/wellness-spotlight/harvard-nutrition.png" />  </a></p>

            <!-- Emily King -->
            <h3 id="emily-king"><strong>Emily King, Class of 2020</strong></h3>
            <p>I've been using a youtube channel called "The Domestic Geek" for almost four years now! Most of the recipes that I make come straight from her videos. She makes a wide variety of content, including meal prep videos and how to plan themed dinner parties. Currently she's doing a series called "Healthy Foods Remixed!" and she's finding new ways to use healthy ingredients. My current favorite recipe is her tomato soup which uses HUMMUS as one of the main ingredients (it's DELICIOUS). I can't say enough good things about her recipes! I recommend that everyone give <a href="https://www.youtube.com/channel/UCQOQ3RxX_o-B-68wSKdcfMQ">this youtube channel</a> a try.</p>
            <div class="flex-wrapper">
                <div>
                    <img src="/images/lwi-images/wellness-spotlight/domestic-geek.png">
                </div>
            </div>
             <p class="picture-legend">
            Photo credit: <a href="http://thedomesticgeek.com/archives/category/ebooks"> http://thedomesticgeek.com/archives/category/ebooks</a></p>

            <!-- Jinessa Lane -->
            <h3 id="jinessa-lane"><strong>Jinessa Lane, Class of 2021</strong></h3>
            <p>I wanted to share this blog I've been following for a few years called the food medic. The blogger is a medical doctor in the UK who shares healthy recipes, wellness tips, and awesome workouts.  She has a blog, youtube channel and other social media platforms. I really like that she incorporates information from peer-reviewed academic sources and other healthcare professionals when discussing nutrition topics. I believe that sources like this help to bridge the gap between the academic community and the general public.</p>
            <p><a href="https://thefoodmedic.co.uk/category/health-fitness/nutrition/">https://thefoodmedic.co.uk/category/health-fitness/nutrition/</a></p>
            <p><a href="https://thefoodmedic.co.uk/category/health-fitness/nutrition/"> <img src="/images/lwi-images/wellness-spotlight/soup.png"></a></p>
            <p class="picture-legend">
            Photo credit: <a href="https://thefoodmedic.co.uk/2017/10/spicy-butternut-squash-and-carrot-soup/">https://thefoodmedic.co.uk/2017/10/spicy-butternut-squash-and-carrot-soup/</a></p>

            <blockquote>
                <p><strong>Call for Student Wellness Resources:</strong></p>
                <p>If you  know and use use any good websites, apps of youtube channels for your mental health, physical health, relationships or nutrition - we want to hear from you!</p>
                <p>Please email Iuliia Povieriena at <a href="mailto:ipovi049@uottawa.ca">ipovi049@uottawa.ca</a> to share it with the rest of the CFMS community.</p>
            </blockquote>

        </div>
    </div>
</div>
{% include footer.html %}
</body>
