---
title: "Nutrition Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#nutrition-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div class="editable">
            <h4><strong>Theme 1: Longitudinal Wellness Initiative</strong></h4>
            <h4><strong>March-April</strong></h4> 
            <br>
            <h1>Innovative School Initiatives</h1>
            <p><strong>Ottawa</strong></p>
            <p>At uOttawa, we have had a few great initiatives run by our own Student Wellness Committee as well as events run through several of our student run interest groups that help to promote nutrition and healthy lifestyle within our faculty.</p>
            <p>As a Student Wellness Committee, we ran a salad potluck as part of the CFMS Wellness month nutrition week. We used one of the small student rooms during lunch time in which students who wanted to take part in the event were asked to bring one component of a salad (ex. Spinach, cut up cucumber, tomatoes, peppers, etc.). Dressing or oil and vinegar was provided. To keep it green, we asked students to bring their own tupperware and fork and students mixed their own preference of ingredients. It was a very simple and easy to run initiative that was a nice way to provide a healthy lunch as well as bring students of different years together.</p>
            <!--Hardcoded the caption, will fix this after my exams-->
            <p><a download="/images/governance-structure/chart-4.png"> <img src="/images/lwi-images/wellness-spotlight/ottawa-wellness.png" />  </a>
            <p style="
                font-style: italic;
                font-size: 12px;">
            Photo from one of the Medical Students Promoting Nutrition interest group talks. Photo credit: Eleni Lavreault</p>

            <p>We also have a Weight Management interest group that focuses on providing students with resources and knowledge about weight management care and obesity management through lunchtime talks and events. We also have a Medical Students Promoting Nutrition interest group that runs a wide range of talks and initiatives that not only promote healthy eating and exercise amongst medical students, but also introduces the importance of nutrition and exercise to elementary school students.</p>
            <br>
            <p><strong>Medical Student Wellness Gems:</strong></p>
                        <p style="
                font-style: italic;">Ali Goodbaum, Class of 2021</p>

            <p>
            <p>Oh She Glows is an online blog and cookbook that focuses on plant-based recipes and uses real, whole food ingredients. Aside from the amazing photography that accompanies each recipe, I love that the recipes are healthy, colourful, and filling. There is so much variety on this website, that no matter what I feel like cooking, I can always find an Oh She Glows healthy recipe for it!</p>
            <!--<div class="flex-wrapper">
                <div>
                    <img src="/images/lwi-images/wellness-spotlight/oh-she-glows-1.png">
                </div>
            </div>-->
            <div>
                <p>
                    <img src="/images/lwi-images/wellness-spotlight/oh-she-glows-1.png">
                </p>
            </div>


            <p><a href="http://ohsheglows.com/categories/recipes-2/">Click here to go on the website</a></p>
            <p>The instagram account <a href="https://www.instagram.com/bodyby.becca/?hl=en">@bodyby.becca</a> focuses on both fitness and nutrition. I love the recipes because they use a variety of natural ingredients, are high in protein, and are all super healthy. I love getting new ideas for pre and post workout snacks. Her workout tutorials are also unique, fun and 

            <div class="flex-wrapper">
                <div>
                    <img src="/images/lwi-images/wellness-spotlight/oh-she-glows-2.png">
                </div>
            </div>
            <br>
            <p><strong>Call for Student Wellness Resources:</strong></p>
            <p>If you  know and use use any good websites, apps of youtube channels for your mental health, physical health, relationships or nutrition - we want to hear from you!</p>
            <p>Please email Iuliia Povieriena at <a href="mailto:ipovi049@uottawa.ca">ipovi049@uottawa.ca</a> to share it with the rest of the CFMS community.</p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
