---
title: "Physical Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>

<!-- Google Tag Manager -->

    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#physical-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content" id="meeting-body">
        <h1 id="page-title">{{ page.title }}</h1>
        
        <div class="editable">
            <div id="shortcut-links">
                <div id="scroll">
                    <h4>Jump to:</h4>
                    <div class="bullets-wellness">
                        <ul>
                            <li>
                                <a href="#apps-and-podcasts">Physical Health Apps and Podcasts</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#apps">Apps</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#podcasts">Podcasts</a>
                            </li>
                            <li>
                                <a href="#medical-school-initatives">Medical School Physical Health Initiatives</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#mcgill">McGill University</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#memorial">Memorial University</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#ottawa">University of Ottawa</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#manitoba">University of Manitoba</a>
                            </li>

                            <li>
                                <a href="#tips">Medical Students to Medical Students: Tips for each other!</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#iuliia-povieriena">Iuliia Povieriena, Class of 2018</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <h2 id="apps-and-podcasts"><strong>Physical Health Apps and Podcasts</strong></h2>
        <hr />
        <h3 id="apps"><strong>Apps </strong></h3>
        <p>
            <strong>1. Couch to 10k Running Trainer</strong> - Christine Audi, McGill Class of 2019<br>
            This is an awesome that can help you improve your running fitness with a targeted goal. It helps you achieve a goal of 5k or 10k over multiple weeks. You don’t have to be experienced! It starts with running and walking intervals, and the running intervals get longer with time.
            <br>
            This is also great as the weather’s getting warmer, and this would allow you to get outdoors and get a good dose of vitamin D!
            <br>
            <img src="/images/lwi-images/physical-wellness/week-1/10k-running-trainer.png">
        </p>

        <p>
            <strong>2. Carrot</strong> - Sophia Miao, Dalhousie Class of 2021<br>
            This is a rewards app and it’s a great way to keep track of your steps every day while earning points. You can also learn about nutrition and physical health by filling out quick health surveys in the app. Funded by the Government of Canada, it partners with Heart & Stroke, Diabetes Canada, and YMCA to give you Aeroplan Points, Cineplex Scene Points, Petro Points, RBC Rewards, and more.
            <br>
            *Note: Carrot is currently only available in BC, ON, and NL.
            <img src="/images/lwi-images/physical-wellness/week-1/carrot.png">
        </p>

        <p>
            <strong>3. Charity Miles</strong> - Michelle Moody, Memorial University Class of 2019<br>
            <img src="/images/lwi-images/physical-wellness/week-1/charity-miles.png" class="paragraph-picture" style="
                width: 150px;
                height: auto;
            ">
            A fun twist on your typical app that counts your steps -- this app measures your distance and allows you to earn money for charities (10 cents per mile for cyclists, 25 cents per mile for walkers and runners). There are over 40 different charities to choose from that you would like your money to go to, including Habitat for Humanity, etc. The app has raised over 2.5 million dollars for charities to date!
        </p>

        <p>
            <strong>4. AllTrails </strong> - Michelle Moody, Memorial University Class of 2019<br>
            <img src="/images/lwi-images/physical-wellness/week-1/alltrails.png" class="paragraph-picture" style="
                width: 100px;
                height: auto;
            ">
            Great choice for all the outdoors lovers out there! The app helps hikers, runners, and bikers discover the best trails around the world. Get access to over 50,000 hiking trails and mountain bike routes, from national parks to your neighborhood! Be prepared to explore remote locations by downloading maps for offline use.
        </p>

        <h3 id="podcasts"><strong>Podcasts </strong></h3>
        <p>
            <strong>1. Rich Roll</strong> - Ryan Densmore, Dalhousie Class of 2021<br>
            Really great for hearing from everyday people and to help remind you what you are capable of!
            <img src="/images/lwi-images/physical-wellness/week-2/rich-roll.png">
        </p>
        <p>
            <strong>2. The BodyLove Project </strong> - Michelle Moody, MUN Class of 2019<br>
            A wonderful podcast that focuses on body love and positivity while discussing physical health and fitness, as well as other aspects of health. This podcast reminds us that fitness is can be present in every body, regardless of size or shape.
            <img src="/images/lwi-images/physical-wellness/week-2/bodylove.png">
        </p>
        <p>
            <strong>3. Marathon Training Academy</strong> - Michelle Moody, MUN Class of 2019<br>
            For all you runners out there that can’t break the 10K glass ceiling (a.k.a me), this app coaches you through all kinds of tips to help you run more <b>safely</b>, more <b>intelligently</b> and for <b>longer</b>. For anyone who’s looking to push themselves the extra mile while avoiding injury, this is the app for you!
            <img src="/images/lwi-images/physical-wellness/week-2/marathon.png">
        </p>

        <!--INNOVATIVE SCHOOL INITIATIVES SECTION -->
        <h2 id="medical-school-initatives"><strong>Medical School Physical Health Initiatives</strong></h2>
        <hr />         
        <!--MCGILL -->
        <h3 id="mcgill"><strong>McGill University</strong></h3>
        <p>
            <i>McGill Spin Bike Gardens: </i>Spin Bike Gardens (SBG) is aimed to improve wellbeing, and mental health at McGill by helping to integrate exercise in the daily lives of students, and by providing means to exercise within study and learning spaces. These spots are located throughout campus near study spaces, and notable near the Osler Library, the medical school library. These spaces offer the opportunity to exercise by taking a short spin break if you are in need of a study break or if you have some time in between classes. These spaces are equipped with silent spin breaks and are surrounded by lots of plants and meditative art making this a very calm and soothing environment shown to be beneficial for mental health. 
            <img src="/images/lwi-images/physical-wellness/week-1/spin-bike-gardens.png">
            <br>
            <i>Exercise is Medicine:</i> McGill's Exercise Is Medicine Club (EIMC) aims to empower students to use exercise to improve their wellbeing and mental health. It organizes several different workouts and training sessions for students throughout the year, like circuit training, boot camps and crossfit sessions. These events are also located at different gym and studios around the Montreal community in order to expose our students to the variety of health services offered across the city. 
            <br><br>
            <i>Free summer gym memberships for medical students:</i> Though this isn’t exactly a student initiative, it is important for McGill medical students to know that they get the benefit of a free summer gym membership at the McGill Gym. This encourages physical activity for our medical students, and hopefully helps instill good habits that will remain after summer ends. 
        </p>

        <!--Memorial University -->
        <h3 id="memorial"><strong>Memorial University</strong></h3>
        <p>
            <i>Exercise Is Medicine: </i>Exercise Is Medicine is a student-run interest group at Memorial University that seeks to promote exercise as a means of achieving and maintaining health. This year, the team at Memorial has developed exercise “power hours”. The students set up stations in a lecture theatre during lunch hour. Everyone simply rotates through all of the stations that target different muscles. All students are welcome to attend and get moving.
        </p>

        <!--University of Ottawa -->
        <h3 id="ottawa"><strong>University of Ottawa</strong></h3>
        <p>
            <i>Wellness Committee Exercise Program: </i>The Wellness Committee Exercise Program is a weekly exercise program led by the Body Chairs of the Student Wellness Committee. The goal of the program is to provide students with the opportunity to partake in physical activity to de-stress and keep healthy throughout the busy school year. Each week, student leaders lead various circuit training workouts, dance sessions (e.g. Bhangra lessons, Zumba, etc.), and outdoor runs. 
            <br><br>
            <i>Yogalates: </i>The Faculty of Medicine Wellness program hosts yoga-pilates sessions twice a week during lunch times for students and staff. This combination of yoga and pilates provides both physical and mental benefits such as mind and body awareness, strength, stamina, and flexibility.
            <br><br>
            <i>Miscellaneous Activities: </i>The Student Wellness Committee hosts different physical activities throughout the year for students from all classes. These activities help students destress and also facilitate interactions between the different MD classes so students can get to know each other better and broaden their social network. For example, during the cold winter months, we facilitated groups to skate on the Rideau Canal, play Archery Tag, and go rock climbing/bouldering. We also collaborate with the VP Athletics representative of our student council to host larger events, such as a sports day, where students can form teams and compete in a sports competition. 
        </p>

        <!--University of Manitoba -->
        <h3 id="manitoba"><strong>University of Manitoba</strong></h3>
        <p>
            <i>Fitness and Recreation: </i>Medical students enrolled at the U of M may activate their Recreation Services Student Membership with the Joe Doupe Recreation Centre at the Bannatyne campus as well as the Active Living Centre at the Fort Garry Campus. The Joe Doupe Recreation Centre is a recently renovated facility which includes a fitness centre, multi-use gymnasium, indoor track, multi-use studio, locker, and shower facilities. Students can also register for fitness plus classes and intramural sports with their classmates and friends for sports like dodgeball, soccer, volleyball and basketball!
            <br><br>
            <i>Athletic Representatives: </i>Each class year has two elected students that act as the athletic representatives of their year. They work to organize class specific physically active events in order to encourage physical activity and class participation. Some of the events organized thus far include hiking trips, soccer matches in the park, and attending football and hockey games as a group as well!
        </p>

        <!--Medical Students to Medical Students -->
        <h2 id="tips"><strong>Medical Students to Medical Students: Tips for each other!</strong></h2>
        <hr />         
        <!--Iuliia Povieriena -->
        <h3 id="iuliia-povieriena"><strong>Iuliia Povieriena, Class of 2018</strong></h3>
        <p>
            When I was moving from one apartment to another I decided to change a mattress and while researching on the topic I came across a really interesting website on sleep that had some information on napping. I wish I found it earlier and have used the tips and insights they provide on sleep. I hope this will be useful to my fellow colleagues especially for clerkship when sleep becomes a precious resource. 
            <a href="https://sleepfoundation.org/sleep-topics/napping"><img src="/images/lwi-images/physical-wellness/week-1/national-sleep-foundation.png"></a>
            <br>
            <br>
            <img src="/images/lwi-images/physical-wellness/week-1/workouts.png" class="paragraph-picture" style="
                width: 200px;
                height: auto;
            ">
            There is a ton of blogs and resources that exist on workouts and some are more advanced or time consuming than others. I came across this article that has a 10 minute morning routine in bed that I can use before a day in a clinic. Another useful video is on  a quick stretch routine at the desk for the days when you study for exams or spend a lot of time typing up consult notes. 
        </p>

    </div>
</div>
{% include footer.html %}
</body>