---
title: "Safe Spaces: Let's Get Real"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#safe-space" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div class="editable">
            <blockquote>
                <p>Sign-Up for Safe Space: Let&rsquo;s Get Real <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4fpKkHl3IqIYy199UZaHZREY4h5bIkzfWY_CoWblSNPxCBQ/viewform">here</a></p>
            </blockquote>
            <p>The CFMS is hosting our first <em><strong>Safe Spaces: Let's Get Real</strong></em> learner wellness conversations as part of the National Wellness Program.</p>
            <p><br /><em><strong>Safe Space: Let&rsquo;s Get Real</strong></em> is an opportunity for medical students across the country to discuss a wide range of issues around <strong>medical student health and wellness</strong>.</p>
            <p>The two main topics of discussion at our first session will be:</p>
            <ol>
                <li><strong>Stresses around residency matching process</strong></li>
                <li><strong>Culture in medical education</strong></li>
            </ol>
            <p>All students are invited to join the facilitated discussion. We hope to help stimulate on-going conversations by connecting members so that we can share ideas and have frank discussion about learner challenges. Further discussion will also aid the CFMS in our advocacy work as part of the National Wellness Program around these issues.</p>
            <p>Details: <strong>Sunday April 15th at 5-6PM EST</strong></p>
            <p>To participate, please <strong>register <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4fpKkHl3IqIYy199UZaHZREY4h5bIkzfWY_CoWblSNPxCBQ/viewform">here</a></strong> to obtain the teleconference number for the session. If possible please register by Saturday April 14th at 11:59 pm ET to guarantee receipt of teleconference details ahead of the event, however late registration will be accepted. &nbsp;</p>
            <p>Stephanie Smith, VP Student Affairs (<a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,115,116,117,100,101,110,116,97,102,102,97,105,114,115,64,99,102,109,115,46,111,114,103))">vpstudentaffairs@cfms.org</a>)<br />Victor Do, Western Representative, National Wellness Program Lead (<a href="javascript:void(location.href='mailto:'+String.fromCharCode(119,101,115,116,101,114,110,64,99,102,109,115,46,111,114,103))">western@cfms.org</a>)</p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
