---
title: "Safe Spaces: Let's Get Real"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#safe-space" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div class="editable">
            <blockquote>
                <p>Sign-Up for Safe Space: Let’s Get Real <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4fpKkHl3IqIYy199UZaHZREY4h5bIkzfWY_CoWblSNPxCBQ/viewform">here</a></p>
            </blockquote>
            <p>
                The CFMS is hosting our first Safe Space: Let's Get Real learner wellness conversations as part of the National Wellness Program.
                <br>
                “Safe Space: Let’s Get Real” is an opportunity for medical students across the country to discuss a wide range of issues around medical student health and wellness.
                <br>
                The two main topics of discussion at our first session will be:</p>
                <ol>
                    <li>Stresses around residency matching process</li>
                    <li>Culture in medical education</li>
                </ol>
            <p>All students are invited to join the facilitated discussion. We hope to help stimulate on-going conversations by connecting members so that we can share ideas and have frank discussion about learner challenges. Further discussion will also aid the CFMS in our advocacy work as part of the National Wellness Program around these issues.</p>
            <p>Details: Sunday April 15th at 5-6PM EST</p>
            <p>To get a sense of numbers please sign-up using this <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4fpKkHl3IqIYy199UZaHZREY4h5bIkzfWY_CoWblSNPxCBQ/viewform">form</a> by Friday at Saturday April 14th at 11:59 PM and a TC number will be sent to you in advance of the session.</p>

                <p>Stephanie Smith, VP Student Affairs<br>
                Victor Do, Western Representative, National Wellness Program Lead</p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
