---
SIG-Application-Form-Link: "/uploads/SIG Application Form-1.docx"
SIG-Program-Guidelines-Link: "/uploads/SIG Program Guidelines-1.pdf"
SIGS-Regional-Form-Link: "/uploads/SIG Regional Form-1.pdf"
grant-year: "2016-2017"
grant-deadline: "January 18th, 2017."
contact-mail: "sigs.cfms@gmail.com"
---
<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}
    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#student-initiative-grants" ).classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 class="underline editable"><strong>Call for Applications for CFMS Student Initiative Grants {{ page.grant-year }} Cycle</strong></h1>
        <br />
        <p class="editable">CFMS Student Initiative Grants were established in 2007 to provide support and funding to medical student initiatives.
            The fund was established in response to the increasing number of medical student run initiatives and the need for official
            and financial support from our national student organization.
        <a href="{{ page.SIG-Application-Form-Link }}" target="_blank">Click Here</a> to download the form.
        </p>
        <p>
            Please see the <a href="{{ page.SIG-Program-Guidelines-Link }}" target="_blank">guidelines here</a> for more information about
            the grants and how your application will be scored.
        </p>
        
         <p class="editable">Many successful projects have benefitted from direct CFMS funding including charitable, educational and social events all
           organized by medical students. The goal is to assist students in realizing events or initiatives that promote interactions between
           CFMS students and member schools.</p> 
        
         <blockquote class="editable">
            <p class="editable"><strong>Projects will be considered based on the following guidelines and criteria:</strong></p>
            <ul>
                <li>Enhancement of the educational expereince of Canadian Medical Students</li>
                <li>Enhancement of the Canadian Healthcare System</li>
                <li>Enhancement of the local or national community</li>
                <li>Potential for sustainability</li>
                <li>Practicality and level of planning in the proposal, including transparency and an Itemized budget</li>
                <li><strong>Bonus point</strong> awarded for proposals for projects that are deemed to have a significant potential for impact to the CFMS Member Students</li>
            </ul>
         </blockquote>
        
        <p class="text-red editable">
            ** It is important to note that these criteria are general and not all-inclusive. If your project does not fill all of these criteria there is still great potential for funding **
        </p>
        
        <blockquote class="editable">
            <p class="editable"><strong>Project guidelines:</strong></p>
            <ul class="editable">
                <li>Projects will NOT be considered if they have been recipients of CFMS Student Initiative Grants in the last 5 years</li>
                <li>Projects will receive a maximum funding amount of $3000. Please do not increase your budget to ask
                    for this maximum, as we wish to fund as many projects as possible, however for projects with a
                    larger budget, please take note of this limit and look for funding from other sources such that
                    you are able to complete your project with only partial funding from the CFMS.</li>
                <li>The Student Initiative Grants are NOT meant to fund academic research or travel funding to conferences for individual medical students</li>
            </ul>
            <br />
            <p class="editable"><strong>Projects that have received funding in the past are:</strong></p>
            <ul class="editable">
                <li>Manitoba Perinatal Loss Education Project </li>
                <li>The Calgary Guide</li>
                <li>Western Canada's Icebowel</li>
                <li>NOSM's HumerUS! Magazine</li>
                <li>Memorial University's Rural Medicine Interest Group</li>
                <li>Saskatoon Student Wellness Initiative Towards Community Health (SWITCH)</li>
                <li>Dalhousie’s Student Led Clinic in Saint John, NB</li>
            </ul>
        </blockquote>
        
        <p class="editable">The final deadline for the {{ page.grant-year }} Student Initiative Grants is <strong>{{ page.grant-deadline }}</strong>
            to be considered for grant funding. Applications must be submitted to
            <a href="mailto:{{page.contact-mail}}">{{page.contact-mail}}.</a>
            You may also email {{ page.contact-mail }} if you have any further questions or concerns.
        </p>
        
        <p class="small-font editable">
            Additionally, each year the CFMS provides $500 of funding to a pre-determined event in each geographical region 
            which unites the CFMS membership of that region. These events are: Atlantic Medical Student Conference (MUNDal), 
            Med Games, OMSW and Ice Bowl. If you are applying for funding for one of these events, please fill out and submit the
            <a href="{{ page.SIGS-Regional-Form-Link }}" target="_blank">SIGs Regional Event Funding Form.</a>
        </p>
    </div>
</div>

{% include footer.html %}
</body>
