---
---
<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->

<head>
    {% include head.html %}
    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector("#logo-invert").classList.toggle("hidden");
    document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#student-initiative-grants" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content">
        <h1 id="page-title">Student Initiative Grants</h1>
        <div class="editable">
            <p>Student Initiative Grants are currently under review. Please stay tuned for an update which will be made in mid-January. If you have any questions or concerns please feel free to contact us at <a href="mailto:sigs.cfms@gmail.com">sigs.cfms@gmail.com</a>.</p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
