---
title: Student Wellness
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#wellness" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Wellness</h1>
			<p>These school-specific wellness resource sheets are intended primarily as summaries of important wellness information for students attending the selected university; however, information included in the resources may also be useful to visiting students. Please note that not all resources listed in these resource sheets will be available to visiting students. The work of the CFMS Wellness Committee members in creating their school's resource sheet is acknowledged and very much appreciated.&nbsp;</p>
			<!--base32-c9gq6t9k68pkeu386tt7cxhkchj74wb1etv6urvdf8r2urk1edjk6cg-base32-->
			<!--base32-c9gq6t9k68pk2d3t6tkp8cbt6xm78w9rexnpct3mddnqevkb75jp8vbh70w36tk5dtu34c3bd8up2xv76njq8rk3chm72dk1exv6pd1h75r6my1k6mu38y9jf5vqcvb575rq0xvmehwketvhe1kp8cbt5nh62wv56ct0-base32-->
			<!--base32-c9gq6t9k68pk2d3t6xgqccbt5nh62wv56ct0-base32-->
			<!--base32-c9gq6t9k68pk2d1mddt7cctt6xu64dkaexv3jtb7cwv7jy32d8u32w9pc5w7crv66hkkce3mc9r66vkg6twqectncdkpecvje8wk0t1hegv62x38f0u3jv9q71w36ttq71rpmybjerv68vkme5jq8rk3chm72dk1exv6pdbmehrk4y3265jkjukh6tvk6cb3chn6mxvjetk68vbhd8u6cuhk71u3cvhp70t72rvee0v74xkb6njp8x3a61pqceb5d1n6pwk2errkewk76thqcxka6grq2dhjf0tkjt3re4t7ay3p75hpguka61w7cdb4d1r3cxvmc9nparv76ww7ark7cnhpedk3etv6md1hd9r34wkp70u32w3gc5u36eb3chkq0whr6dnp6t3d6twqcxk36gu2urk1edjk6cg-base32-->
			<!--base32-c9gq6t9k68pk2d3t69wqgrk36xt2urk1edjk6cg-base32-->
			<!--base32-c9gq6t9k68pketvhe0u7ccv6cdj6ww9jf1h6ctb8d9nqebb2c5tpactj-base32-->
			<h2><strong>School Specific Wellness Resources</strong></h2>
			<div id="cfms-reps-content">
				<div id="schools">
					<div id="ualberta" class="school">
						<div class="school-logo"><img src="/images/school-logos/ualberta.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Alberta</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/ualberta.pdf">Download Resource</a></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="ubc" class="school">
						<div class="school-logo"><img src="/images/school-logos/ubc.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of British Columbia</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/ubc.pdf">Download Resource</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6myb7c9hp6ebae4u7gcth6nu74dhrehm34dvm68v7jy3pcnj6gwbg69u32c3175n72dkpetq6aeb8e1gkjuv5ccwq8w9gcnu7edbrcxnqethhctjk0yhke9h7cd346nv36xtr60pp4rbkcmtk4-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="ucalgary" class="school">
						<div class="school-logo"><img src="/images/school-logos/ucalgary.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Calgary</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/ucalgary.pdf">Download Resource</a></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="dalhousie" class="school">
						<div class="school-logo"><img src="/images/school-logos/dalhousie.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Dalhousie University</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/dalhousie(nb).pdf">Download Resource - NB</a></p>
										<p><a href="/files/wellness-resources/dalhousie(ns).pdf">Download Resource - NS</a></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="umanitoba" class="school">
						<div class="school-logo"><img src="/images/school-logos/umanitoba.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Manitoba</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/umanitoba.pdf">Download Resource</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6mybbc8rp8x3de4w7cxhjccu72dtgegtkcd1rf8u3gxkpe5j78w1pf5t64d1m64wkcrbqetk6avkm6rv78ebq6nw6euvqcrrpct9gf8tq4rkp6hj3axhkeww30bb2c5tpactj-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="mcmaster" class="school">
						<div class="school-logo"><img src="/images/school-logos/mcmaster.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">McMaster University</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/mcmaster.pdf">Download Resource</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6mybbd9k62t1pd9vqectmcdt6gcvqd0tpctbre4v74xkp65hpettn6hu64uv4f1uq2d3jeruketvhe0t6cu3q6nw74cvqcrrpcrv8dnrp6tk860pp4rbkcmtk4-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="mcgill" class="school">
						<div class="school-logo"><img src="/images/school-logos/mcgill.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">McGill University</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/mcgill.pdf">Download Resource</a></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="memorial" class="school">
						<div class="school-logo"><img src="/images/school-logos/memorial.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Memorial University of Newfoundland</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/mun.pdf">Download Resource</a>​</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="nosm" class="school">
						<div class="school-logo"><img src="/images/school-logos/nosm.png" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Northern Ontario School of Medicine</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/nosm.pdf">Download Resource</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6mybe6dk6aebhe1vqgcv66nu74dhrehm34dvm68v7jy3pcnj6gwbg69u32c3175n72dkpetq6aeb8e1gpccb6ccu7mcvjc9v6edvjf4t7jx1k75jq4yhj60pp4rbkcmtk4-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="uottawa" class="school">
						<div class="school-logo"><img src="/images/school-logos/uottawa.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Ottawa</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/uottawa.pdf">Download Resource</a></p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="queens" class="school">
						<div class="school-logo"><img src="/images/school-logos/queens.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Queen's University</li>
								<li class="school-url">
									<div class="url preview">
										<p><a>Not Available Yet</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6mybbetppau37e5jq4eb5cmrpmdk371m7je38e5rpaxkbcdj7gtvg70w34uk3dtu70ybrc9n66t3addt64xhh6xt7jcktewrqjdv7e5r3gxb2e0vq4ttg5nh62wv56ct0-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="usaskatchewan" class="school">
						<div class="school-logo"><img src="/images/school-logos/usaskatchewan.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Saskatchewan</li>
								<li class="school-url">
									<div class="url preview">
										<p><a>Not Available Yet</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6mybbc8tkgy3de1t7ccb5cmrpmdk371m7je38e5rpaxkbcdj7gtvg70w34uk3dtu70ybrc9n66t3addt64xhh6xt7jcktewrqjdv7e5r3gxb2e0vq4ttg5nh62wv56ct0-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="sherbrooke" class="school">
						<div class="school-logo"><img src="/images/school-logos/sherbrooke.png" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Sherbrooke University (Moncton Campus)</li>
								<li class="school-url">
									<div class="url preview">
										<p><a>Not Available Yet</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6myb86crp8u3d6twqgrkbcgupmukqewtk8rvjd0tqeu1kctjqgw9pe9v7ccb3cxkkad3mc9np8y3ne4u74xhn6xkq2w1jctm7edbre8tqethhcthpgvbhcdk6gc1dc9gq6t9k68-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="utoronto" class="school">
						<div class="school-logo"><img src="/images/school-logos/utoronto.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">University of Toronto</li>
								<li class="school-url">
									<div class="url preview">
										<p><a>Not Available Yet</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6myb86crp8u3d6twqgrkbcgupmukqewtk8rvjd0tqeu1kctjqgw9pe9v7ccb3cxkkad3mc9np8y3ne4u74xhn6xkq2w1jctm7edbre8tqethhcthpgvbhcdk6gc1dc9gq6t9k68-base32-->
								</li>
							</ul>
						</div>
					</div>
					<div id="western" class="school">
						<div class="school-logo"><img src="/images/school-logos/western.svg" /></div>
						<div class="school-desc">
							<ul>
								<li class="school-name">Western University</li>
								<li class="school-url">
									<div class="url preview">
										<p><a href="/files/wellness-resources/western.pdf">Download Resource</a></p>
									</div>
									<!--base32-c9gq6t9k68pk8c3t6rw7arkg6grpgw3je9h6ptb3f5n38y32d9j6ettq61vppdb5ehpq0rbregr66vka6tn7gcthccwq0dk171m7jdv8e8tqethk64u32v9q6hu64dhqdnm34ybmdcwp8u3ae4v64xkhcdq70dkjetnkatb4ehn7axvb6njp8wbhc5vppcv3dtu6myb86crp8u3d6twqgrkbcgupmukqewtk8rvjd0tqeu1kctjqgw9pe9v7ccb3cxkkad3mc9np8y3ne4u74xhn6xkq2w1jctm7edbre8tqethhcthpgvbhcdk6gc1dc9gq6t9k68-base32-->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
