---
title: "Medical Student Spotlight"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/news.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#news" ).classList.toggle("active");
	</script>

	<div id="spotlight-content" class="content">
		<h1 id="page-title">Medical Student Spotlight</h1>
		<div id="spotlight-columns">
			<div id="spotlight-left">
				<p>Each year, medical students across Canada engage in projects that make a difference within their schools and communities. Many of these initiatives are truly incredible &ndash; and can serve as inspiration for the rest of us. They demonstrate the vital role that we play, and what we can (and do) offer to society.</p>
				<p>In order to recognize and publicize these initiatives the Medical Student Spotlight section on the CFMS website was created. Here, we feature some of the ideas that medical students are working on, and how they’re fostering our common goals. We want to make sure that students from across the country know what their colleagues are doing, so that they can be encouraged to do amazing things, too.</p>
				<h1 style="padding-top:15px;"><strong>Student Initiatives</strong></h1>
				<hr>
				<a class="spotlight" href="mental-health-coffee-night.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Mental Health Coffee Night</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/mental-health-coffee-night.png) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="multiculturalism-in-medicine.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Multiculturalism in Medicine</div>
						<div class="spotlight-desc">Learn how students at the University of Toronto developed a lecture series on multicultural issues in medicine.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/multiculturalism-in-medicine.png) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="peds-cases.html">
					<div class="spotlight-info">
						<div class="spotlight-name">PedsCases</div>
						<div class="spotlight-desc">PedsCases is an innovative source of pediatric knowledge dissemination which began in 2008 as a grassroots project by several medical students with faculty support at the University of Alberta.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/peds-cases.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="stem-cell-club.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Stem Cell Club</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/stem-cell-night.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="on-exam.html">
					<div class="spotlight-info">
						<div class="spotlight-name">OnExam</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/on-exam.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="the-gateway-program.html">
					<div class="spotlight-info">
						<div class="spotlight-name">The Gateway Program</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/the-gateway-program.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="sead.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Surgical Exploration and Discovery (SEAD) Program</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/sead.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="western-medical-student-ultrasound-symposium.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Western Medical Student Ultrasound Symposium</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/western-medical-student-ultrasound-symposium.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="vitals.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Vitals</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/vitals.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="rockin-docs.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Rockin' Docs</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/rockin-docs.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="lindsay-leigh-kimmett-memorial-foundation.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Lindsay Leigh Kimmett Memorial Foundation</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/lindsay-leigh-kimmett-memorial-foundation.png) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="birthing-babies-together.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Birthing Babies Together</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/birthing-babies-together.png) no-repeat center center; background-size:cover"></div>
				</a>			
				<a class="spotlight" href="books-with-wings.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Books with Wings</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/books-with-wings.png) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="eye-textbook.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Eye Textbook</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/eye-textbook.jpg) no-repeat center center; background-size:cover"></div>
				</a>
				<a class="spotlight" href="feb-u-hairy.html">
					<div class="spotlight-info">
						<div class="spotlight-name">Feb-U-Hairy</div>
						<div class="spotlight-desc">Learn how students at the University of Saskatchewan are addressing mental health issues by creating an open forum for discussing the struggles that many of us experience.</div>
					</div>
					<div class="spotlight-pic" style="background: url(/images/page-images/student-spotlight/feb-u-hairy.jpg) no-repeat center center; background-size:cover"></div>
				</a>
			</div>
			<div id="spotlight-right">
				<div id="scroll">
					<blockquote>
						<h3><strong>Feature your own initiative!</strong></h3>
						<p>If you have a current or past project that you’d like to have recognized and publicized by the CFMS, please contact the Vice-President Communications at <a href="mailto:vpcommunications@cfms.org">vpcommunications@cfms.org</a>.</p>
						<p>Some questions that you may want to think about when submitting your initiative are:</p>
						<ol>
							<li><strong>What is your initiative?</strong> Can you provide a brief description for our readers?</li>
							<li><strong>What motivated you to start this initiative?</strong> What local/global need were you seeking to address? Does this need hold special significance for you?</li>
							<li><strong>How did you start up the initiative?</strong> What resources or supports were you able to rely upon? What were some of the obstacles you faced, and how did you overcome them?</li>
							<li><strong>How did things go/how are things going?</strong> What’s next for this project?</li>
							<li><strong>What advice or guidance would you give to others seeking to start a similar inititative?</strong> (<em>Optional:</em> Would you be willing to provide contact info, for posting to the CFMS website?)</li>
						</ol>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>