---
title: "Mental Health Coffee Night"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/news.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#news" ).classList.toggle("active");
	</script>
	<div class="content editable" id="spotlight-content">
		<h1 id="page-title">Mental Health Coffee Night</h1>
		<img class="right" src="/images/page-images/student-spotlight/mental-health-coffee-night.png">
        <h4><strong>What is your initiative? Can you provide a brief description for our readers?</strong></h4>
		<p>Medical students are not immune to struggles with their mental health. This epidemic impacts a strikingly large number of students. While programs are in place at the university level, the Mental Health Coffee Night program at the University of Saskatchewan College of Medicine was created to help address these issues from the student perspective.</p> 
		<h4><strong>What motivated you to start this initiative? What local/global need were you seeking to address? Does this need hold special significance for you?</strong></h4>
		<p>The idea for this initiative was generated out of a casual conversation between 4 students who not only agreed on the need for improvements in addressing mental health concerns, but also shared similar battles of mental health throughout medical school. This exchange highlighted the taboo nature of discussing the struggles that many of us experience. Our program sought to both create a casual environment to openly discuss mental health while also creating a sense of empathy, understanding, and support among peers. In doing so, we hope to create a network of students who can openly discuss their mental health concerns in the future. Hopefully, by normalizing the struggles many of us continue to face, students can develop ways of managing these issues as they may arise throughout medical school, residency, and beyond.</p>
		<h4><strong>How did you start up the initiative? What resources or supports were you able to rely upon? What were some of the obstacles you faced, and how did you overcome them?</strong></h4>
		<p>After consulting physicians and residents involved in peer support programs, students sent out an invitation over social media to discuss mental health with friends and peers in a casual environment. Students who respond are assigned into groups of 4-6 that then meet up at a coffee shop in the evening. One person is invited to share their experience with mental health, which creates an open dialogue within the group. At subsequent events, students are reorganized into different groups in an attempt to maximize their networks. The biggest challenge the program has faced is simply recruiting students. The intention of the program is to combine both those who are struggling and those who are not; the latter has been more challenging to recruit.</p>
		<h4><strong>How did things go/how are things going? What’s next for this project?</strong></h4>
		<p>This is a very new program, developed in the fall of 2015. While still in its infancy, the response has been overwhelmingly positive. Both those who entered the program struggling with issues themselves, as well as those simply offering the support for others, have found the program immensely beneficial. The future of this program is to continue to meet once or twice a month; in addition, we hope to include events where physicians and residents can join students in sharing their stories and supporting one another.</p>
		<h4><strong>What advice or guidance would you give to others seeking to start a similar inititative? Would you be willing to provide contact info, for posting to the CFMS website?</strong></h4>
		<p>For more information, feel free to contact Jordan Anderson at <a href="mailto:jda597@mail.usask.ca">jda597@mail.usask.ca</a>.</p>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>