---
title: "2016 CFMS Spring General Meeting"
---


<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>

	<!-- Header -->
	<div id="top-meeting" style="background: url(/images/meeting-images/montreal.jpg) no-repeat center 25%; background-size:cover">
		<div id="top-group">
			<div class="content">
				<div id="top-meeting-name">{{ page.title }}</div>
				<div id="top-meeting-info">Montreal, Quebec / April 15&ndash;16, 2015</div>
			</div>
		</div>
	</div>
	<div id="meeting-details" class="content">
		<div id="meeting-aside">
			<h2 id="aside-title"><strong>Event details<i class="fa fa-star-o"></i></strong></h2>
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<li>
				<b>LOCATION</b><br>
				Hôtel Bonaventure<br>
				900 rue de la Gauchetière O<br>
				Montreal, QC H5A 1E4
			</li>
			<div class="icon"><i class="fa fa-clock-o"></i></div>
			<li>
				<b>DATE</b><br>
				April 15-16, 2016<br>
			</li>
			<div class="icon"><i class="fa fa-briefcase what-to-bring"></i></div>
			<li>
				<b>WHAT TO BRING</b><br>
				Dress Code: Business attire<br>
				Athletic Clothing for Mount Royal Observatory Run
			</li>
			<div class="icon"><i class="fa fa-envelope-o mail"></i></div>
			<div id="emails">
				<li><b>QUESTIONS?</b><br>
				Email <a style="border-bottom:1px solid #EAEAEA" href="mailto:office@cfms.org">office@cfms.org</a><br>
				</li>
			</div>
			<div id="shortcut-links">
				<div id="scroll">
					<h2>Jump to<span style="opacity:0.5">:</span></h2>
					<ul>
						<li><a href="#introduction">Introduction</a></li>
						<li><a href="#registration-info">Registration Information</a></li>
						<li><a href="#travel-funding">Travel Funding</a></li>
						<li><a href="#important-documents">Important Documents</a></li>
						<li><a href="#executive-officer-reports">Executive &amp; Officer Reports</a></li>
						<li><a href="#resolutions">Resolutions</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="meeting-body">
			<h2 id="introduction"><strong>What is the Spring General Meeting?</strong></h2>
			<p>The Spring General Meeting (SGM) is an opportunity for Canadian medical students to get together and discuss important issues pertaining to medical education, advocacy, global health, wellness, and more. Join the conversation, get involved &mdash; we want to hear from you!</p>

			<h2><strong>Meeting Photos</strong><i id="meeting-icon" class="fa fa-camera"></i></h2>
			<p>SGM 2016 was held from April 15-16, 2016. To see photos from the event, click on the link below:</p>
			<a class="meeting-photo-link" href="https://goo.gl/photos/ZwoYKMR3Af3Xogy56" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/montreal-sgm-2016.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>SGM 2016 &ndash; Montreal, QC</span></div>
				</div>
			</a>
			<br>

			<h2 id="registration-info"><strong>Registration information</strong></h2>
			<blockquote>
				<h4><strong>How can I register?</strong></h4>
				<ul>
					<li>Registration is <strong>NOW CLOSED</strong>.</li>
					<li>Please direct any registration inquiries to <a href="mailto:office@cfms.org">office@cfms.org</a>.</li>
				</ul>
			</blockquote>

			<h2 id="travel-funding"><strong>Travel Funding</strong></h2>
			<blockquote>
				<h4><strong>Apply for Travel Funding</strong></h4>
				<ul>
					<li>Applications for Travel Funding are <strong>NOW CLOSED</strong>.</li>
				</ul>
			</blockquote>

			<h2 id="important-documents"><strong>Important Documents</strong></h2>
			<blockquote>
				<h4><strong>Meeting Information</strong></h4>
				<ul>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20SGM%202015%20Vancouver%20-%20DRAFT%20April%2019.docx"><strong>SGM 2015 Draft Agenda</strong> (Last updated April 19)</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20Spring%20General%20Meeting%20-%20Global%20Health%20Program%20Agenda.docx">SGM 2015 Global Health Program Draft Agenda</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2015/meeting-info/SGM%202015%20Agenda%20Presidents.pdf">SGM 2015 Presidents' Roundtable Agenda</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20Representatives%20Agenda%20-%20SGM%202015.docx">SGM 2015 CFMS Representatives Agenda</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20SGM%202015%20-%20Call%20for%20President-Elect.docx">SGM 2015 Call for Nomination &ndash; CFMS President-Elect</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20SGM%202015%20Call%20for%20Resolutions.docx">SGM 2015 Call for Resolutions</a>
					</li>
					<li>
						<span class="file-format">DOC</span><a href="/files/meetings/sgm-2015/meeting-info/CFMS%20AGM%202014%20Minutes%20FULL%20-%20FINAL.doc">AGM 2014 Meeting Minutes</a>
					</li>
				</ul>
			</blockquote>

			<h2 id="executive-officer-reports"><strong>Executive &amp; Officer Reports</strong></h2>
			<blockquote>
				<h4><strong>Executive &amp; Officer Reports</strong></h4>
				<ul>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2015/exec-reports/CFMS%20SGM%202015%20President%20Update.pdf">President</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/VP%20Education%20Exec%20Report.docx">Vice-President Education</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/VP%20Communications%20SGM%202015%20Update.docx">Vice-President Communications</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/VPFinance%20SGM%202015%20report.docx">Vice-President Finance</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2015/exec-reports/VP%20Government%20Affairs%20Update.pdf">Vice-President Government Affairs</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2015/exec-reports/CFMS%20SGM%202015%20VP%20Services%20Update.pdf">Vice-President Services</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/SGM%20-%20CFMS%20VP%20GH%20Report.docx">Vice-President Global Health &amp; National Officers</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/SGM%202015%20Western%20Rep%20Update.docx">Western Regional Representatives</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2015/exec-reports/Ontario%20Regional%20Reps%20SGM%202015%20Update.pdf">Ontario Regional Representatives</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/EXECUTIVE%20REPORT%20SGM%202015.docx">Quebec Regional Representative</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/Atlantic%20Rep%20-%20EXECUTIVE%20REPORT%20CFMS%20SGM.docx">Atlantic Representative</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2015/exec-reports/CFMS_NOHP-SGMreport_2015-04-04.docx">National Officer on Health Policy</a>
					</li>
				</ul>
			</blockquote>

			<h2 id="resolutions"><strong>Resolutions</strong></h2>
			<blockquote>
				<h4><strong>Resolution 1</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/1%20-%20Nemo%20Contradicente%20Voting.docx"><strong>Resolution:</strong> Adoption of Nemo Contradicente Voting</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 2</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/2%20-%20Adoption%20of%20Education%20Committee%20Terms%20of%20Reference.docx"><strong>Resolution:</strong> Adoption of Education Committee Terms of Reference</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/B%20-%20Education%20Committee%20Terms%20of%20Reference%20-%20EDITED.docx"><strong>Supporting Document: </strong> Education Committee Terms of Reference</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 3</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/3%20-%20Resolution%20to%20Change%20of%20Title%20for%20CFMS%20Vice%20President%20Services.docx"><strong>Resolution:</strong> Adoption of Resolution to Change of Title for CFMS Vice-President Services</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 4</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/4%20-%20Adoption%20of%20Terms%20of%20Reference%20for%20National%20and%20Local%20Officers%20of%20Indigenous%20Health.docx"><strong>Resolution:</strong> Adoption of Terms of Reference for National and Local Officers of Indigenous Health</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/E%20-%202Proposal_NOIH_LOIH_Final%20-%20EDIT.docx"><strong>Supporting Document:</strong> Proposal for Changes to the Indigenous Health Portfolio</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/E%20-%203Terms_of_Reference_NOIH_LOIH_Final%20-%20EDIT.docx"><strong>Supporting Document:</strong> Terms of Reference: National Officer and Local Officers of Indigenous Health</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 5</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/5%20-%20CFMS%20Support%20of%20Standardization%20of%20Immunization%20Requirements.docx"><strong>Resolution:</strong> CFMS Support of Standardization of Immunization Requirements</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 6</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/6%20-%20Interprofessional%20Education%20in%20Canadian%20Medical%20Schools.docx"><strong>Resolution:</strong> Adoption of the Policy Statement: Interprofessional Education in Canadian Medical Schools</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/G%20-%20CFMS%20Position%20Paper%20Draft%20-%20Interprofessional%20Education.docx"><strong>Supporting Document:</strong> Interprofessional Education in Canadian Medical Schools</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 7</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/7%20-%20Adoption%20of%20the%20policy%20document%20Pharmacare%20Promoting%20Equitable%20Access%20to%20Medications.docx"><strong>Resolution:</strong> Adoption of the Policy Document: Pharmacare: Promoting Equitable Access to Medications</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/F%20-%20CFMS%20Policy%20Pharmacare%202015.docx"><strong>Supporting Document:</strong> Pharmacare: Promoting Equitable Access to Medications</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 8</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/8%20-%20Resolution%20-%20Disaster%20and%20Emergency%20Preparedness.docx"><strong>Resolution:</strong> Adoption of the Policy Paper: Disaster Management Plans in Canadian Medical Schools</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/L%20-%20Position%20Paper%20on%20Disaster%20Management%20in%20Canadian%20Medical%20Schools.docx"><strong>Supporting Document:</strong> Disaster Management Plans in Canadian Medical Schools</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 9</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/9%20-%20Antimicrobial%20Resistance%20and%20Stewardship.docx"><strong>Resolution:</strong> Adoption of Position Paper Antimicrobial Resistance and Stewardship Paper</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/H%20-%20CFMS%20Policy%20Paper%20-%20Antimicrobial%20Resistance%20and%20Stewardship.pdf"><strong>Supporting Document:</strong> Position Paper on Antimicrobial Resistance and Stewardship Paper</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 10</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/10%20-%20CFMS%20SGM%20Resolution%20on%20Transgender%20Healthcare.docx"><strong>Resolution:</strong> Adoption of Position Paper on the Healthcare of Transgender Patients: Medical Education and Patient Access</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/D%20-%20CFMS%20Position%20Paper%20Transgender%20Health-Final.docx"><strong>Supporting Document:</strong> Position Paper on the Healthcare of Transgender Patients: Medical Education and Patient Access</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 11</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/11%20-%20Resolution%20-%20Family%20Medicine.docx"><strong>Resolution:</strong> Adoption of the Position Paper: Family Medicine and Primary Care: Committing to the Future</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/K%20-%20Policy%20Paper%20on%20Family%20Medicine%20and%20Primary%20Care.docx"><strong>Supporting Document:</strong> Family Medicine and Primary Care: Committing to the Future</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 12</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/12%20-%20Resolution%20Blood%20Donation.docx"><strong>Resolution:</strong> Adoption of the Policy Paper: Blood Donation Deferrals: Reevaluating the Five Year Deferral Period for Blood Donation by MSM</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/J%20-%20Blood%20Donation%20Deferral%20Policy%20Paper.docx"><strong>Supporting Document :</strong> Policy Paper on Blood Donation Deferrals: Reevaluating the Five Year Deferral Period for Blood Donation by MSM</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 13</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/13%20-%20Resolution%20-%20Human%20Trafficking%20.docx"><strong>Resolution:</strong> Adoption of Position Paper on Human Trafficking in Canada</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2015/resolutions/I%20-%20Policy%20Paper%20-%20Human%20Trafficking%20in%20Canada.docx"><strong>Supporting Document:</strong> Position Paper on Human Trafficking in Canada</a>
					</li>
				</ul>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>