---
title: "2016 CFMS Spring General Meeting"
---


<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>

	<!-- Header -->
	<div id="top-meeting" style="background: url(/images/meeting-images/montreal.jpg) no-repeat center 25%; background-size:cover">
		<div id="top-group">
			<div class="content">
				<div id="top-meeting-name">{{ page.title }}</div>
				<div id="top-meeting-info">Montreal, Quebec / April 15&ndash;16, 2015</div>
			</div>
		</div>
	</div>
	<div id="meeting-details" class="content">
		<div id="meeting-aside">
			<h2 id="aside-title"><strong>Event details<i class="fa fa-star-o"></i></strong></h2>
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<li>
				<b>LOCATION</b><br>
				Hôtel Bonaventure<br>
				900 rue de la Gauchetière O<br>
				Montreal, QC H5A 1E4
			</li>
			<div class="icon"><i class="fa fa-clock-o"></i></div>
			<li>
				<b>DATE</b><br>
				April 15-16, 2016<br>
			</li>
			<div class="icon"><i class="fa fa-briefcase what-to-bring"></i></div>
			<li>
				<b>WHAT TO BRING</b><br>
				Dress Code: Business attire<br>
				Athletic Clothing for Mount Royal Observatory Run
			</li>
			<div class="icon"><i class="fa fa-envelope-o mail"></i></div>
			<div id="emails">
				<li><b>QUESTIONS?</b><br>
				Email <a style="border-bottom:1px solid #EAEAEA" href="mailto:office@cfms.org">office@cfms.org</a><br>
				</li>
			</div>
			<div id="shortcut-links">
				<div id="scroll">
					<h2>Jump to<span style="opacity:0.5">:</span></h2>
					<ul>
						<li><a href="#introduction">Introduction</a></li>
						<li><a href="#registration-info">Registration Information</a></li>
						<li><a href="#travel-funding">Travel Funding</a></li>
						<li><a href="#important-documents">Important Documents</a></li>
						<li><a href="#executive-officer-reports">Executive &amp; Officer Reports</a></li>
						<li><a href="#resolutions">Resolutions</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="meeting-body">
			<h2 id="introduction"><strong>What is the Spring General Meeting?</strong></h2>
			<p>The Spring General Meeting (SGM) is an opportunity for Canadian medical students to get together and discuss important issues pertaining to medical education, advocacy, global health, wellness, and more. Join the conversation, get involved &mdash; we want to hear from you!</p>

			<h2><strong>Meeting Photos</strong><i id="meeting-icon" class="fa fa-camera"></i></h2>
			<p>SGM 2016 was held from April 15-16, 2016. To see photos from the event, click on the link below:</p>
			<a class="meeting-photo-link" href="https://goo.gl/photos/ZwoYKMR3Af3Xogy56" target="_blank">
				<div class="meeting-photo" style="background: url(/images/meeting-images/gallery-thumbnails/montreal-sgm-2016.jpg) no-repeat center 40%; background-size:cover">
					<div class="meeting-photo-text"><span>SGM 2016 &ndash; Montreal, QC</span></div>
				</div>
			</a>
			<br>

			<h2 id="registration-info"><strong>Registration information</strong></h2>
			<blockquote>
				<h4><strong>How can I register?</strong></h4>
				<ul>
					<li>Registration is <strong>NOW CLOSED</strong>.</li>
					<li>Please direct any registration inquiries to <a href="mailto:office@cfms.org">office@cfms.org</a>.</li>
				</ul>
			</blockquote>

			<h2 id="travel-funding"><strong>Travel Funding</strong></h2>
			<blockquote>
				<h4><strong>Apply for Travel Funding</strong></h4>
				<ul>
					<li>Applications for Travel Funding are <strong>NOW CLOSED</strong>.</li>
				</ul>
			</blockquote>

			<h2 id="important-documents"><strong>Important Documents</strong></h2>
			<blockquote>
				<h4><strong>Meeting Information</strong></h4>
				<ul>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2016/meeting-info/Agenda_Draft_-_13_Apr_2016.docx"><strong>SGM 2016 Draft Agenda</strong> (Last updated April 13)</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/meeting-info/GHP_SGM_2016_Draft_Agenda_-_12_Apr_2016.pdf">SGM 2016 Global Health Program Draft Agenda (Last updated April 12)</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/meeting-info/[PRT]%20Agenda%20-%20SGM%202016.pdf">SGM 2016 Presidents' Roundtable Agenda</a>
					</li>
					<li>
						<span class="file-format">DOCX</span><a href="/files/meetings/sgm-2016/meeting-info/Reps_SGM_Agenda_.docx">SGM 2016 CFMS Representatives Agenda</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/meeting-info/SGM_2016_Call_for_Nominations_President-Elect.pdf">SGM 2016 Call for Nomination &ndash; CFMS President-Elect</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/meeting-info/SGM_2016_Call_for_Resolutions.pdf">SGM 2016 Call for Resolutions</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/meeting-info/AGM_2015_Meeting_Minutes.pdf">AGM 2015 Meeting Minutes</a>
					</li>
				</ul>
			</blockquote>

			<h2 id="executive-officer-reports"><strong>Executive &amp; Officer Reports</strong></h2>
			<blockquote>
				<h4><strong>Executive &amp; Officer Reports</strong></h4>
				<ul>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/President_SGM_2016_Update.pdf">President</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/VP_Medical_Education_SGM_2016_Update.pdf">Vice-President Education</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/VP_Communications_SGM_2016_Update.pdf">Vice-President Communications</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/VPFinance_SGM_2016_report.pdf">Vice-President Finance</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/VP_GA_SGM_2016_Update.pdf">Vice-President Government Affairs</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/VP_Student_Affairs_SGM_2016_Update.pdf">Vice-President Student Affairs</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/SGM_2016_CFMS_VP_GH_Report.pdf">Vice-President Global Health &amp; National Officers</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/Western_Rep_SGM_2016_Update.pdf">Western Regional Representatives</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/Ontario_Rep_SGM_2016_Update.pdf">Ontario Regional Representatives</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/Quebec_Rep_SGM_2016_Update.pdf">Quebec Regional Representative</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2016/exec-reports/Atlantic_Rep_SGM_2016_Update.pdf">Atlantic Representative</a>
					</li>
				</ul>
			</blockquote>

			<h2 id="resolutions"><strong>Resolutions</strong></h2>
			<blockquote>
				<h4><strong>Resolution 1</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/Nemo_Contradicente_Voting.docx"><strong>Resolution:</strong> Adoption of Nemo Contradicente Voting</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 2</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/ALC_Resolution.doc"><strong>Resolution:</strong> Adoption of the policy paper "Advocacy and Leadership in Canadian Medical Student Curricula"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/ALC_Policy_Paper.pdf"><strong>Supporting Document: </strong> Advocacy and Leadership in Canadian Medical Student Curricula</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 3</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/3-_NOR_Motion_R.docx"><strong>Resolution:</strong> Creation of a National Officer of Research (NOR)</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/3-_NOR_Proposal_R.docx"><strong>Supporting Document: </strong> Proposal for the National Officer of Research (NOR)</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 4</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/4-_Campus_Membership_Motion.docx"><strong>Resolution:</strong> Campus Membership - Bylaws Amendment</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 5</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/5-_Fees_Motion.docx"><strong>Resolution:</strong> New Institutional or Campus Member Fee Payments</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 6</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/6-_Resolution_Prioritization_Motion.docx"><strong>Resolution:</strong> Adoption of the policy statement "Prioritization of Motions at CFMS General Meetings"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/6-_Resolution_Prioritization_Proposal.docx"><strong>Supporting Document:</strong> Prioritization of Motions at CFMS General Meetings</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 7</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/7-_Rural_and_Remote_Maternity_Care_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Rural and Remote Maternity Care"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/7-_Rural_and_Remote_Maternity_Care_Proposal.pdf"><strong>Supporting Document:</strong> Rural and Remote Maternity Care</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 8</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/8-_MSPR_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Medical Student Performance Records in Canadian Medical Schools"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/8-_MSPR_Proposal.pdf"><strong>Supporting Document:</strong> Medical Student Performance Records in Canadian Medical Schools</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 9</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/9-_Resource_Stewardship_in_Med_Ed_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Integration of Resource Stewardship in Medical Education"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/9-_Resource_Stewardship_in_Med_Ed_Proposal.docx"><strong>Supporting Document:</strong> Integration of Resource Stewardship in Medical Education</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 10</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/10-_Omnibus_Bylaws_Motion.docx"><strong>Resolution:</strong> Omnibus Bylaws</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/10-_Omnibus_Bylaws_Proposal.docx"><strong>Supporting Document:</strong> CFMS Bylaws, revised for SGM 2016</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 11</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/11-_LOIH_at_AGM_Motion.docx"><strong>Resolution:</strong> Local Officers of Indigenous Health at AGM</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/11-_LOIH_at_AGM_Proposal.docx"><strong>Supporting Document:</strong> LOIH at AGM Budget</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 12</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/12-_Clinician-Scientist_Training_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Supporting Clinician-Scientist Training in Canada"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/12-_Clinician-Scientist_Training_Proposal.docx"><strong>Supporting Document :</strong>  Supporting Clinician-Scientist Training in Canada</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 13</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/13-_Climate_Change__GH_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Climate change and global health: Training future physicians to act and mitigate"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/13-_Climate_Change_and_GH_Proposal_R.docx"><strong>Supporting Document:</strong> Climate change and global health: Training future physicians to act and mitigate</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 14</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/14-_HEART_Motion.docx"><strong>Resolution:</strong> Creation of a CFMS Task Force on the Environment and Health</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/14-_HEART_Proposal_R.docx"><strong>Supporting Document:</strong> Health and Environment Adaptive Response Task Force Terms of Reference</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 15</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/15-_Position_and_Policy_Paper_Development.doc"><strong>Resolution:</strong> Adoption of revisions to the resource document "Tools and Guidelines for Position and Policy Paper Development"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/15-_Position_Paper_Development_Motion.doc"><strong>Supporting Document:</strong> Tools and Guidelines for Position and Policy Paper Development, revised for SGM 2016</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 16</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/16-_IMG_Backgrounder_Motion.docx"><strong>Resolution:</strong> Adoption of the report "Backgrounder: International Medical Graduates and the Canadian Healthcare System"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/16-_IMG_Backgrounder_Proposal.docx"><strong>Supporting Document:</strong> Backgrounder: International Medical Graduates and the Canadian Healthcare System</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 17</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/17-_PASS_Admissions_Diversity_Motion.doc"><strong>Resolution:</strong> Adoption of the policy area summary statement "Access to Medical Education"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/17-_PASS_Admissions_Diversity_Proposal.pdf"><strong>Supporting Document:</strong> Access to Medical Education: A Policy Area Summary Statement</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 18</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/18-_Human_Trafficking_in_Canada_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Human Trafficking in Canada"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/18-_Human_Trafficking_in_Canada_Proposal.pdf"><strong>Supporting Document:</strong> Human Trafficking in Canada</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 19</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/19-_Human_Trafficking_Medical_Education_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Educating Pre-Clerkship Canadian Medical Students About Human Trafficking"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/19-_Human_Trafficking_Medical_Education_Proposal.pdf"><strong>Supporting Document:</strong> Educating Pre-Clerkship Canadian Medical Students About Human Trafficking</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 20</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/20-_Organ_and_Tissue_Donation_Motion.docx"><strong>Resolution:</strong> Adoption of the policy paper "Organ and Tissue Donation in Canadian Undergraduate Medical Education"</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/20-_Organ_and_Tissue_Donation_Proposal_R.pdf"><strong>Supporting Document:</strong> Organ and Tissue Donation in Canadian Undergraduate Medical Education</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 21</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/21-_ETF_Recommendations_Motion.docx"><strong>Resolution:</strong> Adoption of the recommendations of the CFMS Elections Task Force</a>
					</li>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/21-_ETF_Recommendations_Proposal.docx"><strong>Supporting Document:</strong> Recommendations of the CFMS Elections Task Force</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h4><strong>Resolution 22</strong></h4>
				<ul>
					<li>
						<a href="/files/meetings/sgm-2016/resolutions/22-_Mistreatment.docx"><strong>Resolution:</strong> Medical Student Mistreatment: Initial Steps</a>
					</li>
				</ul>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>