---
title: "Human Rights &amp; Peace - Draft"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#human-rights-peace" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>
			<p>The CFMS Global Health Advocacy Program is proud to launch the Health and Human Rights Pocket Card Series. These cards are intended to serve as a resource for medical students who wish to take on a more holistic approach to the patient encounter. If you are interested in learning more about this initiative, please contact the CFMS National Officer of Human Rights and Peace, Henry Annan, at norp@cfms.org. Stay tuned for more cards in the future!
			</p>
			</p>Special thanks to Hayley Chato, Graphic Designer and Illustrator (<a href="mailto:hayleychato@gmail.com">hayleychato@gmail.com</a>).</p>				
		</div>
	</div>
	{% include footer.html %}
</body>
</html>