---
title: "Global Health"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>
			<div class="pic-wrapper"><img class="pic-right" style="width:25%; padding-left:30px;" src="/images/page-images/global-health.jpg"></div>
			<p>Welcome to the home of the CFMS Global Health Program. Within this section of the website you can find out more information about our work, find out who the National Officers and Local Officers are, and learn about ways that you can get involved in global health projects and initiatives. The GHP is a dynamic body, ever-changing to best suit the needs of CFMS members and our stakeholders. If you have an idea, comment, or question, please don’t hesitate to reach out!</p>
			<blockquote>
				<p><em>"I am heartened to know that students in the CFMS Global Health Program are our partners in the fight for health equity and social justice. You promote global health education, sexual and reproductive health, Indigenous health, and global health advocacy in Canada and around the world. Thank you for your commitment and solidarity, and thank you for being my retirement plan."</em></p>
				<p style="font-size:90%; line-height:1.4em;"><strong>Dr. Paul Farmer</strong>, Co-Founder of Partners In Health (PIH), and Special Advisor to the UN Secretary-General for Community-based Medicine and Lessons from Haiti</p>
			</blockquote>
			<h2><strong>What do we do?</strong></h2>
			<p>The CFMS Global Health Program (GHP) was developed over the last 14 years in response to a growing need for coordinated programming and collaboration focused specifically on global health. The activities of the GHP are diverse, focusing on human rights and peace, reproductive and sexual health, international exchanges, global health education, indigenous health, climate change and health, and many more. Some examples of what we do include:</p>
			<ol>
				<li><strong><a href="international-exchanges.html">International Exchanges</a></strong>: CFMS participates in an international exchange program where medical students undertake clinical electives or research projects, each four-weeks long, in a foreign country or region.</li>
				<li><strong><a href="elective-status-board.html">Global Health Blog</a></strong>: <em>Very</em> useful resources for applying for Electives. See elective opening dates and deadlines on one page, and school-specific requirements.</li>
				<li><strong><a href="our-team.html">External Representation</a></strong>: See the external committees and initiatives that the Education Committee is involved in.</li>
			</ol>					
		</div>
	</div>
	{% include footer.html %}
</body>
</html>