---
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#international-exchanges" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">IFMSA-CFMS International Exchange Program</h1>
			<blockquote>
				<h4><strong>Applications are now closed</strong></h4>
				<ul>
					<li>Applications for the upcoming Summer 2017 season will open in <strong>October 2016</strong>.</li>
				</ul>
			</blockquote>
			<p>CFMS participates in an international exchange program where medical students undertake clinical electives or research projects, each four-weeks long, in a foreign country or region. The exchange program is run independently by each host country or region. It is for students who are independent, self-directed, open-minded, and able to handle unforeseen challenges and take learning into his or her own hands.</p>
			<p>This past season (Summer 2015), over 70 Canadian medical students participated in the program. In the upcoming season, a total of 170 placement spots are available across 47 countries and regions (highlighted in yellow in the map below).</p>
			<p><img src="/images/page-images/exchanges/map.jpg"></p>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>