---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#our-team" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Our Team</h1>
			<h1><strong>VP Global Health</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/execs/2015-2016/golden-gao.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Golden Gao</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of British Columbia</span>
					</li>
					<li class="url"><a href="mailto:vpglobalhealth@cfms.org">vpglobalhealth@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Golden Gao is a third year medical student from the University of British Columbia (UBC). He has a keen interest in engaging medical students in learning about social determinants of health and in improving global health education across Canada. His interest in global health and social medicine stemmed from an undergraduate project on community-based health insurance in Sub-Saharan Africa. At UBC, Golden was the global health liaison (GHLs) for two years, during which time he contributed to the development of a national consensus document on global health competencies for medical students. As the incoming VP Global Health, Golden hopes to strengthen the global health program through strategic planning and capacity-building projects for GHLs. In his spare time, he enjoys running, film making, and beer brewing.</span>
					</li>
				</div>
			</div>
			<h1><strong>National Exchange Officers (NEOs)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/antonio-lee.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-role">
						<span class="editable">NEO &ndash; Outgoing Exchanges</span>
					</li>
					<li class="exec-name">
						<span class="editable">Antonio Lee</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of Toronto</span>
					</li>
					<li class="url"><a href="mailto:exchanges.outgoing@gmail.com">exchanges.outgoing@gmail.com</a></li>
					<li class="exec-desc">
						<span class="editable">Antonio is passionate about understanding and addressing the health needs of marginalized populations in Canada and around the world. He is a firm believer of harm reduction and the concept of "health as a human right". Antonio is currently a medical student and a LEAD Scholar at the University of Toronto. After completing the Honours BHSc program at McMaster University, Antonio attended the Johns Hopkins Bloomberg School of Public Health for the MSPH degree in the Global Disease Epidemiology &amp; Control program. In addition to attaining proficiency in public health sciences, Antonio completed the Graduate Certificates in Vaccine Science &amp; Policy, and in Health Finance &amp; Management at Hopkins. He also earned his CPH designation during this period.</span>
					</li>
					<li class="exec-desc">
						<span class="editable">Antonio's research interests took him to West Africa, where he supported epidemiological and human rights assessments for a USAID-funded HIV prevention study on sex worker and men who have sex with men populations. On the policy side, Antonio interned at the World Health Organization (WHO) in Geneva, Switzerland, where he contributed to a target-setting technical guide for HIV prevention, treatment, and care for marginalized populations. While HIV remains Antonio’s core interest, his work extends to other diseases that also disproportionately affect vulnerable populations, including inner city population, Native Americans, Korean-American immigrants, and North Korean refugees.</span>
					</li>
					<li class="exec-desc">
						Antonio is a self-proclaimed Francophile and an avid fan and player of jazz music, and enjoys photography, squash, and competitive running during his spare time.</span>
					</li>
				</div>
			</div>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/kelly-ma.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-role">
						<span class="editable">NEO &ndash; Incoming Exchanges</span>
					</li>
					<li class="exec-name">
						<span class="editable">Kelly Ma</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of Alberta</span>
					</li>
					<li class="url"><a href="mailto:exchanges.incoming@gmail.com">exchanges.incoming@gmail.com</a></li>
					<li class="exec-desc">
						<span class="editable">Kelly Ma is currently pursuing her M.D. at the University of Alberta, after completing 3 years in Biochemistry at the U of A. She is passionate about global health, and is a firm believer in the value of international exchanges. Her interests led her to Europe for an international elective and Asia for a clinical research project, where she was able to experience completely different cultures. She is very improvement driven, and plans on further expanding and strengthening the CFMS-IFMSA exchange program over the next 2 years. She hopes to provide students more opportunities to participate in an international elective and learn about a different culture and health care system. During her free time, she enjoys dancing, playing piano, travelling, and meeting new people.</span>
					</li>
				</div>
			</div>
			<h1><strong>National Officer of Human Rights and Peace (NORP)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/koray-demir.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Koray Demir</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of Alberta</span>
					</li>
					<li class="url"><a href="mailto:norp@cfms.org">norp@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Koray is beginning his second term as National Officer of Human Rights and Peace (NORP) for CFMS this year. He is a second year medical student at McGill University, where he is actively engaged with student and community initiatives. On campus, he co-leads SSUNS, Canada’s largest high school Model UN conference, and is an advisor for McGill’s Comparative Healthcare Systems Program. He has worked in humanitarian medicine in Honduras, the Dominican Republic, Nicaragua and Panama, and spent the last summer contributing to health equity projects at the World Health Organization in Japan.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">In CFMS last year, he launched the Global Health Advocacy Program’s Humans of Pharmacare project and was one of the Canadian representatives at the IFMSA March Meeting in Antalya, Turkey. He’s looking forward this year to continue the momentum started by last year’s work in access to medicines, while also addressing other key issues in human rights &amp; health, like refugee and immigrant health policy. He hopes to build more opportunities for Canadian medical students this year through internships with human rights and health policy groups, while providing more support for CFMS members-at-large to engage with the portfolio.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">On a personal level, Koray hopes to continue travelling and to explore Southeast Asia sometime soon, and is doing his best to lower his blood caffeine levels to a more socially accepted standard.</span>
					</li>
				</div>
			</div>
			<h1><strong>National Officer of Indigenous Health (NOIH)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/ryan-giroux.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Ryan Giroux</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of Toronto</span>
					</li>
					<li class="url"><a href="mailto:noih@cfms.org">noih@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Ryan is the National Officer of Indigenous Health (NOIH) for a second term for the inaugural year of the re-vamped Indigenous Health Program. He is Métis from northern Alberta and grew up in Athabasca, Alberta. Prior to medical school, he completed a Bachelor of Arts in Anthropology &amp; Biological Sciences (Class of 2013) at the University of Alberta.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">Currently, he is in his third year of medicine at the University of Toronto. In addition to his studies, he maintains an active portfolio of extracurricular involvements and research. Within the CFMS, he was the Local Officer of Indigenous Health (LOIH) for the U of T for two years as well as leading the overhaul of the former Aboriginal Health Liaison position into the nationwide NOIH-LOIH Indigenous Health program. Particular interests within Indigenous health include medical education, Indigenous women’s health, and children’s health &amp; ethics.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">He has also conducted work within the IFMSA in communicable diseases and has been involved in LGBTQ health promotion at the U of T as a co-director of Out in Medicine (the Faculty of Medicine’s LGBTQ student group). He is also a cast alumnus of the Faculty of Medicine’s Daffydil musical and a third-year class representative for the Pediatrics clerkship course &amp; curriculum evaluation. As well, he is a research student at the Hospital for Sick Children (SickKids) cross-appointed between the Division of Infectious Diseases and Centre for Global Child Health, researching social pediatrics, tuberculosis, and antimicrobial resistance.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">When he's not busy with studying or these involvements, Ryan enjoys theatre, running, NPR podcasts, finding the perfect cappuccino, shopping in antique stores, and (most importantly) having a nice nap.</span>
					</li>
				</div>
			</div>
			<h1><strong>National Officer of Partnerships (NOP)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/scott-hodgson.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Scott Hodgson</span>
					</li>
					<li class="exec-school">
						<span class="editable">University of Manitoba</span>
					</li>
					<li class="url"><a href="mailto:nop@cfms.org">nop@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Scott Hodgson is currently in his third year of study in Medicine at the University of Manitoba, and had completed a Bachelor of Science in Genetics with Honors previously. He has an extensive history working with both the CFMS and the International Federation of Medical Students Associations (IFMSA). With the CFMS, he has spent two years as a Global Health Liaison, and 1 year as the CFMS-IFMSA Liaison. With the IFMSA, he served as the Regional Assistant for Medical Education in the Americas.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">Scott’s vision for the NOP role re-defines the position as a combination of manager, communicator, and external engager. He believes that the NOP should be responsible for designing the CFMS Global Health meetings to be tailored to the needs of the GHLs and other attending members. He also believes that the NOP should create tools and databases to promote collaboration and empowerment of the Global Health members. Finally, he plans to serve as a support the still growing role of the CFMS-IFMSA Liaison.</span>
					</li>
				</div>
			</div>		
			<h1><strong>National Officer of Global Health Education (NOGHE)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/kelita-singh.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Kelita Singh</span>
					</li>
					<li class="exec-school">
						<span class="editable">McGill University</span>
					</li>
					<li class="url"><a href="mailto:noghe@cfms.org">noghe@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Kelita is a third year medical student at McGill University. She completed a Honours B.Sc. in Anatomy and Cell Biology and a Minor in the Social Studies of Medicine. Montreal's unique charm kept her there for medical school. Over the last year, Kelita's interest in global health education has grown through her role as the Medicine Student Coordinator for the McGill Interprofessional Global Health Course, an extracurricular student-run course designed for students training in various health professions at McGill. She has a special interest in the local application of global health concepts and in the interprofessional collaboration of global health initiatives. She strongly believes that in a population as culturally diverse as Canada's, medical trainees should have adequate knowledge of the principles of global health in order to best serve their patients both at home and abroad. </span>
					</li>
 					<li class="exec-desc">
						<span class="editable">Kelita is very excited to be a part of the CFMS Global Health Program and looks forward to expanding and contributing to the amazing portfolio already put into place by the past and present Global Health Team. When not juggling clerkship duties, she enjoys spin classes, singing and the view from the top of Mont-Royal.</span>
					</li>
				</div>
			</div>	
			<h1><strong>National Officer of Sexual and Reproductive Health (NORSH)</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/officers/2015-2016/jenna-webber.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Jenna Webber</span>
					</li>
					<li class="exec-school">
						<span class="editable">Northern Ontario School of Medicine</span>
					</li>
					<li class="url"><a href="mailto:norsh@cfms.org">norsh@cfms.org</a></li>
					<li class="exec-desc">
						<span class="editable">Hello and bonjour, my name is Jenna (also go by Jay). I am honoured and excited to be serving as NORSH this year in the aim to advocate for reproductive and sexual health education, awareness, competency and sensitivity across Canada. I am currently a third year student at the Northern Ontario School of Medicine (NOSM), with a previous Bachelor of Health Sciences Honours degree from McMaster University.</span>
					</li>
 					<li class="exec-desc">
						<span class="editable">I have a particular passion for and dedication to LGBT2-SQ+ health, access to family planning, fertility, contraception and abortion services, access in rural and remote areas, and safe care for marginalized populations such as the homeless and sex workers. I have previously served two terms as a Local Officer of Reproductive and Sexual Health, attended multiple CFMS meetings, and co-authored a position paper regarding LGBTQ+ healthcare education. Nationally, I also currently act as the Society of Rural Physicians of Canada Student Committee Co-Chair. Locally, I am engaged in multiple research initiatives exploring sexual health, as well as Trans health, in addition to serving on the NOSM Student Society.</span>
					</li>
					<li class="exec-desc">
						<span class="editable">This year I aim to increase the visibility and bilingualism of the RSH portfolio, create and strengthen collaborations between students and local RSH advocacy groups and faculty, as well as engage our students and communities in important discussions and events to address the misconceptions and stigmas surrounding RSH. I look forward to hearing about your passions and learning from you and your communities this year!</span>
					</li>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>