<script type="text/javascript">
	function getEmail(username){
		var hostname = "cfms.org";
		var linktext = username + "@" + hostname;
		document.write("<a class='email' href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
	}
</script>
<div id="footer">
	<div class="column">
		<h1>
			<div id="twitter-title">Latest tweets <span style="opacity:0.3">:</span></div>
			<div id="twitter-handle"><a href="https://twitter.com/cfmsfemc">@CFMSFEMC</a></div>
		</h1>
		<div class="icon"><i class="fa fa-twitter"></i></div>
		<div id="latest-tweets">
		</div>
	</div>
	<div class="column">
		<h1>Contact us <span style="opacity:0.3">:</span></h1>
		<div class="icon"><i class="fa fa-map-marker"></i></div>
		<li>
			Canadian Federation of Medical Students<br>
			267 O'Connor Street, Suite 401<br>
			Ottawa, ON K2P 1V3
		</li>
		<div class="icon"><i class="fa fa-phone"></i></div>
		<li>
			<b>Phone</b>: 613&ndash;565&ndash;7740<br>
			<b>Fax</b>: 613&ndash;565&ndash;7742
		</li>
		<div class="icon"><i class="fa fa-envelope-o mail"></i></div>
		<div id="emails">
			<li><b>General Inquiries</b>: Rosemary Conliffe<br>
			    <script>getEmail("office")</script>
			</li>
			<li><b>Media</b>: Anthea Girdwood<br>
				<script>getEmail("vpcommunications")</script>
			</li>
			<li><b>Information Technology</b>: Kevan Lu<br>
				<script>getEmail("it")</script>
			</li>
		</div>
	</div>
	<div class="column">
		<h1>
			Find us on <span style="opacity:0.3">:</span>
			<div id="social-media">
				<a class="social-icon" href="https://www.facebook.com/CFMSFEMC"><i class="fa fa-facebook"></i></a>
				/
				<a class="social-icon" href="https://twitter.com/cfmsfemc"><i class="fa fa-twitter"></i></a>
				/
				<a class="social-icon" href="https://www.linkedin.com/company/canadian-federation-of-medical-students-cfms-"><i class="fa fa-linkedin"></i></a>
			</div>
		</h1>
		<div class="icon"><i class="fa fa-sitemap"></i></div>
		<li>
			<b>Site Map:</b> <a href="{{ site.root }}/sitemap.html">cfms.org/sitemap.html</a>
		</li>
		<div class="icon"><i class="fa fa-copyright"></i></div>
		<li>
			<script>document.write((new Date()).getFullYear())</script>
			CFMS. All Rights Reserved.<br>
			Developed by <a href="http://www.kevan.lu">Kevan Lu</a>
		</li>		
	</div>
</div>
<script src="{{ site.root }}/js/twitterFetcher_min.js" type="text/javascript"></script>
<script type="text/javascript">
	document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
		this.classList.toggle( "active" );
		document.querySelector("#top-nav").classList.toggle("active");
	});

	//Gets latest tweets
	var tweetConfig = {
	  "id": '616581601191833602',
	  "domId": 'latest-tweets',
	  "maxTweets": 3,
	  "enableLinks": true,
	  "showPermalinks": false,
	  "showUser": false,
	  "showInteraction": false,
	  "showRetweet": false,
	  "dateFunction": dateFormatter
	};

	//Formats the tweet dates
	function dateFormatter(date) {
		var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var hour = date.getHours();

		//0:00 = 12 AM
		if (hour == 0)
			var time = "12:" + date.getMinutes();
		else 
			time = (hour%12) + ":" + date.getMinutes();
		if (hour > 0 && hour < 12)
			time += " AM";
		else 
			time += " PM";

		var month = months[date.getMonth()];
		var day = date.getDate();
		var year = date.getFullYear();
		return time + " &ndash; " + month + " " + day + ", " + year;
	}
	twitterFetcher.fetch(tweetConfig);
</script>

<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<div class="scroller">
	<script src="{{ site.root }}/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#scroll').scrollToFixed({ 
	    	minWidth: 960,
	    	marginTop: 20, 
	    	limit: function() {
		        var limit = $('#footer').offset().top - $('#scroll').height() - 40;
		        return limit;
		    }
	    });
	});
	</script>
</div>
