<!--Metadata-->
<meta charset="utf-8">
<title>Canadian Federation of Medical Students</title>
<meta name="description" content="Canadian Federation of Medical Students">
<meta name="keywords" content="CFMS, Medicine, Canada, Advocacy, Medical School, Association">
<meta name="author" content="Kevan Lu">
<meta name="robots" content="noindex,nofollow"/>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>

<!--Favicon-->
<link rel="shortcut icon" href="{{ site.root }}images/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.root }}/images/favicon.ico" type="image/x-icon">

<!--Stylesheets-->
<link rel="stylesheet" href="{{ site.root }}/stylesheets/base.css">
<link rel="stylesheet" href="{{ site.root }}/stylesheets/header.css">
<link rel="stylesheet" href="{{ site.root }}/stylesheets/footer.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">