<!--Metadata-->
<meta charset="utf-8">
<title>Canadian Federation of Medical Students</title>
<meta name="description" content="Canadian Federation of Medical Students">
<meta name="keywords" content="CFMS, Medicine, Canada, Advocacy, Medical School, Association">
<meta name="author" content="Kevan Lu">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>

<!--Favicon-->
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<!--Stylesheets-->
<link rel="stylesheet" href="/stylesheets/base.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!--Firebase Code-->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCRaJStQDuZ0nrn0b59kzYphlAkJ62flo8",
    authDomain: "amber-heat-9132.firebaseapp.com",
    databaseURL: "https://amber-heat-9132.firebaseio.com",
    storageBucket: "amber-heat-9132.appspot.com",
    messagingSenderId: "466232039218"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript">
  {% include login.js %}
</script>

<!--Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77140171-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="/js/js.cookie.js"></script>

<!--Scroll Reveal-->
<script src="/js/scrollreveal.min.js"></script>
<script>
      window.sr = ScrollReveal();
</script> 
<style>
    /* Ensure elements load hidden before ScrollReveal runs */
    .animate { visibility: hidden; }
</style> 