{% for nav in site.data.translations.nav %}
	{% if nav.lang == page.lang %}
		<div id="top-bar" class="invert">
			<div id="top-icon">
				<div id="logo-group">
					<img id="logo-invert" src="{{ site.root }}/images/cfms-logo-invert.svg">
					<img id="logo" src="{{ site.root }}/images/cfms-logo.svg">
					<a href="{{ site.root }}{{ nav.lang_path }}/index.html">{{ nav.acronym }}</a>
				</div>
				<span id="logo-desc"><a href="{{ site.root }}{{ nav.lang_path }}/index.html">{{ nav.title }}</a></span>
			</div>
			<div id="top-hamburger">
				<a id="nav-toggle" href="#"><span></span></a>
			</div>
			<div id="top-nav">
				<ul>
					<li id="who-we-are"><a class="top-level" href="{{ site.root }}{{ nav.lang_path }}/who-we-are/index.html">{{ nav.who_we_are }}</a></li>
					<li id="what-we-do"><a class="top-level" href="{{ site.root }}{{ nav.lang_path }}/what-we-do/index.html">{{ nav.what_we_do }}</a>
						<div id="sub-menu">
						    <ul>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/what-we-do/advocacy/index.html">{{ nav.advocacy }}</a></li>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/what-we-do/education/index.html">{{ nav.education }}</a></li>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/what-we-do/global-health/index.html">{{ nav.global_health }}</a></li>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/what-we-do/student-affairs/index.html">{{ nav.student_affairs }}</a></li>
						    </ul>
						</div>
					</li>
					<li id="resources"><a class="top-level" href="{{ site.root }}{{ nav.lang_path }}/resources/index.html">{{ nav.resources }}</a></li>
					<li id="meetings"><a class="top-level" href="{{ site.root }}{{ nav.lang_path }}/meetings/index.html">{{ nav.meetings }}</a>
						<div id="sub-menu">
						    <ul>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/meetings/agm-2015-windsor.html">AGM 2015 &ndash; Windsor, ON</a></li>
						    	<li><a href="{{ site.root }}{{ nav.lang_path }}/meetings/sgm-2015-vancouver.html">SGM 2015 &ndash; Vancouver, BC</a></li>
						    </ul>
						</div>
					</li>
					<li id="news"><a class="top-level" href="{{ site.root }}{{ nav.lang_path }}/news/index.html">{{ nav.news }}</a></li>
					<li id="login-button"><a href="">{{ nav.login }}</a></li>
					{% if nav.lang == "en" %}
						<li id="lang-toggle"><a id="en" class="current-lang" href="{{ site.root }}/index.html">EN</a> / <a id="fr" href="{{ site.root }}/fr/index.html">FR</a></li>
					{% else %}
						<li id="lang-toggle"><a id="en" href="{{ site.root }}/index.html">EN</a> / <a id="fr" class="current-lang" href="{{ site.root }}/fr/index.html">FR</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endfor %}
