<div id="top-bar" class="invert">
	<div id="top-icon">
		<div id="logo-group">
			<img id="logo-invert" src="{{ site.root }}/images/cfms-logo-invert.svg">
			<img id="logo" src="{{ site.root }}/images/cfms-logo.svg">
			<a href="{{ site.root }}/index.html">CFMS</a>
		</div>
		<span id="logo-desc"><a href="{{ site.root }}/index.html">Canadian Federation of<br>Medical Students</a></span>
	</div>
	<div id="top-hamburger">
		<a id="nav-toggle" href="#"><span></span></a>
	</div>
	<div id="top-nav">
		<ul>
			<li id="who-we-are"><a class="top-level" href="{{ site.root }}/who-we-are/index.html">Who We Are</a></li>
			<li id="what-we-do"><a class="top-level" href="{{ site.root }}/what-we-do/index.html">What We Do</a>
				<div id="sub-menu">
				    <ul>
				    	<li><a href="{{ site.root }}/what-we-do/advocacy/index.html">Advocacy</a></li>
				    	<li><a href="{{ site.root }}/what-we-do/education/index.html">Education</a></li>
				    	<li><a href="{{ site.root }}/what-we-do/global-health/index.html">Global Health</a></li>
				    	<li><a href="{{ site.root }}/what-we-do/student-affairs/index.html">Student Affairs</a></li>
				    </ul>
				</div>
			</li>
			<li id="resources"><a class="top-level" href="{{ site.root }}/resources/index.html">Resources</a></li>
			<li id="meetings"><a class="top-level" href="{{ site.root }}/meetings/index.html">Meetings</a></li>
			<li id="news"><a class="top-level" href="{{ site.root }}/news/index.html">News</a></li>
			<li id="login-button"><a href="">Login</a></li>
			<li id="lang-toggle"><a id="en" class="current-lang" href="">EN</a> / <a id="fr" href="">FR</a></li>
		</ul>
	</div>
</div>