<div id="sidebar">
	<div id="scroll">
		<span id="sidebar-title">Who We Are</span>
		<ul>
			<li><a id="executives-officers" href="index.html">Executives &amp; Officers</a></li>
			<li><a id="member-schools" href="member-schools.html">Member Schools</a></li>
			<li><a id="cfms-representatives" href="cfms-representatives.html">CFMS Representatives</a></li>
			<li><a id="cfms-at-your-school" href="cfms-at-your-school.html">CFMS at your School</a></li>
			<li><a id="partner-organizations" href="partner-organizations.html">Partner Organizations</a></li>
		</ul>
		<span id="sidebar-title">Our Organization</span>
		<ul>
			<li><a id="governance-structure" href="governance-structure.html">Governance Structure</a></li>
			<li><a id="internal-policy-bylaws" href="bylaws-internal-policy.html">Bylaws &amp; Internal Policy</a></li>
		</ul>
	</div>
</div>