<div id="sidebar">
	<div id="scroll">
		<span id="sidebar-title">Discounts</span>
		<ul>
			<li><a id="overview" href=".">Featured Discounts</a></li>
			<li><a id="travel-discounts" href="discounts-travel.html">Travel and Accommodations</a></li>
			<li><a id="textbook-discounts" href="discounts-textbooks.html">Textbooks</a></li>
			<li><a id="textbook-discounts" href="discounts-textbooks.html">Online Resources</a></li>

<!-- 			<li><a id="textbook-discounts" href="textbook-discounts.html">UpToDate Discount</a></li>
			<li><a id="textbook-discounts" href="textbook-discounts.html">LASIK MD Vision Correction</a></li>
			<li><a id="textbook-discounts" href="textbook-discounts.html">Disability Insurance</a></li> -->
		</ul>
	</div>
</div>