<div id="sidebar">
	<div id="scroll">
		<span id="sidebar-title"><a href="index.html">Global Health</a></span>
		<ul>
			<li><a id="overview" href="index.html">Overview</a></li>
			<li><a id="international-exchanges" href="international-exchanges.html">International Exchanges</a></li>
			<li><a id="global-health-education" href="global-health-education.html">Global Health Education</a></li>
			<li><a id="global-health-blog" href="global-health-blog.html">Global Health Blog</a></li>
			<li><a id="partnerships" href="partnerships.html">Partnerships</a></li>
			<li><a id="reproductive-sexual-health" href="reproductive-sexual-health.html">Reproductive &amp; Sexual Health</a></li>
			<li><a id="human-rights-peace" href="human-rights-peace.html">Human Rights &amp; Peace</a></li>
			<li><a id="aboriginal-health" href="aboriginal-health.html">Aboriginal Health</a></li>
		</ul>
	</div>
</div>