<div id="sidebar">
	<div id="scroll">
		<span id="sidebar-title">Student Affairs</span>
		<ul>
			<li><a id="overview" href="index.html">Overview</a></li>
			<li><a id="our-team" href="our-team.html">Our Team</a></li>
		</ul>
		<span id="sidebar-title">Resources</span>
		<ul>
			<li><a id="wellness" href="wellness.html">Wellness</a></li>
			<li><a id="discounts" href="discounts.html">Student Discounts</a></li>
			<li><a id="leadership-award" href="leadership-award.html">CFMS MD Financial Management Leadership Award</a></li>
		</ul>
	</div>
</div>