<div id="sidebar">
	<div id="scroll">
		<span id="sidebar-title"><a href="index.html">Services for students</a></span>
		<ul>
			<li><a id="finances" href="#">Student Finances</a></li>
			<li><a id="leadership-awards" href="#">MD Leadership Awards</a></li>
			<li><a id="travel-awards" href="#">MD Travel Awards</a></li>
		</ul>
		<span id="sidebar-title"><a href="index.html">Financial advice for:</a></span>
		<ul>
			<li><a id="preclerkship" href="#">Preclerkship</a></li>
			<li><a id="clerkship" href="#">Clerkship</a></li>
			<li><a id="electives" href="#">Electives</a></li>
			<li><a id="residency" href="#">Into Residency</a></li>
		</ul>
	</div>
</div>