<div id="sidebar">
	<span id="sidebar-title"><a href="index.html">Education</a></span>
	<ul>
		<li><a id="overview" href="index.html">Overview</a></li>
		<li><a id="representation" href="representation.html">Representation</a></li>
		<li><a id="projects" href="projects.html">Projects</a></li>
		<li><a id="medical-student-admissions" href="medical-student-admissions.html">Medical Student Admissions</a></li>
		<li><a id="transition-to-residency" href="transition-to-residency.html">Transition to Residency</a></li>
	</ul>
</div>