{% for sidebar in site.data.translations.financial_resources %}
	{% if sidebar.lang == page.lang %}
		<div id="sidebar">
			<div id="scroll">
				<span id="sidebar-title">{{ sidebar.student_services }}</span>
				<ul>
					<li><a id="finances" href="{{ sidebar.student_finances_url }}">{{ sidebar.student_finances }}</a></li>
					<li><a id="leadership-awards" href="{{ sidebar.md_leadership_awards_url }}">{{ sidebar.md_leadership_awards }}</a></li>
					<div class="members-only">
						<li><a id="travel-awards-instructions" style="padding-left:15px;" href="{{ sidebar.md_leadership_awards_instructions_url }}">{{ sidebar.md_leadership_awards_instructions }}</a></li>
						<li><a id="leadership-awards-apply-now" style="padding-left:15px;" href="{{ sidebar.md_leadership_awards_apply_url }}">{{ sidebar.md_leadership_awards_apply }}</a></li>
					</div>
					<li><a id="leadership-awards-prev-winners" style="padding-left:15px;" href="{{ sidebar.md_leadership_awards_prev_winners_url }}">{{ sidebar.md_leadership_awards_prev_winners }}</a></li>
					<li><a id="travel-awards" href="{{ sidebar.md_travel_awards_url }}">{{ sidebar.md_travel_awards }}</a></li>
				</ul>
				<span id="sidebar-title">{{ sidebar.financial_advice }}</span>
				<ul>
					<li><a id="preclerkship" href="{{ sidebar.managing_debt_url }}" target="_blank">{{ sidebar.managing_debt }}</a></li>
					<li><a id="clerkship" href="{{ sidebar.paying_med_school_url }}" target="_blank">{{ sidebar.paying_med_school }}</a></li>
					<li><a id="electives" href="{{ sidebar.preparing_residency_url }}" target="_blank">{{ sidebar.preparing_residency }}</a></li>
					<li><a id="residency" href="{{ sidebar.studying_abroad_url }}" target="_blank">{{ sidebar.studying_abroad }}</a></li>
				</ul>
				<span id="sidebar-title"><a href="">{{ sidebar.testimonials }}</a></span>
				<ul>
					<li><a id="testimonials" href="{{ sidebar.client_testimonials_url }}" target="_blank">{{ sidebar.client_testimonials }}</a>
				</ul>
			</div>
		</div>
	{% endif %}
{% endfor %}