---
title: "Student Finances"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div id="annual-review-top" class="content">
		<div id="annual-review-left">
			<h1 id="page-title">CFMS Annual Review</h1>
			<p>The <strong>CFMS Annual Review</strong> is a publication that includes summaries of executive members' projects as well as contributions of stories, poetry, art and photography from the general membership. It is distributed to over 7500 medical students across the country, to the Deans of Canadian medical schools and to all the major medical organizations throughout Canada. Copies are also sent to all Provincial Ministers of Health, to Provincial Medical Associations as well as to over 100 Members of Parliament.</p>
			<h2><strong>In our latest issue:</strong></h2>
			<ul id="latest-issue-features">
				<li>The CFMS 2014-2017 Strategic Plan</li>
				<li>CFMS &amp; Partners in Health Canada present: Share the Health</li>
				<li>Social Media: Slacktivism or Something more?</li>
				<li>"Political Activism, an Integral part of our Profession"<br>An Interview with Dr. Danielle Martin</li>
			</ul>
		</div>
		<div id="annual-review-right">
			<blockquote id="latest-issue">
				<h3><strong>Latest Issue:</strong></h3>
				<a id="latest-issue-pic" href="{{ site.root }}/files/annual-review/annualreview2015.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2015.jpg"></a>
				<h5><strong>CFMS Annual Review 2015</strong></h5>
				<div class="button">
					<a href="{{ site.root }}/files/annual-review/annualreview2015.pdf">
						<strong>Download</strong>
					</a>
				</div>
			</blockquote>
		</div>
	</div>
	<div class="content" style="padding-top:0px;">
		<h1 id="previous-issues-title"><strong>Previous Issues</strong>:</h1>
		<div id="previous-issues">
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2014.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2014.jpg">2014</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2013.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2013.jpg">2013</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2012.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2012.jpg">2012</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2011.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2011.jpg">2011</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2010.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2010.jpg">2010</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2009.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2009.jpg">2009</a></div>
			<div class="grid-img"><a href="{{ site.root }}/files/annual-review/annualreview2008.pdf"><img src="{{ site.root }}/files/annual-review/annualreview2008.jpg">2008</a></div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>