---
title: MD Travel Awards
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#leadership-awards" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-finances-content">
			<h1 id="page-title">MD Leadership Awards</h1>
			<a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM.svg"></a>
			<p>The CFMS and MD Financial Management want to recognize some of the passionate, dedicated and caring medical student leaders across Canada who have made innovative contributions to their schools and communities. In recognition of their achievements, one student from each of the 14 member schools of the Canadian Federation of Medical Students (CFMS) will receive a Medical Student Leadership Award. </p>
			
			
			<p>To apply, please login at the old CFMS website by clicking here.  We apologize for the inconvenience as we complete the process of migrating to the new site.</p>
			
			<div class="addendum">
				<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
				
			</div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>