---
title: View Exchange Payments
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
</head>
<body>
	{% include nav.html %}

	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>

    <div class="content">
		<div class="student-finances-content">
			<h1 id="page-title">{{ page.title }}</h1>
				<div class="admin-only">
					<blockquote style="max-width: 100%">
						<h3><strong>Payments</strong></h3>
						<label>Exchange</label>
						<div class="select">
							<select id="selected-exchange">
								<option disabled selected value> -- select an exchange -- </option>
							</select>
							<div class="select_arrow"></div>
						</div>
							<table id="example" class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>ID</th>
										<th>Email</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Amount</th>
										<th>Approved</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Email</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Amount</th>
										<th>Approved</th>
									</tr>
								</tfoot>
							</table>
					</blockquote>
				</div>
			</div>
			<div id="not-authorized" class="members-only">
				<blockquote>
					<h3><strong>You are not authorized to view this resource</strong></h3>
					<ul>
						<li>You must be an administrator in order to view this page.</li>
					</ul>
				</blockquote>
			</div>
			<div class="non-members">
				<blockquote>
					<h3><strong>Please login to see this page</strong></h3>
					<ul>
						<li><a class="login-modal" href="" onclick="return false;">Login</a> to the CFMS website in order to view the content on this page.</li>
					</ul>
				</blockquote>
			</div>
		</div>
    </div>

	<div>{% include footer.html %}</div>
</body>	
</html>