---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#discounts" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable"><h1 id="page-title">Rabais</h1><p>The CFMS is hard at work to enable the Log In section of its new website. In the meantime, to access ALL the discounts that the CFMS has to offer, please visit&nbsp;<a href="http://www.old.cfms.org/">http://www.old.cfms.org/</a>&nbsp;and log in to the Members section of the website.</p><p>For the class of 2017, there are several discounts to help with CaRMS and electives...</p><p><img alt="" src="/uploads/versions/2017-discounts---x----2550-3300x---.jpg" />&nbsp;</p></div>
	</div>
	{% include footer.html %}
</body>
