---
---

@import 'variables';

/* #Home Page
––––––––––––––––––––––––––––––––––––––––*/
#home-header {
	background: url(../images/canada.svg) no-repeat 80% 0%; 
	background-color:$dark;
	background-size:530px;
}
#home-title {
	font-size:48px;
	font-family:$header-font-stack;
	font-weight:bold;
	padding-left:$padding;
	line-height:1.1em;
	max-width:800px;
	padding-top:20px;
	color:white;
}
#home-subtitle {
	padding-top:15px;
	padding-bottom:60px;
	font-size:20px;
	font-family:$sans-serif-font-stack;
	padding-left:$padding;
	max-width:500px;
	line-height:1.3em;
	color:$bright;
}

#news-strip {
	@extend .content;
	background-color:black;
	font-family:$sans-serif-font-stack;
	font-size:18px;
	font-weight:bold;
	padding-top:17px;
	padding-bottom:15px;
	a {border-bottom:none; color:$brighter;}
}

$link-padding: 30px;
#featured-links {
	@extend .content;
	background-color:$darker;
	padding-top:30px;
	padding-bottom:30px;
	h1 {
		color:$brighter;
		font-weight:bold;
		margin-bottom:10px;
		font-size:30px;
	}
	a {
		margin-right:$link-padding;
		width:$column-width - $link-padding;
		max-width:$column-width;
		min-width:250px;
		border-bottom:none;
	}
}
.flex-wrapper {
	flex-wrap:wrap;
}
.featured-link {
	max-width:100%;
	height:180px;
	transition:all 0.2s linear;
}
.featured-link-text {
	max-width:100%;
	margin-top:20px;
	margin-bottom:10px;
	line-height:1.5em;
	font-family:$sans-serif-font-stack;
	font-weight:bold;
	color:$brighter;
}
#home-columns {
	display:flex;
	padding-top:40px;
	h1 {
		font-weight:bold;
		color:$neutral;
		border-bottom:2px solid $brighter;
		padding-bottom:7px;
		margin-bottom:25px;
	}
}
#recent-news {padding-left:$padding;}
#more-news-button {
	position: relative;
	top: -3px;
	padding-top:10px;
	margin-left:15px;
	a {
		padding-top:6px;
		color:$bright;
		border-color:$brighter;
		font-size:17px;
	}
	a:hover {
		color:$neutral;
		border-color:$bright;
	}
	font-family:$sans-serif-font-stack;
	font-weight:bold;
}
#sponsors {padding-right:$padding;}
#recent-news{
	padding-bottom:40px;
	li {
		list-style:none;
		margin-left:100px;
		margin-bottom:20px;
	}
}
#recent-news-list{
	max-width:$content-width;
	padding-right:40px;
}
.news-date {
	float:left;
	font-size:16px;
	font-weight:bold;
	font-family:$header-font-stack;
	color:$primary-color;
	display:inline-block;
}
.news-link{
	display:inline-block;
	margin-bottom:2px;
	a {
		font-family:$header-font-stack;
		font-weight:bold;
		font-size:20px;
		color:$darker;
		border-bottom:none;
		line-height:1.2em;
	}
	a:visited{color:$darker;}
	a:hover{
		border-bottom:none;
		color:$primary-color;
	}
}
.news-desc{
	line-height:1.5em;
	font-size:16px;
	color:#444;
}
#sponsors {
	width:$column-width;
	max-width:100%;
	h1 {padding-bottom:10px;}
}
#sponsor-logo {
	padding-right:40px;
	img {
		max-width:220px;
		opacity:0.7;
		transition:all 0.1s linear;
	}
	padding-bottom:30px;
}
#sponsor-logo a {border-bottom:none;}
#sponsor-logo a:hover {
	img {opacity:0.9}
}

/* #Learn More
––––––––––––––––––––––––––––––––––––––––*/
#learn-more {
	@extend .content;
	background-color:$dark;
	padding-bottom:30px;
	h1 {
		text-transform:uppercase;
		font-weight:bold;
		font-size:24px;
		color:$brighter;
	}
	.learn-more-desc {
		max-width:$content-width;
		color:$bright;
		font-family:$sans-serif-font-stack;
		font-size:18px;
		line-height:1.4em;
		padding-bottom:25px;
	}
}
#president-letter {
	@extend .content;
	padding-bottom:50px;
	#columns {
		display:flex;
	}
	h1 {
		font-weight:bold;
		margin-bottom:25px;
	}
	#president-pic {
		max-width:250px;
		padding-right:50px;
		img {width:100%;}
	}
	#letter-intro {
		color:$neutral;
		font-size:24px;
		font-family:$header-font-stack;
		font-weight:bold;
	}
	#letter {
		max-width:$content-width;
	}
	#president-sig {
		width:300px;
	}
	.president-desc {
		padding-top:10px;
		color:$bright;
		font-family:$sans-serif-font-stack;
		font-weight:bold;
		font-size:18px;
	}
}

@media only screen and (max-width: 959px) {
	#learn-more, #president-letter {padding-top:50px;}
}

@media only screen and (max-width: 767px) {
	#columns {
		flex-wrap:wrap;
	}
	#president-letter #president-pic, #columns #letter {
		width:100%;
		min-width:100%;
		padding:0;
	}
	#learn-more {
		padding-top:30px;
		padding-bottom:20px;
		h1 {font-size:20px;}
		.learn-more-desc {
			font-size:16px;
		}
	}
	#president-letter {padding-top:40px;}
	#president-pic img {display:none;}
	#president-pic h1 {
		font-size:22px;
		border-bottom:3px solid $brighter;
	}
	#president-letter .president-desc {font-size:16px;}
	#president-pic .president-desc {display:none;}
	#president-letter #president-sig {
		width:250px;
	}
	#letter #letter-intro {font-size:19px;}
}

/* #Login Page
––––––––––––––––––––––––––––––––––––––––*/
#new-account-top {
	display:flex;
	padding-bottom:30px;
}
#new-account-left {
	max-width:$content-width;
}
#new-account-right {
	max-width:$column-width;
}
#new-account-pane {
	margin-top:0px;
	margin-left:40px;
	margin-right:30px;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
	h5 {
		padding-top:15px;
	}
	.button {
		padding-top:0px;
		padding-bottom:20px;
		a {
			border-color:$primary-color;
			color:$primary-color;
			opacity:0.5;
			font-size:16px;
		}
		a:hover {
			opacity:1;
		}
	}
}
#change-password-request-button {
	padding-bottom:20px;
	a {
		border-color:$primary-color;
		color:$primary-color;
		opacity:0.5;
		font-size:16px;
	}
	a:hover {
		opacity:1;
	}
}

@media only screen and (max-width: 959px) {
	#new-account-top{flex-wrap:wrap; padding-top:30px;}
	#new-account-right {
		max-width:100%;
		width:100%;
	}
	#new-account-pane {
		h3 {
			border-bottom:3px solid $brighter;
			margin-bottom:30px;
			font-size:28px;
		}
		padding:0px;
		background-color:white;
		margin-left:0px;
		margin-right:0px;
		max-width:700px;
	}
}
@media only screen and (max-width: 767px) {
	#new-account-pane {
		h3 {font-size:20px;}
	}
}
@media only screen and (max-width: 480px) {
}

/* #Media specific modifications
––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (max-width: 1199px){
	#home-title, #home-subtitle, #hero-text {
		padding-left:$padding-large-tablet;
		padding-right:$padding-large-tablet;
	}
	#recent-news {padding-left:$padding-large-tablet;}
	#sponsors {padding-right:$padding-large-tablet;}
	#recent-news li{
		margin-left:80px;
	}
}

/* iPad portrait browsing*/
@media only screen and (max-width: 959px) {
	#home-title, #home-subtitle, #hero-text, #recent-news, #sponsors {
		padding-left:$padding-tablet;
		padding-right:$padding-tablet;
	}
	#recent-news {padding-left:$padding-tablet;}
	#sponsors {padding-right:$padding-tablet;}
	#home-title { padding-top:60px;}
	#featured-links a {margin-right:25px;}
	#home-columns{
		flex-wrap:wrap;
	}
	#recent-news {
		max-width:700px;
	}
	#sponsors {
		max-width:100%;
		width:100%;
		background-color:$brighter;
		padding-top:40px;
		h1 {
			color:$neutral;
			border-bottom:2px solid $bright;
		}
	}
	#sponsor-logo {
		text-align:center;
		img {opacity:0.7;}
		a:hover img {opacity:0.9;}
	}
	#footer {
		background-color:$darker;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#home-header {
		background: none; 
		background-color:$dark;
	}
	#home-title, #home-subtitle, #hero-text, #recent-news, #sponsors {
		padding-left:$padding-mobile-landscape;
		padding-right:$padding-mobile-landscape;
	}
	#home-title {
		font-size:32px;
		padding-top:50px;
	}
	#home-subtitle {
		padding-top:15px;
		font-size:16px;
	}
	#news-strip {
		font-size:16px;
		padding-bottom:18px;
	}
	#featured-links {
		h1 {font-size:22px;}
		a {
			margin-right:0px;
			max-width:$column-width;
			width:$column-width;
		}
	}
	.flex-wrapper {
		flex-wrap:wrap;
	}
	.featured-link {
		height:160px;
	}
	.featured-link-text {
		margin-bottom:20px;
	}
	#home-columns {
		padding-top:25px;
		h1 {font-size:24px;}
	}
	#sponsors {
		padding-top:25px;
		h1 {font-size:22px;}
	}
	#sponsor-logo {
		padding-bottom:15px;
		img {max-width:170px;}
	}
	.news-link a {
		font-size:18px;
	}
	.news-link {
		line-height:1.5em;
		padding-bottom:3px;
	}
	.news-date{
		float:none;
		padding-bottom:5px;
	}
	#recent-news-list {
		max-width:500px;
		padding-right:0px;
	}
	#recent-news-list li {
		margin-left:0;
	}
	#recent-news {
		padding-bottom:15px;
	}
	#more-news-button {
		margin-left:8px;
		a {font-size:16px;}
	}
}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
	#home-title, #home-subtitle, #hero-text, #recent-news, #sponsors {
		padding-left:$padding-mobile-portrait;
		padding-right:$padding-mobile-portrait;
	}
	#more-news-button {
		margin-left:0px;
		display:block;
	}
}
