@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}
@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Source Serif Pro";
	font-weight: bold;
	src: url("../fonts/SourceSerifPro-Bold.otf") format("opentype");
}

$header-font-stack: "Proxima Nova", Helvetica, Arial, sans-serif;
$sans-serif-font-stack: "Proxima Nova", Helvetica, Arial, sans-serif;
$serif-font-stack: "Source Serif Pro", Georgia, serif;

$primary-color: #BB0A21;
$primary-color-bright: #F9455D;
$dark: #272A32;
$darker: #181A21;
$neutral: #777A89;
$bright: #B0B4C4;
$brighter: #F2F2F5;

//Colour schemes for each executive portfolio
$president-color: #F6F792;
$vp-communications-color: #74A8DB;
$vp-education-color: #94D888;
$vp-gov-affairs-color: #E25A66;
$vp-student-affairs-color: #CDADEA;
$vp-global-health-color: #FF9455;
$vp-finance-color: #CCCCCC;
$it-officer-color: #D4D6B9;

$padding: 120px;
$padding-large-tablet: 50px;
$padding-tablet: 50px;
$padding-mobile-landscape: 40px;
$padding-mobile-portrait: 25px;
$content-width: 700px;
$column-width: 365px;
$mobile-header-font-size: 26px;

/* #Inherited Classes
––––––––––––––––––––––––––––––––––––––––*/

.set-content-width {
	max-width:$content-width;
}
.content{
	padding-top: 50px;
	padding-left:$padding;
	padding-right:$padding;
}
@media only screen and (max-width: 1199px){
	.content{
		padding-left:$padding-large-tablet;
		padding-right:$padding-large-tablet;
	}
}
@media only screen and (min-width:768px) and (max-width: 959px) {
	.content{
		padding-left:$padding-tablet;
		padding-right:$padding-tablet;
		padding-top:10px;
	}
}
@media only screen and (max-width: 767px) {
	.content {padding-top:10px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.content {
		padding-left:$padding-mobile-landscape;
		padding-right:$padding-mobile-landscape;
	}
}
@media only screen and (max-width: 480px) {
	.content {
		padding-left:$padding-mobile-portrait;
		padding-right:$padding-mobile-portrait;
	}
}

.button {
	padding-top:20px;
	a{
		color:$neutral;
		border:2px solid $neutral;
		border-radius:4px;
		padding: 4px 10px 4px 10px;
		font-family:$sans-serif-font-stack;
	}
	a:after{
		content:"→";
		padding-left:8px;
		vertical-align:bottom;
		font-size:28px;
	}
	a:hover{
		border:2px solid $bright;
		color:$bright;
	}
}
.flex-wrapper {
	display:flex;
}

