---
title: "CFMS Annual Review"
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css" />
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div id="annual-review-top" class="content editable">
		<div id="annual-review-left">
			<h1 id="page-title">CFMS Annual Review</h1>
			<p>The <strong>CFMS Annual Review</strong> is a publication that includes summaries of CFMS projects and activities of the past year, as well as contributions of stories, poetry, art and photography from the general membership. It is distributed to over 8,000 medical students across the country, to the Deans of Canadian medical schools and to all the major medical organizations throughout Canada. Copies are also sent to all Provincial Ministers of Health, to Provincial Medical Associations as well as to over 100 Members of Parliament.</p>
			<p>This year's issue includes a special focus on Indigenous Health, including feature articles on the CFMS National Day of Action on Indigenous Mental Wellness on Parliament Hill, and an interview with Dr. Nadine Caron, Canada's first female Indigenous surgeon.</p>
			<p>Calls for submissions of articles, interviews, experiences, poetry and art from Canadian medical students for the 2019 issue will go out in December 2018!</p>
			<!--<h2><strong>In our latest issue:</strong></h2>
							<ul id="latest-issue-features">
								<li>Responding to Rural Health Needs through Medical Education</li>
								<li>Medical Professionalism Matters to Me</li>
								<li>Less Medicine, More Care: How Choosing Wisely Canada started the Conversation</li>
								<li>Renewing Canada's Commitment to Medicare<br>An Interview with Dr. Monika Dutt, Chair of Canadian Doctors for Medicare</li>
							</ul>-->
		</div>
		<div id="annual-review-right">
			<blockquote id="latest-issue">
				<h3><strong>Latest Issue:</strong></h3><a id="latest-issue-pic" href="/files/annual-review/annualreview2018.pdf"><img src="/files/annual-review/annualreview2018.jpg" /></a>
				<h5><strong>CFMS Annual Review 2018</strong></h5>
				<div class="button"><a href="/files/annual-review/annualreview2018.pdf"><strong>Download</strong> </a></div>
			</blockquote>
		</div>
	</div>
	<div class="content editable" style="padding-top:0px;">
		<h1 id="previous-issues-title"><strong>Previous Issues</strong>:</h1>
		<div id="previous-issues">
			<div class="grid-img"><a href="/files/annual-review/annualreview2017.pdf"><img src="/files/annual-review/annualreview2017.jpg" " />2017</a></div>
		    <div class="grid-img"><a href="/files/annual-review/annualreview2016.pdf"><img src="/files/annual-review/annualreview2016.jpg" />2016</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2015.pdf"><img src="/files/annual-review/annualreview2015.jpg" />2015</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2014.pdf"><img src="/files/annual-review/annualreview2014.jpg" />2014</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2013.pdf"><img src="/files/annual-review/annualreview2013.jpg" />2013</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2012.pdf"><img src="/files/annual-review/annualreview2012.jpg" />2012</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2011.pdf"><img src="/files/annual-review/annualreview2011.jpg" />2011</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2010.pdf"><img src="/files/annual-review/annualreview2010.jpg" />2010</a></div>
			<div class="grid-img"><a href="/files/annual-review/annualreview2009.pdf"><img src="/files/annual-review/annualreview2009.jpg" />2009</a></div>

		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
