---
title: "Textbook Discounts"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#textbook-discounts" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">{{page.title}}</h1>
			<h1><strong>Wolters Kluwer/Lippincott Resources</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/wolters-kluwer.png">
			<p><strong>Receive a 30% Discount on Wolters Kluwer/Lippincott Resources</strong></p>
			<p>Members of CFMS save 30% and receive FREE shipping on the full selection of resources from Wolters Kluwer/Lippincott. Choose from a variety of textbooks, review manuals loaded with Q&amp;A, flash cards, and more.</p>
			<blockquote>
				<h3><strong>Featuring:</strong></h3>
				<div>
					<ul>
						<li><a href="http://www.lww.com/Product/9781451186888">Essentials for the Canadian Medical Licensing Exam, 2nd. Ed</a></li>
						<li>Prepare for success on the MCCQE Part I!  This concise resource provides an efficient and effective review of exactly what you need to know to perform at your best on the exam.</li>
						<li>Written by students, residents, and faculty, it contains only the essential information required to meet the Medical Council of Canada’s Objectives for the Qualifying Examination, saving you valuable time and helping you focus your study.</li>
						<li>Each chapter covers common clinical presentations, including detailed differential diagnoses, relevant physical examination characteristics and diagnostic tests, treatment and patient consultation techniques, and epidemiological information, as well as fundamental scientific principles.</li>
					</ul>
				</div>
			</blockquote>
			<p>Be sure to login to the member's section to see the discount code below. Visit <a href="http://www.lww.com">www.lww.com</a>, select ANY product and use the discount code to save 30%!</p>
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Visit <a href="http://www.lww.com">www.lww.com</a>, select ANY product and use the discount code: <span id="application-deadline">WZP22CFT</span> to save 30%! Valid until Feb 28, 2017.</li>
					</ul>
				</div>
			</blockquote>
			<br>

			<!-- Start Toronto Notes-->
			
			<h1><strong>Toronto Notes</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/toronto-notes-2016-cover.jpg">
			<p><strong>CFMS members can now purchase <i>Toronto Notes at a special discounted price!</i> CFMS and Toronto Notes are excited to offer members 10% off their purchase of the
				<a href="http://torontonotes.uoftbookstore.com/Toronto-Notes-2015.html">Toronto Notes eBook</a>, a regular price of $129.95.</strong></p>
			<p>For 32 years Toronto Notes has been the premiere Canadian reference resource for clerkship rotations and MCCQE preparation. Along with the flagship medical reference book, Toronto Notes produces a concise 'Clinical Handbook' for on-the-ward reference, and a suite of online resources including 
				'ECG made simple', 'The Medical Imaging Atlas', and 'Functional Neuroanatomy.'</p>

			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
					<ul>
						<li>Please login in order to access this discount.</li>
					</ul>
				</div>
				<div class="members-only">
					<p>To receive this exclusive 10% discount on the Toronto Notes eBook:</p>
					<ol>
						<li>Please Visit: <a href="http://torontonotes.uoftbookstore.com/Toronto-Notes-2016.html">http://torontonotes.uoftbookstore.com/Toronto-Notes-2015.html</a></li>
						<li>Add the 'eBook (PDF format)' to your cart ($129.95)</li>
						<li>Use the discount code TN-2140-CFMS during checkout </li>
					</ol>
				</div>
			</blockquote>
			<br>
			<!-- End Toronto Notes-->

			<!-- Start Pharmacology You see -->
			
			<h1><strong>Pharmacology You See</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/PYS-cover.jpg">
			<p><strong>Pharmacology You See is a study aide designed to assist students with exam preparation.</strong></p>
			<p><b>Pharmacology You See</b> integrates information on therapeutics and addresses pharmacological topics that students generally find challenging. This aide highlights the most high yield information for the purpose of exam writing and organizes it into a visual presentation with full-colour
				figures and adverse drug reaction icons.</p>
			<blockquote>
				<p>Therapeutics are organized into the following chapters:</p>
				<ul>
					<li>Pharmacology Basics</li>
					<li>Antimicrobial Drugs</li>
					<li>Cancer Chemotherapeutics</li>
					<li>Cardiovascular Drugs</li>
					<li>Central Nervous System Drugs</li>
					<li>Endocrine Drugs</li>
					<li>Gastrointestinal Drugs</li>
					<li>Hematological Drugs</li>
					<li>Immune Response Modifiers</li>
					<li>Renal and Urological Drugs</li>
					<li>Respiratory Drugs</li>
				</ul>
			</blockquote>
			
			<p><b>Pharmacology You See</b> is written by students in the Physician Scientist Training Program (PSTP) at the University of Cincinnati, USA and in the MD/PhD Program at the University of Toronto, Canada.</p>
			
			<p>The order site is: <a href="http://torontonotes.uoftbookstore.com/PHARMACOLOGY-YOU-SEE.html">here.</a>
				Be sure to login to the memeber's section to obtain the discount code below!</p>


			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
					<ul>
						<li>Please login in order to access this discount.</li>
					</ul>
				</div>
				<div class="members-only">
					<p>To receive this discount:</p>
					<ul>
						<li>Visit <a href="http://torontonotes.uoftbookstore.com/PHARMACOLOGY-YOU-SEE.html">http://torontonotes.uoftbookstore.com/PHARMACOLOGY-YOU-SEE.html</a></li>
						<li>Please apply the following code to your order to obtain a <b>10% discount: PYS-2016-CFMS</b></li>
					</ul>
				</div>
			</blockquote>
			<br>
			<!-- End Pharmacology You see -->
			
			
			<!-- Start Edmonton Manual -->
			<h1><strong>The Edmonton Manual</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/em-book-cover2-1.jpg">
			<p>The CFMS is excited to offer an exclusive discount for members on The Edmonton Manual! CFMS members receive an <b>EXCLUSIVE 10% discount</b>
				off the regular price of The Edmonton Manual.</p>
			<blockquote>
				<p><a href="http://www.edmontonmanual.com">The Edmonton Manual</a>  is a unique Canadian guide for medical students and residents, providing a quick, efficient and up-to-date
					approach to over 140 common clinical encounters. Based on the Medical Council of Canada Qualification Examination (MCCQE) objectives, the Edmonton Manual is a valuable study resource for medical trainees 
					preparing for objective structured clinical examinations (OSCE) including the MCCQE Part II.</p>
			</blockquote>
			
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
					<ul>
						<li>Please login in order to access this discount.</li>
					</ul>
				</div>
				<div class="members-only">
					<p>To receive this discount:</p>
					<ul>
						<!-- Currently AMAZON SAYS THIS BOOK IS UNAVAILABLE! -->
						<li>Visit <a href="http://www.amazon.ca/Edmonton-Manual-common-clinical-scenarios/dp/0986487430">http://www.amazon.ca/Edmonton-Manual-common-clinical-scenarios/dp/0986487430</a></li>
						<li>Use the discount code 'CFMS2014' at the Amazon checkout to receive a <b>10% discount!</b></li>
					</ul>
				</div>
			</blockquote>
			<br>


			<!-- End Edmonton Manual -->
			
			<h1><strong>'Drugs &amp; Drugs' Pocket Guide: Free Electronic Version</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/drugsanddrugs.jpg">
			<p>The <b>third edition of Drugs &amp; Drugs</b> is a pocket guide that provides a comprehensive review of what students need to know about commonly prescribed medications in a practical, 
				concise and organized manner.</p>
			<blockquote>
				<ul>
					<li>Covers over 100 different classes of medications</li>
					<li>1-2 page concise synopsis of each medication class</li>
					<li>To-the-point review of mechanism of action, pharmacokinetics, indications/contraindications, and adverse effects</li>
					<li>Highlights of fundamental principles, pearls and pitfalls of drug use</li>
					<li>Canadian trade names and content</li>
				</ul>
			</blockquote>
			
			<p>CFMS members receive free access to the online and PDF versions of P. Hamilton &amp; D. Hui's 'Drugs &amp; Drugs', courtesy of the University of Alberta's Department of Medicine.</p>

			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
					<ul>
						<li>Please login in order to access this discount.</li>
					</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>The online version can be found <a href="http://homer.med.ualberta.ca/clint/hirex.asp?FNOTIFY=1461@drugsdrugshirex">here.</a></li>
						<li>The online PDF can be found <a href="http://homer.med.ualberta.ca/drugsanddrugs/book/DandD4.pdf">here.</a></li>
					</ul>
				</div>
			</blockquote>
			<br>
			
			
			
			
			
			
			
			
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>