---
title: "LASIK Discounts"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#lasik-discount" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>
            <h3>
                <strong>Laser Vision Correction Discount at LASIK MD</strong></h3>
                <p>LASIK MD is Canada’s only national provider of laser vision correction, with more than 30 clinics located across the country. At LASIK MD, we recognize that each patient is unique and are committed to meeting your specific vision care needs. We offer a full range of vision correction procedures, including reading vision correction, best suited for every pair of eyes. Our dedicated team of eye care professionals will assist you at every step of the process and address any questions you may have along the way.</p>
                <!--
            <p>Free yourself from glasses and contacts with Canada’s leader in laser vision correction. LASIK MD’s experienced surgeons
                perform over 60,000 laser vision correction procedures every year, using the latest laser technology in the field. LASIK
                MD clinics are located in the majority of cities where medical schools are located including: <a href="http://www.lasikmd.com/st-johns">St. John's</a>,
                <a href="http://www.lasikmd.com/halifax">Halifax</a>, <a href="http://www.lasikmd.com/quebec/home">Quebec City</a>,
                <a
                    href="http://www.lasikmd.com/montreal/home">Montreal</a>, <a href="http://www.lasikmd.com/ottawa">Ottawa</a>, <a href="http://www.lasikmd.com/kingston">Kingston</a>,
                    <a href="http://www.lasikmd.com/toronto">Toronto</a>, <a href="http://www.lasikmd.com/hamilton">Hamilton</a>,
                    <a
                        href="http://www.lasikmd.com/london">London</a>, <a href="http://www.lasikmd.com/winnipeg">Winnipeg</a>, <a href="http://www.lasikmd.com/saskatoon">Saskatoon</a>,
                        <a href="http://www.lasikmd.com/calgary">Calgary</a>, <a href="http://www.lasikmd.com/edmonton">Edmonton</a>,
                        and <a href="http://www.lasikmd.com/vancouver">Vancouver</a></p>
                        -->
            <p><strong>CFMS member benefits at LASIK MD include:</strong></span>
            </p>
            <ul>
                <li><strong>A free, no-obligation consultation</strong></span>
                </li>
                <li><strong>Exceptional flat-rate pricing</strong></span>
                </li>
                <li><strong>Complimentary Vision Enhancement Plan</strong></span>
                </li>
            </ul>
            <p><a href="http://www.lasikmd.com/corporate/cfms.en.html">View LASIK MD's website</a> for more information.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><span style="font-size: 8pt;">*CFMS does not endorse the products or services offered by its corporate partners and organizations.</span></p>
			</blockquote>
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only" class="editable">
                <p>Coming soon.</p>
				</div>
			</blockquote>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>