---
title: "Online Resource Discounts"
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">

	<!-- CodeMirror -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

	<!-- Firepad -->
	<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
	<script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#discounts-tax" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Free Tax Filing Services for Medical Students</h1>
			<h1><strong>MNP</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/mnp-logo.png">
			<p>Taxes are complicated – let MNP help you file your return. They can get your taxes done right, on-time and for free. Click here to learn how: <a href="https://www.sharekit.io/ProfessionalsTaxFree">https://www.sharekit.io/ProfessionalsTaxFree. </p>
				<br>
				<br>

			<div>
                <ul class="cards">
                    <li class="cards__item" style="
					    list-style-type: none;">
                        <div class="card">
                            <a download="/files/education-infographics/mnp-discount.png" title="accreditation" href="/files/education-infographics/mnp-discount.png"><img alt="Download Accreditation Infographic" src="/files/education-infographics/mnp-discount.png" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>


				<div class="members-only">
				    {% comment %}
					{% include members-only-editor.html %}
					{% endcomment %}
					<a id="utd-society-link" href="#">Click here to order UpToDate</a>
                    <script type="text/javascript">var upToDateSocietyId = "society_cfms"</script>
                    <script src="https://store.uptodate.com/skin/frontend/enterprise/uptodate/js/society.js"></script>
				</div>
			</blockquote>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>
