---
title: "Travel Discounts"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#travel-discounts" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Travel &amp; Accommodations</h1>
			<h1><strong>WestJet CaRMS Discount</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/westjet.png">
			<p>The CFMS is proud to present the CaRMS WestJet Discount. We offer <strong>10% off Econo and Flex fares, and 15% off Plus fares</strong> (base fare only) for travel into and out of the following locations:</p>
			<blockquote>
				<h3><strong>Travel Destinations</strong></h3>
				<div class="flex-wrapper">
					<div>
						<ul>
							<li>Vancouver</li>
							<li>Victoria</li>
							<li>Prince George</li>
							<li>Kelowna</li>
							<li>Calgary</li>
							<li>Edmonton</li>
							<li>Regina</li>
							<li>Saskatoon</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Winnipeg</li>
							<li>Ottawa</li>
							<li>Toronto</li>
							<li>Windsor</li>
							<li>London</li>
							<li>Hamilton</li>
							<li>Thunder Bay</li>
							<li>Montreal</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>Quebec City</li>
							<li>Halifax</li>
							<li>Fredericton</li>
							<li>Moncton</li>
							<li>St. Johns</li>
							<li>Charlottetown</li>
							<li>Yellowknife</li>
							<li>Whitehorse</li>
						</ul>
					</div>
				</div>
			</blockquote>
			<p>Please book by <strong>February 7, 2017</strong> and travel from <strong>January 12, 2017 to February 7, 2017</strong> in order to be eligible.</p>
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Please visit <a href="http://westjet.com/convention-discount">westjet.com/convention-discount</a> and use the discount code provided below.</li>
						<li>Discount Code: <span id="application-deadline">HAEZ4QC</span></li>
					</ul>
				</div>
			</blockquote>
			<br>

			<h1><strong>CFMS Choice Hotels Discount</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/choice-hotels.png">
			<p><strong>Save up to 20% off regular room rates with Choice Hotels!</strong></p>
			<p>Choice Hotels is Canada's largest hotel franchisor with ten great brands that offer unexpected amenities at affordable prices. And with over 300 locations nationwide, CFMS Members will find what they like at any Comfort<sup>TM</sup>, Comfort Suites&copy;, Quality&copy;, Sleep Inn&copy;, Clarion&copy;, MainStay Suites&copy;, Suburban Extended Stay&copy;, Econo Lodge&copy;, Rodeway Inn&copy; and Ascend Collection&copy; in Canada. Plus, CFMS Members can save with discounted rates at participating hotels worldwide.
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<h5><strong>ONLINE</strong></h5>
					<ol>
						<li>Visit <a href="https://travel.localhospitality.com/cfms/travel-cfms.html">this website</a>.</li>
						<li>A 'Welcome' screen will appear and display all rate programs shown.</li>
						<li>In the reservation menu on the left hand corner, choose your destinatino, dates, and the number of guests.</li>
						<li>Click 'Continue'</li>
						<li>Your discounted rates will display in red</li>
					</ol>
					<h5><strong>TELEPHONE</strong></h5>
					<ol>
						<li>Call 800-4CHOICE (800-424-6423) and quote ID# <span id="application-deadline">00063566</span> and you'll be recognized as our preferred client.</li>
					</ol>
					<h5><strong>MOBILE DEVICES</strong></h5>
					<ol>
						<li>Download our mobile application onto your iPhone, iPad, or Android phone from <a href="http://www.choicehotels.com/en/mobile">http://www.choicehotels.com/en/mobile</a>, or alternatively visit our mobile site at <a href="http://m.choicehotels.com">http://m.choicehotels.com</a>.</li>
						<li>Choose 'Special Rate' from the 'Select Rate Plan' drop-down menu and type in your corporate ID# <span id="application-deadline">00063566</span></li>
						<li>Follow the online booking instructions online</li>
					</ol>
				</div>
			</blockquote>
			<br>

			<h1><strong>CFMS Travel Discounts with <em>Local Hospitality</em></strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/local-hospitality.png">
			<p>The CFMS is pleased to offer an exclusive worldwide travel discount service to our members, in partnership with Local Hospitality. <strong>Savings may exceed 50%, and average 10-20% below-market on all hotels and car rental suppliers around the world.</strong></p>
			<p>Save time and money. Let us negotiate the best deals and comparison prices for you. Any hotel, any car, anywhere, anytime.</p>
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Please click <a href="http://travel.localhospitality.com/cfms/travel-cfms.html">here</a> for your discount.</li>
					</ul>
				</div>
			</blockquote>
			<br>

			<h1><strong>Urban Living Suites</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/urban-living.png">
			<p>Receive a 10-15% discount off already very competitive prices for downtown Toronto accommodations. Rooms vary in size and amenities from a basic room to condo-style suites. For more information, see the discount details below.</p>
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Visit <a href="http://www.urbanlivingsuites.com">www.urbanlivingsuites.com</a> and enter promo code "<span id="application-deadline">NOSM</span>" to receive your discount.</li>
					</ul>
				</div>
			</blockquote>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>