---
title: "Wellness Discounts"
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
	<!-- CodeMirror -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

	<!-- Firepad -->
	<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
	<script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#wellness-discounts" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Wellness Discounts</h1>
			<h1><strong>Running Room Discount</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/running-room.jpg">
			<p>The CFMS Wellness Challenge is happy to offer all CFMS students a 10% discount at the Running Room, until March 31st, 2018.<br></br>Please print the discount coupon, or show the retail clerk the discount on your phone and present your student ID to receive the discount.</p>

			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<p>Sale terms and conditions: 10% off regular priced products* at Running Room</p>
				    <p><sup>*Excludes electronics and nutrition.</p></sup>
				    <p><sup>*Applicable at Canadian Running Room locations.</p></sup>
				    <p><sup>*Excludes electronics and nutrition. Excludes Proform and Elliptigo.</p></sup>
				    <p><sup>*Excludes Brooks footwear, select Nike styles and Saucony <p><sup>footwear.</p></sup>  
				    <p><sup>*Cannot be used for previously purchased product.</p></sup>   
				    <p><sup>*Cannot be combined with any other promotional offer, coupon or discount.</p></sup>  
				    <p><sup>*Cannot be used on gift cards, training programs or event registration.</p></sup>   
				    <p><sup>*Only one coupon per customer.</p></sup>   
				    <p><sup>*Must present coupon to receive in-store discount.</p></sup>   
				    <p><sup>*Subject to on-hand inventory availability.</p></sup>  
				    <p><sup>*Offer(s) may not be redeemed for cash, sold, altered, duplicated or copied and will not be replaced if lost, stolen or corrupted. 
				    <p><sup>*Use of offer(s)/promotional code(s) is acceptance of these terms.</p></sup>  
				    <p><sup>*Running Room reserves the right to cancel or modify offer(s) at any time.</p></sup>  
				    <p><sup>*Sale ends March 31, 2018.</p></sup> 
				</div>
			</blockquote>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>
