---
title: "Medical Student Discounts"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	
	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		{% include sidebar-discounts.html %}
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Medical Student Discounts</h1>
			<p>The CFMS offers a wide variety of discounts to our members. Please log on and view the discount tabs on the left to see what we have to offer.</p>
			<p>Some of our current discounts include:</p>
			<ul>
				<li>UpToDate</li>
				<li>Wolters-Kluwer Lipincott Textbooks</li>
				<li>WestJet flights for CaRMS</li>
				<li>Accommodations discounts</li>
			</ul>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>