---
title: "Resources"
sitemap:
  priority: 0.8
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="editable" id="featured-resources">
		<h1>Featured Resources</h1>
		<div class="resources">
			<a class="resource" href="../what-we-do/education/cfms-matchbook.html">
				<div class="resource-info">
					<div class="resource-name">Residency Matchbook</div>
					<div class="resource-type publication"><span>Publication</span></div>
					<div class="resource-desc">The CFMS prepares an annual review of the CaRMS match, to help educate medical students about the Match and assist with career planning.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/residency-matchbook.svg">
				</div>
			</a>
			<a class="resource" href="discounts-travel.html">
				<div class="resource-info">
					<div class="resource-name">Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save money on your electives and interview tours with discounts on WestJet flights, hotels, and more.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/dollar.png">
				</div>
			</a>
			<a class="resource" href="couples-match-app/">
				<div class="resource-info">
					<div class="resource-name">Couples Match Ranking App</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc">An app that helps you come up with a CaRMS rank order list when you apply using the CaRMS Couples Match option.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/couples-match-app.svg">
				</div>
			</a>
			<a class="resource" href="student-finances.html">
				<div class="resource-info">
					<div class="resource-name">Resources from MD Financial Management</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc">Student resources from MD Financial Management, the exclusive financial services partner of the CFMS.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/mdfm-logo.svg">
				</div>
			</a>
		</div>
	</div>
	<div class="editable" id="all-resources">
		<h1>All Resources</h1>

		<!-- Publications -->
		<h2 class="publication"><span>Publications</span><i class="fa fa-newspaper-o"></i></h2>
		<div class="resources">
			<a class="resource" href="../what-we-do/education/cfms-matchbook.html">
				<div class="resource-info">
					<div class="resource-name">Residency Matchbook</div>
					<div class="resource-type publication"><span>Publication</span></div>
					<div class="resource-desc">The CFMS prepares an annual review of the CaRMS match, to help educate medical students about the Match and assist with career planning.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/residency-matchbook.svg">
				</div>
			</a>
			<a class="resource" href="annual-review.html">
				<div class="resource-info">
					<div class="resource-name">CFMS Annual Review</div>
					<div class="resource-type publication"><span>Publication</span></div>
					<div class="resource-desc">The CFMS Annual review is a publication that includes summaries of executive members' projects as well as contributions of stories, poetry, art and photography from the general membership.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/annual-review.svg">
				</div>
			</a>
		</div>

		<!-- Information -->
		<h2 class="information"><span>Information</span><i class="fa fa-question-circle"></i></h2>
		<div class="resources">
			<a class="resource" href="#">
				<div class="resource-info">
					<div class="resource-name">Visiting Electives Status Board</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc">A reference page on how to apply for visiting electives, and whether they are under a moratorium or not.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/visiting-electives-status.svg">
				</div>
			</a>
			<a class="resource" href="student-finances.html">
				<div class="resource-info">
					<div class="resource-name">Resources from MD Financial Management</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc">Student resources from MD Financial Management, the exclusive financial services partner of the CFMS.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/mdfm-logo.svg">
				</div>
			</a>
			<a class="resource" href="couples-match-app/">
				<div class="resource-info">
					<div class="resource-name">Couples Match Ranking App</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc">An app that helps you come up with a CaRMS rank order list when you apply using the CaRMS Couples Match option.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/couples-match-app.svg">
				</div>
			</a>
			<a class="resource members-only" href="rep-resources.html">
				<div class="resource-info">
					<div class="resource-name">Representative Resources</div>
					<div class="resource-type information"><span>Information</span></div>
					<div class="resource-desc editable">Resources containing information for CFMS Reps who represent students at their schools.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/handshake-152812_960_720.png">
				</div>
			</a>
		</div>

		<!-- Discounts -->
		<h2 class="discount"><span>Discounts</span><i class="fa fa-usd"></i></h2>
		<div class="resources">
			<!--<a class="resource" href="discounts-travel.html">
				<div class="resource-info">
					<div class="resource-name">Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save money on your electives and interview tours with discounts on flights, hotels, and more.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/dollar.png">
				</div>
			</a>-->
			<a class="resource" href="discounts-travel.html">
				<div class="resource-info">
					<div class="resource-name">Travel and Accomodations Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save money on your electives and interview tours with discounts on flights, hotels, and more.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/travel-discounts.svg">
				</div>
			</a>
			<a class="resource" href="discounts-textbooks.html">
				<div class="resource-info">
					<div class="resource-name">Textbook Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save money on textbooks, including Toronto Notes, Wolters Kluwer/Lippincott Textbooks, the Edmonton Manual, and more.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/textbook-discounts.svg">
				</div>
			</a>
			<a class="resource" href="discounts-online.html">
				<div class="resource-info">
					<div class="resource-name">UptoDate Discount</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save up to 54% on UpToDate, an evidence-based, physician-authored resource medical students and physicians trust for reliable clinical answers</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/uptodate.png">
				</div>
			</a>
			<a class="resource" href="discounts-lasik.html">
				<div class="resource-info">
					<div class="resource-name">Lasik MD Vision Correction Discount</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Many benefits available for CFMS members such as exceptional flat-rate pricing. free consultation with no obligation and complimentary vision enhancement plan.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/lasik.png">
				</div>
			</a>
			<a class="resource" href="discounts-wellness.html">
				<div class="resource-info">
					<div class="resource-name">Wellness Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">The CFMS Wellness Challenge is happy to offer all CFMS students a 10% discount at the Running Room, until March 31st, 2018.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/running-room.jpg">
				</div>
			</a>

			<a class="resource" href="discounts-medskl.html">
				<div class="resource-info">
					<div class="resource-name">medskl.com Free Question Bank Access</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Get free access to the medskl.com practice question bank as a CFMS member student!</div>
				</div>
				<div class="resource-pic">
					<img src="/images/discount-images/medskl-logo.png">
				</div>
			</a>

			<!--</a>
			<a class="resource-info" href="discounts-textbooks.html">
				<div class="resource-info">
					<div class="resource-name">UptoDate Discounts</div>
					<div class="resource-type discount"><span>Discount</span></div>
					<div class="resource-desc">Save money on textbooks, including Toronto Notes, Wolters Kluwer/Lippincott Textbooks, the Edmonton Manual, and more.</div>
				</div>
				<div class="resource-pic">
					<img src="/images/resource-logos/uptodate.png">
				</div>
			</a>-->

		</div>

		<!-- Databases -->
		<h2 class="database"><span>Databases</span><i class="fa fa-database"></i></h2>
		<div class="resources">
			<!--<a class="resource members-only" href="../databases/accommodations.html">
				<div class="resource-info">
					<div class="resource-name">Accommodations Database</div>
					<div class="resource-type database"><span>Students Accommodations Database</span></div>
					<div class="resource-desc">Resource to help students find accommodations near their school</div>
				</div>
				<div class="resource-pic"> -->
					<!--<img src="/images/resource-logos/accommodationLogo.png">-->
				<!--</div>
			</a>-->


			<a class="resource members-only" href="../databases/carms-interview-placeholder.html">
				<div class="resource-info">
					<div class="resource-name">Residency Interview Database</div>
					<div class="resource-type database"><span>Students Carms Interview Database</span></div>
					<div class="resource-desc">Resource for familiarizing students with Interviews</div>
				</div>
				<div class="resource-pic">
					<!--<img src="/images/resource-logos/accommodationLogo.png">-->
				</div>
			</a>

			<a class="resource members-only" href="../databases/electives.html">
				<div class="resource-info">
					<div class="resource-name">Electives Database</div>
					<div class="resource-type database"><span>Students Electives Database</span></div>
					<div class="resource-desc">Resource for familiarizing students with Electives</div>
				</div>
				<div class="resource-pic">
					<!--<img src="/images/resource-logos/accommodationLogo.png">-->
				</div>
			</a>
			
		</div>

	</div>
	{% include footer.html %}
</body>
</html>