---
title: "Lasik Membership Card"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/members.css">
    <link rel="stylesheet" href="/stylesheets/print.css">
</head>
<body>
{% include nav.html %}
<div class="content">

    <div id="printableCard" class='card print'>
        <header class="print">
            <h1 class="print">Lasik Discount Card</h1>
        </header>
        <article class="print">
            <div class='area print'>
            <!--Put lasik image here-->
            <!--<img alt='My Pic' id='thumb' src='https://s.cdpn.io/1202/timpietrusky_on_rampage_small_1.jpg'>-->
            <div class="print">
                <h3 class="print floatLeft"><strong class="print">Your Account:&nbsp;</strong></h3>
                <h4 id="account-name" class="print floatRight"></h4>
            </div>
            <br class="print" /> <br class="print" />
            
                <div class="print">
                    <h3 class="print floatLeft"><b class="print">School</b>:&nbsp;</h3>
                     <h4 class="print floatRight" id="account-school"></h4>
                </div>
                <br class="print" />
                <br class="print" />
                <div class="print">
                    <h3 class="print floatLeft"><b class="print">Graduating Year</b>:&nbsp;</h3>
                    <h4 class="print floatRight" id="account-grad-year"></h4>
                </div>
                <br class="print" />
                <br class="print" />
                <div class="print">
                    <h3 class="print floatLeft"><b class="print">Email</b>:&nbsp;</h3>
                    <h4 class="print floatRight" id="account-email"></h4>
                </div>
                
            </div>
        </article>
    </div>
        
</div>
{% include footer.html %}
</body>
</html>