---
title: MD Leadership Awards Application Form
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#leadership-awards-apply-now" ).classList.toggle("sidebar-active");
		</script>

		<div class="student-finances-content">
			<h1 class="editable" id="page-title">Submit your Application</h1>

			<a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>

			{% if site.enable_leadership_awards %}
				<div class="members-only">
					<!--Displays the application submission form-->
					<div class="before-submission">
						<blockquote>
							<h2 class="submission-header"><strong>Your Application</strong></h2>
							<label>Name</label>
							<div class="submission-text-field"><span id="account-name"></span></div>
							<label>Medical School</label>
							<div class="submission-text-field"><span id="account-school"></span></div>
							<label>Graduating Year</label>
							<div class="submission-text-field"><span id="account-grad-year"></span></div>
							<label>Email Address</label>
							<div class="submission-text-field" style="display:none"><span id="account-email"></span></div>
							<div class="input">
								<input name='email-address' id='email-address' type='email' placeholder=''/>
							</div>
							<label>CMA Membership ID (Six Digits)</label>
							<div class="input">
								<input name='cma-membership' id='cma-membership' type='text' placeholder=''/>
							</div>
							<label>Twitter Handle (optional)</label>
							<div class="input">
								<input name='twitter-handle' id='twitter-handle' type='text' value='@'/>
							</div>
							<label>Meeting Attendance</label>
							<p class="submission-body-text">If selected, will you be available to attend the Spring General Meeting in Halifax (April 27-29, 2018)?</p>
							<div class="input">
								<div class="select">
									<select id='attend-cfms-meeting'>
									  <option value="Yes I'll be able to attend">Yes I'll be able to attend</option>
									  <option value="No I will not be able to attend">No I will not be able to attend</option>
									</select>
									<div class="select_arrow"></div>
								</div>
							</div> 

							<h2 class="submission-header"><strong>Upload Files</strong></h2>
							<p class="submission-body-text">Please make sure that you follow the instructions in the <a href="md-leadership-awards-instructions.html">How to Apply</a> section. Applications that do not meet the criteria will be <em>disqualified</em>. When you are finished, press the <strong>Submit Application</strong> button.</p>
							<p class="submission-body-text" style="padding-top:0px">Files that you upload are <strong>saved automatically</strong>.</p>
							<p>Please submit your personal statement, resume/curriculum vitae, letter of good standing and 2 reference letters as a single scanned/uploaded as document in either a <strong>PDF</strong> or <strong>DOC/DOCX</strong> format.</p>
							<p>Supporting documents should be labelled and collated in the following order:</p>
							<ol>
								<li>Personal Statement</li>
								<li>CV</li>
								<li>Letter of Good Standing</li>
								<li>References letters</li>
							</ol>

							<label>Supporting Documents</label>
							<div>
								<input type="file" name="complete-application" id="complete-application" class="inputfile awardApplicationUpload" disabled/>
								<label for="complete-application"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>
							</div>
							<div id="complete-application-link" class="file-link"></div>

							<!--<label>Personal Statement</label>-->
							<!--<div>-->
								<!--<input type="file" name="personal-statement" id="personal-statement" class="inputfile awardApplicationUpload" disabled/>-->
								<!--<label for="personal-statement"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>-->
							<!--</div>-->
							<!--<div id="personal-statement-link" class="file-link"></div>-->

							<!--<label>Resume/Curriculum Vitae</label>-->
							<!--<div>-->
								<!--<input type="file" name="curriculum-vitae" id="curriculum-vitae" class="inputfile awardApplicationUpload" disabled/>-->
								<!--<label for="curriculum-vitae"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>-->
							<!--</div>-->
							<!--<div id="curriculum-vitae-link" class="file-link"></div>-->

							<!--<label>Letter of Good Standing</label>-->
							<!--<div>-->
								<!--<input type="file" name="letter-good-standing" id="letter-good-standing" class="inputfile awardApplicationUpload" disabled/>-->
								<!--<label for="letter-good-standing"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>-->
							<!--</div>-->
							<!--<div id="letter-good-standing-link" class="file-link"></div>-->

							<!--<label>Reference Letter 1</label>-->
							<!--<div>-->
								<!--<input type="file" name="reference-1" id="reference-1" class="inputfile awardApplicationUpload" disabled/>-->
								<!--<label for="reference-1"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>-->
							<!--</div>-->
							<!--<div id="reference-1-link" class="file-link"></div>-->

							<!--<label>Reference Letter 2</label>-->
							<!--<div>-->
								<!--<input type="file" name="reference-2" id="reference-2" class="inputfile awardApplicationUpload" disabled/>-->
								<!--<label for="reference-2"><i style="padding-right:8px" class="fa fa-file-o" aria-hidden="true"></i> <span>Choose a file&hellip;</span></label>-->
							<!--</div>-->
							<!--<div id="reference-2-link" class="file-link"></div>-->

							<div class="button" id="submit-button" style="margin-top:10px;">
								<a href="#page-title" onclick='window.submitApplication();'>
									<strong>Submit Application</strong>
								</a>
							</div>
						</blockquote>
					</div>

					<!--Displays your application once you've submitted-->
					<div class="after-submission">
						<blockquote>
							<h3 style="padding-bottom:20px"><strong>Your Application has been Submitted</strong></h3>
				            <div class="flex-wrapper award-application">
					            <div class="left-col">
						            <h4 class="review-header"><strong>Your Application</strong></h4>
									<label>Name</label>
									<div id="submitted-name" class="review-text-field"></div>
									<label>Medical School</label>
									<div id="submitted-school" class="review-text-field"></div>
									<label>Graduating Year</label>
									<div id="submitted-grad-year" class="review-text-field"></div>
									<label>Email Address</label>
									<div id="submitted-email" class="review-text-field"></div>
									<label>CMA Membership ID</label>
									<div id="submitted-cma-id" class="review-text-field"></div>
									<label>Twitter Handle</label>
									<div id="submitted-twitter-handle" class="review-text-field"></div>
									<label>Attending the CFMS SGM?</label>
									<div id="submitted-attending-sgm" class="review-text-field"></div>
					            </div>
					            <div class="right-col">
					            	<h4 class="review-header"><strong>Attached Files</strong></h4>
					            	<ul>
										<li><a id="submitted-complete-application" href="" target="_blank">Supporting Documents</a></li>
										<!--<li><a id="submitted-personal-statement" href="" target="_blank">Personal Statement</a></li>-->
										<!--<li><a id="submitted-curriculum-vitae" href="" target="_blank">Resume/Curriculum Vitae</a></li>-->
										<!--<li><a id="submitted-letter-good-standing" href="" target="_blank">Proof of Good Standing</a></li>-->
										<!--<li><a id="submitted-reference-1" href="" target="_blank">Reference Letter #1</a></li>-->
										<!--<li><a id="submitted-reference-2" href="" target="_blank">Reference Letter #2</a></li>-->
									</ul>
									<h4><strong>Date Submitted</strong></h4>
									<div id="submitted-date-time" class="review-text-field" style="font-weight:normal"></div>
					            </div>
				            </div>
				            <p class="addendum"><strong>Concerns?</strong> Please contact the CFMS IT Team at <a href="mailto:it@cfms.org">it@cfms.org</a> if there are any issues with your application.</p>
			            </blockquote>
					</div>
					<div class="addendum">
						<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
					</div>
				</div>
				<div class="non-members">
					<blockquote>
						<h3><strong>Please login to see this page</strong></h3>
						<ul>
							<li><a class="login-modal" href="" onclick="return false;">Login</a> to the CFMS website in order to view the content on this page.</li>
						</ul>
					</blockquote>
				</div>
			{% else %}
				<div>
					<blockquote>
						<h4><strong>{{ site.md_awards_closed_header }}</strong></h4>
						<ul>
							<li>{{ site.md_awards_closed_caption }}</li>
						</ul>
					</blockquote>
				</div>
			{% endif %}
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>

<script>
	'use strict';
	;( function ( document, window, index )
	{
		var inputs = document.querySelectorAll( '.inputfile' );
		Array.prototype.forEach.call( inputs, function( input )
		{
			var label	 = input.nextElementSibling,
				labelVal = label.innerHTML;
			input.addEventListener( 'change', function( e )
			{
				var fileName = '';
				if( this.files && this.files.length > 1 )
					fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
				else
					fileName = e.target.value.split( '\\' ).pop();

				if( fileName )
					label.querySelector( 'span' ).innerHTML = fileName;
				else
					label.innerHTML = labelVal;
			});

			// Firefox bug fix
			input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
			input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
		});
	}( document, window, 0 ));
</script>
</html>