---
title: MD Travel Award View Applications
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#review-applicants" ).classList.toggle("sidebar-active");
		</script>

		<div class="student-finances-content">
			<h1 id="page-title">View Submitted Applications ({{ site.leadership_award_years }})</h1>
			<div class="admin-only">
				<div id="submitted-applications-list">
				</div>
			</div>
			<div id="not-authorized" class="members-only">
				<blockquote>
					<h3><strong>You are not authorized to view this resource</strong></h3>
					<ul>
						<li>You must be an administrator in order to view this page.</li>
					</ul>
				</blockquote>
			</div>
			<div class="non-members">
				<blockquote>
					<h3><strong>Please login to see this page</strong></h3>
					<ul>
						<li><a class="login-modal" href="" onclick="return false;">Login</a> to the CFMS website in order to view the content on this page.</li>
					</ul>
				</blockquote>
			</div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>	
</html>