---
title: MD Leadership Awards Previous Winners
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#leadership-awards-prev-winners" ).classList.toggle("sidebar-active");
		</script>

		<div class="student-finances-content editable">
			<h1 class="editable" id="page-title">MD Leadership Awards</h1>
		   
            <h3><strong>Coming Soon</strong></h3>
            <a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>
            <img src="/images/page-images/MD_LEADERSHIP_BANNER.jpg">

			<div class="addendum">
				<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
				
			</div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>