---
title: MD Leadership Awards Instructions
sitemap:
  priority: 0.3
  changefreq: yearly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#travel-awards-instructions" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-finances-content">
			<h1 class="editable" id="page-title">How to Apply</h1>
			{% if site.enable_leadership_awards %}
				<div class="members-only editable">
		            <a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>

					<p>The CFMS and MD Financial Management want to recognize some of the passionate, dedicated and caring medical student leaders across Canada who have made innovative contributions to their schools and communities.</p>
					<p>In recognition of their achievements, one student from each of the 15 member schools of the Canadian Federation of Medical Students (CFMS) will receive a Medical Student Leadership Award, consisting of:</p>
					<ol>
						<li>A certificate of recognition</li>
						<li>A cash prize of $2000</li>
						<li>Subsidized travel to the awards reception at the CFMS Spring General Meeting in Halifax on April 27-29<sup>th</sup>, 2018</li>
					</ol>

					<blockquote>
						<h3><strong>Application Instructions</strong></h3>
						<ul>
							<li><strong>Application Deadline</strong>: <span id="application-deadline">January 22th, 2018, 11:59PM EST</span></li>
							<li><strong>No exceptions will be made to this deadline.</strong> Applications received after this time, regardless of the reason, will be <em>DISQUALIFIED</em></li>
							<li><strong>Please Note: </strong>Applicants can only submit one application per person.</li>
							<li>All incomplete applications at the time of deadline will be automatically disqualified.</li>
							<li>Lastly, please be aware that all word/page limits are firm cut-offs. Any applications that exceed the word limit in any category will be automatically disqualified.</li>
							<li>Winners will be notified via email no later than March 8th, 2018 and announced at the CFMS Spring General Meeting, April 27-29, 2018.</li>
						</ul>
					</blockquote>
					
					<h1><strong>Application Requirements (4 parts)</strong></h1>
					<hr>
					<div id="reasons-financial-advisor">
						<ul>
							<li>Personal Statement
								<p><strong>500 word maximum</strong> &ndash; please include your total word count at the end of your personal statement. Your personal statement should focus on the following aspects of your leadership accomplishments:</p>
								<ol>
									<li>Describe your contributions to medical student life and/or the broader community.</li>
									<li>Outline the ways in which you support others to engage with their communities and achieve their goals (personal, professional, wellness, etc).</li>
									<li>Identify two qualities which you believe are essential to medical student leadership and describe how you have worked to foster them within yourself and others through your leadership activities.</li>
								</ol>
								<p>Applicants are encouraged to highlight new or innovative aspects of their achievements and the unique contributions they have made to medical student and community life.</p>
							</li>
							<li>Resume/Curriculum Vitae
								<p><strong>1-2 pages maximum</strong> &ndash; Please outline your activities from one year prior to starting medical school up until now which you feel are relevant for the selection committee to consider.</p>
							</li>
							<li>Letter of Good Standing from your Faculty of Medicine
								<p>A formal Letter of Good Standing can be requested from your Registrar’s or Undergraduate Medical Education office, and should be scanned to be included in your application. <strong>Your Letter of Good Standing should be recent within 4 months of the competition deadline.</strong></p>
								<p><strong>PLEASE NOTE</strong>: Only official Letters of Good Standing obtained through your faculty will be accepted. Please be aware that these are different than confirmations of enrollment, as they indicate your current status as a practicing medical student within the faculty. Anything other than a formal Letter of Good Standing will not be accepted and will result in your application being incomplete.</p>
							</li>
							<li>Two Reference Letters
								<p>Please provide two reference letters (<strong>maximum between 400-600 words each</strong>; please communicate this limit to your references) from individuals who are familiar with your leadership accomplishments.</p>
								<p>One letter must be from a current medical student at your school, the second can be from anyone of your choosing such as a resident, faculty member, community leader, physician mentor, employer etc. Please include the contact information, including phone number and email address, of both referees. Referees may be contacted by the CFMS to verify activities and leadership contributions of the applicant.</p>
								<p>Please note that reference letters must be uploaded manually into your online application. This can be done by the referees themselves, with you assistance in accessing the application, or by yourself. <strong>If you are uploading reference letters on behalf of your referees, please remain mindful of your professionalism and keep all letters confidential and unedited.</strong></p>
							</li>
						</ul>
						<blockquote>
							<p>Please submit your personal statement, resume/curriculum vitae, letter of good standing and 2 reference letters as a single scanned/uploaded as document in either a <strong>PDF</strong> or <strong>DOC/DOCX</strong> format.</p>
							<p>Supporting documents should be labelled and collated in the following order:</p>
							<ol>
								<li>Personal Statement</li>
								<li>CV</li>
								<li>Letter of Good Standing</li>
								<li>References letters</li>
							</ol>
						</blockquote>
					</div>
					<h1><strong>Eligibility</strong></h1>
					<hr>
					<p>Any medical student attending a CFMS member school is eligible. However, <strong>students who hold or have previously held a position on the CFMS Executive Committee or as a CFMS Officer during their medical studies are ineligible to apply.</strong></p>
					<blockquote>
						<h3><strong>Eligibility Inquiries</strong></h3>
						<p>CFMS membership is based on your membership within your respective medical student societies. Therefore, for specific inquiries regarding your status as a CFMS member, and therefore your eligibility for the award competition (i.e. student's on leave, MD/PhD students, etc.), please consult with your medical student society and their bylaws to determine your status as a member.</p>
					</blockquote>
					<h1><strong>Awards Selection</strong></h1>
					<hr>
					<p>The Selection Committee consists of CFMS Alumni who were active medical student leaders and are now residents and staff physicians. Applications are reviewed using a multi-evaluator scoring process in an effort to provide fair and reasonable consideration of all applicants.</p>
					<p><strong>The CFMS considers professionalism to be an extremely important value for all medical students to uphold. As a result, any applicant who is considered to have falsified information on their application will be reviewed and may be disqualified from award consideration.</strong></p>
					<h1><strong>Award Distribution</strong></h1>
					<hr>
					<p>Award winners will be invited to receive their award in person during the CFMS Spring General Meeting in Halifax on April 27th-29th, 2018. For winners who cannot attend the meeting, the CFMS Representative from your school will accept the award on your behalf. Cash prizes will be distributed in person at SGM or by mail following SGM.</p>
					<p>A short bio outlining the winners’ accomplishments will be posted at <a href="http://www.cfms.org">www.cfms.org</a> and may be used by MD Financial Management for the promotion of award winners.</p>
					<blockquote>
						<h3><strong>Apply now:</strong></h3>
						<ul>
							<li>Click <a href="md-leadership-awards-application.html">here</a> to apply</li>
							<li>Questions about the application process can be directed to Stephanie Smith, CFMS VP of Student Affairs, at <a href="mailto:vpstudentaffairs@cfms.org">vpstudentaffairs@cfms.org</a>
							or Victor Do, CFMS Western Rep, at <a href="mailto:vdo@ualberta.ca">vdo@ualberta.ca</a></li>
						</ul>
					</blockquote>
					<div class="addendum">
						<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
					</div>
				</div>
				<div class="non-members">
					<blockquote>
						<h3><strong>Please login to see this page</strong></h3>
						<ul>
							<li><a class="login-modal" href="" onclick="return false;">Login</a> to the CFMS website in order to view the content on this page.</li>
						</ul>
					</blockquote>
				</div>
			{% else %}
				<a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM_CFMS.jpg"></a>
				<blockquote>
					<h4><strong>{{ site.md_awards_closed_header }}</strong></h4>
					<ul>
						<li>{{ site.md_awards_closed_caption }}</li>
					</ul>
				</blockquote>
				<div class="addendum">
					<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
				</div>
			{% endif %}
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>