---
title: "Online Resources"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#online-resources-discounts" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Online Resources</h1>
			<h1><strong>UpToDate</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/uptodate.png">
		    <p>CFMS and UpToDate® have partnered to give you a special offer on a subscription to UpToDate — the clinical decision support resource medical students and physicians trust for reliable clinical answers.</p>
		    <p>As a CFMS member, you can subscribe to UpToDate at these special rates:</p>
		    <blockquote>
		        <div>
		            <ul>
		                <li>Get a one-year subscription for only $99 — that’s a 50% savings off the regular student rate.</li>
		                <li>Or, save even more and get a two-year subscription for only $169 — a savings of over $200 off the regular price of $369. *</li>
		            </ul>
		        </div>
		    </blockquote>
			
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Please click <a href="https://store.uptodate.com/society_cfms/sso/index/login/">here</a> to take advantage of this offer.</li>
					</ul>
				</div>
			</blockquote>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>