---
title: "Online Resources"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="discounts content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-discounts.html %}
		<script type="text/javascript">
			document.querySelector( "#online-resources-discounts" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-discounts-content" class="editable">
			<h1 id="page-title">Online Resources</h1>
			<h1><strong>UpToDate</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/uptodate.png">
		    <p>CFMS and UpToDate® have partnered to give you a special offer on a subscription to UpToDate — the clinical decision support resource medical students and physicians trust for reliable clinical answers.</p>
		    <p>As a CFMS member, you can subscribe to UpToDate at these special rates:</p>
		    <blockquote>
		        <div>
		            <ul>
		                <li>Get a one-year subscription for only $99 — that’s a 50% savings off the regular student rate.</li>
		                <li>Or, save even more and get a two-year subscription for only $169 — a savings of over $200 off the regular price of $369. *</li>
		            </ul>
		        </div>
		    </blockquote>
			
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<ul>
						<li>Please click <a href="https://store.uptodate.com/society/index/authenticate?s=society_cfms&t=1491765575&h=6ce1a8585ed6dfdcdac126ef28f6357ac4e9ddb527e68e83a5ea2a028cd691be">here</a> to take advantage of this offer.</li>
					</ul>
				</div>
			</blockquote>
			
			<!--
			<br>
			<h1><strong>CFMS Choice Hotels Discount</strong></h1>
			<hr>
			<img class="pic-right" src="/images/discount-images/choice-hotels.png">
			<p><strong>Save up to 20% off regular room rates with Choice Hotels!</strong></p>
			<p>Choice Hotels is Canada's largest hotel franchisor with ten great brands that offer unexpected amenities at affordable prices. And with over 300 locations nationwide, CFMS Members will find what they like at any Comfort<sup>TM</sup>, Comfort Suites&copy;, Quality&copy;, Sleep Inn&copy;, Clarion&copy;, MainStay Suites&copy;, Suburban Extended Stay&copy;, Econo Lodge&copy;, Rodeway Inn&copy; and Ascend Collection&copy; in Canada. Plus, CFMS Members can save with discounted rates at participating hotels worldwide.
			<blockquote>
				<h3><strong>Discount Details</strong></h3>
				<div class="non-members">
				<ul>
					<li>Please login in order to access this discount.</li>
				</ul>
				</div>
				<div class="members-only">
					<h5><strong>ONLINE</strong></h5>
					<ol>
						<li>Visit <a href="http://www.choicehotels.ca/cfms">www.choicehotels.ca/cfms</a>.</li>
						<li>A 'Welcome' screen will appear and display all rate programs shown.</li>
						<li>In the reservation menu on the left hand corner, choose your destinatino, dates, and the number of guests.</li>
						<li>Click 'Continue'</li>
						<li>Your discounted rates will display in red</li>
					</ol>
					<h5><strong>TELEPHONE</strong></h5>
					<ol>
						<li>Call 800-4CHOICE (800-424-6423) and quote ID# <span id="application-deadline">00063566</span> and you'll be recognized as our preferred client.</li>
					</ol>
					<h5><strong>MOBILE DEVICES</strong></h5>
					<ol>
						<li>Download our mobile application onto your iPhone, iPad, or Android phone from <a href="http://www.choicehotels.com/en/mobile">http://www.choicehotels.com/en/mobile</a>, or alternatively visit our mobile site at <a href="http://m.choicehotels.com">http://m.choicehotels.com</a>.</li>
						<li>Choose 'Special Rate' from the 'Select Rate Plan' drop-down menu and type in your corporate ID# <span id="application-deadline">00063566</span></li>
						<li>Follow the online booking instructions online</li>
					</ol>
				</div>
			</blockquote>
			<br>
-->
		
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>