---
title: Residency Match
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Education
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body>
	{% include nav.html %}
	
	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#residency-match" ).classList.toggle("sidebar-active");
		</script>
		<!--Page Specific Formatting-->
		<script type="text/javascript">
			document.querySelector( "#logo-invert" ).classList.toggle("hidden");
			document.querySelector( "#what-we-do" ).classList.toggle("active");
		</script>

		<div id="side-content" class="editable">
			<h1 id="page-title">Jumelage des postes de r&eacute;sidence</h1>
			<p>Chaque ann&eacute;e, tous les dipl&ocirc;m&eacute;s canadiens en m&eacute;decine qui souhaitent poursuivre des &eacute;tudes m&eacute;dicales postdoctorales au Canada posent leur candidature &agrave; des postes de r&eacute;sidence offerts dans le cadre du processus de jumelage. Le Service canadien de jumelage des r&eacute;sidents (CaRMS) administre le jumelage chaque ann&eacute;e par l'entremise de son service d&rsquo;application en ligne. Pour de plus amples renseignements sur le processus de jumelage et l'&eacute;ch&eacute;ancier, veuillez consulter le Match Book de la FEMC et visiter le site web de CaRMS.</p>
			<h2>Pour les &eacute;tudiants non-jumel&eacute;s apr&egrave;s le deuxi&egrave;me tour du jumelage R-1</h2>
			<p>Les r&eacute;sultats de la deuxi&egrave;me it&eacute;ration du jumelage (R-1) sont disponibles &agrave; 12 :00 EST le 11 avril 2018. Si vous n'avez pas &eacute;t&eacute; jumel&eacute; &agrave; la deuxi&egrave;me it&eacute;ration, veuillez consid&eacute;rer les &eacute;tapes suivantes :</p>
			<ul>
				<li>Joignez-vous au<strong> R&eacute;seau d'&eacute;tudiants non jumel&eacute;s de la FEMC</strong> si vous aimeriez &ecirc;tre mis en contact avec un mentor pair qui a &eacute;t&eacute; non-jumel&eacute; par le pass&eacute;. Envoyez un courriel qui sera tenu confidentiel &agrave; vpeducation@cfms.org pour vous joindre.</li>
				<li>Renseignez-vous sur le nouveau <em><strong>Programme de formation des m&eacute;decins militaires des Forces arm&eacute;es canadiennes pour les &eacute;tudiants non-jumel&eacute;s - Surge 2018</strong></em>, lanc&eacute; le 11 avril 2018. Il y a des <strong>possibilit&eacute;s d&rsquo;entamer une r&eacute;sidence en m&eacute;decine familiale en juillet 2018</strong>. Il y aura une <strong>p&eacute;riode de questions-r&eacute;ponses le 11 avril, de 20 h &agrave; 21 h 30 EST</strong>. Pour plus d'informations, cliquez ici.</li>
				<li>Veuillez envoyer un courriel qui sera tenu confidentiel &agrave; vpeducation@cfms.org <strong>pour recevoir des mises &agrave; jour pour les &eacute;tudiants non-jumel&eacute;s.</strong></li>
			</ul>
			<p>Nous travaillons avec des &eacute;tudiants n&rsquo;ayant pas &eacute;t&eacute; jumel&eacute;s par le pass&eacute; afin de les encourager dans leur cheminement et afin d&rsquo;&eacute;laborer des strat&eacute;gies pour mieux les soutenir. Plaider en faveur d'un plus grand nombre de postes de r&eacute;sidence - un ratio de 1 &eacute;tudiant pour 1,2 places de r&eacute;sidence - est une priorit&eacute; absolue pour la FEMC. Chaque &eacute;tudiant canadien en m&eacute;decine m&eacute;rite une chance juste et raisonnable d'obtenir un poste de r&eacute;sidence. Il n'y a tout simplement pas assez de places en r&eacute;sidence pour le nombre d'&eacute;tudiants nouvellement dipl&ocirc;m&eacute;s des facult&eacute;s de m&eacute;decine canadiennes et les &eacute;tudiants non-jumel&eacute;s des ann&eacute;es pr&eacute;c&eacute;dentes.</p>
			<p>Nous avons travaill&eacute; avec les facult&eacute;s, les subventionneurs, les gouvernements, les politiciens et l&rsquo;arm&eacute;e pour augmenter le nombre de places de r&eacute;sidence disponibles, et nous abordons chaque semaine dans les m&eacute;dias la n&eacute;cessit&eacute; de faire des progr&egrave;s sur cette question cruciale.</p>
			<p>Si vous &ecirc;tes un &eacute;tudiant non-jumel&eacute;, vous n'&ecirc;tes pas seul. Nous sommes l&agrave; pour vous et nous ferons tout notre possible pour vous soutenir dans votre cheminement.</p>
			<p>La FEMC est l&agrave; pour vous appuyer. N'h&eacute;sitez pas &agrave; nous contacter &agrave; tout moment en envoyant un courriel &agrave; <a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a>. Toutes vos correspondances seront tenues confidentielles.</p>
			<h2>Support et ressources pour &eacute;tudiants</h2>
			<p>En f&eacute;vrier 2018, la FEMC a lanc&eacute; un r&eacute;seau de mentorat par les pairs pour &eacute;tudiants non-jumel&eacute;s. Si vous &ecirc;tes un membre de la FEMC non-jumel&eacute; et aimeriez recevoir du mentorat et du soutien par des &eacute;tudiants pr&eacute;c&eacute;demment non-jumel&eacute;s, contactez <a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a> pour communiquer avec un mentor. &nbsp;Si vous aimeriez joindre le r&eacute;seau en tant que mentor, veuillez contacter <a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a>.&nbsp;</p>
			<p>Le Jour du jumelage peut &ecirc;tre accompagn&eacute; par des &eacute;motions complexes, ce qui est normal peu importe votre situation. &nbsp;Si vous cherchez de l&rsquo;appui, parlez &agrave; vos proches, consultez le bureau des affaires &eacute;tudiantes &agrave; votre universit&eacute; ou les services d&rsquo;appui offerts par les associations m&eacute;dicales provinciales; reconnaissez que vous n&rsquo;&ecirc;tes pas seul, ni aujourd&rsquo;hui ou demain.</p>
			<p>Pour des ressources de bien-&ecirc;tre sp&eacute;cifiques &agrave; chaque facult&eacute; de m&eacute;decine, veuillez contacter <a href="https://www.cfms.org/what-we-do/student-affairs/wellness.html">le site web de bien-&ecirc;tre de la FEMC</a>.</p>
			<p>L&rsquo;Association m&eacute;dicale canadienne offre des <a href="https://www.cma.ca/fr/pages/provincial-physician-health-programs.aspx">ressources en ligne</a> pour la promotion de la sant&eacute; des m&eacute;decins avec de l&rsquo;information sur les services d&rsquo;assistance offerts par les programmes de sant&eacute; et de mieux-&ecirc;tre provinciaux pour m&eacute;decins en Colombie-Britannique, en Alberta, en Saskatchewan, au Manitoba, en Ontario, au Qu&eacute;bec, au Nouveau-Brunswick, en Nouvelle-&Eacute;cosse, &agrave; l&rsquo;&Icirc;le-du-Prince-&Eacute;douard ainsi qu&rsquo;en Terre-Neuve-et-Labrador. Ces services sont disponibles aux &eacute;tudiants en m&eacute;dicine.</p>
			<p><a href="http://www.myparo.ca/">L&rsquo;Association professionnelle des r&eacute;sidents en Ontario (PARO)</a> offre du soutien t&eacute;l&eacute;phonique disponible 24 heures sur 24 aux r&eacute;sidents, &agrave; leurs partenaires et membres de famille, ainsi qu&rsquo;aux &eacute;tudiants en m&eacute;dicine. Le num&eacute;ro de t&eacute;l&eacute;phone est 1-866-HELP-DOC (1-866-435-7362). Il est accessible n&rsquo;importe o&ugrave; en Ontario, 24 heures par jour, 7 jours par semaine.</p>
			<p><img class="full-width" alt="" src="/uploads/unmatched-on-match-day---2nd-iteration-2.png" width="1687" height="2249" /></p>
		</div>
	</div>
	{% include footer.html %}
</body>
