---
title: "CFMS Representatives"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/who-we-are.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#cfms-representatives" ).classList.toggle("sidebar-active");
		</script>

		<div id="cfms-reps-content">
			<h1 id="page-title">{{ page.title }}</h1>
			<div id="cfms-reps-desc">Medical student societies are each represented by <em>two CFMS Reps</em> and the <em>Medical Society President</em>, who are responsible for attending the Annual General Meeting (AGM) and Spring General Meeting (SGM). They maintain contact with each other and the executive team throughout the year. Decisions are carried out by vote with each institution receiving two votes and each executive member receiving one. Medical student societies commonly send more than two representatives to participate in CFMS meetings and activities.</div>
			<div id="schools">
				<div id="ubc" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/ubc.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of British Columbia
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Wendy Ming<br>
							<b>Jr. Rep:</b> Tiffany Lam<br>
							<b>President:</b> Taneille Johnson
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:UBCreps@cfms.org">ubcreps@cfms.org</a></li>
					</div>
				</div>
				<div id="ualberta" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/ualberta.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Alberta
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Madura Sundareswaran<br>
							<b>Jr. Rep:</b> Ashlee Yang<br>
							<b>President:</b> Samantha Lam
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:ualbertareps@cfms.org">ualbertareps@cfms.org</a></li>
					</div>
				</div>
				<div id="ucalgary" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/ucalgary.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Calgary
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Verlyn Leopatra<br>
							<b>Jr. Rep:</b> Luxey Sirisegaram<br>
							<b>President:</b> Franco Rizzuti
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:ucalgaryreps@cfms.org">ucalgaryreps@cfms.org</a></li>
					</div>
				</div>
				<div id="usaskatchewan" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/usaskatchewan.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Saskatchewan
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Lindsey Anderson<br>
							<b>Jr. Rep:</b> Jeffrey Poon<br>
							<b>President:</b> Jillian Kerry
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:usaskatchewanreps@cfms.org">usaskatchewanreps@cfms.org</a></li>
					</div>
				</div>
				<div id="umanitoba" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/umanitoba.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Manitoba
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Chris Proctor<br>
							<b>Jr. Rep:</b> Bryce Barr<br>
							<b>President:</b> Connor Sommerfield
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:umanitobareps@cfms.org">umanitobareps@cfms.org</a></li>
					</div>
				</div>
				<div id="nosm" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/nosm.png">
					</div>
					<div class="school-desc">
						<li class="school-name">
							Northern Ontario School of Medicine
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Heather Smith<br>
							<b>Jr. Rep:</b> Daniel Dalcin<br>
							<b>President:</b> Ken Euler
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:NOSMreps@cfms.org">nosmreps@cfms.org</a></li>
					</div>
				</div>
				<div id="western" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/western.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							Western University
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> James Ahlin<br>
							<b>Jr. Rep:</b> Justin Cottrell<br>
							<b>Presidents:</b> Han Yan, Yousif Atwan (Windsor)
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:uworeps@cfms.org">uworeps@cfms.org</a></li>
					</div>
				</div>
				<div id="mcmaster" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/mcmaster.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							McMaster University
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Nicole Archer<br>
							<b>Jr. Rep:</b> Cameron Lam<br>
							<b>President:</b> Joshua Huang
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:mcmasterreps@cfms.org">mcmasterreps@cfms.org</a></li>
					</div>
				</div>
				<div id="utoronto" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/utoronto.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Toronto
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Ali Damji<br>
							<b>Jr. Rep:</b> Claudia Frankfurter<br>
							<b>President:</b> Claudia Frankfurter
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:utorontoreps@cfms.org">utorontoreps@cfms.org</a></li>
					</div>
				</div>
				<div id="queens" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/queens.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							Queens University
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Branden Deschambault<br>
							<b>Jr. Rep:</b> Graham Skelhorne-Gross<br>
							<b>President:</b> Jonathen Cluett
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:queensreps@cfms.org">queensreps@cfms.org</a></li>
					</div>
				</div>
				<div id="uottawa" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/uottawa.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							University of Ottawa
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Anthea Girdwood<br>
							<b>Jr. Rep:</b> Jonathan Gravel<br>
							<b>President:</b> Elise Azzi
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:uottawareps@cfms.org">uottawareps@cfms.org</a></li>
					</div>
				</div>
				<div id="mcgill" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/mcgill.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							McGill University
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Sophie Weiwei Gao<br>
							<b>Jr. Rep:</b> (No Jr. Rep at McGill)<br>
							<b>President:</b> Nebras Warsi
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:mcgillreps@cfms.org">mcgillreps@cfms.org</a></li>
					</div>
				</div>
				<div id="dalhousie" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/dalhousie.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							Dalhousie University
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Peter Bettle<br>
							<b>Jr. Rep:</b> Matt Ernst<br>
							<b>President:</b> Russell Christie
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:dalhousiereps@cfms.org">dalhousiereps@cfms.org</a></li>
					</div>
				</div>
				<div id="memorial" class="school">
					<div class="school-logo">
						<img src="{{ site.root }}/images/school-logos/memorial.svg">
					</div>
					<div class="school-desc">
						<li class="school-name">
							Memorial University of Newfoundland
						</li>
						<li class="school-reps">
							<b>Sr. Rep:</b> Loni Slade<br>
							<b>Jr. Rep:</b> John Jeddore<br>
							<b>President:</b> Alison Howley
						</li>
						<li class="school-rep-emails"><b>Email:</b> <a href="mailto:memorialreps@cfms.org">memorialreps@cfms.org</a></li>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>