---
title: Governance Structure
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#governance-structure" ).classList.toggle("sidebar-active");
		</script>
		<div id="governance-structure-content">
			<h1 id="page-title" class="editable">Governance Structure</h1>
			<div class="editable">
				<h2><strong>Overall Structure of the CFMS</strong></h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum ipsum. Nulla nisl pede, rutrum in, hendrerit at, venenatis a, nisl. Cras scelerisque lorem a lacus. In nibh ante, laoreet quis, dignissim viverra, posuere at, leo. Quisque porta. Ut ligula. Morbi ac neque. Etiam venenatis nonummy leo.</p>
				<div class="flex-wrapper">
					<div>
						<h4>Decision Making Branches</h4>
						<img src="/images/governance-structure/chart-1.png">
					</div>
					<div>
						<h4>Broad Global Health Organization</h4>
						<img src="/images/governance-structure/chart-2.png">
					</div>
				</div>
				<div class="flex-wrapper">
					<div>
						<h2><strong>CFMS Membership</strong></h2>
						<p>The medical student societies are each represented by two CFMS Reps who attend the AGM and SGM and maintain contact with each other and the executive throughout the year.</p>
						<p>Decisions are carried out by vote with each institutional member receiving two votes and each executive member receiving one. Medical student societies commonly send more than two representatives to participate in CFMS meetings and activities.</p>
					</div>
					<div><img src="/images/governance-structure/chart-3.png"></div>
				</div>
				<h2><strong>Executive Structure</strong></h2>
				<p>The CFMS is led by an Executive Committee consisting of a President, Past-President, six Vice Presidents responsible for different portfolios, and six Regional Representatives, each with a one-year term. All <em>Executive Members</em> (shown in <span style="color:red">red</span>) are elected at the Annual General Meeting (AGM) in September with the exception of the President who is elected at the Spring General Meeting (SGM) and serves as President-Elect until the AGM.<p>
				<p>The Executive is supported by a General Manager in Ottawa who manages the office and carries out much of the day-to-day operation of the organization. Each year the Executive also appoints various <em>National Officers</em> (shown in <span style="color:orange">orange</span>) who carry out specific roles commissioned by the membership, such as our annual blood drive, publications, and wellness initiatives.</p>
				<img src="/images/governance-structure/chart-4.png">
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>