---
title: Documents de Politique Archivés et Documents de Position
sitemap:
  priority: 0.1
  changefreq: yearly
  role: VP Government Affairs
---
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    {% include head.html %}
    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do-copy.css" />
    <script type="text/javascript" src="/js/resolution.js"></script>
    <!--Page Specific Stylesheet-->


</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}
<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}
    <div id="side-content">
        <h1 id="page-title">{{page.title}}</h1>
        <br />
        <hr>
        {% for archivedPaperInformation in site.data.position-papers.archived-position-papers %}
        {% if archivedPaperInformation.lang == page.lang %}
            {% assign papers = archivedPaperInformation.papers | sort: 'original-publish-date' %}
            {% for paper in papers reversed %}
                <p>
                    <a href="{{paper.original-link}}">{{ paper.original-name }}, {{paper.original-publish-date}}</a>
                    - Updated Version:
                   {% for updatedPapers in paper.updated-versions %}
                    {{updatedPapers.name}}, {{updatedPapers.publish-date}}
                    {% endfor %}
                </p>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% include footer.html %}
</body>
