---
title: Day of Action
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---
<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#lobby-day" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Day of Action on Indigenous Mental Wellness</h1>

			<p><img alt="" src="/images/infographics/day-of-action-infographic.png" /></p> 

			<blockquote>
				<p><strong>You can view the 2018 Day of Action summary report <a href="/files/day-of-action/2018-day-of-action-report.pdf">here</a></strong></p>
			</blockquote>
			<blockquote>
				<p><strong>Faites partie de la conversation <a href="https://twitter.com/search?src=typd&amp;q=%23Bien%C3%AAtreMentalAutochtone">#Bien&ecirc;treMentalAutochtone</a>: Suivez @CFMSFEMC sur <a href="https://twitter.com/CFMSFEMC">Twitter</a>, <a href="https://www.facebook.com/CFMSFEMC/">Facebook</a> et <a href="https://www.instagram.com/cfmsfemc/">Instagram</a> pour rester au courant!</strong></p>
			</blockquote>
			<p>Chaque ann&eacute;e, des &eacute;tudiants en m&eacute;decine de partout au Canada se rendent &agrave; Ottawa pour rencontrer des parlementaires et proposer un changement positif au notre syst&egrave;me de sant&eacute;. En pr&eacute;vision des r&eacute;unions, cet &eacute;v&eacute;nement comprend une formation pouss&eacute;e sur le plaidoyer. C'est une excellente occasion pour les &eacute;tudiants en m&eacute;decine qui s'int&eacute;ressent &agrave; la promotion de la sant&eacute; nationale. La Journ&eacute;e d'action ne serait pas possible sans notre &eacute;quipe d&eacute;vou&eacute;e d'&eacute;tudiants au Comit&eacute; de recherche de la Journ&eacute;e d'action qui r&eacute;unit le document de demande, le document d'information et coordonne le processus de consultation.</p>
			<h4>Journ&eacute;e d&rsquo;action 2018: le bien-&ecirc;tre mental autochtone</h4>
			<p>Le bien-&ecirc;tre mental est un probl&egrave;me immense pour les communaut&eacute;s autochtones au Canada. La pr&eacute;valence des maladies mental et le suicide est plus &eacute;norme parmi les autochtones que le population g&eacute;n&eacute;rale au Canada. Deux ans apr&egrave;s la publication du rapport de la Commission de v&eacute;rit&eacute; et de r&eacute;conciliation en 2015, la question demeure en grande partie non r&eacute;solue, l'acc&egrave;s &agrave; des soins de sant&eacute; mentale de haute qualit&eacute; et culturellement adapt&eacute;s demeurant limit&eacute; parmi les communaut&eacute;s autochtones.</p>
			<p>Le FEMC reconna&icirc;t que les besoins de soins de sant&eacute; essentiels parmi les populations autochtones au Canada demeurent largement insatisfaits, en particulier dans le domaine de la sant&eacute; mentale et du bien-&ecirc;tre. En tant que tel, nous croyons que les futurs professionnels de la sant&eacute;, nous avons l'obligation de plaider en faveur de la sant&eacute; et le bien-&ecirc;tre des peuples autochtones.</p>
			<p>Suivant des consultations extensives aupr&egrave;s des communaut&eacute;s autochtones, et en tant que futurs m&eacute;decins et dirigeants de la sant&eacute; ayant la responsabilit&eacute; de d&eacute;fendre la sant&eacute; de tous les Canadiens, la F&eacute;d&eacute;ration des &eacute;tudiants et &eacute;tudiantes en m&eacute;decine du Canada (FEMC) demande au gouvernement du Canada de:</p>
			<ol>
				<li>Adopter les m&eacute;thodes et strat&eacute;gies propos&eacute;es par les communaut&eacute;s et peoples autochtones du Canada pour guider la r&eacute;ponse f&eacute;d&eacute;rale &agrave; la crise suicidaire autochtone:
					<ol>
						<li>Adopter le Cadre du continuum du mieux-&ecirc;tre mental des Premi&egrave;res Nations comme cadre pour aborder la sant&eacute; mentale et le suicide des peuples autochtones</li>
						<li>Adopter la Strat&eacute;gie nationale de pr&eacute;vention du suicide chez les Inuits pour aborder la sant&eacute; mentale et le suicide chez des Inuits</li>
					</ol>
				</li>
				<li>Entreprendre un examen complet de la r&eacute;partition actuelle du financement dans le cadre de la Strat&eacute;gie Nationale de Pr&eacute;vention du suicide chez les Jeunes Autochtones (SNPSJA), en collaboration avec les communaut&eacute;s autochtones, afin de s'assurer que chaque communaut&eacute; autochtone re&ccedil;oit un financement durable et selon les besoins</li>
				<li>Demander &agrave; Sant&eacute; Canada et &agrave; Services aux Autochtones Canada de r&eacute;&eacute;valuer les programmes et services financ&eacute;s dans le cadre du Programme des services de sant&eacute; non assur&eacute;s (SSNA), et:
					<ol>
						<li>D&rsquo;augmenter le financement des programmes de bien-&ecirc;tre mental pr&eacute;ventifs et centr&eacute;s sur la terre qui cr&eacute;ent des opportunit&eacute;s dans les communaut&eacute;s</li>
						<li>Soutenir et &eacute;largir la liste des fournisseurs de services approuv&eacute;s pour inclure les d&eacute;tenteurs de savoirs traditionnels autochtones</li>
					</ol>
				</li>
			</ol>
			<p><strong>Pour plus d'information, contacter:</strong></p>
			<blockquote>
				<p><strong>Yipeng Ge</strong>, Vice-President aux affairs gouvernementales<br />Federation des &eacute;tudiants et des &eacute;tudiantes en m&eacute;decine du Canada<br /><a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,103,111,118,116,97,102,102,97,105,114,115,64,99,102,109,115,46,111,114,103))">vpgovtaffairs@cfms.org</a></p>
				<p><strong>Christina Schweitzer</strong>, Vice-Pr&eacute;sidente aux communications<br />Federation des &eacute;tudiants et des &eacute;tudiantes en m&eacute;decine du Canada<br /><a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,99,111,109,109,117,110,105,99,97,116,105,111,110,115,64,99,102,109,115,46,111,114,103))">vpcommunications@cfms.org</a></p>
			</blockquote>

			<p><img alt="" src="/uploads/versions/day-of-action-rectangle-1---x----1921-1081x---.png" /></p>
		</div>
	</div>
	{% include footer.html %}
</body>
