---
title: "Prise de positions"
---
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    {% include head.html %}
    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do-copy.css" />
    <script type="text/javascript" src="/js/resolution.js"></script>
    <!--Page Specific Stylesheet-->


</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}
<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>
<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}
    <script type="text/javascript">
        document.querySelector( "#position-papers" ).classList.toggle("sidebar-active");
    </script>
    <div id="side-content">
        <h1 id="page-title">{{page.title}}</h1>
        <div class="editable">
            <div class="pic-wrapper">
                <img class="pic-right" src="/images/page-images/position-papers.png" />
            </div>
            <h2><strong>Que sont les documents de prises de position et de politiques?</strong></h2>
            <p>Les documents de prises de position et de politiques sont des ressources fond&eacute;es sur des preuves qui identifient l&rsquo;opinion des &eacute;tudiants en m&eacute;decine au Canada pour divers dossiers li&eacute;s au syst&egrave;me de la sant&eacute;. Ces documents guident nos efforts dans la d&eacute;fense d&rsquo;int&eacute;r&ecirc;ts.</p>
            <ul>
                <li><span class="pp">PP&nbsp;</span><strong></strong><strong>Papiers de politique</strong>: Ce sont des documents d&eacute;taill&eacute;s qui explorent les enjeux de l&rsquo;&eacute;ducation m&eacute;dicale ou du syst&egrave;me de la sant&eacute; dans un format structur&eacute;, qui inclut la formulation du probl&egrave;me, la mise en &eacute;vidence des croyances et valeurs de la FEMC et des options de programme ou de politique fond&eacute;s sur des preuves afin d&rsquo;am&eacute;liorer l&rsquo;enjeu en question.</li>
                <li><span class="ps">PS&nbsp;</span><strong>&Eacute;nonc&eacute; de position: </strong>Ce sont des documents brefs qui pr&eacute;sentent les opinions des &eacute;tudiants en m&eacute;decine sur des enjeux actuels au niveau de l&rsquo;&eacute;ducation m&eacute;dicale ou du syst&egrave;me de la sant&eacute; ainsi que des principes cl&eacute;s qui, selon nous, devraient guider les d&eacute;bats sur la question.</li>
            </ul>
            <p>Pour plus d&rsquo;information, veuillez consulter le <a href="/files/position-papers/CFMS_COHP_TOR.pdf">Comit&eacute; sur les termes de r&eacute;f&eacute;rence de la politique de sant&eacute;</a>.
            </p>
            <h2><strong>Comment puis-je contribuer?</strong></h2>
            <p>Tout membre de la FEMC peut soumettre un papier de politique ou un &eacute;nonc&eacute; de position, pour l&rsquo;approbation par l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale (AG). Veuillez contacter notre Officier national de politique de sant&eacute;, Justin Neves, au&nbsp;<a href="mailto:nohp@cfms.org">nohp@cfms.org</a>&nbsp;ou notre Vice-pr&eacute;sident aux affaires gouvernementales, Jessica Harris, au <a href="mailto:vpgovtaffairs@cfms.org">vpgovtaffairs@cfms.org</a>&nbsp;pour plus d&rsquo;informations.</p>
            <blockquote>
                <h4><strong>Comment &eacute;crire un &eacute;nonc&eacute; de position?</strong></h4>
                <ul>
                    <li><span class="file-format">DOCX</span>Veuillez consulter ce&nbsp;<a href="/files/position-papers/CFMS_position-paper_template_2013-12-30.docx">Gabarit d&rsquo;un &eacute;nonc&eacute; de position</a></li>
                    <li><span class="file-format">PDF</span><a href="/files/position-papers/cfms_position_paper_guidelines 2016.pdf">Lignes directrice sur les &eacute;nonc&eacute;s de position (2016)</a>
                    </li>
                </ul>
            </blockquote>
        <h1 style="padding-top:30px;"><strong>Documents actuels de politique et d&rsquo;&eacute;nonc&eacute;s de position</strong></h1><hr />
        </div>
        
        <!--Addd liquid logic here-->
        {% comment %}
            Here is where we build the search form. The checkboxes of tags to filter are automatically generated from the position-papers.yml file
            They are under the filter-tags data
        {% endcomment %}
        
        {% for paperInformation in site.data.position-papers.position-papers %}
        {% if paperInformation.lang == page.lang %}
        
        <blockquote>
            <h3 class="editable"><strong>Formulaire de recherche pour les documents de position</strong></h3>
            <br>
            
        <form id="filters" style="display: none;">
            <fieldset class="textAlignLeft">
                <legend class="editable">Recherche par étiquette:</legend>
                    {% for filterData in paperInformation.filter-tags %}
                        <span class="filter-checkbox-image-wrapper {{filterData.tag | downcase}}">{{filterData.tag | upcase}}</span><input class="filter-checkbox"type="checkbox" id="{{filterData.tag | upcase}}">{{filterData.tag-name}}
                    <br>
                    {% endfor %}
            </fieldset>
            <br>
            <fieldset>
                <legend class="editable">Recherche par section:</legend>
            <select id="select-box" name="paper-section">
                <option id="initialSectionSelection" class="editable">Toutes les sections</option>
                {% for paperSections in paperInformation.paper-collection %}
                <option>{{paperSections.section}}</option>
                {% endfor %}
            </select>
            </fieldset>
            <br>
            <legend class="editable">Recherche par titre:</legend><input style ="display:none;"id="searchFilter" type="text" name="search" placeholder="Rechercher le nom du papier avec des filtres">
        </form>
        </blockquote>
        
        <blockquote id="noJavaScriptMessage" style="display:block;">
            <h3><strong>For the Search Functionality to work, Please enable your JavaScript!</strong></h3>
        </blockquote>
        
        
        {% assign index = 1 %} {% comment %} This variable is used to set every single paper a unique id {% endcomment %}
        
        {% for paperCollection in paperInformation.paper-collection %}
        {% comment %}
        This first loop grabs the whole paper-collection from the .yml file
        {% endcomment %}
            {% for paperSections in paperCollection.section %}
                {% comment %}
                This for loop now populates the page with each section available in the paper-collection from the .yml file
                {% endcomment %}
                <blockquote>
                    <h3 class="paper-section-title"><strong>{{paperSections}}</strong></h3>
                    <ul class="paper-section">
                    {% for papers in paperCollection.papers %}
                        {% comment %}
                        This loop now grabs all of the papers available to a specific section to populate the section with its papers
                        {% endcomment %}
                        
                        {% comment %}
                            This logic here is used to Set the data-filters array for each specific paper, assigning the proper tags
                            From the .yml file. The tags must be organized ie: [A, B, C ,D]
                        {% endcomment %}
                        {% assign myArray = "" %}
                        {% for tags in papers.paper-tags %}
                            {% if forloop.first %}
                                {% if tags.tag != "null" and tags.tag != "" %}
                                    {% assign myArray = myArray | append: {{tags.tag | upcase}} %} 
                                {% endif %}
                                {% if tags.tag == "null" or tags.tag == "" %}
                                    {% assign myArray = myArray | append: 'NT' %}
                                {% endif %}
                            {% endif %}
                            {% unless forloop.first %}
                                {% assign myArray = myArray | append: ', ' %}
                                {% if tags.tag != "null" and tags.tag != "" %}
                                    {% assign myArray = myArray | append: {{tags.tag | upcase}} %}
                                {% endif %}
                                {% if tags.tag == "null" or tags.tag == "" %}
                                    {% assign myArray = myArray | append: 'NT' %}
                                {% endif %}
                            {% endunless %}
                        {% endfor %}
                        
                        {% comment %}
                            Here is where we populate each section with the papers available to that section
                        {% endcomment %}
                       <li id="paper_{{index}}" class="filtered-content" data-filters="[{{myArray}}]">
                           {% for tags in papers.paper-tags %}
                           {% if tags.tag != "null" and tags.tag != "" %}
                           <span class="{{tags.tag | downcase}}">{{tags.tag | upcase}}</span> 
                           {% endif %}
                           {% if tags.tag == "null" or tags.tag == "" %}
                           <span class="nt">NT</span>
                           {% endif %}
                           {% endfor %}
                           <span class="pub-date">{{papers.paper-publish-date}}</span>
                           <a target="_blank" href="{{papers.paper-link}}"><span class="paper-title">{{papers.paper-name}}</span></a></li>
                           {% assign index = index | plus:1 %} 
                    
                    {% endfor %}
                    </ul>
                </blockquote>
            {% endfor %}
        {% endfor %}
        
                {% comment %} This peice of html is used with front-end logic to display a message if search yielded no results {% endcomment %}
                <blockquote id="noResultMessage" style="display:none;">
                    <h3><strong>Nothing was found. Try widening your search criteria </strong></h3>
                </blockquote>
        
                {% endif %}
        {% endfor %}
        
    </div>
</div>

{% include footer.html %}
</body>
</html>