---
title: "Accreditation"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Education
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
    <link rel="stylesheet" href="/stylesheets/cards.css" />
</head>
<body>
	{% include nav.html %}
	
	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#accreditation-toolkit" ).classList.toggle("sidebar-active");
		</script>
		<!--Page Specific Formatting-->
		<script type="text/javascript">
			document.querySelector( "#logo-invert" ).classList.toggle("hidden");
			document.querySelector( "#what-we-do" ).classList.toggle("active");
		</script>

		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>

            <blockquote>
                <h2>Independent Student Analysis Toolkit</h2>
                <p>The Toolkit is updated yearly to remain aligned with the <a href="https://cacms-cafmc.ca/accreditation-documents">documents</a> released by the Committee on Accreditation of Canadian Medical School.
                    For your ISA, please use the Toolkit version associated with your school's accreditation year, not the most recent version of the Toolkit.
                    You can determine your school's accreditation year <a href="https://cacms-cafmc.ca/about-cacms/accredited-programs/next-full-site-visit-dates">here</a>.
                    Below you can also find a link to previously completed ISAs.</p>
                <div class="members-only">
                    <ul>
                        <li><a href="/files/education-accreditation/CFMS-Accreditation-Toolkit-2019-2020.pdf">2019-2020 Toolkit</a></li>
                        <li><a href="/files/education-accreditation/Data-Tables-Template-2019-2020.pdf">Data Tables Template 2019-2020</a></li>
                        <li><a href="https://drive.google.com/drive/folders/0B1V0fZ3hAF80M2FyZUJRSUJFYk0?usp=sharing">2018-2019 Toolkit</a></li>
                        <li><a href="https://drive.google.com/drive/folders/0B1V0fZ3hAF80d2dMVnRWakdFT2c?usp=sharing">2017-2018 Toolkit</a></li>
                        <li><a href="https://drive.google.com/drive/folders/0B1V0fZ3hAF80SzlSVmp3Y0ZiWWc?usp=sharing">Past ISAs</a></li>
                    </ul>
                </div>

                <div class="non-members">
                    <ul ng-hide="authData">
                        <li>To access these files, please log in.</li>
                    </ul>
                </div>
            </blockquote>
            <blockquote>
                <ul class="cards">
                    <li class="cards__item full-card">
                        <div class="card">
                            <a download="/files/education-infographics/accreditation-infographic.jpg" title="accreditation" href="/files/education-infographics/accreditation-infographic.jpg"><img alt="Download Accreditation Infographic" src="/files/education-infographics/accreditation-infographic.jpg" />
                            </a>
                        </div>
                    </li>
                    <li class="cards__item full-card">
                        <div class="card">
                            <a download="/files/education-infographics/isa-infographic.jpg" title="isa" href="/files/education-infographics/isa-infographic.jpg"><img alt="Download the Independant Student Analysis" src="/files/education-infographics/isa-infographic.jpg" />
                            </a>
                        </div>
                    </li>
                </ul>
                <div>
                <p>These infographics were created by Tharshika Thangarasa and Alyssa Archibald.</p>
                </div>
            </blockquote>
        </div>
	</div>
	{% include footer.html %}
</body>
</html>