---
title: Educational Advocacy
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Education
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#motp" ).classList.toggle("sidebar-active");
		</script>

		<div class="editable" id="side-content">
			<h1 id="page-title">Medical Officer Training Program for Unmatched Students</h1>
			<p>The CFMS in collaboration with the Canadian Armed Forces has worked to create supernumerary Family Medicine positions through the Medical Officer Training Program (MOTP). This initiative is called MOTP Surge 2018. If you are interested in exploring the option of becoming a Medical Officer and starting residency in July, please follow the steps below.</p>
			<p>In order to apply you must:</p>
			<ul>
				<li>be a Canadian Citizen; and</li>
				<li>be between 17 and 47 years old.</li>
			</ul>
			<h3>Unmatched Medical Students</h3>
			<p><strong>Regardless of previous interest in the military, any medical student who finds out they are unmatched after the second match iteration on April 11 is encouraged to:</strong></p>
			<ol>
				<li>Send an email with “MOTP Surge 2018” in the subject to: <a href="mailto:HealthSvcsRecruiting-RecrutementSvcsdesante@forces.gc.ca">HealthSvcsRecruiting-RecrutementSvcsdesante@forces.gc.ca</a>. This will get them put on an emailing list through which we will communicate any and all updates regarding the military application process and/or PGME application process.</li>
				<div class="sub-bullet">
					<ul>
						<li>The initial email must include:</li>
						<div class="sub-bullet">
							<li>“MOTP Surge 2018” in the subject line</li>
							<li>Full Legal Name</li>
							<li>Best contact information (email and phone number)</li>
							<li>Date of Birth</li>
							<li>Current mailing address</li>
							<li>Present Undergraduate Medical School (if applicable)</li>
						</div>
					</ul>
				</div>
				<li>Consider visiting:</li>
					<ul>
						<li><a href="https://www.facebook.com/ForcesJobs.ForcesEmplois.CA/">Facebook site</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/caf-jobs/career-options/fields-work/health-care/medical-officer.html">https://www.canada.ca/en/department-national-defence/services/caf-jobs/career-options/fields-work/health-care/medical-officer.html</a></li>
						<li>Consider tuning in for Question and Answer 11 Apr 18 8:00 to 9:30 PM EST <a href="https://www.facebook.com/ForcesJobs.ForcesEmplois.CA/">here</a></li>
					</ul>
				</ol>
				<p>More information will continue to become available as it develops.</p>
				<p><strong>For those who become interested in applying to these return of service PGME Family Medicine Residency Seats:</strong></p>
				<ol>
					<li>Subscribe to the MOTP Surge 2018 mailing list (see instructions above)</li>
					<li>Start “Military side” of application <a href="https://www.canada.ca/en/department-national-defence/services/caf-jobs/apply-now.html">here</a></li>
					<div class="sub-bullet">
						<ul>
							<li>During application process, ensure you select:</li>
							<div class="sub-bullet">
								<ul>
									<li>“Regular Force - Full Time”</li>
									<li>Choose Army or Navy or Airforce (this will not affect your application nor your employment and we can change it later in application process should you choose)</li>
									<li>“Officer”</li>
									<li>Entry plan “Medical Officer Training Plan”</li>
									<li>Military Occupation “Medical"</li>
								</ul>
							</div>
							<li>Be prepared to attend a one day recruiting process (details to be determined)</li>
						</ul>
					</div>
					<li>Be prepared to Start “PGME side” of application. The timelines will be quick as we are <strong>targeting 1 July 2018 on-cycle start.</strong></li>
					<li>Questions can be directed to: <a href="mailto:HealthSvcsRecruiting-RecrutementSvcsdesante@forces.gc.ca">HealthSvcsRecruiting-RecrutementSvcsdesante@forces.gc.ca</a>. Ensure the subject line includes “MOTP Surge 2018”</li>
				</ol>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>








