---
title: National Research Chair
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Education
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#national-research-chair" ).classList.toggle("sidebar-active");
		</script>

		<div class="editable" id="side-content">
			<h1 id="page-title">National Research Chair</h1>
			<div class="pic-wrapper"><img class="pic-right" src="/images/page-images/Glenn-Regehr-4x6.jpg" style="width:25%; padding-left:30px;"></div>
			<p>The CFMS National Research Chair in Undergraduate Medical Education is <a href="http://ches.med.ubc.ca/dr-glenn-regehr-2/">Dr. Glenn Regehr</a> of the University of British Columbia (UBC). Dr. Regehr is Professor at the University of British Columbia, Senior Scientist at the <a href="http://ches.med.ubc.ca/">Centre for Health Education Scholarship</a> (CHES), and Associate Director, Research at CHES. He is the author of over 200 peer reviewed medical education articles and chapters and his research teams have received over $4 million in peer-reviewed grants. The CFMS sincerely thanks Dr.Regehr for his willingness to support medical student education research.</p>
			<p>The role of the NRC is to support the CFMS and Canada&rsquo;s medical students in their efforts to develop meaningful research in undergraduate medical education. Dr. Regehr works with the executive of the CFMS to ensure medical student research receives sufficient mentorship. Any CFMS members who are interested in working with Dr. Regehr are encouraged to contact the CFMS VP Education, Kaylynn Purdy (<a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,101,100,117,99,97,116,105,111,110,64,99,102,109,115,46,111,114,103)+'?subject=NRC')">vpeducation@cfms.org</a>), to discuss their potential research questions.</p>
		</div>
	</div>
	{% include footer.html %}
</body>

