---
title: About Us
sitemap:
  priority: 0.8
  changefreq: yearly
  role: President
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector("#logo-invert").classList.toggle("hidden");
    document.querySelector("#who-we-are").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector("#about-us").classList.toggle("sidebar-active");
    </script>

    <div id="about-us-content">
        <h1 id="page-title" class="editable">About CFMS</h1>
        <!-- Newest Article -->
        <div id="about-us">
            <div class="about">
                <div class="about-info">
                    <h1 class="bold-red editable">Our Mission</h1>
                    <div class="learn-more-desc editable">The Canadian Federation of Medical Students is the national
                        voice of Canadian Medical Students. We connect, support and represent our membership as they
                        learn to serve patients and society.
                    </div>
                    <br/>

                    <h1 class="bold-red editable">Our Vision</h1>
                    <div class="learn-more-desc editable">Tomorrow’s physicians leading for health today.</div>
                    <br/>

                    <div>
                        <h1 class="bold-red editable">Letter from the President</h1>
                        <img id="president-pic" class="pic-right editable" data-cms-cid="379"
                             src="/uploads/versions/henry_annan_692x924.jpg" />
                        <p class="president-desc editable">Henry Annan<br/>CFMS President 2017 &ndash; 2018</p>
                    </div>
                    <div id="president-letter" class="editable"><p>Dear fellow medical student,</p>
                        <p><br/>Congratulations! You got in! You are now starting an incredible journey towards becoming
                            a physician&mdash;a privileged role centered around compassion and service to community.
                            Although the road is long and often arduous, know that many have walked it before&mdash;<em>and
                                we are all rooting for you</em>.</p>
                        <p>As the newest medical student in town, you are officially welcome to the Canadian Federation
                            Medical Students<br/>(CFMS) family! The CFMS is a strong community of 8,000 medical students
                            from 15 Canadian medical student<br/>societies that connects, supports, and represents our
                            membership as they learn to serve patients and society.</p>
                        <ol>
                            <li>&nbsp;Connect: The CFMS hosts two general meetings each year&mdash;one in the spring and
                                one in the fall. These meetings are an opportunity for medical students across Canada to
                                network and discuss hot topics in Canadian medical education. Sign up for our bi-weekly
                                communiqu&eacute;s for the most up to date information on how to attend.
                            </li>
                            <li>&nbsp;Support: Through our Student Affairs portfolio, we strive to ensure that student
                                wellness remains a priority at each Canadian medical faculty. Look out for our National
                                Wellness Challenge, which encourages students to maintain healthy lifestyle habits even
                                through the thick and thin of their studies.
                            </li>
                            <li>&nbsp;Represent: We work to be the voice of Canadian medical students to a myriad of
                                stakeholders including the Canadian Medical Association, the Royal College of Physicians
                                and Surgeons of Canada, Resident Doctors of Canada, the Canadian Resident Matching
                                Service, and the Association of Faculties of Medicine of Canada. Here, we ensure that
                                members are actively engaged in discussions at every step of the medical journey&mdash;from
                                student to practicing physician.
                            </li>
                        </ol>
                        <p>The CFMS is also extremely proud of the work we do through our Global Health as well as our
                            Government Affairs and Advocacy portfolios. Our Global Health Program supports grassroots
                            global health initiatives and connects our members with the International Federation of
                            Medical Students through international exchanges and programs. Our Government Affairs and
                            Advocacy Committee representatives spearhead successful lobbying campaigns provincially, but
                            also at the federal level where students from across the country meet annually with
                            policy-makers in Ottawa to discuss the most pressing issues facing Canadian healthcare.</p>
                        <p>As a CFMS member you have access to countless services including exclusive discounts on
                            educational materials, transportation and accommodations. Take advantage of these offers by
                            creating an official account on our website: <a href="/">www.cfms.org</a>. Contact your
                            local CFMS representative for your case-sensitive sign-up code.</p>
                        <p>Finally, the CFMS is a proud partner with MD Financial Services, a wholly owned subsidiary of
                            the Canadian Medical Association (CMA) that helps Canadian physicians and their families
                            achieve greater financial security. MD Financial Services&rsquo; commitment extends to
                            medical students by helping to ensure that we succeed as we begin our careers including
                            giving advice about how to finance medical education while minimizing debt.</p>
                        <p>The year 2017 is particularly special for the CFMS, as it is our 40th anniversary. Looking
                            back, I am inspired by how far this organization has come and how much potential there is
                            for growth moving forward. I encourage you to be an active part of this growth. Wherever
                            your interests may lie, I can assure you that there is a seat at the CFMS table for you!
                            Please, visit our website to find out more about our programs, services and
                            opportunities.</p>
                        <p>Congratulations once again. I look forward to meeting and working with you over the upcoming
                            year. It truly is an exciting time to be a medical student in Canada!</p>
                        <p><br/>Yours sincerely,
                        <br/>Henry Annan<br/>
                        <img id="signiture" class="editable" src="/images/president-signature-2017-2018.png" />
                        </p>
                        <p>CFMS President, 2017 &ndash; 2018 </p>
                    </div>
                </br>
                    <h1 class="bold-red editable">Presidential Address</h1>
                    <div"><iframe src="https://player.vimeo.com/video/232045527" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
