---
title: "About Us"
---

<!DOCTYPE html>  


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>
	
	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#about-us" ).classList.toggle("sidebar-active");
		</script>
		
		<div id="about-us-content">
			<h1 id="page-title" class="editable">About CFMS</h1>
			<!-- Newest Article -->
			<div id="about-us">
				<div class="about">
					<div class="about-info">
						<h1 class="bold-red editable">Our Mission</h1>
						<div class="learn-more-desc editable">The Canadian Federation of Medical Students is the national voice of Canadian Medical Students. We connect, support and represent our membership as they learn to serve patients and society.</div>
						<br>
						
						<h1 class="bold-red editable">Our Vision</h1>
						<div class="learn-more-desc editable">Tomorrow’s physicians leading for health today.</div>
						<br>
						
						<div>
							<h1 class="bold-red editable">Letter from the President</h1>
							<img id="president-pic" class="pic-right editable" src="/images/execs/2015-2016/anthea-lafreniere.jpg" />
							<p class="president-desc editable">Anthea Lafreniere<br />
								CFMS President 2015 &ndash; 2016</p>
						</div>
						<div id="president-letter" class="editable">
							<p>Dear colleague,</p>
							<p>Congratulations on your acceptance to medical school! Embarking on medical studies 
								marks the start of an exciting journey towards becoming a physician. Medical education 
								offers the opportunity to join a challenging profession built around excellence and service. 
								With it, there is the opportunity to use your strengths, interests, and curiosity to engage 
								and improve the health of others, and to be involved and bring positive changes to the local, 
								national, and international communities.</p>
							<p>The mission of the Canadian Federation of Medical 
							Students (CFMS) is to connect, support, and represent our membership from 14 Canadian medical student 
							societies as they learn to serve patients and society. Through our branches of representation, communication,
							and service, we are dedicated to promoting the interests and wellbeing of students studying medicine in Canada. 
							Through our executive members, national officers, and representatives selected from across the country, 
							we advocate for medical student interests at national medical organizations and to the federal government. 
							Some of the organizations to which we send representatives include the Canadian Medical Association (CMA), 
							the College of Family Physicians of Canada (CFPC), the Royal College of Physicians and Surgeons of Canada 
							(RCPSC), Resident Doctors of Canada (RDoC), the Canadian Resident Matching Service (CaRMS), and the Association 
							of Faculties of Medicine of Canada (AFMC). We also organize an annual Lobby Day on Parliament Hill in Ottawa where
							we meet with MPs and Senators to lobby for issues of relevance to medical students and that promote the health of 
							all Canadians.</p><p>We are very excited to launch our new and improved website (
							<a href="http://www.cfms.org">www.cfms.org</a>), thanks to the hard work of our Information Technology team! 
							I encourage you to sign-up on our website to ensure you have the most recent news from the CFMS. In order to access 
							the members-only section on the CFMS website you will require a code, available to you through your school's CFMS 
							representative. There are many discounts and exclusive offers available through our members-only section, so be sure to 
							sign up! We maintain communication with our members through our bi-annual meetings held in the Fall and the Spring, through
							our school representatives who will be making themselves known to you in the early weeks of your studies, through our 
							bi-monthly Communiqu&eacute;, and through our hard copy Annual Review publication.</p>
							
							<p>Just this year, the CFMS has begun a new and exciting collaborative partnership with MD Financial Services, 
								a wholly owned subsidiary of the Canadian Medical Association. MD&rsquo;s sole focus is to help Canadian 
								physicians and their families achieve greater financial security and peace of mind. That focussed commitment 
								starts with supporting medical students and helping ensure they succeed as they begin their careers, whether it is
								providing advice on debt management, paying for medical school or preparing for residency and practice. Medical students 
								can benefit from MD's specialized network of advisors who are dedicated to addressing the financial needs and goals of 
								medical students, including advice about how to finance medical education while minimizing debt.</p>
							<p>Some of the exclusive services we at the CFMS provide to our members include discounts on disability insurance,
								educational material, and accommodations. Our online databases for clinical elective reviews, residency interview
								feedback, and housing offerings are some of the services that you may find useful as you progress through your training.
								Frequently, we also advertise opportunities for funding for projects, various scholarships offered to medical students, 
								and opportunities to attend our meetings. Also available are international opportunities and exchanges through our vibrant
								Global Health Program which has as one of its mandates to connect with the International Federation of Medical 
								Students&rsquo; Associations (IFMSA).</p>
							<p>I am thrilled to welcome you into the CFMS as you begin your medical education! As a new medical student at one of our 14
								CFMS-member schools, you are automatically a member of the CFMS. This is your organization and we are here to serve you 
								and to help make your experience in medical school exciting, rewarding, and successful. There are a number of ways to get 
								involved in the CFMS, including attending our bi-annual meetings, joining a committee, applying to be a national officer,
								or running for one of our executive positions &ndash; stay tuned to your CFMS Communiqu&eacute; this Fall to learn more about
								how to get involved. Be sure to speak to the CFMS representative at your school for more information! In addition to your 
								representative, the CFMS executive members are also available to listen to your ideas and your thoughts and transform them into 
								action. Please feel free to contact me or any other members of the executive at any time - our contact information can be found 
								on the CFMS website.</p><p>On behalf of the entire CFMS executive and all the medical students across Canada, congratulations and 
							enjoy the journey on which you are about to embark.</p>
							<p>Sincerely,</p>
							<p>
								<img id="president-sig" src="/images/president-signature-2015-2016.png" />
							</p>
							<p class="president-desc">Anthea Lafreniere, CFMS President 2015 &ndash; 2016</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
