---
title: "Alumni"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---


<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#alumni" ).classList.toggle("sidebar-active");
    </script>

    <div id="alumni-content" class="editable">
        <h1 id="page-title" class="editable">{{ page.title }}</h1>
        <!-- Newest Article -->
        <div class="alumni">
            <div class="alumni-info editable">

                <p>Coming Soon</p>

            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
