---
title: Bylaws &amp; Internal Policy
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content editable">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#internal-policy-bylaws" ).classList.toggle("sidebar-active");
		</script>
		<div id="bylaws-policy-content">
			<h1 id="page-title" class="editable">Bylaws &amp; Internal Policy</h1>
			<blockquote>
				<h3 class="editable"><strong>CFMS Bylaws</strong></h3>
				<ul>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/cfms-bylaws.pdf" class="editable">CFMS Bylaws</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/french-cfms-bylaws.pdf" class="editable">French CFMS Bylaws</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h3 class="editable"><strong>Social Media Professionalism</strong></h3>
				<ul>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/CFMS Guide%20to%20Social%20Media%20Professionalism.pdf" class="editable">CFMS Guide to Social Media Professionalism</a>
					</li>
				</ul>
			</blockquote>
			<blockquote>
				<h3 class="editable"><strong>Internal Policy</strong></h3>
				<ul>
				    <li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/strategic-plan-2017-2022.pdf" class="editable">Strategic Plan 2017-2022</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-antiharassment.pdf" class="editable">Anti-Harassment Policy</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/Green%20Charter%20-%20Best%20Practices%20for%20Medical%20Student%20Societies.pdf" class="editable">Green Charter &ndash; Best Practices for Medical Student Societies</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-PACterms.pdf" class="editable">PAC &ndash; Terms of Reference</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-privacy.pdf" class="editable">Privacy Policy</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-reimbursement.pdf" class="editable">Reimbursement Policy</a>
					</li>
					<li>
						<span class="file-format">DOC</span><a href="/files/internal-policy-bylaws/Expense%20Reimbursement%20Claim.doc" class="editable">Expense Reimbursement Claim Form</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-representation.pdf" class="editable">Representation Policy</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-sponsorship.pdf" class="editable">Sponsorship Policy</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/internal-policy-bylaws/policy-travel.pdf" class="editable">Travel Policy</a>
					</li>
				</ul>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>