---
title: CFMS Representatives
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#cfms-representatives" ).classList.toggle("sidebar-active");
		</script>

		<div id="cfms-reps-content">
			<h1 id="page-title" class="editable">CFMS Representatives</h1>
			<div id="cfms-reps-desc" class="editable">Medical student societies are each represented by <em>two CFMS Reps</em> and the <em>Medical Society President</em>, who are responsible for attending the Annual General Meeting (AGM) and Spring General Meeting (SGM). They maintain contact with each other and the executive team throughout the year. Decisions are carried out by vote with each institution receiving two votes and each executive member receiving one. Medical student societies commonly send more than two representatives to participate in CFMS meetings and activities.</div>
			<div id="schools">
				<div id="ubc" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ubc.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of British Columbia
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b> Kingsley Shih <br />
							<b>Jr. Rep:</b> Jas Hans <br />
							<b>President:</b> Laura Kim 
						</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:UBCreps@cfms.org">ubcreps@cfms.org</a></li>
					</div>
				</div>
				<div id="ualberta" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ualberta.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Alberta
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Swati Chavda<br />
							<b>Jr. Rep: Victor Do</b><br />
							<b>President:</b>&nbsp;Adam Mullan</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:ualbertareps@cfms.org">ualbertareps@cfms.org</a></li>
					</div>
				</div>
				<div id="ucalgary" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/ucalgary.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Calgary
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Christina Schweitzer<br />
							<b>Jr. Rep:</b> Emma Pillsworth<br />
							<b>President:</b> Nathan Rider<br /></li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:ucalgaryreps@cfms.org">ucalgaryreps@cfms.org</a></li>
					</div>
				</div>
				<div id="usaskatchewan" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/usaskatchewan.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Saskatchewan
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Bonnie Liu<br />
							<b>Jr. Rep:</b>&nbsp;Odell Tan<br />
							<b>President:</b>&nbsp;Jeff Elder</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:usaskatchewanreps@cfms.org">usaskatchewanreps@cfms.org</a></li>
					</div>
				</div>
				<div id="umanitoba" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/umanitoba.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Manitoba
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Christopher Briggs<br />
							<b>Jr. Rep:</b>&nbsp;Achiengo Tago<br />
							<b>President:</b>&nbsp;Joshua Palay</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:umanitobareps@cfms.org">umanitobareps@cfms.org</a></li>
					</div>
				</div>
				<div id="nosm" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/nosm.png" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Northern Ontario School of Medicine
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Ben Cassidy<br />
							<b>Jr. Rep:</b>&nbsp;Josee Malette<br />
							<b>President:</b>&nbsp;Warren Stevenson</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:NOSMreps@cfms.org">nosmreps@cfms.org</a></li>
					</div>
				</div>
				<div id="western" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/western.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Western University
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Cory Lefebvre<br />
							<b>Jr. Rep:</b>&nbsp;Jamie Riggs<br />
							<b>Presidents:</b> Adam Forster</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:uworeps@cfms.org">uworeps@cfms.org</a></li>
					</div>
				</div>
				<div id="mcmaster" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/mcmaster.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							McMaster University
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Vivian Ng<br />
							<b>Jr. Rep:</b>&nbsp;Daniel Turski<br />
							<b>President:</b>&nbsp;Hrishikesh Suresh</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:mcmasterreps@cfms.org">mcmasterreps@cfms.org</a></li>
					</div>
				</div>
				<div id="utoronto" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/utoronto.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Toronto
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b> Sujen Saravanabavan<br />
							<b>Jr. Rep:</b>&nbsp;Victoria Reedman<br />
							<b>President:</b>&nbsp;Kayla Sliskovic</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:utorontoreps@cfms.org">utorontoreps@cfms.org</a></li>
					</div>
				</div>
				<div id="queens" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/queens.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Queens University
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b> Andrew Dawson<br />
							<b>Jr. Rep:</b>&nbsp;Jules Lew<br />
							<b>President:</b>&nbsp;Cale Templeton</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:queensreps@cfms.org">queensreps@cfms.org</a></li>
					</div>
				</div>
				<div id="uottawa" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/uottawa.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							University of Ottawa
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Shreya Jalali<br />
							<b>Jr. Rep:</b>&nbsp;Adam Pietrobon<br />
							<b>President:</b>&nbsp;Vanessa Russell</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:uottawareps@cfms.org">uottawareps@cfms.org</a></li>
					</div>
				</div>
				<div id="mcgill" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/mcgill.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							McGill University
						</li>
						<li class="school-reps editable"><b>CFMS Rep:</b> James Mattina<br />
							<b>President:</b> Liang Chen</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:mcgillreps@cfms.org">mcgillreps@cfms.org</a></li>
					</div>
				</div>
				<div id="dalhousie" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/dalhousie.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Dalhousie University
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Alexandra Taylor<br />
							<b>Jr. Rep:</b>&nbsp;Yolanda Evong<br />
							<b>President: </b>Patrick Holland</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:dalhousiereps@cfms.org">dalhousiereps@cfms.org</a></li>
					</div>
				</div>
				<div id="memorial" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/memorial.svg" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Memorial University of Newfoundland
						</li>
						<li class="school-reps editable">
							<b>Sr. Rep:</b>&nbsp;Courtney Manuel<br />
							<b>Jr. Rep:</b>&nbsp;Jacques Van Wijk<br />
							<b>President:</b>&nbsp;Peter Gregory</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:memorialreps@cfms.org">memorialreps@cfms.org</a></li>
					</div>
				</div>
				<!-- Sherbrooke -->
				<div id="cfmnb" class="school">
					<div class="school-logo">
						<img src="/images/school-logos/cfmnb-logo.png" style="
						    width: auto;
						    height: 130px;
						" />
					</div>
					<div class="school-desc">
						<li class="school-name editable">
							Centre de formation médicale Nouveau-Brunswick
						</li>
						<li class="school-reps editable">
							<b>CFMS Rep:</b>&nbsp;Aimée Bouka<br />
							<b>Moncton President:</b>&nbsp;Dax Bourcier</li>
						<li class="school-rep-emails editable"><b>Email:</b> <a href="mailto:memorialreps@cfms.org">cfmnbreps@cfms.org</a></li>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
