---
title: "External Committees"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#external-committees" ).classList.toggle("sidebar-active");
    </script>
    <div id="member-schools-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <h1 class="bold-red"><strong>Current Representatives</strong></h1>
        <p class="editable">Canadian medical students are represented at many national medical organizations by CFMS Representatives. The organizations (and CFMS Representatives) are listed below:</p>
        
        <ul>
        {% for currentRepresentativeInformation in site.data.external-committees.external-committees %}
        {% if currentRepresentativeInformation.lang == page.lang %}
            {% assign organizations = currentRepresentativeInformation.organizations | sort: 'organization-name' %}
            {% for organization in organizations %}
                <li><strong>{{organization.organization-name}}</strong> - {{organization.CFMS-representative}}</li>
            {% endfor %}
        
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% include footer.html %}
</body>
</html>