---
title: Governance Structure
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#governance-structure" ).classList.toggle("sidebar-active");
		</script>
		<div id="governance-structure-content">
			<h1 id="page-title" class="editable">Governance Structure</h1>
			<div class="editable">
				<h2><strong>Overall Structure of the CFMS</strong></h2>
				<p>The CFMS represents over 8,000 medical students from 15 Canadian medical student societies from coast to coast. Students at schools that are part of the CFMS are automatically part of the CFMS. For a list of member schools, see <a href="member-schools.html">here</a>.</p>
				<p>As a CFMS member, you can run for a position as a member of the Board of Directors, National Officer, or a member of a committee. Application deadlines are shared on the CFMS Communiqu&eacute; distributed monthly to each member school. Clicking on boxes on the governance structure model below, will provide additional information for each position with terms of reference if available. You are also eligible to participate in either or both of the 2 meetings that the CFMS holds annually: the Annual General Meeting (AGM) in the Fall, and the Spring General Meeting (SGM) in the Spring. Any CFMS member can apply for Travel Awards (hyperlink) to participate at general meetings.</p>
				<h2><strong>CFMS Membership</strong></h2>
				<p>The medical student societies are each represented by two CFMS Representatives who attend the AGM and SGM and maintain contact with each other and the CFMS Board throughout the year. Round tables (shown in green) are representative bodies, with individuals from each school comprising its membership, that provides insight into varying portfolios and allows for broad consultation of the membership whom they represent.</p>
				<p>Decisions are carried out by vote during general meetings with each institutional member receiving three votes and each board member receiving one. Medical student societies commonly send more than two representatives to participate in CFMS meetings and activities.</p>
				<p>The governance committee (shown in
					<font color="grey">grey</font>) is a skill-based group with representation from the Board, the president&rsquo;s roundtable and general membership, responsible for ensuring that new and revised policies and/or procedures are compliant with CFMS&rsquo; strategic vision, mission and mandate.</p>
				<h2><strong>Board Structure</strong></h2>
				<p>The CFMS is led by a Board consisting of a President, Past-President, four Directors and two Vice Presidents responsible for different portfolios (shown in dark red), and six Regional Directors (shown in light red), each with a one-year term. Each year the Board also appoints various National Officers (shown in light grey) who carry out specific roles commissioned by the membership, and chair their respective general membership committee (shown in dark grey).</p>
				<p>All CFMS Board Members are elected at the Annual General Meeting (AGM) in September with the exception of the President who is elected at the Spring General Meeting (SGM) and serves as President-Elect until the AGM. The Board is supported by a General Manager in Ottawa who manages the office and carries out much of the day-to-day operations of the organization.</p>
				<img src="/images/governance-structure/interactive-dyad.png">
			</div>
				</div>
			</div>
		
	
	{% include footer.html %}
</body>
