---
title: "CFMS History"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#history" ).classList.toggle("sidebar-active");
    </script>
    <div id="member-schools-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div id="schools">
            
            {% for historyInformation in site.data.history.history %}
            {% if historyInformation.lang == page.lang %}
                {{ historyInformation.description }}
            {% endif %}
            {% endfor %}
            
            
            {% for president in site.data.history.past-presidents %}
            <ul>
                <li>How many times?</li>
            </ul>
            
            {% endfor %}
            
            <!--<ul class="cards">-->
                <!--<li class="cards__item">-->
                    <!--<div class="card">-->
                        <!--<button>-->
                            <!--<img title="Download domestic and child abuse pocket card" alt="Download domestic and child abuse pocket card" class="card__image" src="../../images/page-images/pocket-cards/Domestic-and-Child-Abuse-Thumbnail.png"/>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
            
        </div>
    </div>
</div>
{% include footer.html %}
</body>

<script type="text/javascript">
    (function(){
        function dynamicEvent(){
            if(this.parentElement.previousElementSibling.style.display ==="none"){
                this.parentElement.previousElementSibling.style.display = "block";
                this.innerHTML = "Close";
            }
            else{
                this.parentElement.previousElementSibling.style.display = "none";
                this.innerHTML = "Read More";
            }
        }

        var buttons = document.querySelector("#schools").getElementsByTagName('button');

        for(var i=0; i< buttons.length; i++){
            var button = buttons[i];
            button.onclick = dynamicEvent;
        }
    })();
</script>
</html>