---
title: 'Executives &amp; Officers'
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	<div id="execs-group-pic" style="width:100%; background: url(/images/execs/2016-2017/group-pic.jpg) no-repeat center 0; background-size:cover">
	</div>

	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#executives-officers" ).classList.toggle("sidebar-active");
		</script>

		<div id="executives-officers-content">
			<h1 id="page-title" class="editable">Executive Team</h1>

			<!-- CFMS Executives -->
			<div id="executives">
				<div id="president" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-877" data-cms-cid="877" src="/uploads/versions/franco-rizzuti---x0-0-312-417-346-462x---.jpg" width="346" height="462" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">President</span>
						</li>
						<li class="exec-name">
							<span class="editable">Franco Rizzuti</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Calgary</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Franco chairs the Executive Group and is responsible for the general supervision and direction of the business of the CFMS. Overall goal-setting and vision fall under the President’s responsibilities. Franco also serves as the spokesperson for the organization to the public, the media, the government, and national medical organizations.</span>
						</li>
						<li class="url"><a href="mailto:president@cfms.org">president@cfms.org</a></li>
					</div>
				</div>
				
				<div id="president-elect" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-877" data-cms-cid="877" src="/uploads/versions/henry_annan.jpg" width="346" height="462" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">President-Elect</span>
						</li>
						<li class="exec-name">
							<span class="editable">Henry Annan</span>
						</li>
						<li class="exec-school">
							<span class="editable">Dalhousie University</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Henry serves as President-Elect from April to September until his installation as President at AGM . In this role, he will work alongside the CFMS President to understand the responsibilities of President, to develop his strategic vision for the organization, and to begin to connect with our partners and stakeholders.</span>
						</li>
						<li class="url"><a href="mailto:president@cfms.org">presidentelect@cfms.org</a></li>
					</div>
				</div>
				
				<div id="past-president" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-916" data-cms-cid="916" src="/uploads/versions/anthea-lafreniere---x0-0-346-461-300-400x---.jpg" width="300" height="400" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Past-President</span>
						</li>
						<li class="exec-name">
							<span class="editable">Dr. Anthea Lafreniere</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Ottawa</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Anthea advises the President and the Executive Group in addition to serving as Chief Returning Officer and Parliamentarian.</span>
						</li>
						<li class="url"><a href="mailto:pastpresident@cfms.org">pastpresident@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-communications" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-955" data-cms-cid="1057" width="428" height="572" src="/uploads/versions/dsc-4414---x464-0-3022-4039-428-572x---.jpg" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Executive Vice-President<br />Vice-President Communications</span>
						</li>
						<li class="exec-name">
							<span class="editable">Usman Khan</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Ottawa</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Usman guides the internal and external communication of the CFMS. He is responsible for maintaining regular contact with individual representatives and medical society presidents, welcoming and orienting new representatives, and communication with external organizations when this responsibility falls outside of the duties of the President.</span>
						</li>
						<li class="url"><a href="mailto:vpcommunications@cfms.org">vpcommunications@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-education" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-996" data-cms-cid="996" src="/uploads/versions/screen-shot-2016-10-04-at-3-18-54-pm---x146-0-776-1034-355-473x---.png" width="355" height="473" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Education</span>
						</li>
						<li class="exec-name">
							<span class="editable">Tavis Apramian</span>
						</li>
						<li class="exec-school">
							<span class="editable">Western University </span>
						</li>
						<li class="exec-desc">
							<span class="editable">Tavis is responsible for directing the representation, analysis and policy of the CFMS on educational issues. He represents the Federation at such forums where concerns of a primarily educational nature are discussed. Tavis also undertakes initiatives to enhance the educational experience of members of the Federation.</span>
						</li>
						<li class="url"><a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-finance" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-1035" data-cms-cid="2634" width="313" height="417" src="/uploads/versions/img-2377---x98-0-2830-3770-313-417x---.jpg" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Finance</span>
						</li>
						<li class="exec-name">
							<span class="editable">Daniel Peretz</span>
						</li>
						<li class="exec-school">
							<span class="editable">McGill University</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Dan guides the overall fiscal management of the CFMS, and acts as the Chief Financial Officer. He is responsible for managing the CFMS bank accounts, investments, expenses, revenue, and payroll. He is also actively involved in broadening the financial resource base of the CFMS by seeking alternative sources of revenue through grants, advertising, donations and sponsorship.</span>
						</li>
						<li class="url"><a href="mailto:vpfinance@cfms.org">vpfinance@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-government-affairs" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-1074" data-cms-cid="2673" width="299" height="399" src="/uploads/versions/dsc-5917---x0-211-4016-5359-299-399x---.jpg" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Government Affairs</span>
						</li>
						<li class="exec-name">
							<span class="editable">Sarah Silverberg</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Toronto</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Sarah addresses the organization's commitment to representation through political advocacy initiatives at a local and national level. She serves as the chair of the Government Affairs &amp; Advocacy Committee (GAAC), organizes the CFMS Federal Lobby Day, coordinates position papers, and represents the CFMS on all issues of a political nature.</span>
						</li>
						<li class="url"><a href="mailto:vpgovtaffairs@cfms.org">vpgovtaffairs@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-student-affairs" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-1113" data-cms-cid="1113" src="/uploads/versions/han-yan---x0-0-426-568-350-467x---.jpg" width="350" height="467" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Student Affairs</span>
						</li>
						<li class="exec-name">
							<span class="editable">Han Yan</span>
						</li>
						<li class="exec-school">
							<span class="editable">Western University</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Han is responsible for co-ordinating CFMS member affairs. Some of her major undertakings include maintaining the interview and electives databases, and the promotion of student resources. The VP-Student Affairs is mandated to develop and acquire new services based on membership feedback and plays an integral role in the development of web-based services.</span>
						</li>
						<li class="url"><a href="mailto:vpstudentaffairs@cfms.org">vpstudentaffairs@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-global-health" class="executive">
					<div class="exec-pic">
						<img class="editable" id="cms-identifiable-1152" data-cms-cid="2751" width="300" height="400" src="/uploads/versions/ozx6brmk---x84-0-300-400-300-400x---.jpg" />
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Global Health</span>
						</li>
						<li class="exec-name">
							<span class="editable">Jessica Bryce</span>
						</li>
						<li class="exec-school">
							<span class="editable">Western University</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Jessica is responsible for coordinating the CFMS Global Health Program. She forms and maintains dynamic partnerships with Canadian and international organizations, to support the interests of medical students studying in Canada with respect to global health, international development, and public health.</span>
						</li>
						<li class="url"><a href="mailto:vpglobalhealth@cfms.org">vpglobalhealth@cfms.org</a></li>
					</div>
				</div>

				<!-- Regional Representatives -->
				<h1 id="regional-reps-title" class="editable">Regional Representatives</h1>
				<div id="regional-reps-desc"><span class="editable">Regional Representatives are fully functioning and voting members of the Executive and have the specialized role of ensuring that the Executive is kept abreast of up-to-the-moment developments at all of the member schools. Regional representatives serve as liaisons between the Executive and the medical society representatives and presidents. They work closely with all VPs under the direction of the President to ensure communication between the Executive and medical societies. They are also expected to take on national projects and responsibilities on behalf of the Executive.</span></div>
				<div id="regional-reps">
					<div id="western-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-1202" data-cms-cid="1202" width="417" height="556" src="/uploads/versions/unspecified---x0-0-1365-1820-417-556x---.jpeg" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Western Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Laura Kim</span>
							</li>
							<li class="exec-school">
								<span class="editable">University of British Columbia</span>
							</li>
							<li class="url"><a href="mailto:western@cfms.org">western@cfms.org</a></li>
						</div>
					</div>
					<div id="western-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-1235" data-cms-cid="4973" width="408" height="544" src="/uploads/versions/012---x0-320-3840-5120-408-544x---.jpg" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Western Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Gurmeet Kaur Sohi</span>
							</li>
							<li class="exec-school">
								<span class="editable">University of Manitoba</span>
							</li>
							<li class="url"><a href="mailto:western@cfms.org">western@cfms.org</a></li>
						</div>
					</div>
					<div id="ontario-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-1268" data-cms-cid="1268" src="/uploads/versions/screen-shot-2016-10-04-at-3-29-18-pm---x0-5-298-397-426-568x---.png" width="426" height="568" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Ontario Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Kaylynn Purdy</span>
							</li>
							<li class="exec-school">
								<span class="editable">Northern Ontario School of Medicine</span>
							</li>
							<li class="url"><a href="mailto:ontario@cfms.org">ontario@cfms.org</a></li>
						</div>
					</div>
					<div id="ontario-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-1301" data-cms-cid="1301" src="/uploads/versions/screen-shot-2016-10-04-at-3-30-41-pm---x62-0-751-1002-338-451x---.png" width="338" height="451" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Ontario Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Shreya Jalali</span>
							</li>
							<li class="exec-school">
								<span class="editable">University of Ottawa</span>
							</li>
							<li class="url"><a href="mailto:ontario@cfms.org">ontario@cfms.org</a></li>
						</div>
					</div>
					<div id="quebec-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-2933" data-cms-cid="2933" src="/uploads/versions/lucy-luo---x0-0-2760-3678-400-533x---.jpg" width="400" height="533" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Quebec Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Lucy Luo</span>
							</li>
							<li class="exec-school">
								<span class="editable">McGill University</span>
							</li>
							<li class="url"><a href="mailto:quebec@cfms.org">quebec@cfms.org</a></li>
						</div>
					</div>
					<div id="atlantic-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" id="cms-identifiable-1367" data-cms-cid="2966" width="360" height="480" src="/uploads/versions/img-2403---x1296-0-2592-3456-360-480x---.jpg" />
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Atlantic Regional Representative</span>
							</li>
							<li class="exec-name">
								<span class="editable">Alexandra Taylor</span>
							</li>
							<li class="exec-school">
								<span class="editable">Dalhousie University</span>
							</li>
							<li class="url"><a href="mailto:atlantic@cfms.org">atlantic@cfms.org</a></li>
						</div>
					</div>
				</div>
			</div>

			<!-- CFMS National Officers -->
			<h1 id="page-title" class="editable">National Officers</h1>
			<div id="officers">
				<div id="cfms-national-officers" class="column">
					<h1 class="editable">CFMS</h1>
					<div class="officer-info">
						<li class="officer-role editable">Health Policy</li>
						<li class="officer-name editable">Jovi Wong</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="url"><a href="mailto:nohp@cfms.org">nohp@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Blood</li>
						<li class="officer-name editable">Salima Abdulla</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="url"><a href="mailto:blood@cfms.org">blood@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Information Technology (Sr)</li>
						<li class="officer-name editable">Stephen Leung</li>
						<li class="officer-school editable">University of Ottawa</li>
						<li class="url"><a href="mailto:it@cfms.org">it@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Information Technology (Jr)</li>
						<li class="officer-name editable">Pavel Yarmak</li>
						<li class="officer-school editable">University of Manitoba</li>
						<li class="url"><a href="mailto:it@cfms.org">it@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Wellness</li>
						<li class="officer-name editable">Alyssa Lip</li>
						<li class="officer-school editable">Queen's University</li>
						<li class="url"><a href="mailto:wellness@cfms.org">wellness@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Alumni</li>
						<li class="officer-name editable">Dr. Jesse Kancir</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="url"><a href="mailto:alumni@cfms.org">alumni@cfms.org</a></li>
					</div>
				</div>
				<div id="global-health-national-officers" class="column">
					<h1 class="editable">Global Health</h1>
					<div class="officer-info">
						<li class="officer-role editable">Partnerships (NOP)</li>
						<li class="officer-name editable">Tarun Rahman</li>
						<li class="officer-school editable">University of Ottawa</li>
						<li class="url"><a href="mailto:nop@cfms.org">nop@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Exchanges (NOE)</li>
						<li class="officer-name editable">Kelly Ma</li>
						<li class="officer-school editable">University of Alberta</li>
						<li class="officer-name editable">Montana Johnston</li>
						<li class="officer-school editable">University of Manitoba</li>
						<li class="url"><a href="mailto:exchange@cfms.org">exchange@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Global Health Education (NOGHE)</li>
						<li class="officer-name editable">Dylan Ginter</li>
						<li class="officer-school editable">University of Saskatchewan</li>
						<li class="url"><a href="mailto:noghe@cfms.org">noghe@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Reproductive and Sexual Health (NORSH)</li>
						<li class="officer-name editable">Christopher Briggs</li>
						<li class="officer-school editable">University of Manitoba</li>
						<li class="url"><a href="mailto:norsh@cfms.org">norsh@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Human Rights and Peace (NORP)</li>
						<li class="officer-name editable">Henry Annan</li>
						<li class="officer-school editable">Dalhousie University</li>
						<li class="url"><a href="mailto:norp@cfms.org">norp@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Indigenous Health (NOIH)</li>
						<li class="officer-name editable">Amanda Sauvé</li>
						<li class="officer-school editable">University of Western Ontario</li>
						<li class="url"><a href="mailto:aboriginalhealth@cfms.org">aboriginalhealth@cfms.org</a></li>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
