---
title: "Member Schools"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#member-schools" ).classList.toggle("sidebar-active");
		</script>
		<div id="member-schools-content">
			<h1 id="page-title">{{ page.title }}</h1>
			<div id="schools">
				<!--Grabbing information from member-schools.yml -->
				{% for school in site.data.member-schools.member-schools-information %}
				{% if school.lang == page.lang %}
				<div class="school">
					<div class="school-logo">
						<img src="/images/school-logos/{{ school.school-img }}">
					</div>
					<div class="school-desc">
						<li class="school-name">
							<a href="{{ school.school-link }}" class="editable">
								{{ school.school-name }}
							</a>
						</li>
						<li class="school-address editable">
							{{ school.school-address }}
						</li>
						<li class="school-contact editable"> 
							<b>Phone</b>: {{ school.school-phone }}<br>
							{% if school.school-fax != "" %}
								<b>Fax</b>: {{ school.school-fax }}
							{% endif %}
						</li>
						
						<li id="school-1" style="display:none;">
							{{ school.school-description }}
						</li>
						<li><button class="clickMe">Read More</button></li>
						
						
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>	
		</div>
	</div>
	{% include footer.html %}
</body>

<script type="text/javascript">
//	var $ = function(selector){
//		return document.querySelector(selector);
//	};
	function dynamicEvent(){
		if(this.parentElement.previousElementSibling.style.display ==="none"){
			this.parentElement.previousElementSibling.style.display = "block";
			this.innerHTML = "Close";
		}
		else{
			this.parentElement.previousElementSibling.style.display = "none";
			this.innerHTML = "Read More";
		}
	}
	
	var buttons = document.querySelector("#schools").getElementsByTagName('button');
	
	for(var i=0; i< buttons.length; i++){
		var button = buttons[i];
		button.onclick = dynamicEvent;
	}
	
	
</script>
</html>