---
title: "Organizational Timeline"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css">
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/pagination.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#organizational-timeline" ).classList.toggle("sidebar-active");
    </script>
    <div id="member-schools-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div>

            {% for organizationalTimeline in site.data.organizational-timeline.organizational-timeline %}
            {% if organizationalTimeline.lang == page.lang %}
                <nav aria-label="Page Navigation" class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for president in organizationalTimeline.president-information %}
                            <li><a href="" id="{{ president.year }}" class="paginationLink">{{ president.year }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            
            <hr>
            {% for president in organizationalTimeline.president-information %}
                <div id="page{{president.year}}" class="{% if forloop.first %} show {% endif %} {% unless forloop.first %} hide {% endunless %}  paginationPages">
                    <h2>On Page {{ president.year }}</h2>
                </div>
            
            {% endfor %}
            
                

            {% endif %}
            {% endfor %}
           
           
           

            
            
            
            
            
            
            
            
            
            
            
           


        </div>
    </div>
</div>
{% include footer.html %}
</body>

<script type="text/javascript">
    (function(){
        var paginationLinks = document.getElementsByClassName('paginationLink');
        var paginationPages = document.getElementsByClassName('paginationPages');
        for(var i=0; i<paginationLinks.length; i++){
            var button = paginationLinks[i];
            button.onclick = showPage;
        }
        function showPage(){
            event.preventDefault();
            var id = 'page'+this.id;
            for(var i=0; i<paginationPages.length; i++){
                if(paginationPages[i].id == id){
                    paginationPages[i].classList.add('show');
                    paginationPages[i].classList.remove('hide');
                }
                else {
                    paginationPages[i].classList.add('hide');
                    paginationPages[i].classList.remove('show');
                }
            }
        }
        
        
    })();
</script>
</html>