---
title: "Photo Gallery"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css">
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <link rel="stylesheet" href="/stylesheets/photo-swipe.css">
    <link rel="stylesheet" href="/stylesheets/flickrStyles.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#photo-gallery" ).classList.toggle("sidebar-active");
    </script>
    <div class="root" id="member-schools-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div id="albumContainer">
            
        <!--<div class="view photo-list-album-view awake" id="yui_3_16_0_1_1504800554398_1957" style="transform: translate(0px, 8px);width: 240px;height: 240px;background-image: url(&quot;//c1.staticflickr.com/5/4334/36272733303_ef7b473da8_n.jpg&quot;);">-->
            <!--<a class="interaction-view avatar photo-list-album album ginormous" href="/photos/154596101@N02/albums/72157686313147253" title="Test2Album" data-rapid_p="65" id="yui_3_16_0_1_1504800554398_2242">-->
            <!--<div class="photo-list-album-interaction dark has-actions" data-albumid="72157686313147253">-->
            <!--<a class="overlay" href="/photos/154596101@N02/albums/72157686313147253" data-rapid_p="87"></a>-->
            <!--<div class="interaction-bar">-->
                <!--<div class="metadata">-->
                    <!--<h4 class="album-title">Test2Album</h4>-->
                    <!--<span class="album-photo-count secondary">4 photos</span>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div></a></div>-->

        </div>
        
        
        
        

        <div id="blueimp-image-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
        </div>


        <h2>Lightbox image gallery</h2>
        <!-- The container for the list of example images -->
        <div id="links" class="links"></div>

        
        
        
    </div>
</div>



<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


{% include footer.html %}
</body>
</html>