---
title: "Photo Gallery"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/who-we-are.css">
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <link rel="stylesheet" href="/stylesheets/photo-swipe.css">
    <link rel="stylesheet" href="/stylesheets/flickrStyles.css">
    <link rel="stylesheet" href="/stylesheets/listJs-styles.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#who-we-are" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-who-we-are.html %}
    <script type="text/javascript">
        document.querySelector( "#photo-gallery" ).classList.toggle("sidebar-active");
    </script>
    <div class="root" id="member-schools-content">
        <h1 id="page-title">{{ page.title }}</h1>
        <div id="closeButton" style="display:none; width:3.2em; height:3.5em">
            <a href="#"><h1 style="font-size:4.0em;">&larr;</h1></a>
        </div>
        <br />
        <div id="albumContainer">
            <div>
                <input type="text" class="search editable" placeholder="Search Albums" />
                <select id="filter-tags">
                    <option value="Select Year" class="editable">Select Year</option>
                </select>
                
                
            </div>
            <br />
            <ul class="sort-by">
                <li class="sort btn" data-sort="albumTitle"><span class="editable">Sort by Name</span></li>
                <li class="sort btn" data-sort="albumSchool"><span class="editable">Sort by School</span></li>
                <li class="sort btn" data-sort="albumEvent"><span class="editable">Sort by Event</span></li>
            </ul>
            <br />
            <br />
            <br />
            <br />
            <ul class="pagination"></ul>
            
            <ul id="list" class="list">
            </ul>
            <div class="loader"></div>
        </div>
        
        <div id="errorMessage" style="display:none;"></div>
        
        <div id="blueimp-image-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
        </div>
        
        <!-- The container for the list of example images -->
        <div id="links" class="links"></div>
        
    </div>
</div>

<!--This has to be child of the body to work-->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


{% include footer.html %}
</body>
</html>