---
title: Governance Structure
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#stephanie-smith" ).classList.toggle("sidebar-active");
		</script>
		<div id="governance-structure-content">
			<h1 id="page-title" class="editable">Stephanie Smith</h1>
			<div class="editable">
				<p><strong>Click <a href="/files/sgm-2018-election/Smith nomination.pdf">here</a> to download the PDF version of the electoral platform.</strong></p>
				<p>
					<img src="/files/sgm-2018-election/stephanie-smith-1.png">
					<img src="/files/sgm-2018-election/stephanie-smith-2.png">
					<img src="/files/sgm-2018-election/stephanie-smith-3.png">
				</p>	
			</div>
		</div>	</div>
	{% include footer.html %}
</body>
