---
title: "CFMS in the News"
---
{% assign years = ((site.cfms-in-the-news | map: "year") | uniq) | sort | reverse %}
{% assign sorted = (site.cfms-in-the-news | sort: 'date') | reverse %}


<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/news.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#news" ).classList.toggle("active");
	</script>

	<div id="archives" class="content">
		<div id="archives-title">{{ page.title }}</div>
   		<div id="aside">
			<h6>About the CFMS</h6>
			{{ site.about_cfms_en }}
		</div>
		<div class="news-home-list">
			{% for year in years %}
				<div class="news-year"><span>{{year}}</span></div>
				{% for post in sorted %}
					{% if post.year == year %}
					<div class="news-date">{{post.month}} {{post.day}}</div>
					<li>
						<div class="news-link"><a href="{{post.href}}">{{post.title}}</a>
							<div class="news-publication">{{post.news-publication}}</div>
						</div>
					</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
			
			
		</div>
	</div>
	{% include footer.html %}
</body>
</html>