---
title:
---
{% assign sorted = (site.news | sort: 'date') | reverse %}
<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/news.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#news" ).classList.toggle("active");
	</script>

	<!-- Newest Article -->
	<div id="newest-article">
		{% for post in sorted limit:1 %}
			<div id="newest-byline">Latest Article</div>
			<div id="newest-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
			<div id="newest-description">
				<span id="newest-date">{{ post.date | date: "%B %d, %Y" }}</span>
				{{ post.description }}
			</div>
			<div class="button"><a href="{{ post.url }}">Read More</a></div>
		{% endfor %}
	</div>
	<div id="student-spotlight">
		<div id="spotlight-title">Student Spotlight</div>
		<div id="spotlight-description">Each year, medical students across Canada engage in projects that make a difference within their schools and communities. Here, we feature some of the ideas that medical students are working on, and how they’re fostering our common goals.</div>
		<div class="flex-wrapper">
			<a href="student-spotlight/mental-health-coffee-night.html">
				<div class="featured-link" style="background: url(/images/page-images/student-spotlight/mental-health-coffee-night.png) no-repeat center center; background-size:cover">
				</div>
				<div class="featured-link-text">Mental Health Coffee Night<br><span class="featured-school">University of Saskatchewan</span></div>
			</a>
			<a href="student-spotlight/multiculturalism-in-medicine.html">
				<div class="featured-link" style="background: url(/images/page-images/student-spotlight/multiculturalism-in-medicine.png) no-repeat center center; background-size:cover">
				</div>
				<div class="featured-link-text">Multiculturalism in Medicine<br><span class="featured-school">University of Toronto</span></div>
			</a>
			<a href="student-spotlight/peds-cases.html">
				<div class="featured-link" style="background: url(/images/page-images/student-spotlight/peds-cases.jpg) no-repeat center center; background-size:cover">
				</div>
				<div class="featured-link-text">PedsCases<br><span class="featured-school">University of Alberta</span></div>
			</a>
		</div>
		<div class="button"><a href="student-spotlight/">See all projects</a></div>
	</div>
	<div id="news-home-columns">
		<div id="older-news" class="column">
			<h1>Older Articles<i id="archive-icon" class="fa fa-folder-open-o"></i></h1>
			<div class="news-home-list">
				{% for post in sorted limit:5 %}
					<div class="news-date">{{ post.date | date: '%b %d' }}</div>
					<li>
						<div class="news-link"><a href="{{ post.url }}">{{ post.title }}</a></div>
						<div class="news-desc">{{ post.description }}</div>
					</li>
				{% endfor %}
				<div class="button"><a href="archives/">See All Articles</a></div>
			</div>
		</div>
		<div id="cfms-in-the-news" class="column">
			<h1>CFMS in the News<i id="news-icon" class="fa fa-newspaper-o"></i></h1>
			<div class="news-home-list">
				<div class="news-year"><span>2015</span></div>
				<!-- CFMS at Standing Committee on Health -->
				<div class="news-date">Mar 12</div>
				<li>
					<div class="news-link"><a href="http://parlvu.parl.gc.ca/parlvu/ContentEntityDetailView.aspx?contententityid=12695&amp;date=20150312&amp;lang=en">CFMS at Standing Committee on Health</a>
						<div class="news-publication">HESA</div>
					</div>
				</li>
				<!-- Senate Question Period: Universal Pharmacare -->
				<div class="news-date">Jan 29</div>
				<li>
					<div class="news-link"><a href="http://liberalsenateforum.ca/your-question-period/universal-pharmacare/">Senate Question Period: Universal Pharmacare</a>
						<div class="news-publication">Senate QP</div>
					</div>
				</li>
				<div class="news-year"><span>2014</span></div>
				<!-- It's time for a universal pharmacare system -->
				<div class="news-date">Dec 11</div>
				<li>
					<div class="news-link"><a href="http://www.thestar.com/opinion/commentary/2014/12/11/its_time_for_a_universal_pharmacare_system.html">It's time for a universal pharmacare system</a>
						<div class="news-publication">Toronto Star</div>
					</div>
				</li>
				<!-- Pharmacare TV Interview for CFMS Lobby Day -->
				<div class="news-date">Nov 24</div>
				<li>
					<div class="news-link"><a href="http://www.cpac.ca/en/digital-archives/?search=November+24%2C+2014">Pharmacare TV Interview for CFMS Lobby Day</a>
						<div class="news-publication">CPAC</div>
					</div>
				</li>
				<!-- How other communities solve health care problems -->
				<div class="news-date">Aug 26</div>
				<li>
					<div class="news-link"><a href="http://www.alaskahighwaynews.ca/news/local-news/how-other-communities-solve-health-care-problems-1.1329213">How other communities solve health care problems</a>
						<div class="news-publication">Alaska Highway News</div>
					</div>
				</li>
				<!-- Loan deferral during residency: a win-win solution -->
				<div class="news-date">Mar 3</div>
				<li>
					<div class="news-link"><a href="http://healthydebate.ca/opinions/loan-deferral-during-residency-a-win-win-solution">Loan deferral during residency: a win-win solution</a>
						<div class="news-publication">Healthy Debate</div>
					</div>
				</li>
				<!-- Med students head to Ottawa, lobby for relief of student loans and affordable housing  -->
				<div class="news-date">Feb 2</div>
				<li>
					<div class="news-link"><a href="http://cupwire.ca/2014/02/02/med-students-head-ottawa-lobby-relief-student-loans-affordable-housing/">Med students head to Ottawa, lobby for relief of student loans and affordable housing </a>
						<div class="news-publication">Canadian University Press</div>
					</div>
				</li>
				<div class="button"><a href="cfms-in-the-news.html">See all Mentions</a></div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>