---
title: MD Travel Awards
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/resources.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#resources" ).classList.toggle("active");
	</script>

	<div class="finances-banner-outer">
		<div class="content finances-banner-inner" style="background-color:#69A99F;">
			<img src="{{site.root}}/images/banners/MedEd-Counsel-Campaign-Banner-e.jpg">
		</div>
	</div>
	<div class="finances content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-financial-resources.html %}
		<script type="text/javascript">
			document.querySelector( "#travel-awards" ).classList.toggle("sidebar-active");
		</script>
		<div class="student-finances-content">
			<h1 id="page-title">Financement pour assister à une Assemblée générale de la FEMC</h1>
			<a id="finances-side-image" href="https://mdm.ca/"><img class="right" style="max-width:25%" src="/images/MDFM.svg"></a>
<p>La FEMC et Gestion financière MD ont mis des fonds de côté pour l’année 2016-2017 afin de fournir une assistance financière pour des étudiants en medicine membres de la FEMC qui souhaiteraient assister à notre Assemblée générale de printemps, tenue du 28 au 29 avril 2017 à Winnipeg, Manitoba.</p>

<p>Cette initiative aide des membres non élus à assister à des rencontres de la FEMC dans le but d’accroître leur connaissance de la structure et des multiples fonctions de notre organisation en plus d’augmenter l’intérêt de nos membres à participer à nos activités. Le processus d’application est compétitif et la FEMC reçoit souvent beaucoup plus d’applications que le nombre de places qu’elle peut financer. Les candidats sont sélectionnés au mérite de leur application écrite telle qu’évaluée par un comité de selection.</p>
<p><strong>Nouveauté de cette année: </strong>les financements de voyage seront distribués par région afin de garantir une représentation plus égale des étudiants(es) à travers le pays. 8 financements de voyage seront alloués pour chaque assemblé générale: 2 pour la région de l'Ouest, 1 pour la région de l'Atlantique, 3 pour les régions du Québec + de l'Ontario et 2 seront sans régions assignées.</p>
<p>Pour tous les details au sujet du processus d’application, veuillez vous référer au <a href="/files/updates/SGM2017 Application form_FRA.docx">document suivant</a>. La date limite pour soumettre une application est le <b>20 février 2017</b>. Celles-ci devraient être envoyées par courriel à Lucy Luo, Représentante regional du Québec, à <a href="mailto:quebec@cfms.org">quebec@cfms.org</a>.</p>
			
			<div class="addendum">
				<p>MD Financial Management provides financial products and services, the MD Family of Funds and investment counselling services through the MD Group of Companies. For a detailed list of these companies, visit <a href ="http://md.cma.ca/">md.cma.ca</a></p>
			
			</div>
		</div>
	</div>
	<div>{% include footer.html %}</div>
</body>
</html>