@charset "UTF-8";
#meeting-details,
#meetings-columns,
#top-meeting,
.flex-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox
}
#meeting-aside li,
#meetings-columns .column p,
#meetings-columns a,
#top-meeting,
#top-meeting #top-meeting-name,
.button a,
.meeting-photo .meeting-photo-text {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif
}
@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNovaRegular.otf) format("opentype")
}
@font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src: url(../fonts/ProximaNovaBold.otf) format("opentype")
}
@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Regular.otf) format("opentype")
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 700;
    src: url(../fonts/SourceSerifPro-Bold.otf) format("opentype")
}
.set-content-width {
    max-width: 700px
}
#meetings-columns,
#top-meeting #top-group,
.content {
    padding-top: b50px;
    padding-left: 120px;
    padding-right: 120px
}



@media only screen and (max-width: 1199px) {
    #meetings-columns,
    #top-meeting #top-group,
    .content {
        padding-left: 50px;
        padding-right: 50px
    }
    	.underline-on-hover:hover {
    	      text-decoration: underline;
    	}

      
}
	
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #meetings-columns,
    #top-meeting #top-group,
    .content {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}
@media only screen and (max-width: 767px) {
    #meetings-columns,
    #top-meeting #top-group,
    .content {
        padding-top: 10px
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #meetings-columns,
    #top-meeting #top-group,
    .content {
        padding-left: 40px;
        padding-right: 40px
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}
@media only screen and (max-width: 480px) {
    #meetings-columns,
    #top-meeting #top-group,
    .content {
        padding-left: 25px;
        padding-right: 25px
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}
.button {
    padding-top: 20px
}
.button a {
    color: #777A89;
    border: 2px solid #777A89;
    border-radius: 4px;
    padding: 4px 10px
}
.button a:after {
    content: "→";
    padding-left: 8px;
    vertical-align: bottom;
    font-size: 28px
}
.button a:hover {
    border: 2px solid #B0B4C4;
    color: #B0B4C4
}
.flex-wrapper {
    display: flex
}
#top-meeting {
    background-color: #272A32;
    height: 340px;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
#top-meeting #top-group {
    width: 100%;
    padding: 30px 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .6) 60%)
}
#top-meeting #top-desc {
    text-transform: uppercase;
    font-size: 18px;
    color: #DDD;
    font-weight: 700;
    padding-bottom: 2px
}
#top-meeting #top-meeting-name {
    color: #fff;
    font-size: 34px;
    padding-bottom: 3px;
    font-weight: 700;
    line-height: 1.1em
}
#top-meeting #top-meeting-name a,
#top-meeting #top-meeting-name a:hover {
    color: #fff;
    border-bottom: none
}
#top-meeting #top-meeting-info {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px
}
#meeting-icon {
    padding-left: 15px;
    color: #B0B4C4
}
#meetings-columns {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex
}
#meetings-columns ul {
    color: #BB0A21;
    margin-left: 20px
}
#meetings-columns a {
    border-bottom: none
}
#meetings-columns .column {
    width: 365px;
    max-width: 365px
}
#meetings-columns .column h1 {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 7px;
    border-bottom: 2px solid #F7F7FA;
    margin-bottom: 15px
}
#meetings-columns .column h1,
#meetings-columns .column p,
#meetings-columns .column ul {
    padding-right: 40px
}
#meetings-columns .column p {
    color: #272A32;
    line-height: 1.5em
}
a.meeting-photo-link {
    font-weight: 700;
    color: #fff!important
}
.meeting-photo {
    height: 80px;
    width: 90%;
    max-width: 350px;
    opacity: .8;
    position: relative;
    transition: all .2s linear;
    margin-bottom: 10px
}
.meeting-photo .meeting-photo-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .5) 60%)
}
.meeting-photo .meeting-photo-text span {
    padding-left: 10px
}
.meeting-photo:hover {
    opacity: 1
}
#meeting-details {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
#meeting-details h2 h2b {
    border-bottom: 2px solid #F7F7FA;
    margin-bottom: 20px;
    padding-bottom: 7px;
    padding-top: 10px
}
#meeting-body {
    max-width: 625px
}
#meeting-aside {
    max-width: 365px
}
#meeting-aside #aside-title i {
    color: #B0B4C4;
    font-size: 22px;
    margin-left: 10px
}
#meeting-aside #shortcut-links {
    padding-top: 10px
}
#meeting-aside #shortcut-links h2 h2b {
    color: #B0B4C4;
    border-bottom: none;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 15px;
    font-size: 24px
}


#meeting-aside #shortcut-links li {
    list-style: disc;
    margin-left: 85px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    padding-bottom: 5px;
    color: #BB0A21
}
#meeting-aside #shortcut-links li a {
    color: #B0B4C4;
    border-bottom: none
}
#meeting-aside #shortcut-links ul {
    margin-left: 0
}
#meeting-aside .icon,
#meeting-aside li,
#meeting-aside p {
    margin-left: 60px
}

#meeting-aside h1,
#meeting-aside h2,
#meeting-aside h2b,
#meeting-aside h3,
#meeting-aside h4,
#meeting-aside h5,
#meeting-aside h6 {
    padding-left: 60px
}
#meeting-aside li {
    list-style: none;
    padding-left: 35px;
    font-size: 16px;
    color: #777A89
}
#meeting-aside .icon {
    position: absolute;
    font-size: 22px;
    color: #BB0A21
}
#meeting-aside .icon .mail,
#meeting-aside .icon .what-to-bring {
    font-size: 20px
}
blockquote .button {
    font-size: 18px;
    padding-left: 0
}
@media only screen and (max-width: 959px) {
    #meeting-details {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    #shortcut-links {
        display: none
    }
    #top-meeting {
        height: 250px
    }
    #meeting-aside {
        width: 100%;
        max-width: 625px;
        padding-bottom: 20px
    }
    
    #meeting-aside .icon,
    #meeting-aside li,
    #meeting-aside p {
        margin-left: 0
    }
    #meeting-aside h1,
    #meeting-aside h2,
    #meeting-aside h2b,
    #meeting-aside h3,
    #meeting-aside h4,
    #meeting-aside h5,
    #meeting-aside h6 {
        padding-left: 0
    }
    

    #meetings-columns {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    #meetings-columns .column {
        max-width: 100%;
        width: 600px
    }
}
@media only screen and (max-width: 767px) {
    #top-meeting {
        height: 175px
    }
    #meeting-details,
    #top-meeting #top-group {
        padding-bottom: 20px
    }
    #top-meeting #top-desc {
        font-size: 16px
    }
    #top-meeting #top-meeting-name {
        font-size: 26px;
        padding-bottom: 8px
    }
    #top-meeting #top-meeting-info {
        font-size: 14px;
        line-height: 1.3em
    }
    #meeting-aside h2,
    #meeting-body h2 {
        font-size: 20px;
        padding-bottom: 5px
    }
    #meetings-columns {
        padding-top: 20px
    }
    #meetings-columns .column {
        width: 100%;
        padding-top: 10px;
        padding-right: 0
    }
    #meeting-aside h2b, /*For mobile */
    #meeting-body h2b {
        font-size: h4.font-size;
        color: #B0B4C4;
        padding-bottom: 5px
    }
    #meetings-columns {
        padding-top: 20px
    }
    #meetings-columns .column {
        width: 100%;
        padding-top: 10px;
        padding-right: 0
    }
    #meetings-columns .column h1,
    #meetings-columns .column p,
    #meetings-columns .column ul {
        padding-right: 0
    }
    blockquote .button {
        font-size: 16px
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}
@media only screen and (max-width: 480px) {
    .meeting-photo {
        width: 100%
    }
        	.underline-on-hover:hover {
  		text-decoration: underline;
	}
}