---
---

<!DOCTYPE html>
{% assign hideLangToggle = true %}

<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/news.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#news").classList.toggle("active");
</script>
<div class="content editable" id="spotlight-content">
    <h1 id="page-title">{{page.title}}</h1>

    {% if page.displayRightImage == true %}
        <img class="right" src="/images/page-images/student-spotlight/mental-health-coffee-night.png">
    {% endif %}
    
    {{ content }}
    </div>
<div>
    {% include footer.html %}
</div>
</body>