---
title: "Site Map"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/sitemap.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content">
		<div id="sitemap">
			<h1>{{ page.title }}<i class="fa fa-sitemap"></i></h1>
			<h2>cfms.org</h2>
			<ul>
				<li><a href="/about-us.html"><span class="president">Learn more</span></a></li>
				<li>
					<a href="/who-we-are/index.html"><span class="vp-communications">Who we are</span></a>
					<ul>
						<li class="vp-communications"><a href="/who-we-are/index.html">Executives &amp; Officers</a></li>
						<li class="vp-communications"><a href="/who-we-are/member-schools.html">Member Schools</a></li>
						<li class="vp-communications"><a href="/who-we-are/cfms-representatives.html">CFMS Representatives</a></li>
						<li class="vp-communications"><a href="/who-we-are/partner-organizations.html">Partner Organizations</a></li>
						<li class="vp-communications incomplete"><a href="/who-we-are/governance-structure.html">Governance Structure</a></li>
						<li class="vp-communications"><a href="/who-we-are/internal-policy-bylaws.html">Internal Policy &amp; Bylaws</a></li>
					</ul>
				</li>
				<li>
					<a href="/what-we-do/index.html"><span class="vp-communications">What we do</span></a>
					<ul>
						<li>
							<a href="/what-we-do/advocacy/index.html"><span class="vp-gov-affairs">Advocacy</span></a>
							<ul>
								<li class="vp-gov-affairs"><a href="/what-we-do/advocacy/index.html">Overview</a></li>
								<li class="vp-gov-affairs"><a href="/what-we-do/advocacy/our-team.html">Our Team</a></li>
								<li class="vp-gov-affairs"><a href="/what-we-do/advocacy/lobby-day.html">Lobby Day</a></li>
								<li class="vp-gov-affairs"><a href="/what-we-do/advocacy/position-papers.html">Position Papers</a></li>
								<li class="vp-gov-affairs"><a href="/what-we-do/advocacy/position-papers.html">Advocacy Toolkit</a></li>
							</ul>
						</li>
						<li class="incomplete">
							<a href="/what-we-do/education/index.html"><span class="vp-education">Education</span></a>
							<ul>
								<li class="vp-education incomplete"><a href="/what-we-do/education/index.html">Overview</a></li>
								<li class="vp-education incomplete"><a href="/what-we-do/education/representation.html">Representation</a></li>
								<li class="vp-education incomplete"><a href="/what-we-do/education/projects.html">Projects</a></li>
								<li class="vp-education incomplete"><a href="/what-we-do/education/medical-student-admissions.html">Medical Student Admissions</a></li>
								<li class="vp-education incomplete"><a href="/what-we-do/education/transition-to-residency.html">Transition to Residency</a></li>
							</ul>
						</li>
						<li class="incomplete">
							<a href="/what-we-do/global-health/index.html"><span class="vp-global-health">Global Health</span></a>
							<ul>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/index.html">Overview</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/international-exchanges.html">International Exchanges</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/global-health-education.html">Global Health Education</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/global-health-blog.html">Global Health Blog</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/partnerships.html">Partnerships</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/reproductive-sexual-health.html">Reproductive &amp; Sexual Health</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/human-rights-peace.html">Human Rights &amp; Peace</a></li>
								<li class="vp-global-health incomplete"><a href="{{ site.root}}/what-we-do/global-health/aboriginal-health.html">Aboriginal Health</a></li>
							</ul>
						</li>
						<li class="incomplete">
							<a href="/what-we-do/student-affairs/index.html"><span class="vp-student-affairs">Student Affairs</span></a>
							<ul>
								<li class="vp-student-affairs incomplete"><a href="/what-we-do/student-affairs/index.html">Overview</a></li>
								<li class="vp-student-affairs incomplete"><a href="/what-we-do/student-affairs/wellness.html">Wellness</a></li>
							</ul>
						</li>	
					</ul>
				</li>
				<li>
					<a href="/resources/index.html"><span class="vp-student-affairs">Resources</span></a>
					<ul>
						<li class="vp-student-affairs"><a href="/resources/student-finances.html">Student Finances (MDFM)</a></li>
						<li class="vp-communications"><a href="/resources/annual-review.html">CFMS Annual Review</a></li>
					</ul>
				</li>
				<li>
					<a href="/meetings/index.html"><span class="vp-communications">Meetings</span></a>
					<ul>
						<li class="vp-communications"><a href="/meetings/agm-2015-windsor.html">AGM 2015 &ndash; Windsor, ON</a></li>
						<li class="vp-communications"><a href="/meetings/sgm-2015-vancouver.html">SGM 2015 &ndash; Vancouver, BC</a></li>
						<li class="vp-communications incomplete"><a href="/meetings/agm-2014-kingston.html">AGM 2014 &ndash; Kingston, ON</a></li>
						<li class="vp-communications incomplete"><a href="/meetings/sgm-2014-ottawa.html">SGM 2014 &ndash; Ottawa, ON</a></li>
						<li class="vp-communications incomplete"><a href="/meetings/agm-2013-vancouver.html">AGM 2013 &ndash; Vancouver, BC</a></li>
						<li class="vp-communications incomplete"><a href="/meetings/sgm-2013-quebec-city.html">SGM 2013 &ndash; Quebec City, QC</a></li>

					</ul>
				</li>
				<li>
					<a href="/news/index.html"><span class="vp-communications">News</span></a>
					<ul>
						<li class="vp-communications"><a href="/news/archives/index.html">Archives</a></li>
						<li class="vp-communications"><a href="/news/cfms-in-the-news.html">CFMS in the News</a></li>
					</ul>
				</li>
				<li class="incomplete">
					<span class="it-officer">Login</span>
					<ul>
						<li class="it-officer incomplete">Why Become a Member?</li>
						<li class="it-officer incomplete">Create an Account</li>
					</ul>
				</li>
				<li class="it-officer"><a href="/sitemap.html">Sitemap</a></li>
			</ul>
		</div>
		<div id="legend">
			<h1>Responsibilities<i class="fa fa-list-ul"></i></h1>
			<p>The coloured dots on the site map correspond to the most responsible person for each page, as follows:</p>
			<ul>
				<li id="president-legend">President</li>
				<li id="vp-education-legend">VP Education</li>
				<li id="vp-communications-legend">VP Communications</li>
				<li id="vp-finance-legend">VP Finance</li>
				<li id="vp-gov-affairs-legend">VP Government Affairs</li>
				<li id="vp-student-affairs-legend">VP Student Affairs</li>
				<li id="vp-global-health-legend">VP Global Health</li>
				<li id="it-officer-legend">National IT Officer</li>
			</ul>
			<p>Note that any pages that are coloured like <span id="incomplete-legend">this</span> are incomplete.</p>
		</div>
	</div>

	{% include footer.html %}
</body>
</html>