---
title: Education
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="{{ site.root }}/stylesheets/what-we-do.css" />
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable"><h1 id="page-title">Education</h1><p>The Education Committee is a new committee under the Canadian Federation of Medical Students (CFMS) that aims to connect medical student societies and their respective students with the goal of enhancing medical education across the nation. Hello!!</p></div>
	</div>
	{% include footer.html %}
</body>
