---
title: "Education"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>
			<div class="pic-wrapper"><img class="pic-right" style="width:25%; padding-left:30px;" src="/images/page-images/education.jpg"></div>
			<p>The Education Committee is a new committee under the Canadian Federation of Medical Students (CFMS) that aims to connect medical student societies and their respective students with the goal of enhancing medical education across the nation.</p>	
			<h2><strong>What do we do?</strong></h2>
			<ol>
				<li><strong><a href="cfms-matchbook.html">Residency Matchbook</a></strong>: An annual publication designed to educate medical students about the Match and assist with career planning.</li>
				<li><strong><a href="elective-status-board.html">Elective Status Board</a></strong>: <em>Very</em> useful resources for applying for Electives. See elective opening dates and deadlines on one page, and school-specific requirements.</li>
				<li><strong><a href="our-team.html">External Representation</a></strong>: See the external committees and initiatives that the Education Committee is involved in.</li>
			</ol>				
		</div>
	</div>
	{% include footer.html %}
</body>
</html>