---
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#our-team" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Our Team</h1>

			<h1><strong>VP Education</strong></h1>
			<hr>
			<div id="vp-government-affairs" class="executive">
				<div class="exec-pic">
					<img src="/images/execs/2015-2016/nebras-warsi.jpg" class="editable">
				</div>
				<div class="exec-info">
					<li class="exec-name">
						<span class="editable">Nebras Warsi</span>
					</li>
					<li class="exec-school">
						<span class="editable">McGill University</span>
					</li>
					<li class="exec-desc">
						<span class="editable">Nebras is responsible for directing the representation, analysis and policy of the CFMS on educational issues. He represents the Federation at such forums where concerns of a primarily educational nature are discussed. Nebras also undertakes initiatives to enhance the educational experience of members of the Federation.</span>
					</li>
					<li class="url"><a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a></li>
				</div>
			</div>

			<h1><strong>Education Committee</strong></h1>
			<hr>
			<h3>Communications</h3>
			<div class="members">
				<div class="column">
					<div class="member-info">
						<li class="member-school editable">Co-Chairs</li>
						<li class="member-name editable"><a href="mailto:mkh805@mun.ca">Taneille Johnson</a> (UBC)</li>
						<li class="member-name editable"><a href="mailto:catherine.mj.cox@dal.ca">Shreya Jalali</a> (University of Ottawa)</li>
					</div>
				</div>
				<div class="column">
					<p class="exec-desc">
						The communications and best practices working group strives to engage academic representatives at medical schools across the nation in discussion on medical education and associated best practices. 
					</p>
				</div>
			</div>
			<h3>Communications</h3>
			<div class="members">
				<div class="column">
					<div class="member-info">
						<li class="member-school editable">Co-Chairs</li>
						<li class="member-name editable"><a href="mailto:mkh805@mun.ca">Taneille Johnson</a> (UBC)</li>
						<li class="member-name editable"><a href="mailto:catherine.mj.cox@dal.ca">Shreya Jalali</a> (University of Ottawa)</li>
					</div>
				</div>
				<div class="column">
					<p class="exec-desc">
						The communications and best practices working group strives to engage academic representatives at medical schools across the nation in discussion on medical education and associated best practices. 
					</p>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>