<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	--- --- <!--[if IE 8 ]> <html class="ie8"> <![endif]-->
	 <!--[if IE 9 ]> <html class="ie9"> <![endif]-->
	 {% include head.html %} <!--Page Specific Stylesheet-->
	<link href="/stylesheets/what-we-do.css" rel="stylesheet">{% include nav.html %} <!--Page Specific Formatting-->
	 
	<script type="text/javascript">
	          document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	          document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>
	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %} 
		<script type="text/javascript">
		                document.querySelector( "#our-team" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<h1 id="page-title">Our Team</h1>
			<h1><strong>VP Education</strong></h1>
			<hr>
			<div class="executive" id="vp-government-affairs">
				<div class="exec-pic"><img height="473" src="/uploads/versions/screen-shot-2016-10-04-at-3-18-54-pm---x146-0-776-1034-355-473x---.png" width="355"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Tavis Apramian</span></li>
						<li class="exec-school"><span>Western University</span></li>
						<li class="exec-desc"><span>Nebras is responsible for directing the representation, analysis and policy of the CFMS on educational issues. He represents the Federation at such forums where concerns of a primarily educational nature are discussed. Nebras also undertakes initiatives to enhance the educational experience of members of the Federation.</span></li>
						<li class="url">
							<a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a>
						</li>
					</ul>
				</div>
			</div>
			<h1><strong>Education Committee</strong></h1>
			<hr>
			<h3><strong>Communications</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Taneille Johnson (UBC)</li>
							<li class="member-name">Shreya Jalali (University of Ottawa)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">The communications and best practices working group strives to engage academic representatives at medical schools across the nation in discussion on medical education and associated best practices.</p>
				</div>
			</div>
			<h3><strong>AFMC Electives Portal</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Members</li>
							<li class="member-name">Anthony Maher (MUN)</li>
							<li class="member-name">Franco Rizzuti (Calgary)</li>
							<li class="member-name">Yousif Atwan (Western)</li>
							<li class="member-name">John Schulte (Saskatchewan)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
			<h3><strong>Accreditation</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Cynthia Min (UBC)</li>
							<li class="member-name">Jordyn Lerner (Manitoba)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">Our role is to bring in the student perspective into accreditation. As part of the Ed Com, we are working to develop new accreditation resources that will make the process much simpler for students.</p>
				</div>
			</div>
			<h3><strong>Match Book</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Steven Bae (Queen&rsquo;s)</li>
							<li class="member-name">Abdullah Ishaque (Alberta)</li>
							<li class="member-school">Member</li>
							<li class="member-name">Sunny Xia (Ottawa)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">The Annual CFMS Match Book is a joint initiative of the CFMS and CaRMS designed to educate medical students regarding the CaRMS residency matching process and assist with future career planning. As part of the Canadian Federation of Medical Students (CFMS) Education Committee, the Match Book Working Group is tasked with conducting a full review of the CFMS Match Book with the goal of improving the next edition to better fit current medical student needs.</p>
				</div>
			</div>
			<h3><strong>Medical Education Advocacy Toolkit</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Bellal Jubran (McGill)</li>
							<li class="member-name">Danusha Jebanesan (Ottawa)</li>
							<li class="member-school">Members</li>
							<li class="member-name">Tavis Apramian (Western)</li>
							<li class="member-name">Marguerite Heyns (Calgary)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
			<h3><strong>CFMS Databases</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Shuai Li (Alberta)</li>
							<li class="member-name">Sneha Raju (Toronto)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
			<h3><strong>MD/PhD Funding</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Ellen Zhou (McGill)</li>
							<li class="member-name">Tavis Apramian (Western)</li>
							<li class="member-school">Member</li>
							<li class="member-name">Abdullah Ishaque (Alberta)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
			<h3><strong>International Medical Graduates</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Taneille Johnson (UBC)</li>
							<li class="member-name">Shuai Li (Alberta)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
			<h3><strong>Interprofessional Education</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Noam Berlin (Toronto)</li>
							<li class="member-name">Kaylynn Purdy (NOSM)</li>
							<li class="member-school">Member</li>
							<li class="member-name">Tina Felfeli (Toronto)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">The Interprofessional Education Working Group is focused on developing education-relevant policy and collaborating with educational organizations representing professionals and students across the spectrum of health care.</p>
				</div>
			</div>
			<h3><strong>Global Health Advocacy</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Marguerite Heyns (Calgary)</li>
							<li class="member-name">Kelita Singh (McGill)</li>
							<li class="member-school">Member</li>
							<li class="member-name">Kaylynn Purdy (NOSM)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">The global health education portfolio focuses on leading projects and initiatives in the area of coordinated global health education and advocacy, including working on three major external committees that develop global health education guidelines and competencies. The portfolio comprises of various working groups overseen by the National Officers of Global Health Education, through which committee members contribute to the growing field of global health education across Canadian medical schools.</p>
				</div>
			</div>
			<h3><strong>TTR/MSPR</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Cynthia Min (UBC)</li>
							<li class="member-school">Members</li>
							<li class="member-name">Sneha Raju (Toronto)</li>
							<li class="member-name">Bellal Jubran (McGill)</li>
							<li class="member-name">Tina Felfeli (Toronto)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">The Medical Student Performance Record (MSPR) is an key component of the CaRMS application. One current issue is a lack of standardization in the format of MSPRs across different schools. The CFMS is partnering with the F&eacute;d&eacute;ration m&eacute;dicale &eacute;tudiante du Qu&eacute;bec (FMEQ) to evaluate feedback from relevant stakeholders in order to develop formal recommendations that we can submit on behalf of all Canadian medical students to UGME Associate Deans.</p>
				</div>
			</div>
			<h3><strong>Mistreatment</strong></h3>
			<div class="members">
				<div class="portfolio-col-left">
					<div class="member-info">
						<ul>
							<li class="member-school">Co-Chairs</li>
							<li class="member-name">Sunny Xia (Ottawa)</li>
							<li class="member-name">Tina Felfeli (Toronto)</li>
							<li class="member-school">Member</li>
							<li class="member-name">Marguerite Heyns (Calgary)</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-col-right">
					<p class="portfolio-desc">[ DESCRIPTION NEEDED HERE ]</p>
				</div>
			</div>
		</div>
	</div>{% include footer.html %}
</body>
</html>