---
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-education.html %}
		<script type="text/javascript">
			document.querySelector( "#student-run-clinics" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Student Run Clinics Toolkit</h1>
			<img class="right" src="/images/page-images/CFMS_OMSA.png">
			<p>Over the 2015-2016 academic year, the <a href="http://www.omsa.ca">Ontario Medical Student Association</a> (OMSA) and the <a href="http://www.cfms.org">Canadian Federation of Medical Students</a> (CFMS) have worked together to create a toolkit for students wishing to develop student led clinics at their schools.</p>
			<p>Led by <em>Kaylynn Purdy</em> (NOSM) &amp; <em>Noam Berlin</em> (Toronto), the toolkit introduces evidence for the utility of student run clinics in terms of effectiveness of learning and patient care. Thirteen authors from across the country provide information on how to leverage funds, perform a needs assessment, and deal with wary administrations.</p>
			<p>For more information on the guide or to contribute to future iterations please contact <a href="mailto:vpeducation@cfms.org">vpeducation@cfms.org</a> or <a href="mailto:education@omsa.ca">education@omsa.ca</a>.</p>
			<blockquote>
				<h4><strong>Student Run Clinics Toolkit</strong></h4>
				<ul>
					<li><span class="file-format">PDF</span><a href="/files/updates/SRCToolkit2016.pdf" class="editable">Student Run Clinics Toolkit</a></li>
				</ul>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>