---
title: "Health and Human Rights Pocket Card Series"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->

<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
	<link rel="stylesheet" href="/stylesheets/cards.css">
</head>

<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}

	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#human-rights-peace-pocket-cards" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>
			<p>The CFMS Global Health Advocacy Program is proud to launch the Health and Human Rights Pocket Card Series. These cards
				are intended to serve as a resource for medical students who wish to take on a more holistic approach to the patient
				encounter. If you are interested in learning more about this initiative, please contact the CFMS National Officer of
				Human Rights and Peace, Henry Annan, at <a href="mailto:norp@cfms.org">norp@cfms.org</a>. Stay tuned for more cards in
				the future!
			</p>
			</p>Special thanks to Hayley Chato, Graphic Designer and Illustrator (<a href="mailto:hayleychato@gmail.com">hayleychato@gmail.com</a>).</p>
			<ul class="cards">
				<li class="cards__item">
					<div class="card">
						<a href="../../uploads/pocket-cards/domestic-and-child-abuse.pdf">
							<img title="Download domestic and child abuse pocket card" alt="Download domestic and child abuse pocket card" class="card__image" src="../../images/page-images/pocket-cards/Domestic-and-Child-Abuse-Thumbnail.png"/>
						</a>
					</div>
				</li>
				<li class="cards__item">
					<div class="card">
						<a href="../../uploads/pocket-cards/environmental-health.pdf">
							<img title="Download environmental health pocket card" alt="Download environmental health pocket card" class="card__image" src="../../images/page-images/pocket-cards/Environmental-Health-Thumbnail.png"/>
						</a>
					</div>
				</li>
				<li class="cards__item">
					<div class="card">
						<a href="../../uploads/pocket-cards/human-trafficking.pdf">
							<img title="Download human trafficking pocket card" alt="Download human trafficking pocket card" class="card__image" src="../../images/page-images/pocket-cards/Human-Trafficking-Thumbnail.png"/>
						</a>
					</div>
				</li>
				<li class="cards__item">
					<div class="card">
						<a href="../../uploads/pocket-cards/refugee-health.pdf">
							<img title="Download refugee health pocket card" alt="Download refugee health pocket card" class="card__image" src="../../images/page-images/pocket-cards/Refugee-Health-Thumbnail.png"/>
						</a>
					</div>
				</li>
				<li class="cards__item offset__card">
					<div class="card">
						<a href="../../uploads/pocket-cards/Pocket Card_Opioid Harm Reduction Corrected.pdf">
							<img title="Download refugee health pocket card" alt="Download refugee health pocket card" class="card__image" src="../../images/page-images/pocket-cards/Social Determinants of Drug Use Thumbnail.png"/>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	{% include footer.html %}
</body>

</html>