---
title: Reports and Documents
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css"/>
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector("#logo-invert").classList.toggle("hidden");
    document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-global-health.html %}
    <script type="text/javascript">
        document.querySelector("#reports-and-documents").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Rapports et Documents</h1>
        <p>&nbsp;</p>
        <h2 class="underline text-black"><strong>Major Reports</strong></h2>
        <p><a target="_blank" href="/files/GH-report-documents/major-reports/GHP Handbook copy.pdf">GHP Handbook
            2012-2013</a></p>
        <p><a target="_blank" href="/files/GH-report-documents/major-reports/GHP Final Report 2012.pdf">GHP Final Report
            2012</a></p>
        <p>&nbsp;</p>
        
        <h2 class="underline text-black"><strong>Minutes</strong></h2>
        <p><a target="_blank" href="/files/GH-report-documents/minutes/Aboriginal Health SWG.pdf">Aboriginal Health SWG
            - Minutes</a></p>
        <p>&nbsp;</p>
        <h2 class="underline text-black"><strong>Reports</strong></h2>
        <ol>
            <li><a target="_blank" href="/files/GH-report-documents/reports/CFMS-GHP September 2009 Report.pdf">CFMS
                Global Health Program September 2009 Report.</a> CFMS Global Health Program, September 2009.
            </li>
            <li><a target="_blank"
                   href="/files/GH-report-documents/reports/Update - IFMSA August Meeting 2009 in Macedonia.pdf">Update:
                IFMSA August Meeting 2009.</a> Bev Wudel, Global Health Liaison, CFMS, August 2009.
            </li>
            <li><a target="_blank" href="/files/GH-report-documents/reports/CFMS GHP End of Year Report 2009.pdf">CFMS
                Global Health Program April 2009 Report.</a> CFMS Global Health Program, April 2009.
            </li>
            <li><a target="_blank" href="/files/GH-report-documents/reports/Update - March Meeting 2009 -1.pdf">Update:
                IFMSA March Meeting 2009.</a> Brianne Hudson, VP Global Health, CFMS, March 2009.
            </li>
            <li><a target="_blank" href="/files/GH-report-documents/reports/GHP January 2009 Report.pdf">CFMS Global
                Health Program Report, January 2009.</a> CFMS Global Health Program, January 2009.
            </li>
        </ol>
        <p>&nbsp;</p>
        <h2 class="underline text-black"><strong>Resource Documents</strong></h2>
        <ol>
            <li><a target="_blank"
                   href="/files/GH-report-documents/resource-documents/Pre-Departure Guidelines Final.pdf">Preparing
                Medical Students for Electives in Low-Resources Settings: A Template for National Guidelines for
                Pre-Departure Training.</a> AFMC Global Health Resource Group and CFMS Global Health Program, May 2008.
            </li>
            <li><a target="_blank"
                   href="/files/GH-report-documents/resource-documents/Global_Health_in_Canadian_medical_education_-_Izadnegahdar__2008_Acad_Med.pdf">Global
                Health in Canadian Medical Education: Current Practices and Opportunities.</a> Izadnegahdar et al.,
                <span class="text-red">Academic Medicine,</span> Vol 83, No. 2, February 2008.
            </li>
            <li><a target="_blank"
                   href="/files/GH-report-documents/resource-documents/The Case for Global Health in Medical Education- AFMC.pdf">Towards
                a Medical Education Relevant to All: The Case for Global Health in Medical Education.</a> A Report of
                the Global Health Resource Group of the Association of Faculties of Medicine of Canada, April 2006.
            </li>
            <li><a target="_blank"
                   href="/files/GH-report-documents/resource-documents/Developing GH Curricula_Guidebook for US Medical Schools-GHEC.pdf">Developing
                Global Health Curricula: A Guidebook for US Medical Schools.</a> A Collaboration of AMSA, GHEC,
                IFMSA-USA, and R4WH. 2006.
            </li>
        </ol>
    </div>
</div>
{% include footer.html %}
</body>
