---
title: "2017 CFMS Spring General Meeting"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>
	<div id="top-meeting" style="background: url(../images/meeting-images/winnipeg.jpg) no-repeat center 75%; background-size:cover">
		<div id="top-group">
			<div class="content">
				<div id="top-meeting-name">{{ page.title }}</div>
				<div id="top-meeting-info">Winnipeg, Manitoba / April 28&ndash;29, 2017</div>
			</div>
		</div>
	</div>
	<div id="meeting-details" class="content">
		<div id="meeting-aside">
			<h2 id="aside-title"><strong>Event details<i class="fa fa-star-o"></i></strong></h2>
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<li>
				<b>LOCATION</b><br>
				RBC Convention Centre, Winnipeg<br>
				375 York Ave. <br>
				Winnipeg, MB, R3C 3J3<br>
			</li>
			<div class="icon"><i class="fa fa-clock-o"></i></div>
			<li>
				<b>DATE</b><br>
				April 28&ndash;29, 2017<br>
			</li>
			<div class="icon"><i class="fa fa-briefcase what-to-bring"></i></div>
			<li>
				<b>WHAT TO BRING</b><br>
				Dress Code: Business attire for meetings, fancy casual for social events.
			</li>
			<div class="icon"><i class="fa fa-envelope-o mail"></i></div>
			<div id="emails">
				<li><b>QUESTIONS?</b><br>
				Email <a style="border-bottom:1px solid #EAEAEA" href="mailto:office@cfms.org">office@cfms.org</a><br>
				</li>
			</div>
			<div id="shortcut-links">
				<div id="scroll">
					<h2>Jump to<span style="opacity:0.5">:</span></h2>
				<ul>
						<li><a href="#introduction">Introduction</a></li>
						<li><a href="#registration-info">Registration Information</a></li>
						<li><a href="#travel-funding">Travel Funding</a></li>
						<li><a href="#important-documents">Important Documents</a></li>
						<li><a href="#executive-officer-reports">Executive Officer Reports</a></li>
						<li><a href="#resolutions">Resolutions</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="meeting-body">
			<h2 id="introduction"><strong>What is the Spring General Meeting?</strong></h2>
			<p>The Spring General Meeting (GM) is an opportunity for Canadian medical students to get together and discuss important issues pertaining to medical education, advocacy, global health, wellness, and more. Join the conversation, get involved &mdash; we want to hear from you!</p>

			<h2 id="registration-info"><strong>Registration information</strong></h2>
			<p></p>
					<p>All students attending the meeting MUST register. Please direct any registration inquiries to <a href="mailto:office@cfms.org">office@cfms.org</a></p>
					<p>The CFMS SGM registration fee is $135 per delegate and this cost includes lunch and dinner Friday April 28th, and lunch Saturday April 29th. This fee is payable by cash or cheque to CFMS at the meeting or through our online payment system. (details to come). This fee DOES NOT include travel or hotel accommodations, students must arrange their own travel and accommodations (unless funded to attend the SGM through the CFMS). There will be both general and global health meetings on Friday and Saturday. Sunday April 30th will not include CFMS meetings, but does give delegates an opportunity to participate at the Canadian Conference on Medical Education (CCME), held concurrently in Winnipeg.</p>
					<p>NOTE: All SGM 2017 attendees MUST register for CCME and will be required to pay an additional $50 student fee.</p>
					<p>The CFMS General Assembly meetings will take place at the RBC Convention Centre, Winnipeg on Friday and Saturday. Meetings of the CFMS Presidents, Representatives, and Global Health Teams will also take place on Thursday evening</p>
			<blockquote>
			   
				<h4><strong>How can I register? (Deadline: April 5th, 2017. 11:59pm EST)</strong></h4>
				<ul>
					<li>Registration is <strong>OPEN.</strong></li>
					
				</ul>
			</blockquote>
			
			<h2 id="travel-funding"><strong>Travel Funding</strong></h2>
			<p>Never been to a CFMS meeting? Interested in getting involved? Get your registration and travel costs covered by the CFMS by applying for <strong>Travel Funding!</strong> Each year the CFMS allocates funds to bring medical students to our annual meetings. It's a great way to learn more about what the CFMS does, get involved, and meet other medical students from across the country.</p>
			<p>
			    <strong>New from this year: </strong>Travel Awards will be distributed by region to ensure a more equal student representation across the country. There are 8 awards for each meeting, 2 for the Western region, 1 for the Atlantic region, 3 for the Quebec + Ontario regions, and 2 Wildcard awards.
			</p>
			<blockquote>
				<h4><strong>Apply for Travel Funding</strong></h4>
				<ul>
					<li>Applications for Travel Funding are <strong>NOW CLOSED</strong>.</li>
				
						<!-- Uncomment to open up registration information link  
					<li>Applications are due by <strong>11:59pm February 20th, 2017.</strong>.</li> 
					
					<div class="button"><strong><a href="http://www.cfms.org/files/meetings/sgm-2017/cfms-travel-awards/SGM2017 Application form_ENG.doc">Application Form (ENG)</a></strong></div>
					<div class="button"><strong><a href="http://www.cfms.org/files/meetings/sgm-2017/cfms-travel-awards/SGM2017 Application form_FRA.docx">Application Form (FRA)</a></strong></div>
					    -->
				</ul>
			</blockquote>
			
				<h2 id="important-documents"><strong>Important Documents</strong></h2>
			<blockquote>
				<h4><strong>Meeting Information</strong></h4>
				<ul>
			        <li>
						<span class="file-format">PDF</span><strong>SGM 2017 Draft Agenda (Coming Soon)</strong> 
					</li>

					 <li>
						<span class="file-format">PDF</span>SGM 2017 Global Health Program Draft Agenda (Coming Soon)
					</li>
					 <li>
						<span class="file-format">PDF</span>SGM 2017 Presidents' Roundtable Agenda (Coming Soon)
					</li>
					 <li>
						<span class="file-format">PDF</span>SGM 2017 CFMS Representatives Agenda (Coming Soon)
					</li>
		            <li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2017/important-doc/sgm 2017 call for nominations.pdf">SGM 2017 Call for Nomination - CFMS President-Elect</a>
					</li>
					 <li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2017/important-doc/sgm 2017 call for resolutions.pdf">SGM 2017 Call for Resolutions</a>
					</li>
					<li>
						<span class="file-format">PDF</span><a href="/files/meetings/sgm-2017/important-doc/agm 2016 minutes.pdf">AGM 2016 Minutes</a>
					</li>
				</ul>
			</blockquote>
			
			<h2 id="executive-officer-reports"><strong>Executive &amp; Officer Reports</strong></h2>
			<blockquote>
				<h4><strong>Executive &amp; Officer Reports (Coming Soon)</strong></h4>
				<ul>

				    <li>
						<span class="file-format">PDF</span>President
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Education
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Communications
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Finance
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Government Affairs
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Student Affairs
					</li>
					<li>
						<span class="file-format">PDF</span>Vice-President Global Health & National Officers
					</li>
				
					<li>
						<span class="file-format">PDF</span>Western Regional Representatives
					</li>
					<li>
						<span class="file-format">PDF</span>Ontario Regional Representatives
					</li>
					<li>
						<span class="file-format">PDF</span>Quebec Regional Representatives
					</li>
					<li>
						<span class="file-format">PDF</span>Atlantic Regional Representatives
					</li>
					<!--
						<li>
						<span class="file-format">PDF</span><a href="temp/files/meetings/agm-2016/exec-reports/agm 2016 - atlantic regional reps.pdf">Atlantic Regional Representatives</a>
					</li>-->
				</ul>
			</blockquote>

				<h2 id="resolutions"><strong>Resolutions</strong></h2>
	<p>Interested in getting your voices heard at the CFMS SGM? Consider submitting a motion to be discussed at the SGM Resolutions Session! Click <a href="/files/meetings/sgm-2017/important-doc/sgm 2017 call for resolutions.pdf">here</a> for more information on how to submit your resolution and deadlines surrounding submission.</p>

		</div>
	</div>
	{% include footer.html %}
</body>
</html>