---
title: "2013 CFMS Spring General Meeting"
---


<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>
	<div id="top-meeting" style="background: url(../images/meeting-images/quebec-city.jpg) no-repeat center center; background-size:cover">
		<div id="top-group">
			<div class="content">
				<div class="editable" id="top-meeting-name">{{ page.title }}</div>
				<div class="editable" id="top-meeting-info">Quebec City, Quebec / April 19&ndash;21, 2013</div>
			</div>
		</div>
	</div>
	<div class="content">

	</div>
	{% include footer.html %}
</body>
</html>