---
title: 2018 CFMS Spring General Meeting
cost: 125
id: SGM2018
sitemap:
  priority: 0.4
  changefreq: never
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/meetings.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#meetings" ).classList.toggle("active");
	</script>

	<!-- Header -->
	<div id="top-meeting" style="background: url(/images/meeting-images/sgm-2019.png) no-repeat center 0%; background-size:cover">
		<div id="top-group">
			<div class="content">
				<div class="editable" id="top-meeting-name">{{ page.title }}</div>
				<div class="editable" id="top-meeting-info">Niagara Falls, Ontario / April 12&ndash;13, 2019</div>
			</div>
		</div>
	</div>
	<div id="meeting-details" class="content">
		<div class="editable" id="meeting-aside"><h2 id="aside-title"><strong>Event details<i class="fa fa-star-o"></i></strong></h2><div class="icon"><i class="fa fa-map-marker"></i></div><ul><li><b>LOCATION</b><br />TBA</li></ul><div class="icon"><i class="fa fa-clock-o"></i></div><ul><li><b>DATE</b><br />April 12-13, 2019</li></ul><div class="icon"><i class="fa fa-briefcase what-to-bring"></i></div><ul><li><b>WHAT TO BRING</b><br />Dress Code: Business attire for meetings, fancy casual for social events.</li></ul><div class="icon"><i class="fa fa-envelope-o mail"></i></div><div id="emails"><ul><li><b>QUESTIONS?</b><br />Email <a style="border-bottom:1px solid #EAEAEA" href="mailto:office@cfms.org">office@cfms.org</a></li></ul></div><div id="shortcut-links"><div id="scroll"><h2>Jump to<span style="opacity:0.5">:</span></h2><ul><li><a href="#introduction">Introduction</a></li></ul></div></div></div>
		<div id="meeting-body">
			<h2 class="editable" id="introduction"><strong>What is the Spring General Meeting?</strong></h2>
			<p class="editable">The Spring General Meeting (SGM) is an opportunity for Canadian medical students to get together and discuss important issues pertaining to medical education, advocacy, global health, wellness, and more. Join the conversation, get involved &mdash; we want to hear from you!</p>

<!-- ------------------------------------------- -->
		</div>
	</div>
	{% include footer.html %}
</body>
