---
title: Global Health Education
sitemap:
priority: 0.6
changefreq: monthly
role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-global-health.html %}
    <script type="text/javascript">
			document.querySelector("#global-health-education").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Global Health Education</h1>
        <p>&nbsp;</p>
        <p>Your National Officer of Global Health Education (NOGHE) is Ruth Habte of the University of Manitoba. Contact her at <a data-cms-editor-link-style="undefined" href="mailto:noghe@cfms.org">noghe@cfms.org</a></p>
        <p>Over the years, there has been an increasing demand for global health education at Canadian medical schools. Many schools have created programming, be it faculty-led or student-led, to account for this growing demand. Some schools, however, have fallen behind in addressing student requests for global health programming for a variety of reasons, including logistic concerns or a small number of global health faculty. The CFMS NOGHE portfolio aims to provide students with resources to supplement their medical education with global health core concepts. These core concepts for Canadian medical students were initially drafted in 2012 and were re-affirmed as well as mapped to CanMEDS roles in 2015 (found here: <a href="https://www.cfms.org/files/position-papers/2015%20Global%20Health%20Core%20Competencies.pdf" target="_blank">https://www.cfms.org/files/position-papers/2015%20Global%20Health%20Core%20Competencies.pdf</a>).</p>
        <p>Recently completed and current projects in the NOGHE portfolio:</p>
        <p><strong>CFMS Social Medicine Certificate Toolkit</strong></p>
        <ul>
            <li>Provides a framework for students attempting to implement a global health certificate program at their school</li>
            <li>Link to completed document: <a data-cms-editor-link-style="undefined" target="_blank" href="/Global-Health/CFMS Social Medicine Certificate Program Implementation Toolkit_FINAL.pdf">Click here</a></li>
        </ul>
        <p><strong>Selected Cases in Global Health</strong></p>
        <ul>
            <li>An educational resource on various global health topics structured similarly to the Case Files series</li>
            <li>Link to 8 completed chapters: Coming soon!</li>
        </ul>
        <p><strong>Summary of Global Health Education at Medical Schools Across Canada</strong></p>
        <ul>
            <li>Collection of responses from students regarding key areas of global health education across Canada, survey questions derived from Building a Framework for Global Health Learning: An Analysis of Global Health Concentrations in Canadian Medical Schools (Watterson et al, 2015)</li>
            <li>Link to completed report: <a data-cms-editor-link-style="undefined" target="_blank" href="/Global-Health/Summary Of Global Health Education at Canadian Medical Schools_2018 final.pdf">Click here</a></li>
        </ul>
        <p><strong>Profiling doctors working on global health projects locally and abroad</strong></p>
        <ul>
            <li>Goal of project is to demonstrate that a wide variety of specialists and generalists are involved in implementing ethical global health projects</li>
            <li>Project currently in progress</li>
        </ul>
        <p><strong>Student Survey of Opinions Surrounding Mandatory Service Learning</strong></p>
        <ul>
            <li>Goal of project is to gather data on students&rsquo; opinion regarding mandatory service learning and areas for improvement</li>
            <li>Project currently in progress</li>
        </ul>
    </div>
</div>
{% include footer.html %}
</body>
