---
title: Global Health Education
sitemap:
priority: 0.6
changefreq: monthly
role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-global-health.html %}
    <script type="text/javascript">
			document.querySelector("#global-health-education").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Global Health Education</h1>
        <p>&nbsp;Your National Officer for Global Health Education (NOGHE) is Mary Halpine of Dalhousie and Irfan
            Nizarali Kherani of the University of Alberta. Contact them at
            <script type="text/javascript">
							<!--
							var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
							var path = 'hr' + 'ef' + '=';
							var addy73704 = 'n&#111;gh&#101;' + '&#64;';
							addy73704 = addy73704 + 'cfms' + '&#46;' + '&#111;rg';
							document.write('<a ' + path + '\'' + prefix + ':' + addy73704 + '\'>');
							document.write(addy73704);
							document.write('<\/a>');
							//-->
							\n </script>
            <a href="mailto:noghe@cfms.org">noghe@cfms.org</a>
            <script type="text/javascript">
							<!--
							document.write('<span style=\'display: none;\'>');
							//-->
            </script>
            <span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span> if you have any questions or brilliant GHE ideas!
        </p>
        <p><span style="font-size: 14pt;"><strong>Global Health Concentration</strong></span></p>
        <p>In recent years, there has been growing demand for global health education at Canadian medical schools.
            Despite sustained student advocacy for increased global health teaching, medical schools often struggle to
            address this need. A survey of graduating Canadian medical students in 2011 showed that 44.8 % of students
            felt that instruction in global health was inadequate.<sup>1</sup> As a result, many students participate in
            informal or extracurricular global health learning opportunities, including international clinical
            placements, global health lecture series and volunteer opportunities with marginalized communities in their
            local area. However, these programs often lack the structure and supports necessary to provide students with
            adequate training in global health.<sup>2</sup></p>
        <p>Recognizing that many schools do not sufficiently address global health within their core curricula, several
            schools have developed extracurricular programs to promote comprehensive global health education, often in
            the form of a concentration program in global health. A set of minimum national standards for these programs
            is under final draft revisions and will be posted here shortly as a guideline to ensure a sufficient level
            of training for students and to provide a template for schools wishing to expand their global health
            education offerings.</p>
        <p>Global Health Concentrations are intended to expose students to the core issues and ethical considerations of
            global health work, to provide experience with the realities of delivering healthcare in low-resource
            settings, and to encourage them to contribute their time and effort towards global health causes.</p>
        <p><span
                style="font-size: 14pt;"><strong>Global Health Core Competencies in Medical School Curricula</strong></span>
        </p>
        <p>Based on the expectation that all medical graduates should understand the major factors that influence the
            health of individuals and populations worldwide, a set of core competencies in global health was developed
            by the Global Health Education Consortium in 2008/09.&nbsp; The competencies encompassed reports from the
            AFMC along with a literature review. The conclusions were that students should have a basic understanding of
            the complexity of global health issues, especially in low-resource settings, and be able to identify sources
            of information concerning global health topics. Medical students should also appreciate the role of
            physicians as advocates for improving the health of patients and populations in their communities and
            globally.</p>
        <p>The following 6 areas were identified in which all medical graduates should have competency:</p>
        <p>1: GLOBAL BURDEN OF DISEASE</p>
        <p>2: HEALTH IMPLICATIONS of TRAVEL, MIGRATION and DISPLACEMENT</p>
        <p>3a: SOCIAL and ECONOMIC DETERMINANTS of HEALTH</p>
        <p>3b. POPULATION, RESOURCES, and ENVIRONMENT</p>
        <p>4: GLOBALIZATION of HEALTH and HEALTHCARE</p>
        <p>5: HEALTHCARE in LOW-RESOURCE SETTINGS</p>
        <p>6: HUMAN RIGHTS in GLOBAL HEALTH</p>
        <p>For the full document please go to: <a href="http://globalhealtheducation.org/SitePages/Home.aspx">http://globalhealtheducation.org/SitePages/Home.aspx</a>
        </p>
        <p class="Default"><span style="font-size: 11.5pt; color: windowtext;">&nbsp;</span></p>
        <p>Beginning in 2011, work is ongoing in mapping the GHEC competencies to the CanMEDS roles to make the
            competencies more applicable to Canadian Medical School curricula. This will enable educators to use global
            health competencies to fill existing gaps in the current curriculum. The Competencies-CanMEDS mapping is
            still under development and will be posted once they are finalized.</p>
    </div>
</div>
{% include footer.html %}
</body>
</html>