---
title: International Exchanges
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#heart" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<h1 id="page-title">Health and Environment Adaptive Response Task Force</h1>
			<p class="present-before-paste">The Health and Environment Adaptive Response Task Force (HEART) was created in 2016, in part to address the CFMS mission of connecting medical students with their societies and other health organizations advancing healthy public policy. The CFMS is in a unique position to facilitate discussion on issues of environment and health, including climate change, both internally and externally. The CFMS can also promote excellence in medical education regarding climate change and health as well as mobilizing the medical student voice on these issues.</p>

			<p class="present-before-paste">HEART is specifically tasked with, but not limited to, the following responsibilities:</p>
			<p>The Health and Environment Adaptive Response Task Force (HEART) was created in 2016, in part to address the CFMS mission of connecting medical students with their societies and other health organizations advancing healthy public policy. The CFMS is in a unique position to facilitate discussion on issues of environment and health, including climate change, both internally and externally. The CFMS can also promote excellence in medical education regarding climate change and health as well as mobilizing the medical student voice on these issues.</p>
			<p>HEART is specifically tasked with, but not limited to, the following responsibilities:</p>
			<ol style="list-style-type: lower-alpha;">
				<li>Informing medical students and their educational institutions of the role of health systems in climate change, both as a positive mitigator and a contributor</li>
				<li>In partnership with CFMS general members, the HEART should advocate for public policy, which mitigates environmental health risks in an equitable and evidence-based strategy</li>
				<li>Advises CFMS on organizational best practices to minimize environmental impact</li>
			</ol>

			<div style="width:720px;height:405px;text-align:center;">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" height="405" width="720">
					<param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F154668598%40N02%2Falbums%2F72157697509876945%2Fshow&amp;page_show_back_url=%2Fphotos%2F154668598%40N02%2Falbums%2F72157697509876945%2F&amp;user_id=154668598@N02&amp;set_id=72157697509876945">
					 <param name="allowFullScreen" value="true">
					 <param name="src" value="https://www.flickr.com/apps/slideshow/show.swf?v=71649">
					 <embed height="405" src="https://www.flickr.com/apps/slideshow/show.swf?v=71649" type="application/x-shockwave-flash" width="720">
				</object><br>
			</div>
			<br>

			<!--<h2><img src="/uploads/earth-day-1.png"/></h2>-->
			<h2><img src="/uploads/earth-day-1.png" /></h2>
			<h2>#EnviroMed Earth Week Challenge</h2>
			<p>Did you know Earth Day is coming up on April 22? CFMS&rsquo; Health and Environmental Adaptive Response Task force (HEART) is planning the <strong>#EnviroMed Earth Week Challenge!</strong></p>
			<p><strong><em>When</em></strong>: April 16-22, 2018<br /><strong><em>What</em></strong>: take as many environmentally conscious actions as possible in the week leading up to Earth Day - the student/school with the highest participation will win prizes and be announced at the CFMS SGM<br /><strong><em>Why</em></strong>: raise awareness among Canadian medical students of the inter-connection between the health of people and our environment, and promote tangible actions to reduce our ecological footprint<br /><strong><em>How</em></strong>: take a picture or screenshot of yourself taking an action and tag it #EnviroMed and @CFMSFEMC on Facebook, Twitter, or Instagram</p>
			<p>Action ideas:</p>
			<ul>
				<li>Take public transit</li>
				<li>Walk or bike to work/school</li>
				<li>Eat a vegetarian meal</li>
				<li>Plant a tree, garden, or compost</li>
				<li>Hang up laundry to dry</li>
				<li>Use reusable coffee mug, Tupperware, or grocery bag</li>
				<li>Watch/discuss an environmental documentary</li>
				<li>Write/call your MP/MPP/MLA about an environmental issue</li>
				<li>Talk to a family member/friend/roommate about climate change or another environmental issue that interests you</li>
				<li>And many more&hellip;.your creativity is the only limit!</li>
			</ul>
			<p>More ideas <a href="https://www.green18.org/the-green-18">here</a>.</p>
			<h2>Earth Day Photo Contest</h2>
			<p>The 2nd annual HEART <strong>Earth Day Photo Contest ran April 9-23, 2018.</strong></p>
			<p><strong>Earth Day Photo Contest winner:</strong></p>
			<p><img src="/uploads/candace-nayman-1.jpg" width="960" height="540" /></p>
			<p>&nbsp;</p>
			<blockquote>
				<p><em></em></p>
				<p>"Midnight Sun" (Gullfoss, Ring Road, Iceland)</p>
				<p>For me, this photo is everything that I would want my Earth to look like. I took this photo just before midnight in Iceland in July, where the sun sets for less than 3 hours per day. The fact that I was here, alone, and still able to see and hear a rushing waterfall with a rainbow, is nothing short of incredible. This is the memory that keeps me inspired to do my part to recycle and live a greener life.</p>
				<p><em></em></p>
				<p>-Candace Nayman, University of Ottawa</p>
			</blockquote>
			<p>Congratulations to the winners of the HEART Earth Week activity challenge and photo contest!</p>
			<p><strong>#EnviroMed social media activity challenge winners</strong>:<br />1st place: University of Saskatchewan<br />2nd place: Western University (Schulich School of Medicine &amp; Dentistry)<br /><br /><strong>Earth Day photo contest winners:</strong><br />1st place: Candace Nayman, University of Ottawa, "Midnight Sun" Gullfoss, Ring Road, Iceland<br />2nd place: Elle Surgent, University of Alberta, "An ocean full of water, not plastic, so that we may all feel the refreshing spray."<br />3rd place: Chris Clarke, University of Alberta, "There has to be a world if you want to hold it in the palm of your hand." Iceland</p>
			<p><strong>Honourable mentions:</strong><br />Paul Barber, University of Alberta, "Sustainable work means children will still get to explore the nature around them"<br />Usman Khan, University of Ottawa, "It is the source of life, excitement, curiosity, and beauty. It makes life worth living. It is the natural world. And it is for you to discover." Jasper, Alberta<br />Katharine Jensen, University of Alberta, King Penguins, Falkland Islands</p>
		</div>
	</div>
	{% include footer.html %}
</body>
