---
title: Competencies
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#heart-competencies" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content" id="meeting-body">
			<h1 id="page-title">Climate Change and Environmental Health Competencies</h1>
			<p>Below is the list of curricular competencies HEART has developed, along with interactive activities and curricular adaptations to give examples of learning sessions for each competency.</p>
			<p><img src="/images/page-images/heart/heart2.png"></p>
			<p>We have received feedback from environmental health and medical education experts regarding these competencies, and updates are being continuously made to ensure adequacy for curricular implementation. Experts who have given feedback so far are:</p>
			<ul>
				<li>Dr. Courtney Howard: Board President, Canadian Association of Physicians for the Environment</li>
				<li>Ms. Tibetha Kemble: Director, Indigenous Health Initiatives Program, University of Alberta</li>
				<li>Dr. Jim Talbot: Former Chief Medical Officer of Health for Alberta</li>
				<li>Dr. Laura Muldoon: Director of Society, the Individual and Medicine curriculum, University of Ottawa</li>
				<li>Dr. Atanu Sarkar: Memorial University, Community Health and Humanities</li>
			</ul>
		</div>
	</div>
	{% include footer.html %}
</body>
