---
title: International Exchanges
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#heart" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<h1 id="page-title">Health and Environment Adaptive Response Task Force</h1>
			<p class="present-before-paste">The Health and Environment Adaptive Response Task Force (HEART) was created in 2016, in part to address the CFMS mission of connecting medical students with their societies and other health organizations advancing healthy public policy. The CFMS is in a unique position to facilitate discussion on issues of environment and health, including climate change, both internally and externally. The CFMS can also promote excellence in medical education regarding climate change and health as well as mobilizing the medical student voice on these issues.</p>
			<p class="present-before-paste">HEART is specifically tasked with, but not limited to, the following responsibilities:</p>
			<ol style="list-style-type: lower-alpha;">
				<li>Informing medical students and their educational institutions of the role of health systems in climate change, both as a positive mitigator and a contributor</li>
				<li>In partnership with CFMS general members, the HEART should advocate for public policy, which mitigates environmental health risks in an equitable and evidence-based strategy</li>
				<li>Advises CFMS on organizational best practices to minimize environmental impact</li>
			</ol>
			<h2><img src="/uploads/earth-day-1.png" height="1687" width="1687" /></h2>
			<h2>#EnviroMed Earth Week Challenge</h2>
			<p class="present-before-paste">Did you know Earth Day is coming up on April 22? CFMS&rsquo; Health and Environmental Adaptive Response Task force (HEART) is planning the <strong>#EnviroMed Earth Week Challenge!</strong></p>
			<p class="present-before-paste"><strong><em>When</em></strong>: April 16-22, 2018<br /><strong><em>What</em></strong>: take as many environmentally conscious actions as possible in the week leading up to Earth Day - the student/school with the highest participation will win prizes and be announced at the CFMS SGM<br /><strong><em>Why</em></strong>: raise awareness among Canadian medical students of the inter-connection between the health of people and our environment, and promote tangible actions to reduce our ecological footprint<br /><strong><em>How</em></strong>: take a picture or screenshot of yourself taking an action and tag it #EnviroMed and @CFMSFEMC on Facebook, Twitter, or Instagram</p>
			<p class="present-before-paste">Action ideas:</p>
			<ul>
				<li>Take public transit</li>
				<li>Walk or bike to work/school</li>
				<li>Eat a vegetarian meal</li>
				<li>Plant a tree, garden, or compost</li>
				<li>Hang up laundry to dry</li>
				<li>Use reusable coffee mug, Tupperware, or grocery bag</li>
				<li>Watch/discuss an environmental documentary</li>
				<li>Write/call your MP/MPP/MLA about an environmental issue</li>
				<li>Talk to a family member/friend/roommate about climate change or another environmental issue that interests you</li>
				<li>And many more&hellip;.your creativity is the only limit!</li>
			</ul>
			<p class="present-before-paste">More ideas <a href="https://www.green18.org/the-green-18">here</a>.</p>
			<h2>Earth Day Photo Contest</h2>
			<p class="present-before-paste">The 2nd annual HEART <strong>Earth Day Photo Contest will run April 9-23, 2018.</strong></p>
			<p class="present-before-paste">Simply submit a photo (or photos) that show what the importance of a healthy environment means to you.</p>
			<p class="present-before-paste">Photos may be submitted to Finola Hackett (<a href="javascript:void(location.href='mailto:'+String.fromCharCode(102,105,110,111,108,97,64,117,97,108,98,101,114,116,97,46,99,97))">finola@ualberta.ca</a>) between April 9-23, 2018. Please include a one-line caption for each submission. Winners and prizes will also be announced at the CFMS SGM, April 27-28 2018.</p>
			<p class="present-before-paste"><strong>Last year's Earth Day Photo Contest winner:</strong></p>
			<p class="present-before-paste"><img src="/uploads/1-nelson-lakes-national-park-nz-1.jpg" height="2848" width="4272" /></p>
			<blockquote>
				<p class="present-before-paste"><em>Duckface (Lake Rotoiti, Nelson Lakes National Park, New Zealand).</em></p>
				<p class="present-before-paste">"For me, environmental health involves exploring and embracing the world around me. It means taking every opportunity to be outside, to take in the beauty of this crazy blue planet, and to see our influence upon it (both good and bad). It also entails doing my utmost to have a positive impact on the health of our world - from recycling, to finding ways to offset my carbon footprint, to resource stewardship."</p>
				<p class="present-before-paste">-Kayla Sliskovic, University of Toronto</p>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
