---
title: International Exchanges
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-global-health.html %}
		<script type="text/javascript">
			document.querySelector( "#international-exchanges" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">IFMSA-CFMS International Exchange Program</h1>
			<blockquote>
				<h2>Pay your exchange fees online</h2>
				<div class="members-only">
					<h3><a href="/exchanges/unilateral.html">Unilateral Exchange</a></h3>
					<h3><a href="/exchanges/bilateral.html">Bilateral Exchange</a></h3>
				</div>
				<div class="non-members">
					<p>International exchanges are only available to members. Please login to proceed.</p>
				</div>
			</blockquote>
			<p><strong>IFMSA Exchanges</strong></p>
			<p>For Canadian Students interested in going abroad:</p>
			<p>IFMSA exchanges offer Canadian medical students a chance to experience various cultures while gaining clinical or research experience in a speciality of their interest.</p>
			<p>Each year, over one hundred Canadian students undertake an IFMSA exchange doing either research (SCORE) or clinical observerships (SCOPE) over a four-week timeline. This year we are offering exchanges in over thirty countries from around the world.</p>
			<p>As each program is run separately, by the hosting community, we are looking for students who are open-minded, independent, and able to cope with unforeseen challenges. Some highlights from previous students include: meeting medical students from around the world, exposure to a self-selected specialty for an extended time, and embracing a new culture within a social program provided by the host country.</p>
			<p>If you are interested in learning more about how you can travel this summer, please contact the local exchange officers (LEOs) at your school or contact the NEO-outgoing directly. Applications for the summer of 2019 will be open from <strong>October 1st-19th, 2018</strong>. More information can be found <a data-cms-editor-link-style="undefined" href="https://docs.google.com/document/d/1fzY2KakXzEbY2eVWhhUJRy4Gp7QiNQtl5ze6gOkDWOc/edit?usp=sharing">here</a>.&nbsp;&nbsp;</p>
			<p><br /><strong>For students incoming students to Canada:</strong></p>
			<p>The CFMS is proud to be a member of the IFSMA SCOPE (clinical) and SCORE (research) exchange programs that allow medical students all over the world to become international learners.</p>
			<p>If you are interested in coming to Canada with a SCOPE or SCORE exchange, first contact your own local or national exchange officers to find out if we have a partnership for the exchange season. Have a look at the <a data-cms-editor-link-style="undefined" href="https://exchange.ifmsa.org/exchange/explore/nmo/106">CFMS exchange conditions</a>&nbsp;for details about the application process. Almost all incoming SCOPE students are also required to complete an AFMC portal application. Please review the specific universities the <a data-cms-editor-link-style="undefined" href="https://www.afmcstudentportal.ca/">AFMC website</a>&nbsp; for the most up to date information on language requirements, immunization forms and extra documents.</p>
			<p><br />If IFMSA SCOPE and SCORE exchanges are not available to you, please review the opportunities each of our medical schools offers for international students. The <a data-cms-editor-link-style="undefined" href="https://www.afmcstudentportal.ca/">AFMC portal</a>&nbsp;has a university-by-university review of each program and includes information about the application process and key contacts.</p>
		</div>
	</div>
	{% include footer.html %}
</body>
