---
title: "Links & Partnerships"
sitemap:
priority: 0.6
changefreq: monthly
role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-global-health.html %}
    <script type="text/javascript">
			document.querySelector("#partnerships").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">{{ page.title }}</h1>

        <h3>The International Federation of Medical Students' Associations (IFMSA)</h3>
        <p>The IFMSA is an international body composed of 114 medical students' societies from 107 different countries
            around the world. Established over 60 years ago, their goal is to help develop culturally sensitive medical
            students equipped with the skills and leadership experience necessary to help address the health inequities
            that exist around the world. Their structure is reflected in the composition of the CFMS Global Health
            Program: 6 different Standing Committes (Medical Education, Professional Exchange, Public Health,
            Reproductive Health, Research Exchange, Human Rights &amp; Peace) overseen by an Executive elected annually
            at the IFMSA March Meeting.</p>
        <p>The IFMSA offers a number of unique opportunities to CFMS students incuding research and clinical exchanges
            with other member countries, internships with external organizations, and the chance to attend international
            meetings such as the IFMSA General Assemblies. For more information on the activities of the IFMSA please
            visit their website (<a href="http://www.ifmsa.org/">http://www.ifmsa.org/</a>) or subscribe to the CFMS
            Global Health mailing list and keep you eyes open for updates and opportunities.</p>
        <h3>Websites &amp; Links</h3>
        <p>1. IFMSA August Meeting 2010 in Montreal, Qc, July 31 - August 6, 2010 - <a
                href="http://www.montrealam2010.com" target="_blank">www.montrealam2010.com</a>. A partnership between
            IFMSA-Qc and the CFMS-GHP.</p>
        <p>2. International Federation of Medical Students' Associations (IFMSA) - <a href="http://www.ifmsa.org"
                                                                                      target="_blank">www.ifmsa.org</a>.
        </p>
        <p>3. Global Health Education Consortium (GHEC) - <a href="http://www.globalhealthedu.org" target="_blank">www.globalhealthedu.org</a>.
            Access over 30 powerpoint presentations on global health topics, including pre-departure training.</p>
        <p>3. Canadian Society for International Health - <a href="http://www.csih.org" target="_blank">www.csih.org</a>.
        </p>
        <p>4. Student International Network for Social &amp; International Health - <a href="http://www.sunsih.ca"
                                                                                       target="_blank">www.sunsih.ca</a>.
        </p>
        <p>5. World Health Organization - <a href="http://www.who.int" target="_blank">www.who.int</a>.</p>
        <p>6.&nbsp;Médecins Sans Frontières / Doctors Without Borders - <a href="http://www.msf.ca" target="_blank">www.msf.ca</a>.&nbsp;
        </p>
        <p>7. Canadian Medical Association - <a href="http://www.cma.ca">www.cma.ca</a></p>

    </div>
</div>
{% include footer.html %}
</body>
</html>