---
title: "Edit Profile"
sitemap:
  priority: 0.7
  changefreq: monthly
  role: National IT Officer
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/members.css">
	<script src="/js/auth0-editprofile-widget.js" type="text/javascript"></script>
</head>
<body>
	{% include nav.html %}

	<div class="content">
		{% include sidebar-members.html %}

		<!--Page Specific Formatting-->
		<script type="text/javascript">
			document.querySelector( "#logo-invert" ).classList.toggle("hidden");
			document.querySelector( "#members" ).classList.toggle("active");
		</script>

		<div id="side-content" class="editable">
			<h1 id="page-title">{{ page.title }}</h1>

			<div id="account-details" class="members-only">
				<blockquote id="account-info">
					<h3><strong>Your Account:</strong></h3>
					<b>Name</b>: <span id="account-name"></span><br>
					<b>School</b>: <span id="account-school"></span><br>
					<b>Graduating Year</b>: <span id="account-grad-year"></span><br>
					<b>Email Address</b>: <a id="account-email" href=""></a>
				</blockquote>
			</div>
			<div class="members-only">
                <blockquote>
                    <div id="editProfileContainer"></div>
                </blockquote>
				<!--<h2><strong>What's new?</strong></h2>-->
				<!--<ul>-->
					<!--<li>Receive a 30% Discount on Wolters Kluwer Lippincott resources with <strong>free shipping</strong>! See our <a href="/resources/discounts-textbooks.html">discounts page</a> for more details.</li>-->
					<!--<li><strong>CaRMS WestJet Discount</strong>: Save money on flights during your CaRMS electives and interview period. See our <a href="/resources/discounts.html">discounts page</a> for more details.</li>-->
				<!--</ul>-->
			</div>
			<div class="non-members">
				<blockquote>
					<h3><strong>Please login to see this page</strong></h3>
					<ul>
						<li><a class="login-modal" href="" onclick="return false;">Login</a> to the CFMS website in order to view the content on this page.</li>
					</ul>
				</blockquote>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>