---
title: "Site Map"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content">
		<div id="new-account-top">
			<div id="new-account-left">
				<h1 id="page-title">Forgot your CFMS Password?</h1>
				<p>Enter your email, and we will send you an email with instructions on how to reset your password. Make sure you use your <em>school-associated email</em>.</p>
				<blockquote>
					<h3><strong>Enter your email address:</strong></h3>
					<p>Make sure this is the same email that you used to register for your account</p>
					<div class="input" style="max-width:350px;">
						<input name='email' id='reset-email-address' type='email' placeholder='Enter your email' />
					</div>
					<div id="change-password-request-button" class="button"><a style='cursor:pointer' onclick='sendPasswordReset()'>Reset Password</a></div>
				</blockquote>
			</div>
		</div>
	</div>

	{% include footer.html %}
</body>
</html>