---
title: Advocacy Toolkit
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#advocacy-toolkit" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Advocacy Toolkit</h1>

			<p>The toolkit is a practical, step-by-step guide to translating your advocacy ideas into reality. It provides information on potential partner organizations, sources of funding, and different methods of attaining your goal. It is created by medical students for their peers.</p>	

			<blockquote>
				<h4><strong>Viewing the CFMS Advocacy Toolkit</strong></h4>
				<ul>
					<li>The CFMS Advocacy Toolkit is available to <strong>members only</strong>.</li>
					<li>To access it, please log onto our old website, at <a href="{{ site.old_site_root }}">{{ site.old_site_root }}</a>, and view it there.</li>
				</ul>
			</blockquote>

			<h2><strong>Why is advocacy important?</strong></h2>
			<hr>
			<iframe class="video" src="https://www.youtube.com/embed/mmjx56iuClo?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>