---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#advocacy-tracker" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Advocacy tracker</h1>
			<p>The purpose of the CFMS Advocacy Tracker is to summarize all CFMS position papers, advocacy status, and contact information. The CFMS Advocacy Tracker is maintained and updated by the National Officer of Health Policy (NOHP), the Committee on Health Policy (COHP), and Vice President Government Affairs. The NOHP and COHP will continue to ensure that the Advocacy Tracker is utilised and updated, so that the general membership may refer to the Advocacy Tracker to understand current CFMS advocacy efforts. </p>

			<p>Please find the Advocacy Tracker <a href="https://goo.gl/ZEjqXH">here</a>.</p>
	</div>
	</div>
	{% include footer.html %}
</body>
