---
title: Day of Action
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
	<link rel="stylesheet" href="/stylesheets/meetings.css" />

</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#lobby-day" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Day of Action on Indigenous Mental Wellness</h1>
			<p><img alt="" src="/images/infographics/day-of-action-infographic.png" /></p>
			<blockquote>
				<p><strong>You can view the 2018 Day of Action summary report <a href="/files/day-of-action/2018-day-of-action-report.pdf">here</a></strong><strong></strong></p>
				<p><strong>Read the Day of Action press release <a href="https://www.cfms.org/news/2018/02/12/future-physicians-on-parliament-hill-tog.html">here</a></strong></p>
				<p><strong>Read the Day of Action press release <a href="https://www.cfms.org/news/2018/02/12/future-physicians-on-parliament-hill-tog.html">here</a></strong></p>
				<p><strong>You can view the AFN/CFMS Joint Virtual Forum on Indigenous Mental Wellness summary report <a href="/files/day-of-action/Summary-Report-of-AFN-CFMS-Joint-Virtual-Forum-on-Indigenous-Mental-Wellness.pdf">here</a></strong></p>
			</blockquote>
			<blockquote>
				<p><strong><em>Listen</em> to CBC Radio Ottawa's All in a Day interview with indigenous medical students on Day of Action and Indigenous Mental Health <a href="http://www.cbc.ca/listen/shows/all-in-a-day/segment/15520355">here</a></strong><strong></strong></p>
				<p><strong><em>Watch</em> MP Yves Robillard's Member's Statement in the House of Commons on Day of Action on Indigenous Mental Wellness <a href="https://twitter.com/YRobillardPLC/status/968483172047556608">here</a></strong></p>

			</blockquote>
			<blockquote>
				<p><strong>As a part of the <a href="https://twitter.com/search?q=%23IndigenousMentalWellness&amp;src=tyah">#IndigenousMentalWellness</a> conversation: Follow @CFMSFEMC on <a href="https://twitter.com/CFMSFEMC">Twitter</a>, <a href="https://www.facebook.com/CFMSFEMC/">Facebook</a> and <a href="https://www.instagram.com/cfmsfemc/">Instagram</a> to stay up to date!&nbsp; </strong></p>
			</blockquote>
			<div id="meeting-photos" class="column">
				<h1>Day of Action Photos<i id="meeting-icon" class="fa fa-camera"></i></h1>		
				<a class="meeting-photo-link" href="https://photos.app.goo.gl/mUp1yEEufsVnB57H9" target="_blank">
					<div class="day-of-action-photo" style="background: url(/images/day-of-action/training-dot-2018.jpg) no-repeat center 40%; background-size:cover">
						<div class="meeting-photo-text"><span>Day of Action 2018 - Training Day </span></div>
					</div>
				</a>
				<a class="meeting-photo-link" href="https://photos.app.goo.gl/b4ONcFdIwfoJK7K23" target="_blank">
					<div class="day-of-action-photo" style="background: url(/images/day-of-action/group-doa-2018.jpg) no-repeat center 40%; background-size:cover">
						<div class="meeting-photo-text"><span>Day of Action 2018 on Parliament Hill</span></div>
					</div>
				</a>
				<a class="meeting-photo-link" href="https://photos.app.goo.gl/3fQcW3ODFnDJMpI32" target="_blank">
					<div class="day-of-action-photo" style="background: url(/images/day-of-action/Duncan.jpg) no-repeat center 40%; background-size:cover">
						<div class="meeting-photo-text"><span>MP Meetings</span></div>
					</div>
				</a>
			</div>
			<p>Each year, medical students from across Canada travel to Ottawa to meet with Parliamentarians and propose a positive health systems change. This event includes extensive advocacy training in advance of the meetings. It is an excellent opportunity for medical students interested in national health advocacy.</p>
			<p>The Day of Action would not be possible without our dedicated team of medical students on the <strong><a href="/what-we-do/advocacy/research-committee.html">Day of Action Research Committee</a></strong> that puts together the ask document, backgrounder document, and coordinates the consultation process.&nbsp;</p>
			<h4><strong>2018 Day of Action: Indigenous Mental Wellness</strong></h4>
			<p>Mental wellness is a critical issue for Indigenous communities in Canada. The prevalence of mental illness and suicide is significantly higher amongst Indigenous people than the general Canadian population. Two years after the release of the Truth and Reconciliation Commission Report in 2015, the issue remains largely unresolved with access to high-quality, culturally-competent mental health care continuing to be limited amongst Indigenous communities.</p>
			<p>As an organization, the CFMS acknowledges that critical healthcare needs amongst Indigenous populations remain largely unmet, especially within the realm of mental health and wellness. As such, we believe as future healthcare professionals, we have an obligation to advocate for the health and wellness of Indigenous peoples.</p>
			<p>Through extensive consultation with Indigenous community leaders and as future physicians and healthcare leaders with the responsibility of advocating for the health of all Canadians, the Canadian Federation of Medical Students (CFMS) calls upon the Government of Canada to:</p>
			<ol>
				<li>Adopt the frameworks and strategies put forward by Indigenous communities and peoples in Canada to guide the federal response to the Indigenous suicide crisis:
					<ol>
						<li>Adopt the First Nations Mental Wellness Continuum Framework as a framework to address First Nations peoples&rsquo; mental health and suicide</li>
						<li>Adopt the National Inuit Suicide Prevention Strategy as a framework to address Inuit peoples&rsquo; mental health and suicide</li>
					</ol>
				</li>
				<li>Undertake a comprehensive review of the current distribution of funding through the National Aboriginal Youth Suicide Prevention Strategy (NAYSPS) in collaboration with Indigenous communities, in order to ensure that every Indigenous community receives funding that is both sustainable and provided in accordance with need.</li>
				<li>Direct Health Canada and Indigenous Services Canada to re-evaluate what programs and services are funded under the Non-Insured Health Benefits Program (NIHB), and increase funding for preventative and land-based mental wellness programs that create opportunities within the community. Support and expand the list of approved service providers to include Indigenous traditional knowledge keepers.</li>
			</ol>
			<blockquote>
				<h4><strong>For More Information:</strong></h4>
				<p><strong>Yipeng Ge</strong>, Vice President Government Affairs<br />Canadian Federation of Medical Students<br /><a href="mailto:vpgovtaffairs@cfms.org">vpgovtaffairs@cfms.org</a></p>
				<p><b>Christina Schweitzer</b>, Vice President Communications<br />Canadian Federation of Medical Students<br /><a href="mailto:vpcommunications@cfms.org">vpcommunications@cfms.org</a></p>
			</blockquote>
			<p><img alt="" src="/uploads/versions/day-of-action-rectangle-1---x----1921-1081x---.png" /></p>
		</div>
	</div>
	{% include footer.html %}
</body>
