---
title: Advocacy
sitemap:
  priority: 0.7
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>

		<div class="editable" id="side-content">
			<h1 id="page-title">Government Affairs and Advocacy</h1>
			<div class="pic-wrapper">
				<img class="pic-right" src="/images/page-images/advocacy.png" style="width:25%; padding-left:30px;">
			</div>
			<p><a href="/what-we-do/advocacy/ga-press-releases.html">Welcome</a> to the Government Affairs and Advocacy branch of the CFMS!</p>
			<p>We are passionate about supporting medical student advocacy at the federal, provincial, and local level. Supporting an effective and sustainable health care system is our shared goal. As we advocate for the interests of Canadian medical students and patients in discussions with the federal government, we invite you to connect with us to ensure we provide excellent representation.</p>
			<h2><strong>What do we do?</strong></h2>
			<ol>
				<li>
					<a href="/what-we-do/advocacy/day-of-action.html"><strong>Day of Action</strong></a>: Each year, medical students from across Canada gather in Ottawa to meet with Parliamentarians and propose positive changes for the Canadian health care system. This year, our theme is Indigenous Mental Wellness.&nbsp;
				</li>
				<li><strong><a href="position-papers.html">Policy Documents and Position Statements</a></strong>: Policy documents and position statements are evidence-based resources that identify the Canadian medical student perspective for a variety of health systems issues. These documents guide our advocacy efforts. All members of the CFMS are invited to contribute to policy creation.</li>
				<li><strong><a href="/what-we-do/advocacy/task-forces.html">Task Forces</a></strong>: We have a variety of strong student-led task forces on emergent topics and health issues.&nbsp;</li>
				<li><strong><a href="/what-we-do/global-health/advocacy-toolkit.html">Advocacy Toolkit</a></strong>: This is a practical, step-by-step guide for translating your advocacy ideas into action.</li>
			</ol>
			<h2><strong>For More Information:</strong></h2>
			<p>Yipeng Ge, Vice President Government Affairs<br>
			Canadian Federation of Medical Students<br>
			<a href="javascript:void(location.href='mailto:'+String.fromCharCode(118,112,103,111,118,116,97,102,102,97,105,114,115,64,99,102,109,115,46,111,114,103))">vpgovtaffairs@cfms.org</a></p>
		</div>

	</div>
	{% include footer.html %}
</body>
