---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#overview" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Advocacy</h1>
			<div class="pic-wrapper"><img class="pic-right" style="width:25%; padding-left:30px;" src="/images/page-images/advocacy.png"></div>

			<p>Welcome to the Government Affairs and Advocacy branch of the CFMS! We are passionate about supporting medical student advocacy at the federal, provincial, and local level. Supporting an effective and sustainable health care system is our shared goal. As we advocate for the interests of Canadian medical students and patients in discussions with the federal government, we invite you to connect with us to ensure we provide excellent representation.</p>
			<h2><strong>What do we do?</strong></h2>
			<ol>
				<li><strong><a href="lobby-day.html">Lobby Day</a></strong>: Each year, medical students from across Canada gather in Ottawa to meet with Parliamentarians and propose positive changes for the Canadian health care system</li>
				<li><strong><a href="position-papers-toUse.html">Policy Documents and Position Statements</a></strong>: Policy documents and position statements are evidence-based resources that identify the Canadian medical student perspective for a variety of health systems issues. These documents guide our advocacy efforts. All members of the CFMS are invited to contribute to policy creation.</li>
				<li><strong><a href="advocacy-toolkit">Advocacy Toolkit</a></strong>: This is a practical, step-by-step guide for translating your advocacy ideas into action.</li>
			</ol>		
		</div>
	</div>
	{% include footer.html %}
</body>
</html>