---
title: "Position Papers"
---
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    {% include head.html %}
    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do-copy.css" />
    <script type="text/javascript" src="/js/resolution.js"></script>
    <!--Page Specific Stylesheet-->


</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}
<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>
<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-advocacy.html %}
    <script type="text/javascript">
        document.querySelector( "#position-papers" ).classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">{{ page.title }}</h1>
        <div class="pic-wrapper">
            <img class="pic-right" src="/images/page-images/position-papers.png" />
        </div>
        <h2><strong>What are Position Papers and Policy Documents?</strong></h2>
        <p>Policy documents and position statements are evidence-based resources that identify the Canadian medical student perspective for a variety of health systems issues. These documents guide our advocacy efforts.</p>
        <ul>
            <li><span class="pp">PP</span><strong>Policy Papers</strong>: These are detailed documents that explore issues within medical education or health care in a structured format, which include framing the problem, highlighting related beliefs and values of the CFMS and providing evidence-based policy or program options to ameliorate the issue.</li>
            <li><span class="ps">PS</span><strong>Position Statements</strong>: These are brief documents that present medical students&rsquo; perspectives on recent issues within medical education or health care as well as key principles that we believe should guide future debate on the issue.</li>
        </ul>
        <p>For more information, please see the <a href="/files/position-papers/CFMS_COHP_TOR.pdf">Committee on Health Policy Terms of Reference</a>.</p>
        <h2><strong>How can I contribute?</strong></h2>
        <p>Any CFMS member is welcome to submit a Policy Document or Position Statement for approval by the General Assembly. Contact our National Officer of Health Policy, Tamara Ibrahim, at <a href="mailto:nohp@cfms.org">nohp@cfms.org</a> or our VP Government Affairs, Jessica Harris, at <a href="mailto:vpgovtaffairs@cfms.org">vpgovtaffairs@cfms.org</a> for more information.</p>
        <blockquote>
            <h4><strong>Interested in writing a position paper?</strong></h4>
            <ul>
                <li><span class="file-format">DOCX</span>Please see this <a href="/files/position-papers/CFMS_position-paper_template_2013-12-30.docx">Position Paper Template</a></li>
                <li><span class="file-format">PDF</span><a href="/files/position-papers/cfms_position_paper_guidelines 2016.pdf">Position Paper Guidelines</a> (2016)</li>
            </ul>
        </blockquote>
        
        <!--Addd liquid logic here-->
        <form id="filters">
            {% for filterData in site.data.position-papers.position-papers.filter-tags %}
            <label>
                <span class="{{filterData.tag | downcase}}">{{filterData.tag | upcase}}</span><input class="filter-checkbox"type="checkbox" id="{{filterData.tag | upcase}}">{{filterData.tag-name}}</label>
            <br>
            {% endfor %}
            
            <select id="select-box" name="paper-section">
                <option>All Sections</option>
                {% for paperSections in site.data.position-papers.position-papers.paper-collection %}
                <option>{{paperSections.section}}</option>
                {% endfor %}
            </select>
        </form>




        <!--<blockquote>-->
            <!--<h3><strong>Recently Passed at AGM</strong><strong> 2016 - Edmonton, AB</strong></h3>-->
            <!--<ul>-->
                <!--<li><span class="pp">PP</span><span class="pub-date">2016</span><a href="/files/position-papers/2016_agm_professionalism.pdf">CFMS Professionalism</a></li>-->
                <!--<li><span class="pp">PP</span><span class="pub-date">2016</span><a href="/files/position-papers/2016_compressed_cfms_position-paper_sept2016_humantrafficking_gubermanherrington.pdf">Human Trafficking</a></li>-->
                <!--&lt;!&ndash; <li><span class="pp">PP</span><span class="pub-date">2016</span><a href="/files/position-papers/2016_mental health and suicide in indigenous communities in canada - cfms agm 2016.pdf">Suicide in Indigenous Communities</a></li>Postponed&ndash;&gt;-->
                <!--<li><span class="ps">PS</span><span class="pub-date">2016</span><a href="/files/position-papers/2016_position statement on medical assistance in dying.pdf">Medical Assistance in Dying</a></li>-->
            <!--</ul>-->
        <!--</blockquote>-->
        
        {% assign index = 1 %}
        {% for paperCollection in site.data.position-papers.position-papers.paper-collection %}
            {% for paperSections in paperCollection.section %}
                <blockquote>
                    <h3 class="paper-section-title"><strong>{{paperSections}}</strong></h3>
                    <ul class="paper-section">
                    {% for papers in paperCollection.papers %}
                       <li id="paper_{{index}}" class="filtered-content" data-filters="[{{papers.paper-tag}}]">{% if papers.paper-tag != "null" %}
                           <span class="{{papers.paper-tag | downcase}}">{{papers.paper-tag | upcase}}</span> {% endif %}<span class="pub-date">{{papers.paper-publish-date}}</span>
                           <a target="_blank" href="{{papers.paper-link}}">{{papers.paper-name}}</a></li>
                           {% assign index = index | plus:1 %} 
                    
                    {% endfor %}
                    </ul>
                </blockquote>
                
            {% endfor %}
        
        
        {% endfor %}
        
        
        
        
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Copyright and credit given to http://kronosapiens.github.io/blog/2014/03/31/a-dynamic-and-generally-efficient-front-end-filtering-algorithm.html
        //NO liscense on code, however credit due.
        $("#filters :checkbox").click(function () {
            $(".filtered-content").hide();
            var activeFilters = getActiveFilters();
            $(".filtered-content").each(function () {
                var $lesson = $(this);
                var lessonFilters = $lesson.data("filters");
                if (lessonQualified(activeFilters, lessonFilters)) {
                    $lesson.show();
                }
            });
            //This code is used to hide a section if all elements are filtered out.
            $(".paper-section").each(function(){
                $(this).parent().show();
                //console.log(this);
                console.log($(this).children(":visible").length);
                if($(this).children(':visible').length === 0) {
                    $(this).parent().hide();
                }
            });
        });

        function getActiveFilters() {
            var filterArray = [];
            $("#filters :checkbox:checked").each(function () {
                filterArray.push(($(this).attr("id")));
            });
            return filterArray;
        }

        function lessonQualified(filters, lesson) {
            for (var i = 0; i < filters.length; i++) {
                if ((lesson.indexOf(filters[i])) == -1) {
                    return false;
                }
            }
            return true;
        }

    });
    
    $("#select-box").change(function(){
        if($(":selected").text() ==="All Sections"){
            $(".paper-section").each(function() {
                $(this).parent().show();
            });
        }
        else{
            $(".paper-section").each(function() {
                $(this).parent().hide();
                console.log("hiding elements");
            });
            var value= $(":selected").text();
            console.log(value);
            $(".paper-section-title").each(function() {
                console.log(value);
                console.log($(this).text());
                if($(this).text() === value) {
                    $(this).parent().show();
                    console.log("getting into the if?");
                }
            });
        }
    });


</script>


{% include footer.html %}
<!--<script-->
        <!--src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
        <!--integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="-->
        <!--crossorigin="anonymous"></script>-->

</body>
</html>