---
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#lobby-day" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable"><h1 id="page-title">Day of Action Research Committee</h1><h4><strong>2018 Day of Action: Indigenous Mental Wellness</strong></h4><h4><b>Day of Action Research Committee Lead</b></h4><ul><li><a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,121,105,110,50,50,64,117,119,111,46,99,97))">Charles Yin</a></li></ul><h4><strong>Day of Action Research Committee Members</strong></h4><ul><li>&nbsp;</li></ul><blockquote><h4><strong>For More Information:</strong></h4><p><strong>Charles Yin</strong>, Day of Action Research Committee Lead<br />Canadian Federation of Medical Students<br /><a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,121,105,110,50,50,64,117,119,111,46,99,97))">cyin22@uwo.ca</a></p><p><strong>Yipeng Ge</strong>, Vice President Government Affairs<br />Canadian Federation of Medical Students<br /><a href="mailto:vpgovtaffairs@cfms.org">vpgovtaffairs@cfms.org</a></p></blockquote></div>
	</div>
	{% include footer.html %}
</body>
